doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/video.css")
	body.opg
		.pc-video.wrap-box
			h2 习近平视频直播恭贺美信在纳斯达克上市成功
			.video-box
				.clearfix
					.video
						// icon替换 .icon.icon-open
						em.iconn-37
					.video-text
						p 标签：
							a(href="#") 国美Plus
							a(href="#") 美信
							a(href="#") 上市
						p 简介：
							br
							| 二十年前，净天派因受到邪派卢戎部落长老的挑拨，与武林为敌，受到武林四大家族和蜀山围攻。教主姜世离送走已怀身孕的妻子欧阳倩，自己被蜀山镇压在禁洞中。二十年后，姜世...
							a(href="javascript:;") 详情
				.video-foot
					//js控制鼠标滑过个字体图标的值weixin:&#xe938;qq:&#xe901;sina:&#xe936;kongjian:&#xe903;
					.fl
						// icon替换 em外加a标签
						a(href="javascript:;").active
							em.iconn-38
						span 分享到
						// icon替换 
						a(href="javascript:;").active
							em.iconn-30
						// icon替换 
						a(href="javascript:;").active
							em.iconn-32
						// icon替换 
						a(href="javascript:;").active
							em.iconn-31
						// icon替换 
						a(href="javascript:;").active
							em.iconn-33
						// icon替换 
						a(href="javascript:;").active
							em.iconn-1
						// icon替换 
						a(href="javascript:;")
							em.iconn-2
					.share-box
						.icon-sanjiao
						.share-list
							p 分享视频地址
							.video-add
								span 通用代码：
								input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
								input(type="button",value="复制").copy-btn
							.video-add
								span Flash地址：
								input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
								input(type="button",value="复制").copy-btn
							.video-add
								span HTML代码：
								input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
								input(type="button",value="复制").copy-btn
					