/**
 * [面包屑导航]
 * @Author: Fu Xiaochun
 * @Email:  fuzhengchun@gomeplus.com
 */
.crumbs{
	height: 20px;
	line-height:20px;
	padding-bottom:20px;
	a{
		&:hover{
			color:$link-hover;
		}
	}
	span{
		padding:0 5px;
	}
	b{
		color:$link-hover;
		font-weight:normal;
	}
}