//- extends layout.jade
extends ../../../widget-platform/pug/layout/layout.jade

//- crumbs
block content
	h2.platform-title crumbs
	div.platform-content
		h3.platform-header crumbs
		div.platform-intro 
			p 面包屑-展示用户当前位置
		div.platform-example#crumbs
			include ../../../../pc-widget/crumbs/crumbs.jade
		pre.platform-pre
			code.platform-code#crumbs_code
			span.platform-jade pug
			span.platform-jade.platform-html.actived html
	//- js format html code
	script(type='text/javascript').
		HtmlFormat.init(['crumbs'],false,'_code','html','span.platform-jade');
		$(".platform-crumbs").parent('li').addClass("actived");