<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/app.css">
	<style>
		/*.hide{*/
			/*display: none;*/
		/*}*/
		/*.gomeIntr{*/
			/*background: #fff;*/
			/*height:100%;*/
			/*overflow: scroll;*/
			/*padding-bottom:115px;*/
		/*}*/
		/*.gomeIntr .navImg{*/
			/*width:100%;*/
			/*height:320px;*/
		/*}*/
		/*.gomeIntr .intrHead{*/
			/*text-align: center;*/
			/*margin:0 200px;*/
			/*height:80px;*/
			/*line-height:80px;*/
			/*font-size:22px;*/
			/*color:#3e9bf7;*/
			/*border-bottom:1px solid #f0f0f0;*/
		/*}*/
		/*.gomeIntr .concatUs .address{*/
			/*text-align: center;*/
		/*}*/
		/*.gomeIntr .concatUs .address .leftBox,.gomeIntr .concatUs .address .rightBox{*/
			/*display: inline-block;*/
			/*margin-top:40px;*/
			/*text-align: left;*/
		/*}*/
		/*.gomeIntr .concatUs .address .leftBox{*/
			/*margin-right:100px;*/

		/*}*/
		/*.gomeIntr .concatUs .address .rightBox{*/
			/*margin-left:100px;*/
		/*}*/
		/*.gomeIntr .concatUs .address p{*/
			/*text-align: left;*/
		/*}*/
		/*.gomeIntr .concatUs .address img{*/
			/*height:210px;*/
		/*}*/
		/*.gomeIntr .concatUs .describeBox{*/
			/*height:45px;*/
			/*line-height:45px;*/
			/*color:#111;*/
		/*}*/

		/*.gomeIntr .aboutUs .msgDetail{*/
			/*margin: 0 300px;*/
		/*}*/
		/*.gomeIntr .aboutUs .msgDetail p{*/
			/*margin-top:20px;*/
		/*}*/
		/*.gomeIntr .aboutUs .msgDetail p,.gomeIntr .aboutUs .msgDetail div{*/
			/*line-height:30px;*/
		/*}*/

		/*.gomeIntr .intrFooter{*/
			/*padding: 30px 0;*/
			/*text-align: center;*/
			/*width:100%;*/
			/*border-top:1px solid #f0f0f0;*/
			/*position: absolute;*/
			/*bottom:0;*/
		/*}*/
		/*.gomeIntr .intrFooter ul{*/
			/*overflow: hidden;*/
			/*display: inline-block;*/
		/*}*/
		/*.gomeIntr .intrFooter ul li{*/
			/*float: left;*/
		/*}*/
		/*.gomeIntr .intrFooter ul li a{*/
			/*margin:0 10px;*/
		/*}*/
		/*.gomeIntr .intrFooter .copyRight{*/
			/*font-size:12px;*/
			/*color:#999;*/
			/*margin-top:10px;*/
		/*}*/


	</style>
</head>
<body>
	<div class="">
		<%- include('../../common/head.ejs')%>
		<div class="gomeIntr">
			<div class="gomeIntrContain">
				<div class="navImg">
					<img class="" src=""  height="320"/>
				</div>
				<!--国美视频上传服务规则-->
				<div class="">
					<div class="intrHead">
						<p>国美视频上传服务规则</p>
					</div>
					<div class="intrContainer">
						<p>
							biaot
						</p>
						<div>
							neirong
						</div>
						<div>
							neirong
						</div>
					</div>
				</div>
				<!--联系我们-->
				<div class="concatUs ">
					<div class="intrHead">
						<p>联系我们</p>
					</div>
					<div class="address">
						<div class="leftBox">
							<p>公司地址</p>
							<div class="describeBox">地址：中国北京市朝阳区霄云路26号鹏润大厦A座 </div>
							<div>
								<img src="" width=410 height=210/>
							</div>
						</div>
						<div class="rightBox">
							<p>联系我们</p>
							<div class="describeBox">电子邮箱：video-marketing@gomeplus.com</div>
							<div>
								<img src="" height=210 width= 210/>
							</div>
						</div>
					</div>
				</div>
				<!--关于我们-->
				<div class="aboutUs">
					<div class="intrHead">
						<p>关于我们</p>
					</div>
					<div class="msgDetail">
						<p>国美视频</p>
						<div>2017年，国美集团旗下首推视频类产品，服务于国美集团零售生态圈战略。</div>
						<div>国美视频坚持打造品质内容视频，以"品质生活"</div>
						<p>国美视频</p>
						<div>国美视频 新模式：视频电商，国美体系多平台互通，一键购物更便捷。</div>
						<div>新内容：连结内容方与平台，为用户提供多元化视频观看体验。</div>
					</div>
				</div>
			</div>
			<div class="intrFooter">
				<ul>
					<li><a>国美官网</a><span>|</span></li>
					<li><a>美妙官网</a><span>|</span></li>
					<li><a>联系我们</a><span>|</span></li>
					<li><a>关于我们</a><span>|</span></li>
					<li><a>平台协议</a></li>
				</ul>
				<div class="copyRight">Copyright © 2015-2017 美信网络技术有限公司版权所有</div>
			</div>
		</div>
	</div>
	<!--<script src="<%=devenv%>dist/js/vendor.js"></script>-->
	<!--<script src="<%=devenv%>dist/js/.js"></script>-->
</body>
</html>