doctype html
html(lang="zh-CN")
	include ../../../../../gomeplusUI/pc/src/jade/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/other/30th.css")
	body.opg
		include ../../../../../gomeplusUI/pc/src/jade/header.jade
		include ../../../../../gomeplusUI/pc/src/jade/menu.jade
		.top
			.w990
				.down-app
					img(src="https://js.meixincdn.com/m/pc/dist/images/public/ma1.jpg")
				.top-menu
					span.left
					span.right
					ul.clearfix
						li
							a(href="javascript:;").data14.active 12.14
						li
							a(href="javascript:;").data15 12.15
						li
							a(href="javascript:;").data16 12.16
						li
							a(href="javascript:;").data17 12.17
						li
							a(href="javascript:;").data18 12.18
						li
							a(href="javascript:;").data19 12.19
						li
							a(href="javascript:;").data20 12.20
						li
							a(href="javascript:;").data21 12.21
						li
							a(href="javascript:;").data22 12.22
						li
							a(href="javascript:;").data23 12.23
						li
							a(href="javascript:;").data24 12.24
		.goods
			.w990
				ul.clearfix
					li
						img(src="../../images/other/14-01.png")
					li
						img(src="../../images/other/14-02.png")
					li
						img(src="../../images/other/14-03.png")
		.text
			.w990
		include ../../../../../gomeplusUI/pc/src/jade/footer.jade