doctype html
html(lang="zh-CN", data-use-rem="750")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta(name="format-detection" content="email=no")
		meta(http-equiv="expires",content="0")
		title gomeplus
		link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
		block style
			link(type="text/css",rel="stylesheet",href="")
	block body