@charset "utf-8";

// == Definde global mixin etc.
// 
// -----------------------------------------------
@mixin mgt($value:rem(10)){
	margin-top:$value;
}
@mixin inline-block(){
	display:inline-block;
	vertical-align:middle;
}
@mixin wh($width,$height){
	width:rem($width);
	height:rem($height);
}
$img-css-path:				 '../../../images/quanzi/';
@mixin img($img-name,$img-url:$img-css-path,$pos:left top){
	background-image:url('#{$img-url}#{$img-name}');
	background-repeat:no-repeat;
	background-position:$pos;
}

// == Golbal stylesheet
// 
// -----------------------------------------------

// .tbl{
// 	background: $brand-primary;
// }