.header-talent.clearfix
    .talent-title
    .tatent-message
        a.message.clearfix(href="javascritp:;", target="_blank")
            .message-pic
                img(src="http://gfs6.gomein.net.cn/T1cSdTBXAT1RCvBVdK_140_140.jpeg")
            .message-name
                | 小灿灿要加油