.article-title.clearfix 
    span 已发文章
    .release 
        a(href="#") 新建文章

ul.article-list(style="display:block" data-node="releasedList")
    li(data-groupid="123" data-topicid="456" data-node="topicItem").clearfix
        a(href="#").pic
            img(src="https://js.meixincdn.com/m/pc/dist/images/public/img-error.png")
        a(href="#").con 快把肾卖了换iphone8啊，弟兄们，装逼的时候到了！这是你们可以再一次与高富帅用着同一种类型的手机！
        .date 发布时间:2011-11-11 01:01:01
        .oparate
            a(href="#").edit 编辑
            a(href="javascript:;" data-action="delTopic").delete 删除
    li.clearfix
        a(href="#").pic
            img(src="http://gfs6.gomein.net.cn/T1cSdTBXAT1RCvBVdK_140_140.jpeg")
        a(href="#").con 快把肾卖了换iphone8啊，弟兄们，装逼的时候到了！这是你们可以再一次与高富帅用着同一种类型的手机！
        .date 发布时间:2011-11-11 01:01:01
        .oparate
            a(href="#").edit 编辑
            a(href="javascript:;" data-action="delTopic").delete 删除
    li.clearfix
        a(href="#").pic
            img(src="https://js.meixincdn.com/m/pc/dist/images/public/img-error.png")
        a(href="#").con 快把肾卖了换iphone8啊，弟兄们，装逼的时候到了！这是你们可以再一次与高富帅用着同一种类型的手机！
        .date 发布时间:2011-11-11 01:01:01
        .oparate
            a(href="#").edit 编辑
            a(href="javascript:;" data-action="delTopic").delete 删除
    li.clearfix
        a(href="#").pic
            img(src="http://gfs6.gomein.net.cn/T1cSdTBXAT1RCvBVdK_140_140.jpeg")
        a(href="#").con 快把肾卖了换iphone8啊，弟兄们，装逼的时候到了！这是你们可以再一次与高富帅用着同一种类型的手机！
        .date 发布时间:2011-11-11 01:01:01
        .oparate
            a(href="#").edit 编辑
            a(href="javascript:;" data-action="delTopic").delete 删除
    li.clearfix
        a(href="#").pic
            img(src="https://js.meixincdn.com/m/pc/dist/images/public/img-error.png")
        a(href="#").con 快把肾卖了换iphone8啊，弟兄们，装逼的时候到了！这是你们可以再一次与高富帅用着同一种类型的手机！
        .date 发布时间:2011-11-11 01:01:01
        .oparate
            a(href="#").edit 编辑
            a(href="javascript:;" data-action="delTopic").delete 删除
    li.clearfix
        a(href="#" data-node=).pic
            img(src="http://gfs6.gomein.net.cn/T1cSdTBXAT1RCvBVdK_140_140.jpeg")
        a(href="#").con 快把肾卖了换iphone8啊，弟兄们，装逼的时候到了！这是你们可以再一次与高富帅用着同一种类型的手机！
        .date 发布时间:2011-11-11 01:01:01
        .oparate
            a(href="#").edit 编辑
            a(href="javascript:;" data-action="delTopic").delete 删除                
.page(style="display:block")
    a(href="#").pageup 上一页
    a(href="#") 1
    a(href="javascript:void(0);").active 2
    a(href="#").pageup 下一页
    a(href="#").pageup 最后一页
.create-msg 点击 "新建文章" 开始写文章~