extend ../../../../pc-widget/head/head-set.jade
block css-file	
	link(type="text/css",rel="stylesheet",href="../../css/rose/index.css")
block body
	body
		.bg
			.banner
			.play-method
			.play-rule
			.code
				p
