doctype html
html(lang="zh-CN" data-use-rem="750")
	//- head.jade
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/quanzi/quanzi.css")
	body.opg
		include ../../../m-widget/head/rem.jade
		header.header
			a.h-back(href="javascript:;")
				em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 话题详情
			a.head-btn(href="javascript:;")
				em.iconn-3
		// /header

		// /话题详情内容1
		.topic-content 
			h1 美味的酱牛肉? 如何自己在家制 作美味的酱牛肉?
			.heng-lang
				span.text
					span.tips.tips-top 置顶
					span.tips.tips-jp 精品 
					span.tips.tips-zf 专访
				img(src="../../images/quanzi/_pic_1.jpg" alt="").img
				a(href="#").name 摄影爱好者
			p 如果追求一款顶级的品牌包是一种虚荣，那么对TOD'S的虚荣是值得的，它完美而深沉，因为低调而能够躲过媚俗的仿冒者的跟踪；同时还实用耐看，推敲，历久弥新。TOD'S品牌成立不过二十余年，创立TOD'S品牌。
			
			p 如果追求一款顶级的品牌包是一种虚荣，那么对TOD'S的虚荣是值得的，它完美而深沉，因为低调而能够躲过媚俗的仿冒者的跟踪；同时还实用耐看，推敲，历久弥新。TOD'S品牌成立不过二十余年，创立TOD'S品牌。
			.video 
				img(src="../../images/quanzi/_pic_3.jpg" alt=""  width="100%")
			p Diego DellaValle家族却已经拥有百余年的制鞋历史了。家族血统使它能拥有比一般公司更紧密的合作关系，也能让的工艺有完整。
			figure.tpc-banner
				img(src="../../images/quanzi/_log-1.jpg").tpc-img
				figcaption.tpc-fig
					a(href="#")
						h4.tpc-gd-title 国美大酒店
						div.txt 
							span 收藏 12,3222 
							span 销量：123,222	
			div.details-img 
				img(src="../../images/quanzi/_pic_5.jpg" alt=""  width="100%")
			p Diego DellaValle家族却已经拥有百余年的制鞋历史了。家族血统使它能拥有比一般公司更紧密的合作关系，也能让的工艺有完整。
			figure.tpc-good-zone
				img(src="../../images/quanzi/_pic_1.jpg").tpc-gd-img
				figcaption.tpc-fig
					a(href="#")
						h4.tpc-gd-title 七格格2017春装新款 运动风撞色织带直筒裤工装长裤休闲裤
						.tpc-btm
							span.gome-b 最高返0.45国美币
							.tpc-price ¥ 
								span 149.90
			div.keywords
				a(href="#") 唇唇欲动
				a(href="#") 吃货的世界你不懂啊
				a(href="#") 吃货的世懂啊
				a(href="#") 吃货的不懂啊
			div.user-info
				img(src="../../images/quanzi/_pic_1.jpg" alt="").img
				h3 by:作者名称 
				div.time 04-30 1小时
			.chain
				.chain-box
					.img
						img(src="../../images/quanzi/_pic_6.jpg" alt="")
					.txt 
						h3
							span.score
								span.txt-max IMAX3D
								em.iconn-46
								| 8.4分
							span.title-ellips 九层妖塔放九个字
						.brief 就用我一生，在这儿最多放十八个字哦哦
						.name 井柏然／鹿晗／马思／马纯／马博博／
						a(href="#").btn-look 我要看
			ul.user-list
				li
					a(href="#")
						img(src="../../images/quanzi/_pic_1.jpg" alt="").img
				li
					a(href="#")
						img(src="../../images/quanzi/_pic_1.jpg" alt="").img
				li
					a(href="#")
						img(src="../../images/quanzi/_pic_1.jpg" alt="").img
				li
					a(href="#")
						img(src="../../images/quanzi/_pic_1.jpg" alt="").img
				li.more 
					a(href="#") ... 
				li.btn-point-praise 
					a(href="#")
						em.iconn-28 
						span 1231w
		div.comment-module
			h3.t-name 
				span 评论(24)
			.comment-list
				dl
					dt.user-img
						img(src="../../images/quanzi/_pic_1.jpg" alt="")
					dd.comment-right 
						.name
							em.icon-comment.iconn-6
							span 奥森跑团圈子名
						.time 1楼 2天前
						.title 家族血统使它能拥有比一般公司更紧密的合作关系
						ul.speak
							li
								.speak-txt
									a.link(href="javascript:;") 一个相机：
									span 这事说的空间是什么
								.time 1小时前
							li
								.speak-txt
									a.link(href="javascript:;") 一个相机
									span 回复
									a.link(href="javascript:;") 茜某茜：
									span 事情的起因
								.time 1小时前 
							li.more
								a.btn-more(href="javascript:;") 更多3条回复
				dl
					dt.user-img
						img(src="../../images/quanzi/_pic_1.jpg" alt="")
					dd.comment-right 
						.name
							em.icon-comment.iconn-6
							span 奥森跑团圈子名
						.time 1楼 2天前
						.title 家族血统使它能拥有比一般公司更紧密的合作关系
						figure.tpc-banner
							img(src="../../images/quanzi/_log-1.jpg").tpc-img
							figcaption.tpc-fig
								a(href="#")
									h4.tpc-gd-title 国美大酒店
									div.txt 
										span 收藏 12,3222 
										span 销量：123,222	
						figure.tpc-good-zone
							img(src="../../images/quanzi/_pic_1.jpg").tpc-gd-img
							figcaption.tpc-fig
								a(href="#")
									h4.tpc-gd-title 七格格2017春装新款 运动风撞色织带直筒裤工装长裤休闲裤
									.tpc-btm
										span.gome-b 最高返0.45国美币
										.tpc-price ¥ 
											span 149.90
						div.details-img 
							img(src="../../images/quanzi/_pic_5.jpg" alt=""  width="100%")
		.nav-bt-fix
			a(href="javascript:;")
				em.iconn-6
			a(href="javascript:;")
				em.iconn-12
			a(href="javascript:;")
				em.iconn-9
			a(href="javascript:;")
				em.iconn-3