doctype html
html(lang="zh-CN" data-use-rem="750")
	//- head.jade
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/quanzi/quanzi.css")
	body.opg
		include ../../../m-widget/head/rem.jade
		section.xin-zone-top.circ-bj
			img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg").img-blur
			div.zone-top-cont
				header.header.header-private
					span
						a(href="#")
							em.iconn-1
					span
						a(href="#")
							em.iconn-10
						a(href="#")
							em.iconn-3
				div.circ-top-bx
					p by&nbsp;跨界搭服装
					h2 服装搭配小技巧
					div.num-box 话题 10
						span |
						| 成员 10
						span |
						| 运动
					.head-bx
						img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
						a.btn-add 加入
			p.tex-content midori创立于1950年，从制造顶级信纸、贺卡、手工纸等设计性纸制品起家，产品充满了原创性和设计感，诞生了众多经典设计以及畅销产品。
		// /header
		
		// /话题列表 begin
		.xin-tab-couple
			ul.xin-tab-in
				li.curr
					a(href="#") 全部
				li
					a(href="#") 精品
		.top-news 
			ul
				li
					b.z-top 置顶 
					a(href="#") 你所不知道的事
				li
					b.z-top 置顶 
					a(href="#") 你所不知道的事
				li
					b.z-top 置顶 
					a(href="#") 你所不知道的2事1
		.xin-zone-talk
			section.zone-takl-it
				figure.zone-person-inf
					span.person-cell-img
						img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
					figcaption.zone-person-name 某某小将
				a(href="#")
					h4.zone-talk-tl
						em.ic-tag.ic-jingp 精品
						span 风衣这么搭才可以时髦一整个春天
					p.zone-talk-para 每个女人的衣橱里面一定要有一件风衣，永不过时，好穿又百搭，虽然风衣搭配裤装的穿法已经深入人心而且永远都不会出错，但纵观2017时装周的秀场，很多设计师已经开始用风衣搭配裙子了，兼顾了帅气与女人味，时尚精们一定不能错过！
					.zone-img-box
						figure.box-three
							span.xin-img-more 12  
							span.zone-img-tag 
								img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
								em.iconmoon.icon-shop
							span.zone-img-tag 
								img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
								em.iconn-80
							span.zone-img-tag
								img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
								em.iconn-79
				figure.tpc-banner
					img(src="../../images/quanzi/_log-1.jpg").tpc-img
					figcaption.tpc-fig
						h4.tpc-gd-title 国美大酒店
						div.txt 
							span 收藏 12,3222 
							span 销量：123,222
				div.zone-data
					span.zone-times 3小时前
					.data-handle
						span.new-mar10
							em.iconn-19 
							| 0
						span.likeg
							em.iconn-28
							| 0
						span.new-mar10 
							em.iconn-22
							| 11
			section.zone-takl-it
				figure.zone-person-inf
					span.person-cell-img
						img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
					figcaption.zone-person-name 某某小将
				a(href="#")
					h4.zone-talk-tl
						em.ic-tag.ic-zhuanf 专访
						span 风衣这么搭才可以时髦一整个春天
					p.zone-talk-para 每个女人的衣橱里面一定要有一件风衣，永不过时，好穿又百搭，虽然风衣搭配裤装的穿法已经深入人心而且永远都不会出错，但纵观2017时装周的秀场，很多设计师已经开始用风衣搭配裙子了，兼顾了帅气与女人味，时尚精们一定不能错过！
					.zone-img-box
						figure.box-three
							span.xin-img-more 12  
							span.zone-img-tag 
								img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
								em.iconn-80
							span.zone-img-tag
								img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
								em.iconn-79
				div.zone-data
					span.zone-times 3小时前
					.data-handle
						span.new-mar10
							em.iconn-19 
							| 0
						span.likeg
							em.iconn-28
							| 0
						span.new-mar10 
							em.iconn-22
							| 11
			section.zone-takl-it
				figure.zone-person-inf
					span.person-cell-img
						img(src="https://i9.meixincdn.com/v1/img/T1iw_TBbWT1RXrhCrK.jpg.230x230cTz.jpg")
					figcaption.zone-person-name 某某小将
				a(href="#")
					h4.zone-talk-tl
						em.ic-tag.ic-zhuanf 专访
						span 风衣这么搭才可以时髦一整个春天
					p.zone-talk-para 每个女人的衣橱里面一定要有一件风衣，永不过时，好穿又百搭，虽然风衣搭配裤装的穿法已经深入人心而且永远都不会出错，但纵观2017时装周的秀场，很多设计师已经开始用风衣搭配裙子了，兼顾了帅气与女人味，时尚精们一定不能错过！
					.zone-img-box
						figure.box-three
							span.xin-img-more 15  
							span.zone-img-tag 
								img(src="https://i1.meixincdn.com/T1wwKTB_K_1RXrhCrK.jpg.600q80.jpg")
								em.iconn-80
				div.zone-data
					span.zone-times 3小时前
					.data-handle
						span.new-mar10
							em.iconn-19 
							| 0
						span.likeg
							em.iconn-28
							| 0
						span.new-mar10 
							em.iconn-22
							| 11
	div.more-loading
		em.icon-load
		| 正在加载.. 


		


		