@charset "utf-8";

b,em,h1,h2,h3,h4,h5,h6,i,strong {
    font-weight: 400
}

body,html {
    background-color: #ECECEC;
    font-family: "Microsoft YaHei",Arial,Helvetica
}

.page,header {
    position: relative
}

.quanlist li h2,.quans dd,header h1 span {
    overflow: hidden;
    empty-cells: show;
    text-overflow: ellipsis;
    white-space: nowrap
}

article,body,dd,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,img,input,li,nav,ol,p,section,table,ul {
    margin: 0;
    padding: 0
}

article,figcaption,figure,footer,header,menu,nav,section {
    display: block
}

.l,.left,.r,.right,img {
    display: inline-block
}

li,ol,ul {
    list-style: none
}

a,a:hover {
    text-decoration: none;
    color: #333;
    cursor: pointer
}

img {
    border: none
}

b,em,i,strong {
    font-style: normal
}

.l,.left {
    float: left
}

.r,.right {
    float: right
}

.clear:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both
}

.page,body,html {
    height: 100%
}

footer,header,nav,section {
    min-width: 320px
}

.w280 {
    min-width: 280px;
    margin: 0 2%
}

.w300 {
    min-width: 300px;
    margin: 0 3%
}

* {
    box-sizing: border-box
}

body {
    font-size: 62.5%
}

.page {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto
}

header {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #f9f9f9
}

header h1 {
    font-size: 20px
}

.quanlist li h2,.quans dd {
    font-size: 16px;
    color: #666
}

header h1 span {
    width: 70%;
    display: inline-block
}

header a {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -10px
}

header a img {
    width: auto;
    height: 100%
}

.quans dl,section {
    width: 100%
}

header .goback {
    left: 10px
}

header .nav_fenlei {
    right: 50px
}

header .share {
    right: 10px
}

section .quans {
    padding: 15px 10px 0
}

.quans dl {
    background: #fff;
    border: 1px solid #ECECEC;
    height: 70px;
    position: relative
}

.quans dd {
    width: 57%
}

.quans dt {
    float: left;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    margin-top: 15px
}

.quans dt img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.quans dd {
    margin-left: 75px;
    line-height: 70px
}

.quans span {
    position: absolute;
    width: 13px;
    height: 30px;
    top: 50%;
    margin-top: -9px;
    right: 19px
}

.quans span img {
    width: 100%
}

.quanlist {
    padding: 0 10px
}

.pingtai li {
    background: url(../../../images/vShop/noling.png?version=1478748978659) no-repeat!important;
    background-size: 100% 100%!important;
    padding: 0 15px!important
}

.pingtai li.high {
    background: url(../../../images/vShop/yiling.png?version=1478748978597) no-repeat!important;
    background-size: 100% 100%!important;
    padding: 0 15px!important
}

.quanlist li {
    width: 100%;
    height: 103px;
    margin-top: 15px;
    background: url(../../../images/vShop/noling1.png?version=1478748978768) no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 0 16px 0 23px
}

.quanlist li h2 {
    width: 70%;
    padding-top: 30px
}

.quanlist li p {
    font-size: 12px;
    color: #999;
    margin-top: 3px
}

.quanlist li h3 {
    font-size: 12px;
    color: #999;
    margin-top: 4px
}

.quanlist li h3 i {
    font-size: 9px;
    color: #999
}

.quanlist li h3 span {
    float: right;
    font-size: 14px;
    color: #47beda;
}

.quanlist li div {
    position: absolute;
    font-size: 22px;
    color: #47beda;
    top: 22px;
    right: 0;
    width: 95px;
    text-align: center
}

.yinzhang {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60px
}

.quanlist li div em {
    font-size: 16px
}

.quanlist li.high {
    background: url(../../../images/vShop/yiling1.png?version=1478748978581) no-repeat;
    background-size: 100% 100%;
    padding: 0 15px 0 10px
}

.quanlist li.high h2 {
    padding-top: 32px
}

.quanlist li.high h3 {
    color: #fff;
    margin-top: 7px
}

.quanlist li.high h3 i,.quanlist li.high h3 span {
    color: #fff
}