doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/public/site-public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/NewVersion/new-home.css")
    body.opg.coupons-pop
        include ../../../m-widget/head/rem.jade
            .m-mask
            .coupon-box
                .coupon-bg1
                    .coupon-nmb 188
                    p.coupon-txt 超级大红包
                    .coupon-register 新人注册立送
                    a.collect-btn 立即领取
                a.coupon-close