doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/public/site-public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/NewVersion/new-home.css")
    body.opg.coupons-pop
        include ../../../m-widget/head/rem.jade
            .m-mask
            .coupon-bg2
                .tips-txt
                    img(src="../../images/newHome/coupon-tipstxt.png")
                p.tips-txt2 去领券中心领取其他福利吧～
                .coupon-btn
                    a.cancel-btn(href="#") 取消
                    a.go-receive-btn(href="#") 去领券中心


