//- extends layout.jade
extends ../public/layout.jade

block title
	title 投放管理
//- block link-theme
//- 	link(rel='stylesheet' type="text/css" href="../../css/module/account.css")

//- delivery
block content
	include ../public/menu-generalize.jade
	div.content-main
		div.amp-account
			include ../public/crumbs.jade
			div.account-set
				div.set-option
					a(href="#").btn.btn-normal 新建投放计划
					a(href="#").btn.btn-normal 启用
					a(href="#").btn.btn-normal 暂停
					a(href="#").btn.btn-normal 删除
				div.set-fn
					div.fn-plan
						span.plan-title 计划名称：
						div.ele-input
							input(type="text",value="")
					div.fn-plan
						span.plan-title 选择时间：
						div.ele-select.ele-selected
							span.select-text 2016/12/13
						span.plan-title.plan-title-gray -
						div.ele-select
							span.select-text 年/月/日
					div.fn-plan.fn-plan-new
						span.plan-title 状态：
						div.ele-select
							span.select-text 全部
					div.fn-search
						a(href="#").btn.btn-primary 查询
			div.amp-data
				div.data-table
					div.table-list
						div.list-header.actived
							span.span-col-1
								em.icon.icon-select
								i.data-id 投放计划ID
							span.span-col-2 投放计划名称
							span.span-col-3 有效期
							span.span-col-4 广告日预算
							span.span-col-5 返利日预算
							span.span-col-6 状态
							span.span-col-7 展现数
							span.span-col-8 点击数
							span.span-col-9 点击率(%)
							span.span-col-10 广告总花费
							span.span-col-11 返利总花费
							span.span-col-12 操作
						div.list-body
							div.body-row.actived
									span.span-col-1
										em.icon.icon-select.icon-selected
										i.ellipsis 02345678
									span.span-col-2 
										i.ellipsis
											a.ellipsis(href="#") 十一活动广告推广系列信息
									span.span-col-3 
										i.ellipsis.time-more 2016/09/22-2016/10/20
									span.span-col-4 
										i.ellipsis 10000
									span.span-col-5 
										i.ellipsis 10000
									span.span-col-6 
										i.ellipsis 暂停
									span.span-col-7 
										i.ellipsis 10000
									span.span-col-8 
										i.ellipsis 10000
									span.span-col-9 
										i.ellipsis 0,25
									span.span-col-10 
										i.ellipsis 10000
									span.span-col-11 
										i.ellipsis 10000
									span.span-col-12
										b.operat-link
											a(href="#",title="") 修改
											a(href="#",title="") 复制计划
											a(href="#",title="") 新建投放单元
							- for (var i =0;i<8;i++)
								div.body-row
									span.span-col-1
										em.icon.icon-select
										i.data-id 12345678
									span.span-col-2 
										a(href="#") 十一活动广告
									span.span-col-3 
										i.data-time 2016/09/22-2016/10/20
										em.icon.icon-plus
									span.span-col-4 10000
									span.span-col-5 10000
									span.span-col-6 暂停
									span.span-col-7 10000
									span.span-col-8 10000
									span.span-col-9 0,25
									span.span-col-10 10000
									span.span-col-11 10000
									span.span-col-12
										b.operat-link
											a(href="#",title="") 修改
											a(href="#",title="") 复制计划
											a(href="#",title="") 新建投放单元
			include ../public/page.jade