@import '../../widget/reset/reset.scss';
.clearfix{
    @include clearfix();
}
.visihide{
	visibility: hidden;
}
::-ms-clear, ::-ms-reveal{display: none;}
.gm-gray{
    color: #999!important;
}
.gome-head-wrap,
.gome-footer-wrap{
	background: #fff;
}
#gome-help{
	padding: 15px 0 0 0;
}

.bg-fff{
   background: #fff;
}
//IE兼容webuploader上传图片
.webuploader-element-invisible {
	position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}    
/* confirm组件 */
.circle-cancel-btn{
	color: #fff !important;
	background-color: #a5a5a5 !important;
}  
@import '../../widget/icon/icon.scss';
@import '../../widget/header/header.scss';
@import '../../widget/menu/menu.scss';
@import '../../widget/footer/footer.scss';
@import '../../widget/button/button.scss';
@import '../../widget/crumbs/crumbs.scss';
@import '../../widget/sort/sort.scss';
@import '../../widget/article/article.scss';
@import '../../widget/checkmorecomments/checkmorecomments.scss';
@import '../../widget/dialog/pop.scss';
@import '../../widget/select/select.scss';
@import '../../widget/top/top.scss';
@import '../../widget/slider/slider.scss';
@import '../../widget/calendar/calendar.scss';
@import '../../widget/button/fixed.scss';
@import '../../widget/header/header-gome.scss';
@import '../../widget/page/page.scss';

.share-down {
  display: none;
  position: absolute;
  *z-index: 1;
}
.share-down .share-box {
  display: block;
  text-align: center;
  width: 226px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e9e8e5;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
  height: 33px;
}
.share-down .icon-up-arrow {
  display: block;
  width: 172px;
  height: 10px;
  margin-top: -10px;
  background: url(../../images/public/imoj-up-arrow.png) no-repeat 75px 0;
}
.share-down .icon-box {
  display: block;
}
.share-down em {
	display: inline-block;
	font-size: 18px;
	margin: 0 3px 0;
	color: #999;
	cursor: pointer;
	&.icon-weixin {
		background: url(../../images/shop/icon-weixin2.png) no-repeat;
		width: 30px;
		height: 30px;
	}
	&.icon-qq {
		background: url(../../images/shop/icon-qq2.png) no-repeat;
		width: 16px;
		height: 30px;
	}
	&.icon-sina {
		background: url(../../images/shop/icon-sina2.png) no-repeat;
		width: 19px;
		height: 16px;
		vertical-align: 2px;
	}
	&.icon-qzone {
		background: url(../../images/shop/icon-qzone2.png) no-repeat;
		width: 30px;
		height: 30px;
	}
}
.share-down{
	z-index:1000;
	display: none;
	position: absolute;
	.share-box{
	    display: block;
	    text-align: center;
	    width: 226px;
	    background-color: #fff;
	    border-radius: 3px;
	    border: 1px solid #e9e8e5;
	    -webkit-box-shadow: 0 0 2px 0px rgba(0,0,0,0.6);
	    -moz-box-shadow: 0 0 2px 0px rgba(0,0,0,0.6);
	    box-shadow: 0 0 2px 0px rgba(0,0,0,0.6);
	    height: 110px;
	    font-size: 12px;
    	.icon-up-arrow{
	    	display: block;
		    /*width: 172px;*/
		    height: 10px;
		    margin-top: -10px;
		    background: url(../../images/public/imoj-up-arrow.png?1983514) no-repeat 105px 0;
		}
		u{
			text-decoration: none;
			margin: 12px 0 16px;
			display: inline-block;
			color: #555;
		}
		.icon-box{
			display: block;
			padding-top: 0;
			em{
				width: 40px;
				height: auto;
				text-align: center;
				display: inline-block;
				background: none;
				margin: 0;
				vertical-align: top;
				&:before{
					display: block;
					background-repeat: no-repeat;
					background-position: center top;
					padding-top: 36px;
					font-size: 12px;
					color: #555;
				}
				&.icon-qq{
					width: 44px;
				}
				&.icon-qzone{
					width: 44px;
				}
				&.icon-weixin:before{
					content: '微信';
					background-image : url(../../images/shop/icon-weixin2.png);
				}
				&.icon-qq:before{
					content: 'QQ好友';
					background-image : url(../../images/shop/icon-qq2.png);
				}
				&.icon-sina:before{
					content: '微博';
					background-image : url(../../images/shop/icon-sina2.png);
				}
				&.icon-qzone:before{
					content: 'QQ空间';
					background-image : url(../../images/shop/icon-qzone2.png);
				}
			}
		}
	}
}

.meidian_header_new{
	border-bottom: 1px solid #FF5757;
	height: 68px;
	padding-top: 18px;
	background-color: #fff;
	overflow:hidden;
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.meidian_header_box{
		width: 1200px;
		margin: 0 auto;
	}
	.meidian_logo_new{
		a{
			display: block;
		}
		img{
			height: 38px;
   			width: 85px;
			margin-top: 10px;
		}
	}
	.meidian_header_ad{
		margin-left: 30px;
		img{
			width: 100px;
			height: 50px;
		}
	}
	.meidian_menu_new{
		margin-left: 116px;
		ul{
			li{
				float: left;
				padding: 21px 10px;
				margin-right: 56px;
				border-bottom: 3px solid transparent;
				font-size:16px;
				cursor: pointer;
				font-weight: bold;
				a{
					padding-bottom:22px;
				}
				&.on{
					a{
						color: #FF4C4C;
					}
					border-bottom-color: #FF4C4C;
				}
				&:hover{
					a{
						color: #FF4C4C;
					}
					border-bottom-color: #FF4C4C;
				}
			}
		}
	}
	.meidian_my{
		height: 42px;
		line-height: 42px;
		border: 1px solid #FFD2D2;
		border-radius: 3px;
		width: 138px;
		text-align: center;
		margin-top: 13px;
		cursor: pointer;
		&:hover{
			border-color: #FF4C4C;
		}
		&.on{
			border-color: #FF4C4C;
		}
		img{
			height: 32px;
			width: 32px;
			margin-right: 10px;
			border-radius: 50%;
		}
		span{
			font-size: 16px;
			color: #FF4C4C;
			font-weight: bold;
		}
		*{
			vertical-align: middle;
		}
	}
}
.meidian-naver{
	float: left;
	padding:20px 0 0 0;
	margin-right: 20px;
	width: 180px;
	min-height: 514px;
	background:#f8f8f8;
	position:relative;
	li{
		font:14px/56px 'PingFangSC-Semibold',sans-serif;
		a{
			padding-left:40px;
			color:#666;
			display: block;
		}
		&:hover{
			/*border-left:2px solid #FF4C4C;*/
			/*background: #fff;*/
			a{
				color:#FF4C4C;
				/*padding-left: 38px;*/
			}
		}
	}
	li.active{
		border-left:2px solid #FF4C4C;
		background: #fff;
		a{
			color:#FF4C4C;
			padding-left: 38px;
		}
	}

	.left-ad{
	    padding-left: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		overflow: hidden;
		width: 180px;
		a{
			padding-left: 0;
		}
		img{
			width: 180px;
		}
		&:hover{
			border-left:none;
			background: #f8f8f8;
			padding-left:0;
			a{
				padding-left: 0;
				color:#FF4C4C;
			}
		}
	}
}