.fixed-tool
	a(href="##").tool-1
		// icon替换 .icon.icon-user
		em.iconn-51
		span.hover-txt 个人中心
	a(href="##").tool-2
		// icon替换 .icon.icon-cart
		em.iconn-52
		p 购物车
		span.cart-num 20
	a(href="##").tool-3
		// icon替换 .icon.icon-coupon
		em.iconn-53
		span.hover-txt 我的优惠券
	a(href="##").tool-4
		// icon替换 .icon.icon-order
		em.iconn-54
		span.hover-txt 我的订单
	a(href="##").tool-5
		// icon替换 .icon.icon-save
		em.iconn-57
		span.hover-txt 我的收藏