doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	style.
		.ict-box{
			overflow: hidden;
			background-color: #ff5c5c;
		}
		.ict-box cite{
			font-size: 10px;
			line-height: 12px;
		}
	
	body.opg
		include ../../../m-widget/head/rem.jade
		
		span.ict-box
			em.ict-pc
			cite 比PC端省221元