doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
	
	body.opg
		include ../../../m-widget/head/rem.jade
		
		.plaintext
			h3.c-3 H3标题颜色333
			p 1、class引用 ../../css/public/plaintext.css
			p 2、标题：标签(h3) | 大小(28) | 颜色(333) | 行间距(40) | 上边距(20) | 下边距(20)
			p 3、文本：标签(p ) | 大小(28) | 颜色(999) | 行间距(40)


			p 2、标题：标签(H3) | 大小(??) | 颜色(???) | 行间距(??) | 上边距(??) | 下边距(??)
			p 3、文本：标签(p ) | 大小(??) | 颜色(???) | 行间距(??) | 段间距(??)
			
			h3.c-3 H3标题
			p 1.等级分按照订单中的商品种类来计算，当一笔订单中包含N种商品时，交易成功后可获得N个信用分。如果一笔订单中，同一种商品购买了多个，则只获得1个等级分。
			p 2.每个自然月中，相同买家和卖家之间的等级分累计不超过6分（以订单创建的时间计算），达到6分后，后续的交易将不会为卖家增加等级分。
			p 3.若14天内（以订单创建的时间计算），相同买家和商家之间，对同一种商品进行多次购买，则只能在第一次购买时获得1个等级分。例如，1月1日购买了商品A，卖家获得1个等级分，那么在1月15日之前，同一买家即使多次购买商品A，卖家也无法获得等级分。

			h3.c-3 H3标题
			p 1.等级分按照订单中的商品种类来计算，当一笔订单中包含N种商品时，交易成功后可获得N个信用分。如果一笔订单中，同一种商品购买了多个，则只获得1个等级分。
			p 2.每个自然月中，相同买家和卖家之间的等级分累计不超过6分（以订单创建的时间计算），达到6分后，后续的交易将不会为卖家增加等级分。
			p 3.若14天内（以订单创建的时间计算），相同买家和商家之间，对同一种商品进行多次购买，则只能在第一次购买时获得1个等级分。例如，1月1日购买了商品A，卖家获得1个等级分，那么在1月15日之前，同一买家即使多次购买商品A，卖家也无法获得等级分。


			h3.c-3 vip等级icon
			p 店铺等级分为以下10个级别：

			dl.m-vip
				dt.c-3
					span 等级
					span 等级
				dd.c-3
					span 1
					em.m-vip1
				dd.c-3
					span 2
					em.m-vip2
				dd.c-3
					span 3
					em.m-vip3
				dd.c-3
					span 4
					em.m-vip4
				dd.c-3
					span 5
					em.m-vip5
				dd.c-3
					span 6
					em.m-vip6
				dd.c-3
					span 7
					em.m-vip7
				dd.c-3
					span 8
					em.m-vip8
				dd.c-3
					span 9
					em.m-vip9
				dd.c-3
					span 10
					em.m-vip10