@charset "UTF-8";
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body,li,p,ul {
    margin: 0;
    padding: 0
}

.box {
    padding-bottom: 1.6rem;
    background: #f1f1f1
}

.box .bg-white {
    padding-top: 0
}

.product-baner {
    position: relative;
    width: 7.5rem;
    height: 7.1rem;
    text-align: center;
    background: #eee
}

.product-baner img {
    float: left;
    position: relative;
    max-width: 7.5rem;
    max-height: 7.1rem;
    width: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0)
}

.product-bj {
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12
}

.classify-list {
    display: none
}

.list-bj-z ul li a {
    display: block;
    color: #fff
}

.list-bj-z ul {
    width: 1.3rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto
}

.list-bj-z ul li {
    width: auto;
    height: .68rem;
    line-height: .68rem;
    text-align: center;
    color: #fff;
    font-size: .28rem;
    border-bottom: 1px solid #575755
}

.list-bj-z ul li:last-child {
    border-bottom: none
}

.marg-left25 {
    margin-left: .25rem
}

.product-content {
    padding: .3rem .3rem 1.5rem;
    line-height: .36rem;
    font-size: .28rem;
    color: #333;
    text-align: left
}

.service-icon {
    background: url(../../../images/newHome/service.png?version=1481536649545) no-repeat;
    background-size: .44rem .44rem
}

.collection-icon {
    background: url(../../../images/newHome/collection.png?version=1481536649522) no-repeat;
    background-size: .44rem .44rem
}

.shopcart-icon {
    background: url(../../../images/newHome/shopping-cart.png?version=1481536649547) no-repeat;
    background-size: .44rem .44rem
}

a.disabled {
    background: #d8d8d8
}

.price-bx {
    overflow: hidden;
    line-height: 1rem
}

a.choose,a.ship-address {
    line-height: .6rem;
    border: 1px solid #d8d8d8;
    overflow: hidden
}

.price-bx span {
    float: left;
    font-size: .48rem;
    color: #ed5b5d;
    font-weight: 700
}

.market-price,.price-bx span.sold {
    font-size: .28rem;
    font-weight: 400;
    color: #999
}

.market-price {
    overflow: hidden;
    width: 100%;
    float: left;
    text-decoration: line-through;
    margin-bottom: .5rem
}

.price-bx span.sold {
    float: right
}

a.choose {
    display: inline-block;
    height: .6rem;
    padding: 0 .16rem;
    color: #999;
    text-align: center;
    font-size: .24rem
}

a.ship-address {
    width: 100%;
    display: block;
    color: #999;
    margin-top: .2rem;
    font-size: .24rem;
    padding: 0 .2rem
}

.district-bx {
    width: 5.2rem;
    float: left;
    height: .6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

a.ship-address p {
    float: left;
    display: inline-block
}

a.ship-address span.stock {
    float: right;
    color: #ed5b5d;
    font-size: .24rem
}

.margin-bot20 {
    margin-bottom: .2rem
}

.opg .rebate-bx .iconmoon {
    color: #999;
    float: right;
    width: .4rem;
    height: .4rem;
    font-size: .34rem;
    margin-top: .34rem;
    margin-right: -.06rem
}

.opg .coupons-box {
    overflow: hidden;
    margin-top: .3rem;
    padding-left: .3rem;
    height: 1.05rem
}

.opg .evaluation-bx {
    height: .8rem;
    line-height: .8rem;
    overflow: hidden;
    padding: 0 .3rem
}

.opg .evaluation-bx p {
    float: left;
    font-size: .38rem;
    color: #333;
    width: 2.2rem
}

.opg .evaluation-bx p span {
    color: #999;
    font-size: .24rem
}

.opg .evaluation-bx .line {
    border-bottom: 1px solid #ececec;
    width: 3.5rem;
    height: .43rem;
    float: left
}

.opg .evaluation-bx a {
    display: block;
    color: #666;
    float: right;
    font-size: .24rem
}

.opg .evaluation-bx a[disabled=disabled] {
    color: #ccc
}

.opg .evaluation .avatar-box p {
    color: #666;
    font-size: .28rem
}

.opg .evaluation {
    padding: .3rem 0;
    border: none;
    background: #fff
}

.opg .evaluation .text-box {
    padding: .25rem 0 0
}

.opg .no-evaluation {
    line-height: .88rem;
    color: #999;
    font-size: .28rem;
    padding: 0 .3rem
}

.opg .evaluation .content-box {
    padding: 0
}

.opg .evaluation .avatar-box {
    margin: 0 0 .24rem
}

.opg .text-box a {
    display: block;
    height: auto;
    overflow: hidden;
    padding: 0 .3rem
}

.opg .evaluation p.text {
    color: #999
}

.opg .small-img-bx {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: .3rem;
    padding: 0 .14rem .3rem .3rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}

.all-goods-bx,.avatar-over-x,.box-h-over,.comment-box,.comment-box .buyers-show,.comment-box .grade-star,.comment-box .user-head,.crown-icon,.mask-bj ul,.opg .store-bx .product-box,.store-bx h3,.tab_lun,.tab_lun .ol li,.user-head a {
    overflow: hidden
}

.opg .small-img-bx li {
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    margin-right: .16rem
}

.opg .small-img-bx li img {
    width: 1.8rem;
    height: 1.8rem;
    display: block
}

.opg .store-bx {
    padding: .3rem;
    background: #fff
}

.opg .store-bx a {
    display: block
}

.opg .store-bx .product-detail {
    background: 0 0
}

.store-bx h3 {
    height: .6rem;
    line-height: .6rem;
    text-align: left;
    color: #2e2e2e;
    font-size: .32rem;
    margin-top: -.1rem
}

.store-bx .text-detail {
    padding: 0 0 0 .3rem
}

.crown-icon {
    line-height: .56rem
}

.crown-icon em {
    float: left;
    background: url(../../../images/newHome/crown-icon.png) no-repeat;
    width: .34rem;
    height: .34rem;
    background-size: .34rem .34rem;
    margin-right: .05rem
}

.opg .store-bx .product-box {
    width: 1.4rem;
    height: 1.4rem;
    float: left;
    background-color: #fff;
    position: relative
}

.opg .store-bx .product-box img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.all-goods-bx {
    line-height: .6rem;
    height: .5rem;
    color: #999;
    font-size: .24rem
}

.all-goods-bx span {
    float: right;
    padding-left: .25rem
}

span.all-goods {
    float: left;
    padding-left: 0;
    color: #666
}

.product-block .description {
    line-height: .4rem
}

.bg-white {
    background-color: #fff;
    padding-top: .9rem
}

.user-head a {
    display: block;
    height: auto
}

.comment-box .user-head .user-head-l,.comment-box .user-head .user-head-l img {
    width: .7rem;
    height: .7rem;
    border-radius: 50%
}

.comment-box {
    padding: .4rem 0;
    border-bottom: 1px solid #f3f3f3;
    margin: 0 .3rem
}

.comment-box .user-head .user-head-l {
    overflow: hidden;
    text-align: center;
    float: left
}

.comment-box .user-head .user-head-r {
    float: left;
    line-height: 1;
    margin-left: .2rem;
    margin-top: -.13rem
}

.comment-box .user-head .user-head-r h2 {
    font-size: .32rem;
    color: #666
}

.comment-box .user-head .user-head-r span {
    font-size: .24rem;
    color: #999;
    display: block
}

.comment-box .comment-txt {
    font-size: .28rem;
    color: #999;
    margin-top: .4rem;
    line-height: .44rem
}

.comment-box .grade-star {
    margin: .24rem 0 .3rem
}

.comment-box .grade-star em {
    float: left;
    font-size: .24rem;
    color: #FEBD07;
    margin-right: .1rem;
    display: inline-block
}

.comment-box .buyers-show img {
    float: left;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 .2rem .2rem 0
}

.comment-box .owner-reply {
    padding: .2rem;
    font-size: .28rem;
    color: #999;
    background-color: #f1f1f1;
    margin-top: .1rem;
    line-height: .44rem
}

.certification-bx {
    padding: .2rem 0 .2rem .3rem;
    background: url(../../../images/newHome/certification.png) right bottom no-repeat #fff;
    background-size: 1.34rem 1.2rem
}

.service-p {
    color: #666;
    font-size: .32rem;
    height: .6rem;
    line-height: .5rem
}

.service-com {
    font-size: .28rem;
    color: #999;
    line-height: .44rem
}

.bgimg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.4)
}

.bgimg img,.bgimg img.on {
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%
}

.bgimg img {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none
}

.bgimg img.on {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.mask-bj,.opg .xin-mask {
    display: none
}

.mask-bj {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    max-width: 500px
}

.mask-bj .tab_lun {
    margin-top: -3.6rem;
    top: 50%
}

.mask-bj .tab_lun .dl li img {
    width: auto
}

.mask-bj p {
    color: #fff;
    font-size: .28rem;
    width: .6rem;
    height: .4rem;
    text-align: center;
    position: absolute;
    bottom: .3rem;
    right: .3rem
}

.mask-bj ul,.mask-bj ul li {
    height: 7.55rem;
    width: 7.5rem;
    float: left
}

.mask-bj p em {
    padding: .08rem
}

.mask-bj ul {
    position: absolute;
    margin-left: -3.74rem;
    margin-top: -3.8rem
}

.mask-bj img {
    width: 100%;
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
    max-width: 7.5rem;
    max-height: 7.55rem
}

.mask-bj .pinch img {
    transform: initial;
    -webkit-transform: initial;
    left: 0;
    top: 0
}

.opg .tpc-color-box {
    width: 4.7rem;
    padding: .2rem;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,.7);
    z-index: 100
}

.opg .tips,.tab_lun .ol {
    z-index: 1;
    text-align: center
}

.opg .tpc-color-box.top-size {
    top: -2.7rem
}

.opg .tpc-color-box.top-size:before {
    top: auto;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

.opg .tpc-color-box:before {
    bottom: -.21rem;
    border-color: rgba(0,0,0,.7) transparent transparent
}

.opg .rebate-bx,.tab_lun .dl ul {
    border-bottom: none
}

.box-h-over {
    height: 2.2rem
}

.opg .avatar-box .avatar,.opg .avatar-box .avatar img {
    width: .7rem;
    height: .7rem
}

.evaluation .avatar-box p {
    line-height: .7rem
}

.opg .select-gd-wrap .sel-title span em {
    font-style: normal
}

.opg .select-gd-wrap {
    bottom: -100%
}

.opg .tpc-address {
    bottom: 0
}

.shop-cart-bx a.collection-icon1 em:before {
    content: "\ea8f";
    font-size: .45rem
}

.shop-cart-bx a.collection-click em:before {
    content: "\ea98";
    font-size: .45rem;
    color: #ffce4d
}

.tab_lun {
    position: relative;
    height: 7.5rem
}

.tab_lun .ol {
    position: absolute;
    height: 9px;
    line-height: 9px;
    bottom: 5px;
    width: 100%
}

.tab_lun .ol ul {
    background-color: transparent
}

.tab_lun .ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #cfcfcf;
    text-indent: -9999px;
    margin: 0 3px
}

.opg .shop-cart-bx a.listcar span,.opg .xin-share-mask {
    display: none
}

.tab_lun .ol li.on {
    background: #ececec
}

.tab_lun .dl li img {
    vertical-align: top;
    width: 100%
}

.opg .level-gold-medal {
    background: url(../../../images/newHome/gold-medal.png?version=1481536702134) no-repeat;
    background-size: contain
}

.opg .level-bronze-medal {
    background: url(../../../images/newHome/bronze-medal.png?version=1481536702133) no-repeat;
    background-size: contain
}

.opg .level-silver-medal {
    background: url(../../../images/newHome/silver-medal.png?version=1481536702135) no-repeat;
    background-size: contain
}

.opg .padding-zhen30 {
    padding: 0
}

.opg .padding-zhen30 .coupons-over-x ul {
    margin-top: 0;
    margin-bottom: .3rem
}

#buynow[disabled=disabled],#gotoshopscar[disabled=disabled] {
    border: none;
    color: rgba(255,255,255,.3)
}

.opg .select-gd-wrap .sel-btn-zone .sel-btn-one[disabled=disabled],.opg .select-gd-wrap .sel-btn-zone .sel-btn-two[disabled=disabled] {
    color: #ccc
}

.opg .shop-cart-bx a.listcar {
    position: relative
}

.shop-cart-bx a.listcar .iconmoon {
    font-size: .55rem;
    margin-left: .14rem
}

.opg .tips {
    position: fixed;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    background: #666;
    font-size: 14px;
    color: #e4e4e4;
    left: 0;
    bottom: 1.1rem;
    margin-top: .2rem
}

.opg .recommend .recommend-img a {
    display: block;
    position: relative
}

.original-price {
    color: #999
}

.dl_clients,.page {
    position: absolute
}

.opg .rebate-bx {
    width: 6.9rem;
    margin: 0 auto
}

.opg .boder_bottom {
    border-bottom: 1px solid #d8d8d8
}

.opg .select-gd-wrap .num-handle .num-txt {
    border-radius: 0
}

.opg .select-gd-wrap .num-handle .num-txt[disabled=disabled] {
    border: 1px solid #999;
    opacity: 1;
    background: 0 0
}

.opg .product-block .parameter-box li {
    line-height: .36rem
}

.opg .coupons-box li:last-child {
    margin-right: 0
}

.opg .coupons-over-x {
    overflow: auto
}

.opg .adr-choose .adr-ch-list li:hover {
    background: #f5f5f5;
    color: #333
}

.opg .shop-cart-bx {
    z-index: 10
}

.opg .padding-zhen30 .coupons-over-x {
    padding-bottom: .3rem
}

.hidden {
    overflow-y: hidden;
    position: fixed
}

.opg .xin-fan {
    border-radius: 0;
    line-height: .28rem
}

.over {
    position: relative;
    overflow: hidden;
    background: #f1f1f1
}

.opg .select-gd-wrap .sel-scrollbar {
    max-height: 5.3rem;
    margin-bottom: -.6rem;
    padding-bottom: .6rem;
    overflow-y: auto;
    position: relative
}

@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
    .opg .select-gd-wrap .sel-scrollbar {
        max-height: 2.8rem;
        margin-bottom: -.6rem;
        padding-bottom: .2rem;
        overflow-y: auto;
        position: relative
    }
}

.opg .select-gd-wrap .sel-title:first-child {
    margin-top: 0
}

.coupons-bx {
    width: auto;
    height: 1.65rem;
    overflow: hidden
}

.coupons-over {
    height: 1.3rem;
    overflow: hidden;
    margin: .2rem 0
}

.coupons-over ul {
    width: 100%;
    overflow: auto;
    padding-bottom: .5rem;
    padding-left: .3rem;
    padding-right: .12rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}

.coupons-over ul li {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: .18rem
}

.coupons-bor {
    position: relative;
    min-width: 3rem;
    height: 1.2rem;
    border: 1px solid #ffcdce
}

.coupons-over li:before {
    content: "";
    position: absolute;
    width: .2rem;
    height: .2rem;
    left: -.1rem;
    top: .63rem;
    border: 1px solid #ffcdce;
    border-radius: 50%;
    background: #fff;
    z-index: 10
}

.coupons-txt {
    color: #ed5d5b;
    height: .75rem;
    line-height: .75rem;
    font-size: .32rem;
    padding-left: .3rem;
    padding-right: .7rem;
    border-bottom: 1px dashed #999
}

.coupons-txt2 {
    width: auto;
    height: .42rem;
    line-height: .44rem;
    padding-left: .3rem;
    padding-right: .3rem;
    color: #333;
    font-size: .2rem
}

.coupons-over span {
    display: block;
    position: absolute;
    width: 1.2rem;
    height: .36rem;
    line-height: .4rem;
    color: #fff;
    background: #f66a6b;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    text-align: center;
    right: -.37rem;
    top: .06rem;
    font-size: .26rem
}

.coupons-bor.coupons-no {
    border-color: #bfbfbf
}

.coupons-bor.coupons-no span {
    background-color: #bfbfbf
}

.opg .shop-cart-bx a {
    position: relative;
    border-right: 0
}

.opg .shop-cart-bx a.listCar:after{
    position: absolute;
    content: "";
    top: .35rem;
    left: 0;
    border-left: 1px solid #d8d8d8;
    height: .45rem
}

.courier-fees {
    height: .54rem;
    line-height: .4rem;
    display: none
}

.pinch,.pinch img {
    width: 100%;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none
}

.opg .product-block .table-content {
    margin-bottom: .3rem;
    padding: .1rem .3rem
}

.dl_clients a {
    color: #f4cc56
}

.buy-count-down {
    width: 100%;
    height: 1.6rem;
    background: #ff2c4f;
    padding: .2rem .3rem
}

.buy-count-down a,.buy-price-bx,.buy-price-text {
    height: auto;
    overflow: hidden
}

.buy-count-down a {
    display: block;
    width: auto
}

.buy-price-bx {
    float: left;
    width: 3.75rem
}

.buy-price-text {
    float: left;
    width: 1.3rem
}

.buy-price-text .buy-btn {
    display: block;
    width: 1.3rem;
    height: .42rem;
    line-height: .42rem;
    background: #ffdb28;
    border-radius: 2px;
    text-align: center;
    color: #ff2c4f;
    font-size: .3rem;
    margin-top: .2rem
}

.buy-price-text .buy-txt {
    height: .56rem;
    line-height: .68rem;
    font-size: .3rem;
    color: #fff;
    white-space: nowrap
}

.buy-price {
    width: 2.45rem;
    float: left;
    overflow: hidden;
    font-size: .82rem;
    text-align: center;
    color: #fff;
    line-height: 1.2rem
}

.buy-price span {
    font-size: .4rem
}

.buy-time-bx {
    float: left;
    width: 2.4rem;
    height: 1.2rem;
    overflow: hidden;
    border-left: 1px solid #c50021;
    border-right: 1px solid #c50021
}

.buy-time-bx .time-tex {
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    color: #fff;
    font-size: .3rem
}

.buy-time-bx .time-bx p,.time-bx span {
    float: left;
    line-height: .46rem;
    text-align: center
}

.buy-time-bx .time-bx {
    width: 1.68rem;
    height: .46rem;
    margin: 0 auto
}

.buy-time-bx .time-bx span {
    width: .46rem;
    height: .46rem;
    background: #700013;
    border-radius: 5px;
    color: #fff
}

.buy-time-bx .time-bx p {
    width: .15rem;
    color: #700013;
    font-size: .2rem
}

.buy-arrow {
    float: right;
    display: block;
    width: .7rem;
    text-align: right;
    line-height: 1.4rem
}

.buy-arrow em {
    font-size: .5rem;
    color: #fff;
    line-height: 1.2rem
}

.m-prompt {
    text-align: center;
    margin-bottom: 1.2rem;
    margin-top: .8rem
}

.m-prompt .pro-img {
    max-width: 2.45rem;
    margin-left: auto;
    margin-right: auto
}

.m-prompt .pro-img img {
    width: 100%
}

.m-prompt .pro-txt {
    color: #999;
    font-size: .26rem;
    line-height: .4rem;
    margin-top: .55rem
}

.m-prompt .pro-btn {
    margin-top: .2rem
}

.m-prompt .pro-btn a.m-btn {
    font-size: .28rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .2rem;
    margin-right: .1rem;
    min-width: 1.8rem;
    min-height: .7rem;
    color: #fff;
    line-height: .7rem;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    background-color: #FF5C5C;
    border-radius: 1.1rem;
    position: relative
}

.opg .tpc-adr-title:after,.opg .tpc-adr-title:before {
    content: '';
    width: 2.5rem;
    height: 1px;
    background-color: #fff;
    top: 50%
}

.description .select-gd-wrap .sel-tag-cont .active em {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: .2rem;
    z-index: 10;
    right: -.04rem
}

.opg .tpc-adr-title:after {
    position: absolute;
    right: 0
}

.opg .tpc-adr-title:before {
    position: absolute;
    left: 0
}

.opg .tpc-adr-title {
    position: relative
}

.opg .tpc-adr-title em {
    font-size: .3rem
}

.opg .tpc-adr-title a:first-child {
    position: absolute;
    left: 0;
    width: .8rem;
    height: .65rem;
    display: block;
    text-align: left
}

.opg .tpc-adr-title a:last-child {
    position: absolute;
    right: 0;
    width: .8rem;
    height: .65rem;
    display: block;
    text-align: right;
    z-index: 10
}

.opg .select-gd-wrap .sel-btn-zone .sel-btn-two {
    margin: 0
}

.opg .select-gd-wrap .sel-btn-zone .sel-btn-two:first-child {
    background: #333;
    color: #fff
}

.opg .select-gd-wrap .sel-btn-zone .sel-btn-two:last-child {
    color: #fff;
    background: #f66a6b
}
.opg .select-gd-wrap .sel-btn-zone .sel-btn-one[disabled="disabled"] {
    background-color: #FF9F9F;
}

.opg .select-gd-wrap .sel-btn-zone .sel-btn-two:first-child[disabled="disabled"] {
    background-color: #ddd;
}

.opg .select-gd-wrap .sel-btn-zone .sel-btn-two:last-child[disabled="disabled"] {
    background-color: #FF9F9F;
}

.opg .select-gd-wrap .num-handle .num-minus[disabled=disabled] {
    color: #ccc
}

.prodoct-detail iframe table {
    height: 100%;
    border: none;
    width: 100%
}

.product-detail iframe table img {
    width: 100%!important
}

.zz{
    font-size: 15px;
    line-height: 24px;
    color: #333;
}
.prodoct-detail iframe table tr {
    vertical-align: baseline;
}
.opg .select-gd-wrap .sel-tag-cont span.span {
    float: left;
    display: block;
    padding: .15rem .2rem;
    height: auto;
    line-height: 1
}

.opg .select-gd-wrap .sel-tag-cont {
    margin-bottom: 0;
    padding-bottom: .1rem;
    overflow: hidden
}

.shop-car-btn {
    position: relative
}

.xin-news-num {
    position: absolute;
    top: .2rem;
    right: .1rem;
    min-width: .3rem;
    height: .3rem;
    line-height: .3rem;
    box-sizing: content-box;
    border-radius: 15px;
    text-align: center;
    color: #FFF;
    font-size: .14rem;
    background-color: #ee2f2f
}
