.select-wrap
	.select-list
		span.menu-add 选择省
		span.down-arrow
			// icon替换 .icon.icon-right
			em.iconn-9
		ul
			li 子菜单一
			li 子菜单二
			li 子菜单一
			li 子菜单二
			li 子菜单一
			li 子菜单二
	.select-list
		span.menu-add 选择市
		span.down-arrow
			// icon替换 .icon.icon-right
			em.iconn-9
		ul
			li 子菜单一
			li 子菜单二
	//- .select-list
	//- 	span.menu-add 选择区县
	//- 	span.down-arrow
				// icon替换 .icon.icon-right
				em.iconn-9
	//- 	ul
	//- 		li 子菜单一
	//- 		li 子菜单二
	//- .select-list
	//- 	span.menu-add.mgr0 选择街道
	//- 	span.down-arrow
				// icon替换 .icon.icon-right
				em.iconn-9
	//- 	ul
	//- 		li 子菜单一
	//- 		li 子菜单二