div.platform-m
	a(href="http://opg-pre.intra.gomeplus.com/gomeplusUI/m-platform/pug/index/index.html").icon.platform-mobile 
		//- &#xe9af;
		span.icon-tel
			i
		span.platform-code
div.back-home
	a.icon-home(href="http://opg-pre.intra.gomeplus.com/")
		i
div.platform-menu
	span.platform-glass
	h1
		a(href="../index/index.html",title="OPG/GomeplusUI")
			| OPG/GomeplusUI
	ul
		li
			a(href="../button/button.html",title="",class="platform-button") button
		li
			a(href="../cell/cell.html",title="",class="platform-cell") cell
		li
			a(href="../tab/tab.html",title="",class="platform-tab") tab
		li
			a(href="../dialog/dialog.html",title="",class="platform-dialog") dialog
		li
			a(href="../footer/footer.html",title="",class="platform-footer") footer
		li
			a(href="../grid/grid.html",title="",class="platform-grid") grid
		li
			a(href="../header/header.html",title="",class="platform-head") header
		li
			a(href="../menu/menu.html",title="",class="platform-menu-new") menu
		li
			a(href="../slider/slider.html",title="",class="platform-slider") slider
		li
			a(href="../toast/toast.html",title="",class="platform-toast") toast
		li
			a(href="../icon/icon.html",title="",class="platform-icon") icon
		li
			a(href="../crumbs/crumbs.html",title="",class="platform-crumbs") crumbs
		li
			a(href="../pagination/pagination.html",title="",class="platform-pagination") pagination
		li
			a(href="../article/article.html",title="",class="platform-article") article

	