@charset "UTF-8";
/*鏃ュ巻 begin*/
.data_box {
  width: 248px;
  height: 262px; }

.sel_date {
  margin-top: 10px;
  width: 248px;
  height: 262px;
  border-radius: 2px;
  border: 1px solid #f65557;
  background-color: #fff; }

.date-nav {
  height: 49px;
  line-height: 48px;
  border-bottom: 1px solid #e5e5e5; }

.showDate {
  width: 248px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
  color: #999;
  display: block;
  cursor: pointer; }

.show_mn {
  width: 94px;
  color: #999;
  padding: 0 22px;
  text-align: center;
  position: relative; }

.show_mn span, .show_mn a {
  font-size: 16px;
  color: #999;
  text-decoration: none; }

.sel-date-year {
  width: 90px;
  position: absolute;
  background-color: #f0f0f0; }

.sel-date-year li {
  text-align: center;
  position: relative; }

.sel-date-year li a {
  display: block;
  width: 90px;
  height: 20px;
  line-height: 20px; }

.sel-date-year li a:hover {
  color: #fff;
  background-color: #ff3f51; }

.sel-date-year li a:hover span {
  color: #fff; }

.sel-date-year li em {
  display: none;
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 12px; }

.sel-date-year li span {
  font-size: 16px;
  color: #333; }

.data_table {
  width: 100%;
  padding: 3px 10px 0; }

.data_table thead td {
  color: #f95353;
  font-size: 14px; }

.data_table tbody td {
  border-top: 1px solid #e5e5e5; }

.data_table td {
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #101010;
  height: 25px;
  padding: 2px 0; }

.data_table td span {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin: 0 auto; }

.data_table td.active span {
  color: #fff;
  border-radius: 50%;
  background-color: #f65557; }

.data_table td:hover span {
  color: #fff;
  border-radius: 50%;
  background-color: #f65557; }

.data_table td.grayClr span {
  color: #e5e5e5; }

.showDate2 {
  width: 35px;
  padding: 3px 5px;
  color: #999;
  border: 1px solid #e1e1e1;
  text-align: center; }

.showDate2.active {
  border: 1px solid #c50000; }

.prev_m,
.next_m {
  color: #999;
  cursor: pointer;
  text-align: center;
  font: 16px/22px "瀹嬩綋";
  margin-top: 12px; }

.prev_y,
.next_y {
  color: #999;
  cursor: pointer;
  text-align: center;
  font: 16px/22px "瀹嬩綋";
  margin: 12px 13px 0; }


