@charset "utf-8";

// AMP configure
@import "_configure.scss";

// Define crumbs sheetstyle
// ##------------------------------------------
.crumbs{
	height:40px;
	line-height:40px;
	font-size:14px;
	color:$text-light;
	a{
		color:$text-light;
		&:hover{
			color:$text-light;
		}
		em{
			padding:0px 5px;
		}
		&.actived{
			color:$text-medium;
			em{
				display:none;
			}
		}
	}
}