@charset "utf-8";

// AMP configure
@import "_configure.scss";

// tabs
// ##------------------------------------------
.tabs{
	@include clearfix();
	background:$bg-table-select;
	ul{
		@include clearfix();
		border-top:1px solid #e5e5e5;
		border-right:1px solid #e5e5e5;
		border-bottom:1px solid #e5e5e5;
		li{
			float:left;
			height:42px;
			a{
				position:relative;
				z-index:2;
				display:inline;
				float:left;
				padding:0px 33px;
				height:42px;
				line-height:42px;
				font-size:16px;
				color:$text-dark;
				&:before,
				&:after{
					content:'';
					position:absolute;
					left:0px;
					top:0;
					width:1px;
					height:100%;
					background:#e5e5e5;
				}
				&:after{
					left:auto;
					right:-1px;
				}
			}
			&.actived{
				a{
					z-index:1;
					border-top:2px solid $bg-red;
					height:43px;
					line-height:42px;
					background:#fff;
					&:before{
						display:none;
					}
				}
			}
		}
	}
}