doctype html
html(lang="zh-CN")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/circle-activity.css")
    body.opg
        .banner.clearfix                          
            .banner-cent
            .banner-left
            .banner-right
        .activity
            .activity-pic
            .activity-explain
            .activity-award
            .activity-btn
                a(href="javascript:;",target="_blank")





