doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/video.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/topicdetails.css")
	body.opg
		include ../../widget/header/header.pug
		include ../../widget/menu/menu.pug
		div.wrap-box
			include ../../widget/top/top.pug
			.crumbs-box
				a(href="javescript:") 首页
				em >
				a(href="javescript:") 商城
				em >
				a(href="javescript:") 店铺列表
				em >
				span 找到
				span.crnmb-activ 旅行
				span 相关的话题 共
				span.crnmb-activ 120384
				span 个
		.more-topic
			div.wrap-box.ovflow-hid.wrap-reletive
				div.topic-lfet
					.bjfff
						.topic-cover
							img(src="../../images/public/categoryPic10.png")
						div.topic-title0
							h1
								em.set-top 置顶
								em.set-spark 精品
								em.set-access 专访
								span(data-node="topic-title") 甜品控|你没有想过的西瓜新吃法- -免烤西瓜蛋糕
							p.topic-source

								span.fr
									// icon替换 icon icon-comment
									em.icon-discuss
									span.topic-count 238
								span.counts.fr
									// icon替换 icon icon-collection
									em.icon-like
									span.topic-count 238
								a.source-title.fl(href="javascript:;")
									img(src="../../images/circle/small-logo.png")
									| 奔腾的小叶路
								span.fl.icon-expert 电器达人
								span.fl.icon-meihao 时尚街拍
								//span 来自圈子：
								//| 美味甜品
								span.fl.date 2015.05.05
						div.topic-conter
							ul.source-lef-list
								li
									a(href="javescript:")
										// icon替换 icon
										em.icon-weixin
										span 微信
								li
									a(href="javescript:")
										// icon替换 icon
										em.icon-weibo
										span 微博
								li
									a(href="javescript:")
										// icon替换 icon
										em.icon-qq
										span QQ
								li
									a(href="javescript:")
										// icon替换 icon
										em.icon-qzone
										span QQ空间
								li
									// active 给a加
									a(href="javescript:").active
										// icon替换 icon icon-zan
										em.icon-like-big
										span 点赞
								li
									a(href="javescript:").active
										// icon替换 icon icon-save
										em.icon-collect-big
										span 收藏
								li
									a(href="javescript:")
										// icon替换 icon
										em.icon-discuss-big
										span 评论
								li
									a(href="javescript:")
										// icon替换 icon
										em.icon-meidian-big
										span 美店
							.source-right-box
								.topic-content
									| 周末懒得出门赖在家？ 必须把做西瓜蛋糕新技能get起来ddddddd！
									| 西瓜去头去尾，立起来将皮切掉，去皮完毕后用厨房纸将西瓜外部的水分擦干，这个动作可以方便后面涂抹奶油然后转移到你打算用来放西瓜蛋糕的容器中准备装饰。
									| 从冰箱拿出鲜奶油，加糖和几滴香草精，或者是香草籽打发至不流动的状态，千万不要打过头了。 *鲜奶油和糖的比例为100: 8，如果西瓜比较大，鲜奶油可以多放，用不完的可以用保鲜膜封上放进冰箱冷藏保存。
									| 用刮刀之类的工具把打发好的奶油涂抹在西瓜上。 *建议用平底的容器来放西瓜蛋糕，否则底部会比较难涂。
									img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/a2581626c8eebe46e62_800.jpg")

									.pc-video
										.video-box
											.clearfix
												.video
													// icon替换 icon icon-open
													em.iconn-37
											.video-foot
												// em标签外新加a标签，js控制鼠标滑过给a加class active
												.fl
													// icon替换 icon icon-share
													a(href="javascript:;")
														em.iconn-38
													span 分享到
													// icon替换 em外层加a标签 划过加active
													a(href="javascript:;").active
														// icon替换 icon icon-weixin
														em.iconn-30
													// icon替换 em外层加a标签 划过加active
													a(href="javascript:;").active
														// icon替换 icon icon-qq
														em.iconn-32
													// icon替换 em外层加a标签 划过加active
													a(href="javascript:;").active
														// icon替换 icon icon-sina
														em.iconn-31
													// icon替换 em外层加a标签 划过加active
													a(href="javascript:;").active
														// icon替换 icon icon-kongjian
														em.iconn-33
													// icon替换 icon icon-up
													em.iconn-1
													// icon替换 icon icon-down
													em.iconn-2
												.share-box
													.icon-sanjiao
													.share-list
														p 分享视频地址
														.video-add
															span 通用代码：
															input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
															input(type="button",value="复制").copy-btn
														.video-add
															span Flash地址：
															input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
															input(type="button",value="复制").copy-btn
														.video-add
															span HTML代码：
															input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
															input(type="button",value="复制").copy-btn


									img(src="http://115.182.236.41/v1/img/T1rXDTB7AT1RXrhCrK_360.jpg")
									img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
									| 周末懒得出门赖在家？ 必须把做西瓜蛋糕新技能get起来ddddddd！
									| 西瓜去头去尾，立起来将皮切掉，去皮完毕后用厨房纸将西瓜外部的水分擦干，这个动作可以方便后面涂抹奶油然后转移到你打算用来放西瓜蛋糕的容器中准备装饰。
									| 从冰箱拿出鲜奶油，加糖和几滴香草精，或者是香草籽打发至不流动的状态，千万不要打过头了。 *鲜奶油和糖的比例为100: 8，如果西瓜比较大，鲜奶油可以多放，用不完的可以用保鲜膜封上放进冰箱冷藏保存。
									| 用刮刀之类的工具把打发好的奶油涂抹在西瓜上。 *建议用平底的容器来放西瓜蛋糕，否则底部会比较难涂。
								.publish-item
									a.img-out(href="javascript:;")
										img(src="http://img1.gomein.net.cn/image/prodimg/production_image/201604/27/1123230704/1000871346_360.jpg")
									.publish-cont
										h3.pub-tl
											a(href="javascript:;") 鲜果贝 糖水黄桃罐头 425g*6 新鲜方便蜜桃水果罐头 宁波特产
										.pub-row
											span.red ￥
											strong.money-inf 199.00
										.pub-row
											.fan
												em.icon-fan
												span 最高返22.1国美币
											.buy
												em.icon-rob
												em.icon-tuan
										a.scan-more(href="javascript:;") 查看详情
								.publish-item
									a.img-out(href="javascript:;")
										img(src="http://img1.gomein.net.cn/image/prodimg/production_image/201604/27/1123230704/1000871346_360.jpg")
									.publish-cont
										h3.pub-tl
											a(href="javascript:;") 国美旗舰店
											a(href="javascript:;").icon-fan 优惠券
										a.scan-more(href="javascript:;") 进入店铺
								.publish-text
									a(href="#")
										img(src="http://img1.gomein.net.cn/image/prodimg/production_image/201604/27/1123230704/1000871346_360.jpg")
									a(href="#").link 听说下雪天和巧克力更配哦~今日特价。听说下雪天和巧克力更配哦~今日特价。听说下雪天和巧克力更配哦~今日特价。
									a(href="#").pc-btn 查看详情
								.publish-movie
									a(href="##").img
										img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
									.publish-cont
										h3.movie-title
											a(href="##") 湄公河行动
											em.imax IMAX
											p.score
												span 9.2
												| 分
										p.introduction
											span.light-gray 简介：
											span 2011年10月5日，两艘中国商船在湄公河金三角水域遭遇袭击，13名中国船员全部遇难，泰国警方从船上搜出90万颗冰毒。消息传回国内，举国震惊。为了查明真相...
										p.actor
											span.light-gray 演员：
											span 张涵予／彭于晏 ／冯文娟／陈宝国／孙淳
										a(href="##").pc-btn.pc-btnw130.pc-btnh40 我要看
								ul.preview-label.clearfix
									li
										a(href="##") 冰激凌
									li
										a(href="##") 提拉米苏
									li
										a(href="##") 水果披萨
						div.topic-operate
							a(data-node="userTopic-topHigh",href="javascript:;",title="置顶",data-ac="0",data-type="1") 置顶
							em.line
							a(data-node="userTopic-topHigh",href="javascript:;",title="加精",data-ac="1",data-type="1") 加精
							em.line
							a(href="javascript:;") 删除
							em.line
							a(href="javascript:;") 举报
					.topic-review-box
						h2.review-title 参与评论
						.bjfff.margin-btom20
							.text-field-box.clearfix
								.topic-user-head
									em.icon-daren
									img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
								.topic-publish-content
									textarea.textarea-bx
									div
										.reply-details
											em.icon-close-b
											.reply-picture
												img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
											.reply-contxt
												p  德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB
												.price.clearfix
													p.price-numb ￥
														span 399.00
													.fan.fan-s
														em.icon-fan-s
														span 最高返22.1国美币
													.buy
														em.icon-rob
														em.icon-tuan

											a.see-details.pc-btn.pc-btnw105.pc-btnh40(href="javascript:;") 查看详情
										ul.clearfix.topic-imglist
											li
												a(href="javascript:;")
													em.iconn-41
											- for (var x = 0; x < 9; x++)
												li
													a(href="javascript:;")
														img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
														em.icon-del
									.publish-face-bx
										p.icon-face.cursor-pointer
											// icon替换 icon
											em.icon-emoji
											|  表情
										p.icon-face.cursor-pointer
											// icon替换 icon
											em.icon-picture
											|  图片
										p.icon-face.cursor-pointer
											// icon替换 icon
											em.icon-goods
											|  商品
										a.pc-btn.pc-btnh30.pc-btnw105(href="javascript:;") 发布
						.bjfff.margin-btom20
							.text-field-box.clearfix
								.topic-user-head
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											// icon替换 icon
											em.icon-emoji
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105.pc-bj-fc8753(href="javascript:;") 登录
					.comment-title
						.bd-bottom
							span.red 137823
							span 条评论
					.bjfff
						.circle-comments
							dl.clearfix.bd-bottom
								dt
									em.icon-daren
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								dd
									.circle-comments-title
										p.comments-replay
											a.replay-report(href="javascript:;") 删除
											span.line
											a.replay-report(href="javascript:;") 举报
											span.line
											a(href="javascript:;") 回复
										a.topic-parise(href="javascript:;") 22222
											span
										a(href="#") 受不鸟啦
										span 2016年05月15日
									.first-comment
										p.clearfix 收到宝贝了，还挺不错的，质量也可以，值了
										.comments-imglist
											ul.clearfix
												- for (var x = 0; x < 9; x++)
													li
														a(href="javascript:;")
															img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
											.imglist-big
												.big-title
													a(href="javascript:;")
														em.icon-up
														| 收起
													a(href="#")
														em.icon-view-img
														| 查看原图
												.big-img
													.img-hidden
														.img-box
															img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
														.img-box
															img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
													em.icon-left
													em.icon-right
												.img-slide
													a(href="javascript:;").active 1
													a(href="javascript:;") 2
													a(href="javascript:;") 3
									.comments-box
										- for (var x = 0; x < 5; x++)
											.comments-s.clearfix
												div.fl
													a(href="#") 受不鸟啦
													span ：回复
													a(href="#") 小青年
													| ：
													span.hf-content 不错！不错！不错！
												div.fr
													a(href="javascript:;") 删除
													dfn &nbsp;|&nbsp;
													a(href="javascript:;") 回复
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							dl.li-bor-top
								dt.small-user-head
									img(src="../../images/circle/small-logo.png")
								dd.reply-content
									.circle-comments-title
										p.comments-replay
											a.replay-report(href="javascript:;") 举报
											span.line
											a(href="javascript:;") 回复
										a.head-small(href="javascript:;") c***佩
										span 2016年05月15日
									.first-comment
										p.p-content 收到宝贝了，还挺不错的，质量也可以，值了
										.reply-details.merchant
											.reply-picture
												img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
											.reply-contxt
												p  德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB（DESLON）莱茵至尊无双套装BE-TZ001-WSB德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB
												.price
													p.price-numb ￥
														span 399.00
													.fan.fan-s
														em.icon-fan-s
														span 最高返22.1国美币
											a.see-details.pc-btn.pc-btnw105.pc-btnh40(href="javascript:;") 查看详情
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							.text-field-box.margin-width.clearfix
								.topic-user-head
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											// icon替换 icon
											em.icon-emoji
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105(href="javascript:;") 发布
							dl.li-bor-top
								dt.small-user-head
									img(src="../../images/circle/small-logo.png")
								dd.reply-content
									.circle-comments-title
										p.comments-replay
											a.replay-report(href="javascript:;") 举报
											span.line
											a(href="javascript:;") 回复
										a.head-small(href="javascript:;") c***佩
										span 2016年05月15日
									.first-comment
										p.p-content 收到宝贝了，还挺不错的，质量也可以，值了
										.reply-details
											.reply-picture
												img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
											.reply-contxt
												p  德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB
													span.topic-label 优惠卷
											a.see-details.pc-btn.pc-btnw105.pc-btnh40(href="javascript:;") 进入店铺
									.comments-box
										.comments-s
											a(href="#") 受不鸟啦
											span ：回复
											a(href="#") 小青年
											span ：不错！不错！不错！
											a.fr(href="javascript:;") 回复
										.comments-s
												a(href="#") 受不鸟啦
												span ：回复
												a(href="#") 小青年
												span ：不错！不错！不错！
												a.fr(href="javascript:;") 回复
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							dl.clearfix
								dt
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								dd
									.circle-comments-title
										p.comments-replay
											a.replay-report(href="javascript:;") 举报
											span.line
											a(href="javascript:;") 回复
										a(href="#") 受不鸟啦
										span 2016年05月15日
									.first-comment
										p.clearfix 收到宝贝了，还挺不错的，质量也可以，值了
									.comments-box
										- for (var x = 0; x < 5; x++)
											.comments-s
												a(href="#") 受不鸟啦
												span ：回复
												a(href="#") 小青年
												span ：不错！不错！不错！
												a.fr(href="javascript:;") 回复
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							.text-field-box.margin-width.clearfix
								.topic-user-head
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											// icon替换 icon
											em.icon-emoji
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105(href="javascript:;") 发布
						.more-comments
							a(href="##").clearfix
								span
									img(src="../../images/circle/small-logo.png")
									| 点击加载更多
									// icon替换
									em.iconn-9
						.more-comments
							a(href="##").disabled.clearfix
								span
									img(src="../../images/public/loading.gif")
									| 正在加载...
						.more-comments
							a(href="##").disabled.clearfix
								span
									| 没有可加载内容
				div.topic-right
					//.shop-list
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name
							a(href="##") 美味甜品
						//div.user-top-info
							ul.clearfix
								li
									p 1873
									| TA的话题
								li
									p 1873
									| TA的圈子
					//.btn-box.clearfix
						a(href="javescript:").pc-btn.pc-bj-fc8753.pc-btnw120.pc-btnh45 加关注
					.topic-r-t
						.shop-list
							div.user-head
								a(href="##")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
							h3.user-name
								a(href="##") 美味甜品
							div
								span.pc-btn.pc-bj-fc8753.circle-type 时尚
							div.user-top-info
								ul.clearfix
									li
										| 成员
										span 105
									li
										| 话题
										span 80
						.btn-box.clearfix
							a(href="javescript:").pc-btn.pc-btnw120.pc-btnh45 加入圈子
					.topic-position
						.topic-r-b
							div.clearfix.topic-right-tab(data-node="topic-tab")
								a.active(href="javascript:;",data-index="0") 热门话题
								a(href="javascript:;",data-index="1") 话题推荐
							ul.clearfix(data-node="topic-tab-list")
								- for(var i=0; i<6; i++)
									li
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
											p 婚纱也可以这么拍婚纱也可以
											.text-icon
												// icon替换
												em.icon-like
												span 38
												// icon替换
												em.icon-discuss
												span 38
							ul.clearfix(data-node="topic-tab-list", style="display:none")
								- for(var i=0; i<6; i++)
									li
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
											p 婚纱也可以这么拍婚纱也可以
											.text-icon
												dfn 39
						.next-page
							p
								span.f12 9小时前
								| 下一篇
							a(href="#") 婚纱也可以这么拍婚纱也可以婚纱也可以这么拍婚纱也可以

		include ../../widget/footer/footer.pug














