doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/module/other/turn.css")
    body.bj-fff
        include ../../../m-widget/head/rem.jade
        header.invite-header
            p.inv-tip 您已邀请好友
            h3.inv-title
                | 7
                span 人
        .detail
            .detail-tl
                h4.det-in 奖励明细
        section.inv-table
            header.tab-header
                span 邀请的人
                span 总返利
                span 注册时间
            ul.tab-list
                li.tab-item
                    .tab-num 01
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="哈哈哈")
                        figcaption 哈哈哈
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.10.12
                li.tab-item
                    .tab-num 02
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="美麗可愛善良的師師zzzzzzzzz")
                        figcaption 美麗可愛善良的師師zzzzzzzzz
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.09.28
                li.tab-item
                    .tab-num 03
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="美美_711475028931462")
                        figcaption 美美_711475028931462
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.09.28
                li.tab-item
                    .tab-num 04
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="美美_311475028775252")
                        figcaption 美美_311475028775252
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.09.28
                li.tab-item
                    .tab-num 05
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="美美_921475028566038")
                        figcaption 美美_921475028566038
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.09.28
                li.tab-item
                    .tab-num 06
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="美美_361475028018339")
                        figcaption 美美_361475028018339
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.09.28
                li.tab-item
                    .tab-num 07
                    figure.tab-person
                        .per-img
                            img(src="https://i-pre.meixincdn.com/v1/img/T1TaVTB7LT1R4cSCrK.png", alt="兰兰我要吃烤鸭")
                        figcaption 兰兰我要吃烤鸭
                    .tab-nomey
                        p 0.00
                        span 国美币
                    .tab-time 2016.09.27
        section.inv-table
            .inv-no
                .no-pic
                p 暂无明细
        aside
            #totop.totop(style="display: none;")
