doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/module/other/invite.css")
    body(style="background-color:#FA5A5A")
        include ../../../m-widget/head/rem.jade
        .rule
            figure.rule-item
                img(src="../../images/other/rule01.png", alt="")
                figcaption
                    em.rule-num 1
                    p
                        | 好友不在身边？无需千里寻友
                        | 来见面，只需手指点一点，邀
                        | 请好友赚返利。
            figure.rule-item
                img(src="../../images/other/rule02.png", alt="")
                figcaption
                    em.rule-num 2
                    p
                        | 将国美Plus邀请好友链接分享
                        | 到您的社交圈，邀请好友来注
                        | 册。
        footer.footer
            .detail
                .detail-tl
                    h4.det-in 奖励机制
            p.footer-tip
                | 被邀请的好友在国美Plus平台消费，
                br
                | 邀请人均可获得一定比例的返利。


