.gome-wrap{ width: 1000px; margin: 0 auto; }
.public-container:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.public-container{zoom:1;margin-top:20px;}
.public-container .left-menu{ float: left; width: 205px; font-size: 14px; padding-bottom: 50px;}
.public-container .left-menu h2{ background: #b6012e; height: 50px; line-height: 50px; padding-left: 20px; color: #fff; font-weight: normal; font-size: 16px;}
.public-container .left-menu li{ background: #e60039;}
.public-container .left-menu li>a{ display: block; background: #e60039; color: #fff; padding-left: 20px; margin-left: 1px; line-height: 40px; position: relative;}
.public-container .left-menu li>a:hover{ background: #fe3a6a;}
.public-container .left-menu li a .icon-right{ position: absolute; right: 14px; top: 15px; width: 6px; height: 9px; background: url(../../images/help/icon-right.png) no-repeat;}
.public-container .left-menu li.active>a{ background: #fe3a6a;}
.public-container .left-menu .content-btn{ display: block; line-height: 48px; background: #fabe00; color: #fff; text-align: center; margin-top: 30px;}
.public-container .left-menu li dl{ background: #edeef3; display: none;}
.public-container .left-menu li dl a{ display: block; line-height: 28px; padding-left: 25px; color: #8e9198; font-size: 12px;}
.public-container .left-menu li dl a:hover{ color: #333;}
.public-container .left-menu li dl a.active{ background: #fff; color: #fe3a6a;}

.public-container .public-right{ padding: 0 0 100px 0; width: 770px; float: right;}
.public-container .public-right p{ color: #8e9198;}
.public-container .public-right .right-title{ text-align: center; font-size: 18px; line-height: 50px; padding-bottom: 20px;}
.public-container .public-right .right-introduction{ background: #f6f6f8; padding: 10px 15px; margin-bottom: 20px;}
.public-container .public-right .img img{ width: 100%;}

.help-con{ display: none;}

.help-customer{ background: url(../../images/help/customer.jpg) no-repeat 510px center #fbf7eb; height: 449px; box-sizing: border-box; padding: 55px 0 0 65px;}
.help-customer h2{ color: #eb305e; font-size: 37px;}
.help-customer p{ color: #eb305e!important; font-size: 20px;}
.help-customer .address{ color: #333; font-size: 16px; padding: 50px 0;}
.help-customer span{ color: #666;}
/*rule*/
.help-con .fontW{font-weight: bold;}
.help-con .rule-textI{text-indent: 1em}
.help-con .rule-table{width: 712px;}
.help-con .rule-table th,.help-con .rule-table td{line-height: 24px;border:1px solid #000;}
.help-con .rule-table td,.help-con .integral-table td{padding-left:6px;}
.help-con .table-title td{background: #bfbfbf}
.help-con .integral-table{width: 770px;}
.help-con .integral-table th{background: #aaa;width: 77px;}
.help-con .integral-table th,.help-con .integral-table td{line-height: 24px;border:1px solid #ddd;}
.help-con .integral-table td{color: #8e9198;}

/*关于我们*/
.about-content{margin-top:20px;padding-bottom: 50px;}
.about-content .about-tab{ height: 22px; line-height: 22px; border-left: 9px solid #e60039; margin: 0 0 40px;}
.about-content .about-tab a{ color: #8e9198; font-size: 14px; margin: 0 15px;}
.about-content .about-tab a:hover{ color: #333;}
.about-content .about-tab a.active{ color: #333;}
.about-content .about-text{ height: 380px;}
.about-content .about-text p{ line-height: 24px; text-indent: 2em; font-size: 13px; color: #8e9198;}
.about-content .about-fa{ height: 390px; position: relative;}
.about-content .about-fa .pa{ position: absolute; top: 0; left: 50%; width: 300%; background: #fff8e6; height: 390px; text-align: center; padding-top: 70px; box-sizing: border-box;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
-moz-transform: translateX(-50%);
}
.about-hide-body{ overflow-x: hidden;}
.about-content .about-componey{ padding-bottom: 100px;}
.about-content .about-componey li{ float: left; width: 294px; margin: 0 18px; text-align: center; box-shadow: 0 4px 4px -1px #d6dce5; padding-bottom: 10px;}
.about-content .about-componey li p{ font-size: 16px; line-height: 36px; padding-top: 10px;}
.about-content .about-componey li span{ color: #8e9198;}
.about-content .about-in-img{ padding-bottom: 40px;}
.about-content .about-culture .culture-list{ padding: 50px 0 50px 45px;}
.about-content .about-culture .culture-list li{ float: left; text-align: center; width: 221px; margin: 0 3px;}
.about-content .about-culture .culture-list p{ font-size: 16px; color: #8e9198; padding: 20px 0;}

.about-content .about-map{ text-align: center; padding: 0 0 40px;}
.about-content .about-add{ height: 22px; line-height: 22px; border-left: 9px solid #e60039; font-size: 18px; color: #333; margin: 30px 0 25px; padding-left: 8px;}
.about-content .address{ font-style: normal; color: #333; line-height: 34px;}
.about-content .address span{ color: #8e9198;}
.about-content table th{ text-align: left; color: #000;font-weight: 400;}
.about-content table td{ color: #666; line-height: 26px; font-size: 12px;}

/* APP下载 */
.pr{ position: relative;}
.pa{ position: absolute;}
.fl{ float: left;}
.fr{ float: right;}


.gome-header{ margin-bottom: 0; border: 0;}

.index-part1{ background: #e60039; padding-top: 100px;margin-top: 20px;}
.index-part1 .pr{ padding-top: 80px;}
.index-part1 .index-donw a{ display: block; width: 240px; height: 65px; line-height: 65px; box-sizing: border-box; padding-left: 85px; background: url(../../images/help/icon-android.png) no-repeat 35px center #f97f01; color: #fff;  border: 1px solid #fe8b15; margin-left: 35px;}
.index-part1 .index-donw a.ios-down{ background-image: url(../../images/help/icon-ios.png); background-color: #46d046; border-color: #8eec97; margin-bottom: 38px;}
.index-part1 .index-ma{ margin-right: 35px;}
.index-part2{ padding-top: 90px; height: 580px; background: #fcfcfc;}
.index-part2 .part2-text{ padding-top: 85px;}
.index-part2 .part2-text img{
	width: 480px;
}
.index-part2 .part2-text p{ font-size: 30px; color: #999; padding-top: 30px;}
.index-part2 .part2-img{}

.index-part3{ padding-top: 100px; height: 570px; background: #fabe00;}
.index-part3 .part3-text{ padding-top: 90px;}
.index-part3 .part3-text p{ font-size: 30px; color: #fff; padding-top: 30px;}
.index-part3 .part3-img{ margin-right: 30px;}

.index-part4{ height: 670px; text-align: center; background: url(../../images/help/index4-bg.png) repeat-x;}
.index-part4 .part4-img{ padding: 90px 0;}
.index-part4 .part4-list li{ float: left; width: 151px; margin: 0 45px; font-size: 16px; color: #999;}
.index-part4 .part4-list li p{ padding-top: 20px;}
.index-part4 .part4-list li span{ color: #333;}

/* .gome-link{ background: #fff; line-height: 30px; padding: 30px 0; border-top: 3px solid #ee2f2f;}
.gome-link a{ display: inline-block; white-space:nowrap; color: #333;}
.gome-link a:hover{ color: #ee2f2f;}
.gome-link span{ margin: 0 15px;} */
