@import '../../widget/config/_base.scss';
@import '../../widget/config/_mixins.scss';
.more-preview{
	display:none;
    background: #fff;
    width: 1016px;
    margin: 0 auto;
    padding:40px 0 38px 184px;
    em.set-spark {
        background-color: #e7003b;
    }
    .preview-img-cover{
        width:844px;
        height:422px;
        img{
            diplay:block;
            width:100%;
            height:100%;
        }
    }
    .preview-title0{
				margin: 10px 0;
        width:846px;
        height: auto;
        border-bottom: 1px solid #e9e8e4;
        h1 {
            max-height: 50px;
            line-height: 26px;
            font-size: $text20;
            color: $color-default;
            font-weight: normal;
            overflow: hidden;
            em {
                float: left;
                color: $color-txt;
                width: 50px;
                border-radius: 3px;
                margin: 4px 10px 0 0;
                font-size: $text14;
                line-height: 18px;
                height: 18px;
                text-align: center;
            }
        }
        .preview-source {
            line-height: 44px;
            height: 44px;
            font-size: $text14;
            a {
                color: #5c7da0;
                &.counts {
                    margin-right: 20px;
                }
                img {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    vertical-align: -3px;
                    margin-right: 5px;
                }
            }
            span {
                &.preview-count {
                    padding-left: 0;
                    color: $color-default;
                }
                color: $color-gray;
            }
            .date {
                font-size: $text12;
            }
            .fr {
                float: right;
                color: $color-default;
                padding-left:15px;
                em {
                    margin-right: 6px;
                    color: $color-gray;
                    font-size: $text16;
                }
            }
        }
    }
    .preview-content{
        margin:0;
        a{color:#3484F5;}
    }
}
.preview-content {
    min-height: 370px;
    width:856px;
    word-break: break-all;
    line-height: 26px;
    font-size: $text16;
    color: $color-default;
    h1,h2{
        font-weight: bold;
        color: #333;
    }
    h1{
        font-size: $text20;
        line-height: 34px;

    }
    h2{
        font-size: $text18;
        line-height: 32px;


    }
    ul,ol{
        margin:6px 0;
        li{
            min-height: 26px;
            p:before,h1:before,h2:before{ content:''; width:0; min-height: 16px;  display:inline-block; vertical-align:middle; }

        }
    }
    ul{
        padding-left: 20px;
        li{
            list-style-type: disc;
            color: #999;
            p{
                color: #333
            }
        }
    }
    ol{
        padding-left:20px;
        li{
            list-style-type: inherit;
            list-style-position: inside;
            p,h1,h2{
                display: inline-block;
                vertical-align: top;
                width: 90%
            }
        }
    }
    em,i{
        font-style: italic;
        u{
            font-style: italic;
        }
    }
    .content-bold,.content-mingle{
        font-weight: bold;
    }
    .content-italic,.content-mingle{
        font-style: italic
    }
    .content-line,.content-mingle{
        text-decoration: underline;
    }
    .content-textC{
        text-align: center;
    }
    .content-textL{
        text-align: left;
    }
    .content-textR{
        text-align: right;
    }
    img{
        max-width: 100%;
        margin: 6px 2px 0;
        vertical-align: baseline;
    }
    .content-imgC{
        margin: 26px auto ;
    }
    .content-imgR{
        margin: 26px 0 26px auto;
    }
    .publish-item,.publish-text,.publish-movie{
        img{
            margin: 0
        }
    }
    .publish-item {
        background-color: #fff8e6;
        height: 230px;
        position: relative;
        margin: 10px 0;
        .icon {
            cursor: pointer;
            position: absolute;
            font-size: 20px;
            top: -12px;
            right: -12px;
            &:hover {
                color: #f95353;
            }
        }
        .img-out {
            float: left;
            width: 230px;
            height: 230px;
            margin-right: 20px;
            display: inline;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .publish-cont {
            overflow: hidden;
            height: 100%;
            position: relative;
        }
        .pub-row {
            line-height: 35px;
            .red {
                color: #e40037;
            }
            .money-inf {
                font-size: 25px;
                color: #e40037;
            }
        }
        .pub-tl {
            font-size: 16px;
            line-height: 26px;
            font-weight: normal;
            margin: 14px 0 18px;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            a{
                color:#333;
            }
            .icon-fan {
                width: 60px;
                margin-left: 3px;
            }
        }
        .icon-fan {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #e40037;
            line-height: 20px;
            text-align: center;
            color: #fff;
            border-radius: 2px;
            font-style: normal;
            font-size: 12px;
            margin-right: 3px;
        }
        .scan-more {
            position: absolute;
            width: 130px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-size: 14px;
            background-color: #f95353;
            border-radius: 3px;
            left: 0;
            bottom: 20px;
        }
    }
    .cover,.show{
    	display:none;
    }
    .publish-text {
        height: 65px;
        background: #fff8e7;
        position: relative;
        padding: 15px 210px 0 100px;
        margin: 10px 0;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }
        .pc-btn {
            position: absolute;
            right: 17px;
            top: 20px;
            width: 130px;
            height: 40px;
            line-height: 40px;
        }
        .link {
            padding-top: 15px;
            line-height: 24px;
            font-size: 16px;
        }
    }
    /* movie */
    .publish-movie{
        height: 230px;
        background: #f9f9f9;
        position: relative;
        padding-right: 15px;
        margin: 10px 0;
        .img{
            float: left;
            width: 165px;
            height: 230px;
            margin-right: 20px;
            display: inline;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .movie-title{
            font-weight: normal;
            padding: 23px 0 15px 0;
            a{
                font-size: 24px;
            }
            .imax{
                display: inline-block;
                color: #fff;
                font-size: 12px;
                padding: 2px 5px;
                margin-left: 7px;
                border-radius: 2px;
                vertical-align: 3px;
                background-color: #e7003b;
            }
            .score{
                float: right;
                font-size: 12px;
                color: #e7003b;
                line-height: 38px;
                span{
                    font-size: 18px;
                }
            }
        }
        p{
            line-height: 24px;
            .light-gray{
                color: #999;
            }
        }
        .introduction{
            max-height: 48px;
            word-break: break-all;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .actor{
            max-height: 24px;
            @extend %text-hide;
        }
        .pc-btn {
            position: absolute;
            left: 186px;
            bottom: 29px;
        }
    }
}
.preview-label{
    width: 856px;
    font-size: $text14;
    color: #fc8753;
    margin:26px 0 20px;
    li{
        float: left;
        padding: 0 14px;
        border-radius: 14px;
        border:1px solid #fc8753;
        margin: 0 5px 10px;
        line-height: 24px;
        min-height: 28px;
    }
}
.preview-publish{
    width: 872px;
    a{
        float: right;
        font-size: $text14;
        height:34px;
        line-height: 34px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
    }
    .btn-edit{
        width: 90px;
        background: #fc8753;
    }
    .btn-red-md{
        width: 90px;
        background: #f95353;
        margin-left: 15px;
    }
}
