@import '../../widget/config/_base.scss';
@import '../../widget/config/_mixins.scss';

body{
    background: #f6f5ee;
}
.opg{
    .marg-t20{
        margin-top: 20px;
        overflow: hidden;
    }
    .ship-addr-left{
        float: left;
        width: 300px;
        background: $bg-fff;
        padding-bottom: 99999px;
        margin-bottom: -99999px;
        .ship-addr-setting{
            width: auto;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid $color-bor;
            font-weight: normal;
            font-size: $text14;
            padding-left: 20px;
        }
        .ship-addr-manage{
            color: $link-hover;
            font-size: $text14;
            padding-left: 35px;
            line-height: 44px;
        }
    }
    .ship-addr-right{
        overflow: hidden;
        background: $bg-fff;
        float: right;
        width: 845px;
        min-height: 385px;
        padding: 20px;
        .ship-addr-table{
            width: 100%;
            margin-top: 20px;
            tr{
                &:hover{
                    background: $color-bor;
                    cursor: pointer;
                }
            }
            th{
                height: 50px;
                line-height: 50px;
                background: #fff8e7;
                text-align: left;
                padding-left: 20px;
                color: $color-default;
                font-size: $text14;
                font-weight: normal;
            }
            td{
                position: relative;
                word-break: break-all;
                span{
                    display: inline-block;
                }
                .default-addr{
                    padding: 0 6px;
                    height: 20px;
                    line-height: 18px;
                    border-radius: 4px;
                    background: $link-hover;
                    display: inline-block;
                    color: $color-txt;
                    font-size: $text12;
                    text-align: center;
                    margin-left: 10px;
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    right: 2px;
                }
                .set-default-addr{
                    color: $color-txt;
                    background: $color-important-txt;
                    display: block;
                    height: 20px;
                    border-radius: 4px;
                }
                .set-default-hide{
                    display: none;
                }
                text-align: left;
                height: auto;
                padding:15px 0 15px 20px;
                border-bottom: 1px dotted $color-bor;
                a{
                    color: $font-blue-normal;
                    &.amend-link{
                        padding-right: 6px;
                    }
                    &.delete-link{
                        padding-left: 6px;
                    }
                }
                &.reciever{
                    width: 124px;
                    position: relative;
                    .name{
                        width: 42px;
                        word-break: break-all;
                    }
                }
                &.address{
                    width: 217px;
                }
                &.detailed-addr{
                    width: 192px;
                }
                &.tel{
                    width: 123px;
                }
            }
        }
        .new-add-addr{
            width: auto;
            height: 35px;
            line-height:35px;
            color: $color-gray;
            span{
                color: $link-hover;
            }
        }
    }
    .no-address{
        height: 385px;
        img{
            display: block;
            margin: 90px auto 0;
        }
        p{
            color: $font-grey-normal;
            padding-top: 8px;
            text-align: center;
        }
        a{
            display: block;
            font-size: $text16;
            margin: 28px auto 0;
        }
    }
}
