<!DOCTYPE html>
<html lang="zh-CN" data-use-rem="750">
<head>
	<meta charset="utf-8">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
	<link rel="stylesheet" type="text/css" href="/m/vh5/dist/css/index.css">
	<script type="text/javascript">
		var $CONFIG = {
		        userId: 0,//用户id，为0标识未登录
		        nickName:"",
		        avatar:"",
		        domain:"http://h5.v.dev.gomeplus.com/",
		    };
	</script>
</head>
<body>
	<%- include('../../common/rem.ejs')%>
	<%- include('../../common/head.ejs')%>
	<div id="videoList" class="video-list">
		<div class="nav-list">
			<a href="#">直播</a>
			<a href="#" style="background-image: url();">发现</a>
			<a href="#">礼物购</a>
			<a href="#">购明白</a>
			<a href="#">潮电</a>
			<a href="#">潮电</a>
		</div>
		<ul>
			<li class="list-item">
				<a href="#">
					<div class="item-img">
						<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg" alt="">
						<span class="item-flag"><i>06:28</i></span>
					</div>
					<h2 class="item-title">大自然赋予中国人自己的食物，带你回归自然的淳朴大自然赋予中国人自己的食物，带你回归自然的淳朴</h2>
					<p class="item-desc">茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。</p>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<div class="item-img">
						<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg" alt="">
						<span class="item-flag"><i>06:28</i></span>
					</div>
					<h2 class="item-title">大自然赋予中国人自己的食物，带你回归自然的淳朴大自然赋予中国人自己的食物，带你回归自然的淳朴</h2>
					<p class="item-desc">茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。</p>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<div class="item-img">
						<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg" alt="">
						<span class="item-flag"><i>06:28</i></span>
					</div>
					<h2 class="item-title">大自然赋予中国人自己的食物，带你回归自然的淳朴大自然赋予中国人自己的食物，带你回归自然的淳朴</h2>
					<p class="item-desc">茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。</p>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<div class="item-img">
						<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg" alt="">
						<span class="item-flag"><i>06:28</i></span>
					</div>
					<h2 class="item-title">大自然赋予中国人自己的食物，带你回归自然的淳朴大自然赋予中国人自己的食物，带你回归自然的淳朴</h2>
					<p class="item-desc">茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。茶有什么好看的?当时是干茶和汤色呀。干茶以条索整齐，色泽匀整，无过多碎末杂质的为上;粗细不一，色差明显的为下。</p>
				</a>
			</li>
		</ul>
	</div>

	<%- include('../../common/footer.ejs')%>
	<script src=" https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="/m/vh5/dist/js/vendor.js"></script>
	<script type="text/javascript" src="/m/vh5/dist/js/index.js"></script>
</body>
</html>

