doctype html
html(lang="zh-CN")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/base-zx.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/flagshop/shop.min.45f6b70a3e.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/flagshop/flagshop.css")
	script(src="../../js/zepto.min.js")
	body
		article.shop_cont.shop-active
			.banner-wrap
				section.banner.swiper#banner1
					ul
						li
							a(href="##")
								img(src="http://wx2.sinaimg.cn/mw600/752a3e1bly1ffwoqzgy8xj20f7065jwg.jpg")
						
						li
							a(href="##")
								img(src="http://wx2.sinaimg.cn/mw600/752a3e1bly1ffwoqzgy8xj20f7065jwg.jpg")
						li
							a(href="##")
								img(src="http://wx2.sinaimg.cn/mw600/752a3e1bly1ffwoqzgy8xj20f7065jwg.jpg")
						li
							a(href="##")
								img(src="http://wx2.sinaimg.cn/mw600/752a3e1bly1ffwoqzgy8xj20f7065jwg.jpg")
						li
							a(href="##")
								img(src="http://wx2.sinaimg.cn/mw600/752a3e1bly1ffwoqzgy8xj20f7065jwg.jpg")
			section.activity_fst.floor_photo
				a.ad_bar(href="##")
					img(src="http://wx2.sinaimg.cn/mw600/752a3e1bly1ffwoqzgy8xj20f7065jwg.jpg")
			section.prod_floor
				h4.vip_title
					i.line
					span.line_goods_name 单列商品
					i.line
				.content
					ul.loading
						li.hot_prod
							a(href="##")
								.img_bar
									img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
								.prod_info
									p.ellipsis.desc 浦诺菲（pivoful）PCR-12R读卡器（黑色）
									p.price
										i.price_ico ¥
										i.prod_info_blod 98
			section.prod_floor
				.content
					ul.loading
						li.item
							a(href="##")
								.img_bar
									img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
								.prod_info
									p.title.ellipsis_two.desc 海尔(Haier) 2匹P 定频 冷暖 圆柱立柜式空调 KFR-50LW/10UBC12U1
									p.price
										i.price_ico ¥
										i.prod_info_blod 5999
						li.item
							a(href="##")
								.img_bar
									img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
								.prod_info
									p.title.ellipsis_two.desc 海尔(Haier) 2匹P 定频 冷暖 圆柱立柜式空调 KFR-50LW/10UBC12U1
									p.price
										i.price_ico ¥
										i.prod_info_blod 5999
			section.prod_floor
				.content
					ul.loading
						- for(var x=0;x<4;x++)
							li.item
								a(href="##")
									.img_bar
										img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
									.prod_info
										p.title.ellipsis_two.desc 海尔(Haier) 2匹P 定频 冷暖 圆柱立柜式空调 KFR-50LW/10UBC12U1
										p.price
											i.price_ico ¥
											i.prod_info_blod 5999
			.flag-flex
				.flex-box.flex-two
					.t-t
						a(href="##").img
							img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
						a(href="##").txt
							span.dec 机械(Mechanic laptop blah blah blah blah blah blah blah blah blah blah blah blah blah)
							span.price ￥6688.00
					.t-b
						a(href="##").img
							img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
						a(href="##").txt
							span.dec 机械(Mechanic laptop blah blah blah blah blah blah blah blah blah blah blah blah blah)
							span.price ￥6688.00
				.flex-box.flex-one
					h3.title
						em
						span 超值单品
						em
					a(href="##").img
						img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
					a(href="##").txt
						span.dec 机械(Mechanic laptop blah blah blah blah blah blah blah blah blah blah blah blah blah)
						span.price ￥6688.00
			.flag-flex
				.flex-box.flex-one
					h3.title
						em
						span 超值单品
						em
					a(href="##").img
						img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
					a(href="##").txt
						span.dec 机械(Mechanic laptop blah blah blah blah blah blah blah blah blah blah blah blah blah)
						span.price ￥6688.00
				.flex-box.flex-two
					.t-t
						a(href="##").img
							img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
						a(href="##").txt
							span.dec 机械(Mechanic laptop blah blah blah blah blah blah blah blah blah blah blah blah blah)
							span.price ￥6688.00
					.t-b
						a(href="##").img
							img(src="http://wx1.sinaimg.cn/mw600/6925010dgy1fftw6cxjwdj20km0ixdit.jpg")
						a(href="##").txt
							span.dec 机械(Mechanic laptop blah blah blah blah blah blah blah blah blah blah blah blah blah)
							span.price ￥6688.00
			.tip-no-more
				i.line
				i.dot
				span.text 没有更多了
				.dot
				i.line
		span#gotop(data-gotop="true" data-icon="&#x0030" style="transform: rotate(0deg); -webkit-transform: rotate(0deg);")
		//轮播图模块个数
		input(type="hidden" value="2")#show_banner_num
		script(src="../../js/gome_base.js")
		script(src="../../js/gome_shop.min.js")
		script(type="text/javascript").
			$(function () {
				$('#gotop').gotop();
			})
			$(function () {
				var banner_num=document.getElementById("show_banner_num").value;
				if(banner_num>0){
					for(var i=1;i<=banner_num;i++){
						$('#banner'+i).swipeSlide({
							visibleSlides: 1,
							autoPlay: 2
						});
					}
				}
			})