extend ../../../../pc-widget/head/head-set.jade
block title
	title 年末轰趴季美食推荐-国美Plus
block description
	meta(name="description",content="嗨，每年一次的Party狂欢季又到了！圣诞、元旦、春节...各种数不清的大小聚会蜂拥而至，简直是分分钟逼死趴主的节奏啊！所谓众口难调，国美Plus特别精选了来自资深吃货口碑相传的零食和美酒特辑，轻松帮你搞定美食环节！搞定吃货，趴体才会更HAPPY呢！")
block css-file	
	link(type="text/css",rel="stylesheet",href="../../css/food/index.css")
block body
	body#part1
		.banner
			img(src="../../images/food/banner.png")
		.wrap-box
			h3.title
				img(src="../../images/food/title.png")
			.foodList.snacks
				h3
					img(src="../../images/food/snacks.png")
				p
					a(href="https://mall.gomeplus.com/item/17295-1957425.html" target="_blank")
						img(src="../../images/food/pic1_1.png")
				p
					a(href="https://mall.gomeplus.com/product/17295-1958505.html" target="_blank")
						img(src="../../images/food/pic1_2.png")
				p
					a(href="https://mall.gomeplus.com/item/17295-1819889.html" target="_blank")
						img(src="../../images/food/pic1_3.png")
				ul
					li
						a(href="https://mall.gomeplus.com/item/17295-1818557.html" target="_blank")
							img(src="../../images/food/list1_1.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-1957399.html" target="_blank")
							img(src="../../images/food/list1_2.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-1957411.html" target="_blank")
							img(src="../../images/food/list1_3.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-1817275.html" target="_blank")
							img(src="../../images/food/list1_4.png")
					li
						a(href="https://mall.gomeplus.com/product/17295-1819275.html" target="_blank")
							img(src="../../images/food/list1_5.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-1747769.html" target="_blank")
							img(src="../../images/food/list1_6.png")
					li
						a(href="https://mall.gomeplus.com/item/267-1207.html" target="_blank")
							img(src="../../images/food/list1_7.png")
					li
						a(href="https://mall.gomeplus.com/item/279-1459965.html" target="_blank")
							img(src="../../images/food/list1_8.png")
					li
						a(href="https://mall.gomeplus.com/item/279-1465.html" target="_blank")
							img(src="../../images/food/list1_9.png")
					li
						a(href="https://mall.gomeplus.com/item/279-1453.html" target="_blank")
							img(src="../../images/food/list1_10.png")
					li
						a(href="https://mall.gomeplus.com/item/279-1459931.html" target="_blank")
							img(src="../../images/food/list1_11.png")
					li
						a(href="https://mall.gomeplus.com/item/279-1459955.html" target="_blank")
							img(src="../../images/food/list1_12.png")
			.foodList.wine
				h3
					img(src="../../images/food/wine.png")
				p
					a(href="https://mall.gomeplus.com/item/17295-1817573.html" target="_blank")
						img(src="../../images/food/pic2_1.png")
				p
					a(href="https://mall.gomeplus.com/item/17295-2050489.html" target="_blank")
						img(src="../../images/food/pic2_2.png")
				p
					a(href="https://mall.gomeplus.com/item/335-4153.html" target="_blank")
						img(src="../../images/food/pic2_3.png")
				ul
					li
						a(href="https://mall.gomeplus.com/item/17295-2051501.html" target="_blank")
							img(src="../../images/food/list2_1.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-2050379.html" target="_blank")
							img(src="../../images/food/list2_2.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-1819221.html" target="_blank")
							img(src="../../images/food/list2_3.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-2050645.html" target="_blank")
							img(src="../../images/food/list2_4.png")
					li
						a(href="https://mall.gomeplus.com/item/17295-1820303.html" target="_blank")
							img(src="../../images/food/list2_5.png")
					li
						a(href="https://mall.gomeplus.com/item/335-3585.html" target="_blank")
							img(src="../../images/food/list2_6.png")
					li
						a(href="https://mall.gomeplus.com/item/335-4129.html" target="_blank")
							img(src="../../images/food/list2_7.png")
					li
						a(href="https://mall.gomeplus.com/item/335-3887.html" target="_blank")
							img(src="../../images/food/list2_8.png")
					li
						a(href="https://mall.gomeplus.com/item/335-3601.html" target="_blank")
							img(src="../../images/food/list2_9.png")
					li
						a(href="https://mall.gomeplus.com/item/335-4169.html" target="_blank")
							img(src="../../images/food/list2_10.png")
					li
						a(href="https://mall.gomeplus.com/item/335-4167.html" target="_blank")
							img(src="../../images/food/list2_11.png")
					li
						a(href="https://mall.gomeplus.com/item/335-4087.html" target="_blank")
							img(src="../../images/food/list2_12.png")
			.foodList.kitchen
				h3
					img(src="../../images/food/kitchen.png")			    	
				ul
					li
						a(href="https://mall.gomeplus.com/item/8451-1641561.html" target="_blank")
							img(src="../../images/food/list3_1.png")
					li
						a(href="https://mall.gomeplus.com/item/8451-11513.html" target="_blank")
							img(src="../../images/food/list3_2.png")
					li
						a(href="https://mall.gomeplus.com/item/8451-13495.html" target="_blank")
							img(src="../../images/food/list3_3.png")
					li
						a(href="https://mall.gomeplus.com/item/8451-1641925.html" target="_blank")
							img(src="../../images/food/list3_4.png")
			.top
				a(href="#part1")
							img(src="../../images/food/top.png")
		