doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/failCompany.css")
    body.opg
        include ../../widget/header/header-meihaoT.pug
        .fail-company
            .company-tempo.clearfix
                p 选择账号类型
                p.tempo-approve 完善企业认证信息
                p.tempo-perfect 完善账号信息
                p.tempo-success 开通成功
            .condition
                .condition-img
                    img(src="../../images/meihao/fail.jpg", alt="")
                p 您好，您的美众号申请审核未通过。原因：
                    span.cause 信息不完善
                    | .
            .info-cont
                .info.clearfix
                    p 美号头像
                    .head-img
                        img(src="../../images/meihao/head.jpg", alt="")
                .info.clearfix
                    p 美号名称
                    .info-name 男人帮
                .info.clearfix
                    p 美号标签
                    .info-label 时尚男人
                .info.clearfix
                    p 美号简介
                    .info-intro 
                        | 提供网友最爱看的、服装搭配、理容、泡妞、社会新闻、娱乐八卦、搞笑图片、幽默笑话、旅游等丰富健康的内容，提供男性网网友最爱看的、服装搭配、理容、泡妞、社会新闻、娱乐八卦、搞笑图
                .info.clearfix
                    p 绑定圈子
                    .info-circle 时尚圈
                h3 企业信息
                .info.clearfix
                    p 企业名称
                    .info-firm 北京 666信息科技有限公司
                .info.clearfix
                    p 营业执照注册号
                    .info-register 234123123123123123231
                .info.clearfix
                    p 营业执照
                    .info-license 
                        img(src="../../images/meihao/license.jpg", alt="")
                .info.clearfix
                    p 运营者姓名
                    .info-operate 老铁
                .info.clearfix
                    p 运营者身份证号
                    .info-identity 234123123123123123231
                .info.clearfix
                    p 运营者手机号
                    .info-phone 66666666666
                .info.clearfix
                    p QQ/微信/邮箱
                    .info-postbox QQ 6666666666
            .amend
                a(href="javascritp:;").amend-btn 修改资料


                    




