doctype html
html(lang="zh-CN")
	meta(charset="utf-8")
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/meihaoNoticList.css")
	body.opg
	include ../../widget/header/header-meihao.pug
	.content.clearfix
		h2 系统公告
		include ../../widget/list/notic-list.pug

