doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/meihaoLoading.css")
    body.opg
        include ../../widget/header/header-meihaoT.pug
        .sofort
            .sofort-load
                .load
                    p 欢迎使用美号创作平台，请先登录
                    div
                        a(href="javascript:;",data-node="login-btn") 立即登录
        .notice.clearfix
            .notice-cont 系统公告
            .notice-info 
                a(href="javascript:;",target="_blank") 这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告
            .notice-btn
                a(href="javascript:;",target="_blank") 查看更多
