doctype html 
html(lang="zh-CN")   
    meta(charset="utf-8") 
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/meihaoIndex.css")
    body.opg   
        include ../../widget/header/header-meihao.pug
        .ban
            p 您的美号已被停用，如需咨询请联系XXXX
