doctype html
html(lang="zh-CN")
	head
		link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
		link(type="text/css",rel="stylesheet",href="../../css/module/meihao_type.css")
		meta(charset="UTF-8")
		meta(name="renderer",content="webkit")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		meta(http-equiv="expires",content="0")
		title 美信网络技术有限公司
		meta(name="author",content="美信网络技术有限公司")
		meta(name="description",content="国美")
		meta(name="keywords",content="国美APP")
	body.opg
		include ../../widget/header/header-meihaoT.pug
		.beauty-band
			h2.beauty-b-title 请选择开通的账号类型
			.beauty-aboard.clearfix
				a.beauty-personal.cube(href="http://")
					div
						.beauty-p-avator
						.beauty-c-name 个人号
						.beauty-c-detail 以生产原创内容的个人、自媒体、知名媒体、导购网站、热门应用等为主体，提供角色认证、能力评估、内容生产引导、招投稿流通、数据分析等全面的创作服务；</br>适用个人、达人用户；
						.beauty-c-btn
							.beauty-c-btn-a 选择并继续
				a.beauty-company.cube(href="http://")
					div
						.beauty-c-avator  
						.beauty-c-name 企业号
						.beauty-c-detail 以企业账号为主体，提供内容生产、内容管理、内容投放等创作能力，及品牌券链路内容交易服务；便于企业宣传营销之用。</br>牌券链路内容交易服务；</br>便于企业宣传
						.beauty-c-btn
							.beauty-c-btn-a 选择并继续
			.beauty-footer
				i.beauty-f-font 若无法选择类型请查阅
					a(href="http://").beauty-f-link 帐号类型区别
