<div class="gome-top">
	<div id="gome-top-body" class="wbox">
		<ul>
			<li id="gome-plus-entry-link"><a data-code="public01056" href="//www.pre.gomeplus.com" target="_blank"><i class="icon-gome-plus-logo"></i>国美Plus</a></li>
			<li id="gome-entry-link"><a data-code="public01001" href="//www.atguat.com.cn/" target="_blank"><i class="icon-gome-logo"></i>国美在线</a></li>
			<li class="gome-spacer"></li>
			<li id="gome-user" data-load="user">
				<b id="loginDiv-name">Hi,&nbsp;<a data-code="public01054" href="//v.atguat.com.cn" target="_blank"><span class="sign-top-member-name">美美_821486969205121&nbsp;</span><em class="level-g1"></em><i></i></a></b>
				<div class="public-dropdown"></div>
			</li>
			<li id="loginDiv-link" class="gome-link"><a rel="nofollow" data-code="public01002" href="http://login.atguat.com.cn/login">请登录</a></li>
		</ul>
		<ul id="gome-top-right">
			<li class="gome-link"><a rel="nofollow" data-code="public01004" href="//myhome.atguat.com.cn/member/myOrder?flag=a0">我的订单</a></li>
			<li id="gome-mygome" data-load="mygome">
				<b><a rel="nofollow" data-code="public01050" href="//myhome.atguat.com.cn/member/profileHome?flag=a" target="_blank">我的国美</a><i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li class="gome-spacer"></li>
			<li class="gome-link"><a data-code="public01055" class="gome-link-ml10" rel="nofollow" href="//enterprise.gome.com.cn/">企业采购</a></li>
			<li id="gome-service" class="drop" data-load="service">
				<b><em class="gm-icon">f</em><a data-code="public01052" rel="nofollow" href="//help.gome.com.cn/" target="_blank">服务中心</a><i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li id="gome-sitemap" class="drop" data-type="b13" data-load="sitemap">
				<b>网站导航<i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li class="gome-spacer"></li>
			<li id="gome-phone" class="drop">
				<b><em class="gm-icon">á</em><a data-code="public01049" rel="nofollow" href="//shouji.gome.com.cn/" target="_blank">手机国美</a><i></i></b>
				<div class="public-dropdown">
					<a class="gome-plus-qrcode" data-code="public01057" href="//www.pre.gomeplus.com/others/download.html" target="_blank"></a>
					<i class="qrcode-spacer"></i>
					<a class="gome-qrcode" data-code="public01005" href="//shouji.gome.com.cn/" target="_blank"></a>
				</div>
			</li>
		</ul>
	</div>
</div>