<ul class="clearfix list-card">
	<% for(var i=0; i<24; i++) {%>
	<li>
		<div class="img">
			<a href="#">
				<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg"/>
				<span class="time">10:56</span>
			</a>
		</div>
		<a href="#" class="list-title">范爷唐嫣都在画的巴黎红唇妆，洋气高端上档次</a>
		<p class="desc">由国名老公陈伟霆为国美新产品也许奶酪包已out了，新的网红爱吃蛋糕，也喜欢运动...</p>
		<div class="num">
			<div class="fl">
				<em class="icon-15"></em>
				<span>808071</span>
			</div>
			<div class="fr">
				<span>2017.01.12</span>
			</div>
		</div>
		<a href="#" class="list-name">
			<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" />
			<span>朕不是刁民</span>
		</a>
	</li>
	<% } %>
</ul>

