<ul class="clearfix list-card">
	<% for(var i=0; i<6; i++) {%>
	<li>
		<div class="img">
			<a href="#">
				<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg"/>
				<em class="icon-13"></em>
				<span class="time">10:56</span>
				<span class="offline">已下线</span>
			</a>
		</div>
		<a href="#" class="list-title">范爷唐嫣都在画的巴黎红唇妆，洋气高端上档次</a>
		<div class="num">
			<a href="#" class="list-name">
				<img src="https://i9.meixincdn.com/v1/img/T12FdTBKDv1RXrhCrK.jpg" />
				<span>朕不是刁民</span>
			</a>
			<div class="fr">
				<em class="icon-15"></em>
				<span>808071</span>
			</div>
		</div>
	</li>
	<% } %>
</ul>

