<div class="user-home-banner">
	<div><img class="bg" src="<%=devenv%>dist/imgs/public/user-bg.jpg" /></div>
	<div class="user clearfix">
		<div class="avatar fl">
			<img src="https://www.terlici.com/img/posts/2014-08-25-best-practices-express-structure-750x400.jpg" />
		</div>
		<div class="name fl">刁蛮任性小公主</div>
	</div>
</div>