extends ../../../pc-widget/head/head-set.jade
block title
	title 自动化管理平台
	meta(name="author",content="国美plus")
block css-file 
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/page.css")
	script(type="javascript" src="http://code.jquery.com/jquery-1.4.2.js")
block body
	body.opg
		.header
			img(src="../../images/log.jpg").log
			div.head-right
		.con-box
			.sider
				ul.list
					li.curr
						em.icon-1
						span.name 分类管理
						em.icon-2
						ol.sub 
							li
								a(href="#") 项目1
							li
								a(href="#") 项目1
							li
								a(href="#") case
					li 
						em.icon-1
						span.name 分类管理2
						em.icon-2
						ol.sub 
							li
								a(href="#") 项目1
							li
								a(href="#") 项目1
							li
								a(href="#") 项目3
					li 
						em.icon-1
						span.name 分类管理2
						em.icon-2
						ol.sub 
							li
								a(href="#") 项目1
							li
								a(href="#") 项目1
							li
								a(href="#") 项目3
					li 
						em.icon-1
						span.name 分类管理2
						em.icon-2
						ol.sub 
							li
								a(href="#") 项目1
							li
								a(href="#") 项目1
							li
								a(href="#") 项目3 
			.right-content
				.right-box
					.index
						img(src="../../images/pic-1.jpg").pic
						h2 欢迎使用自动化平台

		