.page
	a(href="#", title="上一页").pageup.pageup-dis.disabled 上一页
		em
	a(href="#").active 1
	a(href="#") 2
	a(href="#") 3
	a(href="#") 4
	a(href="#") 5
	span ...
	a(href="#") 115
	a(href="#", title="下一页").pagedown 下一页
		em
