div.menu
	div.wrap-box.clearfix
		div.nav
			a(href="#").active 首页
			a(href="#") APP下载
				div.down-ma
					div.sanjiao
					img(src="../../images/public/ma1.jpg",width="150")
					p 扫一扫，快速加入国美
		//			
			div.index-regist
				// em.icon.icon-user.iconn-14
				a(href="#") 注册
				| |
				a(href="#") 登录
			div.index-login
				.index-login-head
					em.icon-daren
					img(src="https://css.meixincdn.com/m/h5/dist/images/newHome/nav-ticket.png")
				span 飞翔的企鹅
				div.login-link
					div.sanjiao
					a(href="#") 我的收藏
					a(href="#") 我的话题
					a(href="#") 我的圈子
					a(href="#") 收货地址
					a(href="#") 个人设置