extends ../public/head.jade
block title
	title 选择公司
block link-theme
	link(rel='stylesheet' type="text/css" href="../../css/module/employeebind/employeebind.css")
block content
	//- js
	include ../public/mobileJs.jade
	.banner 国美 Plus 邀请你来赚大钱
	.bind-infor
		.header-module.header-module_gray
			span 员工信息绑定
		ul.form-list
			li.list-item.list-item_color
				em.icon.icon-person
				input.input-style(type="text" placeholder="请输入真实姓名")
			li.list-item.list-item_color
				em.icon.icon-id
				input.input-style(type="text" placeholder="请输入员工编号")
			li.list-item
				em.icon.icon-company
				em.icon.iconn-41
				input.input-style(type="text" placeholder="请选择所属公司")
		.notice
			span *
			| 总部将通过此帐号考核您的业绩，请认真填写。如因信息错误产生的后果，请自行承担。
		a.button.button-primary(href="javascript:;") 查询信息
	.master
	.pop-panel(style="bottom:0;")
		.pop-panel_hd
			span.input-search
				input.input-style(type="text" placeholder="请选择所属公司")
		.pop-panel_bd
			ul
				li.pop-panel_item 国美电器3
				li.pop-panel_item 国美互联网生态
				li.pop-panel_item 安迅物流
				li.pop-panel_item 申通快递
				li.pop-panel_item 韵达快递
				li.pop-panel_item 天天快递
				li.pop-panel_item 安迅物流
				li.pop-panel_item 申通快递
				li.pop-panel_item 韵达快递
				li.pop-panel_item 天天快递