<div class="menu">
	<ul class="clearfix">
		<li>
			<a href="#" class="active">
				<em class="icon-1"></em>
				<span>上传视频</span>
			</a>
		</li>
		<li>
			<a href="#">
				<em class="icon-1"></em>
				<span>视频管理</span>
			</a>
		</li>
		<li>
			<a href="#">
				<em class="icon-1"></em>
				<span>订阅号管理</span>
			</a>
		</li>
		<li>
			<a href="#">
				<em class="icon-1"></em>
				<span>权限申请</span>
			</a>
		</li>
	</ul>
</div>