//- file.jade
//- ##----------------------------------
div.uplode-file
	a(href="#").btn.btn-normal 上传商家资质
	input(type="file").file-input
span.form-text.mgl1 未选择任何文件
span.form-gray-text 图片大小不超过500k，仅支持jpg、png格式