//- header.jade
div.amp-header
	div.header-logo
		a(href="#",title="") gomeplus
	div.header-nav
		ul
			li
	div.header-login
		a(href="#",title="").login-after
			span.after-face
				img(src="../../images/public/user-face.png",alt="")
			span.after-username 广告商
			em.icon.icon-arrow
		//- dialog
		div.dialog.dialog-black.arrow.arrow-black
			ul
				li
					a(href="#",title="") 退出
