//- menu.jade
block menu
	div.content-menu
		ul
			li.actived
				div.menu-header
					a(href="#",title="")
						em.icon.icon-computer
						span.header-text 广告报表
			li
				div.menu-header
					a(href="#",title="")
						em
						em.icon.icon-manifest
						span.header-text 返利报表
