//- menu.jade
block menu
	div.content-menu
		ul
			li
				div.menu-header
					a(href="#",title="")
						em.icon.icon-arrow
						em.icon.icon-account
						span.header-text 我的账户
			li
				div.menu-header
					a(href="#",title="")
						em.icon.icon-arrow
						em.icon.icon-manage
						span.header-text 账户管理
				div.menu-second
					a(href="#",title="") 联系方式
			li
				div.menu-header
					a(href="#",title="")
						em.icon.icon-letter
						span.header-text 站内信
			li
				div.menu-header
					a(href="#",title="")
						em.icon.icon-balance
						span.header-text 余额提醒
			li
				div.menu-header
					a(href="#",title="")
						em.icon.icon-aptitude
						span.header-text 商家资质
			li.actived
				div.menu-header
					a(href="#",title="")
						em.icon.icon-verify
						span.header-text 广告审核规范
			li
				div.menu-header
					a(href="#",title="")
						em.icon.icon-arrow
						em.icon.icon-agreement
						span.header-text 用户协议
