//- table.jade
//- ##----------------------------------
table.table
	tr
		th(width="47")
			span 
				em.icon.icon-select
		th
			span 媒体名称
		th
			span 广告位名称
		th(width="140")
			span 刊例价
		th(width="140")
			span 创意尺寸限制
		th(width="140")
			span 创意大小限制
	tr.actived
		td
			span
				em.icon.icon-select
		td
			span 我是媒体名称
		td
			span 我是广告位名称
		td
			span 1000
		td
			span 1990*400
		td
			span 50K
	tr
		td
			span
				em.icon.icon-select
		td
			span 我是媒体名称
		td
			span 我是广告位名称
		td
			span 1000
		td
			span 1990*400
		td
			span 50K
	tr
		td
			span
				em.icon.icon-select
		td
			span 我是媒体名称
		td
			span 我是广告位名称
		td
			span 1000
		td
			span 1990*400
		td
			span 50K
