doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/user-goods.css")
	body.opg
		include ../../widget/header/header.pug
		include ../../widget/menu/menu.pug
		.meidian-banner
			.meidian-banner-content
		.wrap-box.clearfix
			ul.meidian-naver
				li
					a(href="javascript:;" target="_blank").active 我的美店
				li
					a(href="javascript:;" target="_blank") 好货推荐
				li
					a(href="javascript:;" target="_blank") 美店预览
			.user-right.mart20
				.user-goods-crumbs.clearfix
					span.title 您的位置：
					a(href="javascript:;") 我的国美
					span &nbsp;>
					a(href="javascript:;") 我的美店
					span &nbsp;>
					a(href="javascript:;") 好货推荐
				.user-goods-tabBox
					.user-goods-tab
						a(href="javascript:;").active 精选
						a(href="javascript:;") 销量
						a(href="javascript:;") 佣金
						a(href="javascript:;") 人气
				.user-goods-content
					.user-goods-list.clearfix.J-goods-list
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-up.J-good-sold  上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
				a(href="javascript:;").user-goods-getMore.user-goods-normal.J-goods-getMore 没有更多商品了
				a(href="javascript:;").user-goods-getMore.J-goods-getMore
					span.user-goods-moreLogo
						span.user-goods-moreIcon 点击加载更多商品
				a(href="javascript:;").user-goods-getMore.J-goods-getMore
					span.user-goods-moreLoding 加载中...
		include ../../widget/footer/footer.pug