//- extends layout.jade
extends ../../../widget-platform/pug/layout/layout-m.jade

//- index
block content
	//- cell-1
	div.platform-content
		h3.platform-header cell
		div.platform-intro
			p 积极维护中...
		//- div.platform-example#cell
		//- 	include ../../../../m-widget/cell/cell.jade
		//- pre.platform-pre.hide
		//- 	code.platform-code#cell_code
		//- 	span.platform-jade pug
		//- 	span.platform-jade.platform-html.actived html
	script(type='text/javascript').
		//- HtmlFormat.init(['cell'],false,'_code','html','span.platform-jade');
		$(".platform-cell").parent('li').addClass("actived");

