<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/main.css">
</head>
<body>
	<!-- main -->
	<div class="drop-down">
		<dl>
			<dt>审核成功</dt>
			<dd class="arrow-down">V</dd>
			<dd class="arrow-up">^</dd>
		</dl>
		<ul>
			<li class="active">全部</li>
			<li>审核中</li>
			<li>审核失败</li>
			<li>审核成功</li>
			<li>转码失败</li>
		</ul>
	</div>
	<div class="apply-wrap">
		<div class="apply-fail">
			<h2>审核失败原因</h2>
			<p>
				<span>1.申请人简介请认真填写</span>
				<span>2.作品简介请认真填写</span>
				<span>3.微信号有误，请认真核对</span>
			</p>
		</div>
		<div class="apply-content">
			<div class="apply-head">
				<h2>美秒视频申请资料</h2>
			</div>


			<div class="apply-status-tips">
				<div class="status-img received-img"></div>
				<div class="status-title">提交成功</div>
				<div class="status-tip">申请资料审核中，请耐心等待...</div>
			</div>
			<div class="apply-status-tips">
				<div class="status-img fail-img"></div>
				<div class="status-title">审核失败</div>
				<div class="status-tip">资料审核失败，快去 <a href="#">修改审核资料</a> 吧!</div>
			</div>
			<div class="apply-status-tips">
				<div class="status-img success-img"></div>
				<div class="status-title">审核成功</div>
				<div class="status-tip">恭喜！资料审核已成功，快去 <a href="#">上传视频</a> 吧!</div>
			</div>


			<div class="apply-form">
				<div class="apply-title">申请人资料</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						申请人名称：
					</label>
					<div class="form-input">
						<input class="input-text" disabled type="text" placeholder="2-20个汉字或字母"/>
						<p class="error show">请填写2-20个字 （汉字或字母）的申请人名称</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						申请人简介：
					</label>
					<div class="form-input">
						<textarea class="input-textarea" placeholder="5-50个汉字，字母或符号"></textarea>
						<p class="error hide">请填写5-50个字（汉字，字母或字符）的申请人简介</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						作品简介：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error show">请填写5-50个字（汉字，字母或字符）的作品简介</p>
					</div>
				</div>

				<div class="apply-title">联系信息</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						联系人姓名：
					</label>
					<div class="form-input">
						<input class="input-text" disabled type="text" placeholder="2-20个汉字或字母"/>
						<p class="error show">请填写2-20个字 （汉字或字母）的申请人名称</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						手机号：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error hide">请填写5-50个字（汉字，字母或字符）的申请人简介</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						微信号：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error show">请填写5-50个字（汉字，字母或字符）的作品简介</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						邮箱：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error show">请填写5-50个字（汉字，字母或字符）的作品简介</p>
					</div>
				</div>

				<div class="apply-title">辅助材料</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						公司或组织名称：
					</label>
					<div class="form-input">
						<input class="input-text" disabled type="text" placeholder="2-20个汉字或字母"/>
						<p class="error show">请填写2-20个字 （汉字或字母）的申请人名称</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						公司网站：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error hide">请填写5-50个字（汉字，字母或字符）的申请人简介</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						作品链接1：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error show">请填写5-50个字（汉字，字母或字符）的作品简介</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						作品链接2：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error show">请填写5-50个字（汉字，字母或字符）的作品简介</p>
					</div>
				</div>
				<div class="form-group">
					<label>
						<span class="color-rad">*</span>
						作品链接3：
					</label>
					<div class="form-input">
						<input class="input-text" type="text" placeholder="5-50个汉字，字母或符号" value=""/>
						<p class="error show">请填写5-50个字（汉字，字母或字符）的作品简介</p>
					</div>
				</div>

				<div class="apply-submit">
					<button class="btn">提交审核</button>
				</div>
			</div>
		</div>
	</div>
	


	<!-- main -->
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/main.js"></script>
</body>
</html>