.list-title-box
	h2.fight-title
	a(href="javascript:;").all-list-title
dl.list.user-list
	dt
		em.top-three.first 1
		figure.user-head
			img(src="../../images/gomeplus/role-girl.png")
	dd
		.name
			h3
				span.user-name 奥巴马
				span.user-tag 粉丝
					em.triangle
			span.dd-b-txt持家小妇人
		.count
			span.points 99.86
			span.dd-b-txt 国美币
dl.list
	dt
		em.top-three.second 2
		figure.user-head
			img(src="../../images/gomeplus/role-girl.png")
	dd
		.name
			h3
				span.user-name 奥巴马马
				span.user-tag 粉丝
					em.triangle
			span.dd-b-txt持家小妇人
		.count
			span.points 99.85
			span.dd-b-txt 比前一天下降
				span 3
				| 名
dl.list
	dt
		em.top-three.third 3
		figure.user-head
			img(src="../../images/gomeplus/role-girl.png")
	dd
		.name
			h3
				span.user-name 奥巴马马马
				span.user-tag 粉丝
					em.triangle
			span.dd-b-txt持家小妇人
		.count
			span.points 99.84
			span.dd-b-txt 与前一天持平
dl.list
	dt
		em 4
		figure.user-head
			img(src="../../images/gomeplus/role-girl.png")
	dd
		.name
			h3
				span.user-name 奥巴马
				span.user-tag 粉丝
					em.triangle
			span.dd-b-txt持家小妇人
		.count
			span.points 99.83
			span.dd-b-txt 与前一天持平
p.bottom-txt 您的好友太少了，人多点才能玩的high嘛
a.xin-btn.orange-btn.know-more-btn(href="javascript:;") 点我去认识更多好友



