h4.voice-tip 
    em.iconmoon &#xe90a;
    奥巴马3号已经完成文物升级为炸弹国王
section.task-top
    img(src="../../images/gomeplus/share-rb-tl.png").task-title
    a.task-tip
    div.task-img
        img(src="../../images/gomeplus/role-girl.png")
    span.task-span 首先你得有个昵称
    p.task-para 
        span 当前任务：
        span.task-r
            | 14天分享并被购买
            span.red 6
            | 订单，奖励
            span.red 50
            | 国美币
    p.task-para 
        span 当前任务：
        span.task-r
            | 14天分享并被购买
            span.red 6
            | 订单，奖励
            span.red 50
            | 国美币
    a.time-mission(href="javascript:;")
        .time-all
            i.icon-time
            span 3
            | 天
            span 4
            | 小时
            span 32
            | 分
            span 28
            | 秒
        p.menu-num
            | 还需分享
            em.nums 2
            | 单
        p.do-mission 做任务
    .task-handle
        a(href="javascript:;").btn-ac
        a(href="javascript:;").btn-waive