doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/404.css")
	body.opg
		include ../../../pc-widget/header/header.jade
		include ../../../pc-widget/menu/menu.jade
		.wrong
			img(src="../../images/public/404-2.png")
			p
				span 抱歉！服务器君正在打盹
				span 请返回
					a(href="##") 首页
					| 查看
		.wrong
			img(src="../../images/public/404-4.png")
			p
				span 抱歉！该话题已被删除
				span 请返回
					a(href="##") 首页
					| 查看
		.wrong
			img(src="../../images/public/404-3.png")
			p
				span 抱歉！该圈子已被解散
				span 请返回
					a(href="##") 首页
					| 查看
		.wrong
			img(src="../../images/public/404-1.png")
			p
				span 抱歉！该圈子审核未通过
				span 请返回
					a(href="##") 首页
					| 查看
		.wrong
			img(src="../../images/public/404-5.png")
			p
				span 抱歉！该话题审核未通过
				span 请返回
					a(href="##") 首页
					| 查看
		include ../../../pc-widget/footer/footer.jade