doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/feedback.css")
	body.opg
		.feedback-suc
			| 您的反馈已收到，感谢您的支持！
			br
			span 2
			| 秒后自动关闭