doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	body.opg
		include ../../../pc-widget/dialog/pop.jade