doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/ruzhu/ruzhu.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
	body.opg.ruzhu
		include ../../../m-widget/head/rem.jade
		<!--header-->
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 商家入驻须知 
		section.plaintext
			h1 商家入驻须知
			p 
				b 您即将入驻的第三方平台业务由“国美在线电子商务有限公司（www.gome.com.cn）”经营并提供技术服务。
			p 欢迎您申请加入国美在线，国美在线秉承“信”的宗旨、“被信任是一种快乐”是我们价值方向，为了建立文明诚信、和谐共赢的平台，给广大用户提供最优质的商品及服务，请仔细阅读以下说明：
			h2 一、入驻须知：
			p 1、请确保您的企业营业执照、组织机构代码证、银行开户许可证、税务登记证、一般纳税人资格证均真实有效。
			p 2、请确保您所拥有的品牌真实有效或已获得相关授权。
			p 3、请确保您所售商品已取得国家规定的相关行业资质。
			p 
				| 4、了解更多行业资质细则，
				a.c-79(href="http://help.gome.com.cn/question/233.html") 详情请见
			h2 二、关于国美在线积分规则与规范：
			p 
				| 1、请仔细阅读国美在线平台总则， 
				a.c-79(href="http://help.gome.com.cn/question/249.html") 详情请见
			p 
				| 2、遵守国美在线商家积分管理规则， 
				a.c-79(href="http://help.gome.com.cn/question/355.html") 详情请见
			p 
				| 3、遵守国美在线店铺运营管理规范， 
				a.c-79(href="http://help.gome.com.cn/question/279.html") 详情请见
			p 
				| 4、更多规则与规范请请登录， 
				a.c-79(href="http://help.gome.com.cn/seller") 帮助中心 
				| 查看