doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/ruzhu/ruzhu.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
	body.opg.ruzhu
		include ../../../m-widget/head/rem.jade
		<!--header-->
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 选择类目
		<!--选择类目-->
		section.ruzhu-classify.c-6
			ul
				li.bor-b 文化艺术
				li.bor-b 装修服务
				li.bor-b 建材
				li.bor-b 数码
				li.bor-b 服饰鞋帽
				li.bor-b 箱包奢品
				li.bor-b 运动户外
				li.bor-b 钟表首饰
				li.bor-b 汽车用品
				li.bor-b 家具
				li.bor-b 家居日用
				li.bor-b 家纺寝居
				li.bor-b 美妆个护
				li.bor-b 母婴玩具
				li.bor-b 食品
				li.bor-b 保健健康
				li.bor-b 图书音像
