doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/ruzhu/ruzhu.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
	body.opg.ruzhu
		include ../../../m-widget/head/rem.jade
		<!--header-->
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 邀请商户入驻返利说明
		section.plaintext
			h2 1.推荐码的用途？
			p 答：当A用户邀请B商家入驻国美Plus时，B商家输入A用户提供的邀请码，并且入驻成功，则A用户可获得国美Plus提供的返利金额。