doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/usercenter.css")
	body.opg
		include ../../widget/header/header.pug
		include ../../widget/menu/menu.pug
		.wrap-box.mart20.clearfix
			include ../../widget/slider/slider.pug
			.user-right
				.coupons-tab
					a(href="javascript:;").active
						| 未使用
						span （5）
					a(href="javascript:;")
						| 已使用
						span （5）
					a(href="javascript:;")
						| 已过期
						span （5）
				.user-coupons
					ul.clearfix
						li
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
						li.red
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
						li.fail
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
						li
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
						li.red
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
						li.fail
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
						li.overdue
							em.icon-weigq
							.img-head
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								em ￥ 
								span 200 
								p.pa 店铺券
							.coupons-text
								p
									| 发行店铺：
									a(href="#") Converse官方旗舰店
								p
									| 使用条件：
									span 在本店购物满899元可用
								p
									| 有效期：
									span 2016.04.18－2016.05.28
							.cover
							.bg-head
				.no-topic
					.txt.clearfix
						em.icon.iconn-58
						p 
							span
								| 暂时没有国美＋优惠券哦~
		include ../../widget/footer/footer.pug