doctype html
html(lang="zh-CN")
    include ../../widget/head/head.pug
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/usercenter.css")
    body.opg
        include ../../widget/header/header.pug
        include ../../widget/menu/menu.pug
        .wrap-box.wrap-boxS.clearfix
            .order-side-bar.mart24
                h3 社交
                ul
                    li
                        a(href="javascript:;") 我的圈子
                    li
                        a(href="javascript:;") 我的话题
            .user-right
                .crumbs
                    span 您的位置：
                    span
                        a(target="_blank", href="#") 我的国美
                    em &gt;
                    span
                        a(target="_blank", href="#") 社区
                    em &gt;
                    span 我的话题
                .user-content-tops.clearfix
                    h4 我的圈子
                    a(href="javascript:;", data-action="create-circle", target="_blank", data-href="http://group.pre.gomeplus.com/index/create") + &nbsp;创建圈子
                div.user-content.new-user-content.clearfix
                    div.usershop-title
                        div.left-tab
                            a(href="javascript:;").active 我创建的圈子
                            a(href="javascript:;") 我加入的圈子
                    div.content-tab
                        div.content-info
                            div.circle-index-list.topic-list.clearfix
                                div.circle-box
                                    em.icon-del
                                    div.mg-negative
                                        div.list-img
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    em.icon-del
                                    div.mg-negative
                                        div.list-img
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    em.icon-del
                                    div.mg-negative
                                        div.list-img
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    em.icon-del
                                    div.mg-negative
                                        div.list-img
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    em.icon-del
                                    div.mg-negative
                                        div.list-img
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                            div.no_circle
                                span 你还没有加入任何圈子，赶快
                                a(href="#") 去逛逛
                                span 吧～
                    div.content-tab.none
                        div.content-info
                            div.circle-index-list.topic-list.clearfix
                                div.circle-box
                                    div.mg-negative
                                        div.list-img
                                            div.author.clearfix
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                                span 美好的日子
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    div.mg-negative
                                        div.list-img
                                            div.author.clearfix
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                                span 美好的日子
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    div.mg-negative
                                        div.list-img
                                            div.author.clearfix
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                                span 美好的日子
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    div.mg-negative
                                        div.list-img
                                            div.author.clearfix
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                                span 美好的日子
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                                div.circle-box
                                    div.mg-negative
                                        div.list-img
                                            div.author.clearfix
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                                span 美好的日子
                                            a(href="javascript:;")
                                                img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
                                            div.list-box
                                                p.list-title
                                                    a(href="#") 空想家
                                                div
                                                    span.marr28 成员：110
                                                    span 话题：238
                            div.no_circle
                                span 你还没有创建圈子，快
                                a(href="#") 创建圈子
                                span 吧～
        include ../../widget/footer/footer.pug