@charset "UTF-8";
/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
/*reset css*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  /*清除移动端默认的点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置以边框开始计算宽度*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Microsoft YaHei",sans-serif;
  /*设备默认字体*/
  color: #333; }

a {
  color: #333;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul, ol {
  list-style: none; }

input {
  border: none;
  outline: none;
  /*清除移动端默认的表单样式*/
  -webkit-appearance: none; }

/*common css*/
.f_left {
  float: left; }

.f_right {
  float: right; }

.clearfix::before, .clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.ocrop {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  background-color: #fff; }

.sk-fading-circle {
  position: absolute; }

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-fading-circle .sk-circle .sk-circle-indicator {
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1s infinite ease-in-out both; }

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-fading-circle .sk-circle2 .sk-circle-indicator {
  -webkit-animation-delay: -.91667s;
  animation-delay: -.91667s; }

.sk-fading-circle .sk-circle3 .sk-circle-indicator {
  -webkit-animation-delay: -.83333s;
  animation-delay: -.83333s; }

.sk-fading-circle .sk-circle4 .sk-circle-indicator {
  -webkit-animation-delay: -.75s;
  animation-delay: -.75s; }

.sk-fading-circle .sk-circle5 .sk-circle-indicator {
  -webkit-animation-delay: -.66667s;
  animation-delay: -.66667s; }

.sk-fading-circle .sk-circle6 .sk-circle-indicator {
  -webkit-animation-delay: -.58333s;
  animation-delay: -.58333s; }

.sk-fading-circle .sk-circle7 .sk-circle-indicator {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s; }

.sk-fading-circle .sk-circle8 .sk-circle-indicator {
  -webkit-animation-delay: -.41667s;
  animation-delay: -.41667s; }

.sk-fading-circle .sk-circle9 .sk-circle-indicator {
  -webkit-animation-delay: -.33333s;
  animation-delay: -.33333s; }

.sk-fading-circle .sk-circle10 .sk-circle-indicator {
  -webkit-animation-delay: -.25s;
  animation-delay: -.25s; }

.sk-fading-circle .sk-circle11 .sk-circle-indicator {
  -webkit-animation-delay: -.16667s;
  animation-delay: -.16667s; }

.sk-fading-circle .sk-circle12 .sk-circle-indicator {
  -webkit-animation-delay: -83.33ms;
  animation-delay: -83.33ms; }

@-webkit-keyframes sk-circleFadeDelay {
  0%, 100%, 39% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@keyframes sk-circleFadeDelay {
  0%, 100%, 39% {
    opacity: 0; }
  40% {
    opacity: 1; } }

.croppa-container {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  font-size: 0;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.croppa-container canvas {
  -webkit-transition: all .3s;
  transition: all .3s; }

.croppa-container:hover {
  opacity: .7; }

.croppa-container.croppa--dropzone {
  -webkit-box-shadow: inset 0 0 10px #333;
  box-shadow: inset 0 0 10px #333; }

.croppa-container.croppa--dropzone canvas {
  opacity: .5; }

.croppa-container.croppa--disabled-cc:hover, .croppa-container.croppa--disabled:hover, .croppa-container.croppa--has-target:hover {
  opacity: 1; }

.croppa-container.croppa--disabled-cc {
  cursor: default; }

.croppa-container.croppa--has-target {
  cursor: move; }

.croppa-container.croppa--has-target.croppa--disabled-mz {
  cursor: default; }

.croppa-container.croppa--disabled {
  cursor: not-allowed; }

.croppa-container svg.icon-remove {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  -webkit-filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.7));
  z-index: 10;
  cursor: pointer;
  border: 2px solid #fff; }

.croppa-container {
  border-radius: 2%; }
