doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		meta(name="renderer",content="webkit")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		meta(http-equiv="expires",content="0")
		block title
			title 美信网络技术有限公司
		meta(name="author",content="美信网络技术有限公司")
		block description
			meta(name="description",content="国美")
		block keywords
			meta(name="keywords",content="国美")
		block css-file
			link(type="text/css",rel="stylesheet",href="../../v1.1.4/pc/src/css/public/public.css")
			link(type="text/css",rel="stylesheet",href="../css/index.css")
	block body
		body