/* sublist */
@import "../../base/public.scss";
@import "../../widgets/list-card.scss";
@import "../../widgets/page.scss";
.fl{
	float:left;
}
.fr{
	float:right;
}
.of{
	overflow: hidden;
}
body{
	background:#fff;
}
.navBtn{
	padding-top:16px;
	border-bottom:1px solid #e7e7e7;
	li{
		position : relative;
		font-size:18px;
		margin-right:60px;
		a{
			cursor:pointer;
			color:#666666;
			line-height: 46px;
			border-bottom:1px solid #fff;
			display:inline-block;
		}
	}
	li.active{
			a{
				color:#ec392a;
			}
			&:after{
				content:'';
				width:16px;
				height:2px;
				background-color: #ec392a;
				position:absolute;
				left:50%;
				margin-left:-8px;
				bottom:-1px;
				display:block;
			}
		}
}
.userMsg{
	padding-bottom:20px;

	.userImg 
	{
		padding-top:20px;
		img{
			border-radius :50%;
		}
	}
	.userDetails{
		padding-left:20px;
		padding-top:20px;
		.userName a{
			font-size:16px;
			color:#333333;
			cursor:pointer;
			&:hover{
				color:#ec392a;
			}
		}
		.introMsg{
			font-size:14px;
			color:#808080;
		}
		.likeNum{
			font-size:12px;
			color:#808080;
			span{
				color:#333333;
			}
		}

	}
	.subscribe-btn{
		text-align:center;
		float:right;
	    width:90px;
	    height:34px;
	    line-height:34px;
	    font-size:14px;
	    border:1px solid #ec392a;
	    border-radius:17px;
	    cursor:pointer;
	    margin:32px auto 0 auto;
	    span{
	        color:#ec392a;
	    }
	    em,b{
	        display:none;
	    }
	    
	    
	}
	.subscribe-btn.active{
		    background:#e1e2e5;
		    border-color:#e1e2e5;
		    span{
		        display:none;
		    }
		    em{
		        display:inline;
		        color:#666;
		    }
		    
		     
		}
}

.c:hover{
        background:#ec392a;
	        span{
	            color:#FFF;
	        }
}

.active.acAdd:hover{
		background:#ec392a;
		border-color:#ec392a;
	    em{
	        display:none;
	    }
	    b{
	        display:inline;
	        color:#fff;
	        font-weight:normal;
	    }
}














