/* my-collect */
@import "../../base/public.scss";
@import "../../widgets/user/home-banner.scss";
@import "../../widgets/user/home-nav.scss";
@import "../../widgets/list-card.scss";

@import "../../components/indicator.scss";
@import "../../components/uc-nodata.scss";
@import "../../components/click-load.scss";

.user-home{
	.content{
		margin-top: 40px;
    	margin-bottom: 50px;
    	.main{
    		width: 895px;
    		margin-left: 40px;
            .indicator{
                margin-top: 80px;
            }
    		.list-card li{
    			margin-bottom: 24px;
    		}
    		.no-data.col{
                background: url(../../../imgs/public/no-data-collect.png) 50% 50% no-repeat;
            }
    	}
	}
}