/* index */
@import '../../components/_app';
@import '../../base/public';
@import "../../components/scroll-load.scss";
@import '../../components/pullToRefresher';
@import '../../components/card.scss';
@import '../../components/topTitle.scss';

body, html {
    background-color:#fff;
    min-height: 100%;
}

.no-more{
    margin-top: rem(-30);
    background: #fff;
}

.list-item .item-title{
    margin-bottom: rem(20);
}
.head-bar{
    text-align: center;
    .fl{
        float: none;
    }
}
