doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/usercenter.css")
	body.opg
		.dr-bg
			a(href="##").back-to-index
			.dr-plan
				p.plan-t “国美Plus”达人招募计划正式开始了，只要你够优秀、够突出、够自信，就可以随时入驻社交与电商并驾齐驱的“国美Plus”
				p.plan-b 1、建立个人专属圈子：发布图文或者视频内容，提高个人影响力，圈粉无数。
				p.plan-b 2、打造达人专属店铺：达人推广商品，分销商品均可获得比普通用户更多的利益。
				p.plan-b 3、多渠道联合推广：借助国美Plus优势，我们会定期组织各种线上，线下品牌活动，优先邀请达人参加，打造达人影响力，实现个人价值。
			h3.dr-sprites.dr-title.dr-title1 达人特权
			.dr-privilege.clearfix
				dl.privilege1
					dt.dr-sprites.privilege-logo.logo1
					dd.privilege-txt 达人专属标识
				dl.privilege2
					dt.dr-sprites.privilege-logo.logo2
					dd.privilege-txt 内容优先推荐
				dl.privilege3
					dt.dr-sprites.privilege-logo.logo3
					dd.privilege-txt 专访专栏推荐
				dl.privilege4
					dt.dr-sprites.privilege-logo.logo4
					dd.privilege-txt 活动优先参与
				dl.privilege5
					dt.dr-sprites.privilege-logo.logo5
					dd.privilege-txt 不定期有偿约稿
				dl.privilege6
					dt.dr-sprites.privilege-logo.logo6
					dd.privilege-txt 产品优先试用
			h3.dr-sprites.dr-title.dr-title2 招募标准
			ul.recruit-criteria.clearfix
				li.dr-sprites.criteria1
					p 具有撰写能力的达人、自媒体人
				li.dr-sprites.criteria2
					p 已注册“国美Plus”用户且发过原创内容
				li.dr-sprites.criteria3
					p 达人在其他平台有一定的影响力
			p.recruit-txt
				span 具备以上三项，即可成为“国美Plus”达人
				span “国美Plus”达人认证审核需要3到5个工作日。审核通过后，国美Plus会根据达人的特质为你匹配商家合作、推荐位、免费试用等业务。
			h3.dr-sprites.dr-title.dr-title3 达人类别
			.dr-type
			a(href="##").dr-sprites.dr-apply-btn 申请达人