doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/usercenter.css")
	body.opg
		include ../../../pc-widget/header/header-merge.jade
		include ../../../pc-widget/header/header-gome.jade
		include ../../../pc-widget/header/header.jade
		include ../../../pc-widget/menu/menu.jade
		.totop.totop-kefu
			a(href="javascript:;")
				// icon替换
				em.iconn-kefu
				span 官方客服
		.wrap-box.mart20.clearfix
			include ../../../pc-widget/slider/slider.jade
			.user-right
				.user-menu.user-gome-menu.clearfix
					.user-index-head
						em.icon-v
						.user-head-img
							a(href="javascript:;")
								img(src="../../images/public/head-default.png")
								span.change-img 更换头像
						.fr
							h2
								span.user-name 惊天魔盗团
								em.level G3
							.name-b
								p
									| 国美币
									span.red 23
								p
									| 美　豆
									span.red 23
								p
									| 返　利
									span.red 23.60
								p
									| 优惠券
									a(href="#").red 3
					.user-index-order
						a(href="#")
							em.iconn-68
							p
								| 待付款 
								span 2
						a(href="#")
							em.iconn-69
							p
								| 待收货 
								span 2
						a(href="#")
							em.iconn-55
							p
								| 待评价
								span 2
						a(href="#")
							em.iconn-70
							p
								| 退款／售后
				.user-menu.clearfix
					.one-account
						em.triangle
						a(href="javascript:;") 升级国美一账通账户
						span.icon-detail
							em.iconn-74
							.detail 服务介绍：国美目前可提供在线销售、售后服务、金融以及其他各项服务。国美一账通是国美互联网生态系列网站、社区以及专业系统联合推出的用户服务模式，您只需要拥有一个一账通账户，即可通行于国美互联网生态支持一账通账户的各站点，无需重复注册，即可获得高效的服务体验。
					.user-index-head
						em.icon-v
						.user-head-img
							a(href="javascript:;")
								img(src="../../images/public/head-default.png")
								span.change-img 更换头像
						// a(href="##").pc-btn.dr-previlage-btn 达人特权
						h2
							span.user-name 惊天魔盗团
						p
							| 返　利
							span 23.00
						p
							| 优惠券
							a(href="#").red 3
					.user-index-order
						a(href="#")
							// icon替换 
							em.iconn-68
							p
								| 待付款 
								span 2
						a(href="#")
							// icon替换 
							em.iconn-65
							p
								| 待发货 
								span 2
						a(href="#")
							// icon替换 
							em.iconn-69
							p
								| 待收货 
								span 2
						a(href="#")
							// icon替换 
							em.iconn-55
							p
								| 待评价
								span 2
						a(href="#")
							// icon替换 
							em.iconn-70
							p
								| 退款／售后
				a(href="##").dr-entrance
				.my-circles
					.right-text-title
						h2 我的圈子
						.text-title-r
							a(href="#").create-btn
								em.iconn-41
								| 创建圈子
							span.line
							a(href="#").checkmore
								| 查看更多 
								em.iconn-9
					ul.mycircle-list
						- for (var x = 0; x < 7; x++)
							li
								a(href="##").img
									em.icon-v
									img(src="../../images/public/head-default.png")
								a(href="##")
									span.title 骑行圈
					.no-topic
						.txt.clearfix
							// icon替换 
							em.iconn-52
							p 
								span
									| 您还没有加入任何的圈子，赶快 
									a(href="#") 加入圈子 
									| 吧！
				.my-circles.content-topic
					.right-text-title
						h2 我发布的话题
						.text-title-r
							a(href="#").create-btn
								em.iconn-41
								| 发布话题
							span.line
							a(href="#").checkmore
								| 查看更多 
								em.iconn-9
					ul.topic-list
						- for (var x = 0; x < 2; x++)
							li
								a(href="#") 甜品控|你没有想过的西瓜新吃法- -免烤西瓜蛋糕
								p
									a(href="#") Step1:西瓜去头去尾，立起来将皮切掉，去皮完毕后用厨房纸将西瓜外部的水分擦干，这个动作可以方便后面涂抹奶油然后转移到你打算用来放西瓜蛋糕的容器中准备装饰。
								dl.clearfix
									dd
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
										em.icon.icon-goods
									dd
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
										em.icon.icon-video
									dd
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								.clearfix
									.fl
										span.m0 2016.12.30
										span 来自圈子：
										a(href="#") 周末烹饪小厨
									.fr
										span
											em.iconn-56
											| 268
										span
											em.iconn-11
											| 16
										span
											em.iconn-57
											| 2
				.my-circles.content-topic
					.right-text-title
						h2 我的订单
						.text-title-r
							a(href="#").checkmore
								| 查看更多 
								em.iconn-9
					.order-lately
						.order-nav
							span.nav-label 最近的订单
							a(href="#")
								| 待付款
								span 0
							em.line
							a(href="#")
								| 待评价
								span.red 1
							em.line
							a(href="#")
								| 待确认收货
								span 0
						ul.order-state
							li.order-item
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								.state-content
									.cont-l
										p
											| 配送单号：
											span.gray 2736376799
										p
											| 共
											span 1
											| 件商品
										p.total.gray
											| 总金额：
											span.red ￥10.00
									ul.process-box
										li.active
											em.step
											span.green-bar
											span.state-txt 订单已提交
										li.active
											em.step
											span.green-bar
											span.state-txt 付款成功
										li.active
											em.step
											span.green-bar
											span.state-txt 商品已出库
										li.gray
											em.step
											span.green-bar.gray-bar
											span.state-txt.gray-txt 已确认收货
										li.last
											em.step
											a(href="##").comment-btn 评价
							li.order-item
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								.state-content
									.cont-l
										p
											| 配送单号：
											span.gray 2736376799
										p
											| 共
											span 1
											| 件商品
										p.total.gray
											| 总金额：
											span.red ￥10.00
									ul.process-box
										li.active
											em.step
											span.green-bar
											span.state-txt 订单已提交
										li.active
											em.step
											span.green-bar
											span.state-txt 付款成功
										li.active
											em.step
											span.green-bar
											span.state-txt 商品已出库
										li.active
											em.step
											span.green-bar
											span.state-txt 已确认收货
										li.last.active
											em.step
											span.state-txt 已评价
				// .user-order
					.right-text-title
						h2 我的订单
						a(href="#") 查看更多 》
					.user-order-index
						table
							tr
								th(colspan="5")
									| 订单编号：
									span 130633199109291076
									| 成交时间：
									span 2016-07-03 12:00:02
							tr
								td.img(width="330")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
									// icon替换 
									span.icon.iconn-71
								td 欧阳念念
								td(width="180") ￥199.00
								td(width="150")
									span.active 待付款
								td(width="120")
									a(href="#") 查看订单
						table
							tr
								th(colspan="5")
									| 订单编号：
									span 130633199109291076
									| 成交时间：
									span 2016-07-03 12:00:02
							tr
								td.img(width="330")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								td 欧阳念念
								td(width="180") ￥199.00
								td(width="150")
									span 已付款
								td(width="120")
									a(href="#") 查看订单
						.no-topic
							.txt.clearfix
								// icon替换 
								em.iconn-63
								p 
									span
										| 亲，您还没有相关订单，赶快去
										a(href="#") 首页
										| 逛逛吧
				// .user-mytopic
					.right-text-title
						h2 我发布的话题
						a(href="#") 查看更多 》
					ul.clearfix.mytopic-list
						- for (var x = 0; x < 5; x++)
							li
								a(href="#").title 最多40个字最多40个字最多40个字最多40个字最多40个字最多40个字最多40个字最多40个字最多40个字
								span 2016-09-06
								p
									| 发表自圈子: 
									a(href="#") 骑行圈
					
				.user-shop
					.right-text-title
						h2 推荐商品
						a(href="#") 换一组
					.shop-list
						ul.clearfix
							- for (var y = 0; y < 8; y++)
								li
									.mg-negative
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
										.btn-box
											a(href="javascritp:;").pc-btn.pc-btnh40 立即购买
											a(href="javascritp:;").pc-btn.pc-btnh40.pc-bj-fc8753 加入购物车
										.text
											a(href="#")
												| ￥
												span 259.00
												p 我新依旧心潮澎湃要你命300湃要你命300
		include ../../../pc-widget/footer/footer.jade