doctype html
html(lang="zh-CN")
	include ../../../pc-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/usercenter.css")
	body.opg
		include ../../../pc-widget/header/header.jade
		include ../../../pc-widget/menu/menu.jade
		.wrap-box.mart20.clearfix
			include ../../../pc-widget/slider/slider.jade
			.user-right
				.circle-index-list.clearfix
					.usercircle-title
						h2 我创建的圈子
						a(href="javascript:;").right 创建圈子
					- for (var x = 0; x < 6; x++)
						.circle-list
							.mg-negative
								div.user-head
									a(href="##")
										img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								h3.user-name 美味甜品
								div.user-top-info
									ul.clearfix
										li
											strong 105
											p 成员
										li
											strong 80
											p 话题
				.circle-index-list.clearfix
					.usercircle-title
						h2 我加入的圈子
					- for (var y = 0; y < 6; y++)
						.circle-list
							.mg-negative
								div.user-head
									a(href="##")
										img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
								h3.user-name 美味甜品
								div.user-top-info
									ul.clearfix
										li
											strong 105
											p 成员
										li
											strong 80
											p 话题
				.more-comments
					a(href="##").clearfix
						span
							img(src="../../images/circle/small-logo.png")
							| 点击加载更多
							em.iconn-9
				.more-comments
					a(href="##").disabled.clearfix
						span
							img(src="../../images/public/loading.gif")
							| 正在加载...
				.more-comments
					a(href="##").disabled.clearfix
						span
							| 没有可加载内容
				.circle-index-list.clearfix
					.usercircle-title
						h2 我创建的圈子
						a(href="javascript:;").right 创建圈子
					.no-topic
						.txt.clearfix
							// icon替换 .icon
							em.iconn-52
							p 
								span
									| 您还没创建圈子，赶快 
									a(href="javascript:;") 创建圈子 
									| 吧！
				.circle-index-list.clearfix
					.usercircle-title
						h2 我加入的圈子
					.no-topic
						.txt.clearfix
							// icon替换 .icon
							em.iconn-52
							p 
								span
									| 您还没有加入任何的圈子，赶快 
									a(href="javascript:;") 加入圈子 
									| 吧！
		include ../../../pc-widget/footer/footer.jade