@import "../components/_app.scss";

.list-card{
    margin-right: -20px;
    li{
        float: left;
        width: 285px;
        border: 1px solid #f8f8f8;
        box-sizing: border-box;
        margin-right: 20px;
        &:hover{
            box-shadow:0 0 20px 0px rgba(0,0,0,0.14);
            .list-title{
                color: #f21818;
            }
        }
        .img{
            position: relative;
            height: 160px;
            margin-left: -1px;
            overflow: hidden;
            a{
                display: block;
            }
            img{
                width: 285px;
                height: 160px;
                transition:All 0.5s ease-in-out;
                -webkit-transition:All 0.5s ease-in-out;
                -moz-transition:All 0.5s ease-in-out;
                -o-transition:All 0.5s ease-in-out;
            }
            em{
                display: none;
                position: absolute;
                right: 0px;
                top: 0px;
                background: #000;
                width: 24px;
                height: 24px;
                line-height: 24px;
                font-size: 10px;
                text-align: center;
                color: #fff;
                opacity: 0.9;
                &:hover{
                    background: #ec392a;
                }
            }
            a:hover em{
                display: block;
            }
            a:hover img{
                transform:scale(1.1);
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -o-transform:scale(1.1);
                -ms-transform:scale(1.1);
            }
            .time{
                position: absolute;
                right: 10px;
                bottom: 8px;
                font-size: 12px;
                color: #fff;
                line-height: 1;
                text-shadow: 0 0 8px rgba(2,3,23,0.89);
            }
            .offline{
                position: absolute;
                left: 0;
                top: 0;
                height: 24px;
                line-height: 24px;
                width: 54px;
                text-align: center;
                color: #fff;
                background: rgba(0,0,0,0.8);
            }
            .progress{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                line-height: 3px;
                font-size: 0;
                background: #c5c5c5;
                p{
                    max-width: 100%;
                    height: 3px;
                    background: #eb2564;
                }
            }
        }
        .list-title{
            font-size: 14px;
            line-height: 22px;
            height: 44px;
            color: #333;
            padding: 0 10px;
            margin: 8px 0;
            display: block;
            word-break:break-all;
            word-wrap:break-word;
        }
        .list-name{
            height: 20px;
            display: inline-block;
            color: #999;
            line-height: 20px;
            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                float: left;
                margin-right: 10px;
            }
            &:hover{
                color: #ec392a;
                img{
                    opacity: 0.8;
                }
                
            }
        }
        .list-time{
            height: 16px;
            line-height: 16px;
            color: #808080;
            padding: 0 0 10px 10px;
            font-size: 12px;
            em{
                font-size: 16px;
                float: left;
                margin-right: 8px;
                margin-top: -1px;
            }
        }
        .desc{
            line-height: 20px;
            height: 40px;
            overflow: hidden;
            color: #999;
            margin: -3px 0 10px;
            overflow:hidden;
            word-break:break-all;
            word-wrap: break-word; 
        }
        .num{
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            padding: 0 10px 10px;
            color: #999;
            em{
                font-size: 12px;
                float: left;
                margin-right: 6px;
            }
        }
    }
}
