div.footer
	div.wrap-box.clearfix
		dl.link-list
			dt 国美控股
			dd
				a(href="#") 国美集团
			dd
				a(href="#") 国美家装
			dd
				a(href="#") 国美金融
			dd
				a(href="#") 国美酒业
			dd
				a(href="#") 国美在线
		dl.link-list
			dt 商家服务
			dd
				a(href="#") 商家入驻
			dd
				a(href="#") 商家管理中心
			dd
				a(href="#") 帮助中心
			dd
				a(href="#") 联系我们
		dl.link-list
			dt 关于我们
			dd
				//a(href="#") 关于美信
				//a(href="#") 服务协议
			dd
				a(href="#") 美信招聘
			dd
				a(href="#") 网站地图
		div.ma
			p
				img(src="../../images/public/ma1.jpg")
				| 国美APP
			p
				img(src="../../images/public/ma2.jpg")
				| 国美微信服务号
	.copyright
		.wrap-box
			p 出版物经营许可证：渝北-500112122号 | 食品流通许可证：SP5001121610159782号
			p
				| Copyright © 2015-2016 美信网络技术有限公司版权所有 渝ICP备15012739号 增值电信业务经营许可证：
				a(href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank") 渝B2-20160039