@import '../../../pc-widget/config/_base.scss';
@import '../../../pc-widget/config/_mixins.scss';

.w990{
    width: 990px;
    margin: 0 auto;
}
.down-app{
    position: fixed;
    right: 100px;
    top: 50%;
    margin-top: -190px;
    width: 299px;
    height: 386px;
    background: url(../../images/other/ma-bg.png) no-repeat;
    img{
        width: 183px;
        height: 183px;
        position: absolute;
        left: 63px;
        bottom: 14px;
    }
}
.top{
    height: 1223px;
    background: url(../../images/other/top.jpg) no-repeat center;
    position: relative;
    .w990{
        position: relative;
        height: 1223px;
    }
    .top-menu{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        .left{
            position: absolute;
            left: 0;
            top: 62px;
            width: 75px;
            height: 75px;
            background: url(../../images/other/icon-left.png) no-repeat center;
            cursor: pointer;
        }
        .right{
            position: absolute;
            right: 0;
            top: 62px;
            width: 75px;
            height: 75px;
            background: url(../../images/other/icon-right.png) no-repeat center;
            cursor: pointer;
        }
        ul{
            height: 141px;
            width: 840px;
            overflow: hidden;
            padding-bottom: 7px;
            margin: 0 auto;
        }
        li{
            float: left;
            width: 280px;
            height: 141px;
            a{
                display: block;
                height: 100%;
                text-indent: -9999px;
                background: url(../../images/other/12.14.png) no-repeat center 86px;
                &.active{
                    background: url(../../images/other/12.14-on.png) no-repeat center;
                }
            }
            .data15{
                background-image: url(../../images/other/12.15.png);
                &.active{
                    background-image: url(../../images/other/12.15-on.png);
                }
            }
            .data16{
                background-image: url(../../images/other/12.16.png);
                &.active{
                    background-image: url(../../images/other/12.16-on.png);
                }
            }
            .data17{
                background-image: url(../../images/other/12.17.png);
                &.active{
                    background-image: url(../../images/other/12.17-on.png);
                }
            }
            .data18{
                background-image: url(../../images/other/12.18.png);
                &.active{
                    background-image: url(../../images/other/12.18-on.png);
                }
            }
            .data19{
                background-image: url(../../images/other/12.19.png);
                &.active{
                    background-image: url(../../images/other/12.19-on.png);
                }
            }
            .data20{
                background-image: url(../../images/other/12.20.png);
                &.active{
                    background-image: url(../../images/other/12.20-on.png);
                }
            }
            .data21{
                background-image: url(../../images/other/12.21.png);
                &.active{
                    background-image: url(../../images/other/12.21-on.png);
                }
            }
            .data22{
                background-image: url(../../images/other/12.22.png);
                &.active{
                    background-image: url(../../images/other/12.22-on.png);
                }
            }
            .data23{
                background-image: url(../../images/other/12.23.png);
                &.active{
                    background-image: url(../../images/other/12.23-on.png);
                }
            }
            .data24{
                background-image: url(../../images/other/12.24.png);
                &.active{
                    background-image: url(../../images/other/12.24-on.png);
                }
            }
            
        }
    }
}
.goods{
    height: 1254px;
    background: url(../../images/other/goodsbg.jpg) no-repeat center;
    ul{
        padding-top: 90px;
    }
    li{
        text-align: center;
        padding: 40px 0;
    }
}
.text{
    height: 1253px;
    background: url(../../images/other/text.jpg) no-repeat center;
    margin-bottom: -50px;
}
@media screen and (min-width:1650px){
    .down-app{
        position: absolute;
        right: -330px;
        top: 565px;
        margin-top: 0;
    }
}
