extends ../../../m-widget/head/head-set.jade
block style
	link(type="text/css",rel="stylesheet",href="../../css/module/circle/circle.css")
block body
	body.opg
		include ../../../m-widget/head/rem.jade
		.m-openapp
			