<!DOCTYPE html>
<html lang="zh-CN" data-use-rem="750">
<head>
	<meta charset="utf-8">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" type="text/css" href="/m/vm/dist/css/search-result.css">
</head>
<body>
	<%- include('../../common/rem.ejs')%>

	<%- include('../../common/testUser.ejs')%>
	<div id="root"></div>
	<!--<div class="search-result-container">
		<div class="search-result-subname">订阅号</div>
		<ul class="search-result-sublist " data-id="search-result">
			<li class="search-result-subitem clearfix">
				<span class="avatar-wrap fl">
					<img src="//r1.ykimg.com/0130391F4556CA4F00F3983059377C37B70421-254A-5448-0518-945582699BA1" alt="北美玩具">
				</span>
				<div class="content-wrap">
					<a class="link" href="//i.youku.com/u/UMzI0NDYxMzEwNA==" target="_blank">北美玩具</a>
					<div class="content">
						介绍国外新奇可爱的玩具，不要忘记“订阅”我们哟！工作邮件：2074448549@qq.com
					</div>
					<div class="sub-result">
					很多人订阅哦
					</div>
				</div>

			</li>
			<li class="search-result-subitem clearfix">
				<div class="avatar-wrap fl">
					<img class="original-ranking__list__item__avatar" src="//r1.ykimg.com/0130391F4556CA4F00F3983059377C37B70421-254A-5448-0518-945582699BA1" alt="北美玩具">
				</div>
				<div class="content-wrap">
					<a class="link" href="//i.youku.com/u/UMzI0NDYxMzEwNA==" target="_blank">北美玩具</a>
					<div class="content">
						介绍国外新奇可爱的玩具，不要忘记“订阅”我们哟！工作邮件：2074448549@qq.com
					</div>
					<div class="sub-result">
					很多人订阅哦
					</div>
				</div>

			</li>
			<li class="search-result-subitem clearfix">
				<div class="avatar-wrap fl">
					<img class="original-ranking__list__item__avatar" src="//r1.ykimg.com/0130391F4556CA4F00F3983059377C37B70421-254A-5448-0518-945582699BA1" alt="北美玩具">
				</div>
				<div class="content-wrap">
					<a class="link" href="//i.youku.com/u/UMzI0NDYxMzEwNA==" target="_blank">北美玩具</a>
					<div class="content">
						介绍国外新奇可爱的玩具，不要忘记“订阅”我们哟！工作邮件：2074448549@qq.com
					</div>
					<div class="sub-result">
						很多人订阅哦
					</div>
				</div>

			</li>
		</ul>
		<div class="search-result-submore"><span>查看更多 <em class="icon-23"></em></span></div>
	</div>-->
	<!--<div class="search-result-conlist-container">
		<div class="search-result-conname">相关内容</div>
		<ul class="search-result-conlist">
			<li class="clearfix" >
				<a class="v-link" href="http://m.youku.com/video/id_XMjUyODA3ODIwMA==.html">
					<div  class="v fl">
						<img style="width:100%;height:100%;" src="//r1.ykimg.com/0543040858AFA52C6F0C8D1614816D72">
						<div class="v-duration">
							<span>07:08</span>
						</div>
					</div>
					<div class="v-item fr">
						<h2>
							<div>植物大战僵尸 第二十二关 </div>
						</h2>
						<div class="img-src v-num">
							<div>sjklsjkjljkjklj快乐健康蓝精灵看及刻录机</div>
						</div>
					</div>
				</a>
			</li>
			<li class="clearfix" >
				<a class="v-link" href="http://m.youku.com/video/id_XMjUyODA3ODIwMA==.html">
					<div  class="v fl">
						<img style="width:100%;height:100%;" src="//r1.ykimg.com/0543040858AFA52C6F0C8D1614816D72">
						<div class="v-duration">
							<span>07:08</span>
						</div>
					</div>
					<div class="v-item fr">
						<h2>
							<div>植物大战僵尸 第二十二关 </div>
						</h2>
						<div class="img-src v-num">
							<div>sjklsjkjljkjklj快乐健康蓝精灵看及刻录机</div>
						</div>
					</div>
				</a>
			</li>
			<li class="clearfix" >
				<a class="v-link" href="http://m.youku.com/video/id_XMjUyODA3ODIwMA==.html">
					<div  class="v fl">
						<img style="width:100%;height:100%;" src="//r1.ykimg.com/0543040858AFA52C6F0C8D1614816D72">
						<div class="v-duration">
							<span>07:08</span>
						</div>
					</div>
					<div class="v-item fr">
						<h2>
							<div>植物大战僵尸 第二十二关 </div>
						</h2>
						<div class="img-src v-num">
							<div>sjklsjkjljkjklj快乐健康蓝精灵看及刻录机</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>-->
	<%- include('../../common/footer.ejs')%>
	<script src="/m/vm/dist/js/vendor.js"></script>
	<script src="/m/vm/dist/js/search-result.js"></script>
</body>
</html>