extends ../../../m-widget/head/head-set.jade
block style
	link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
block body
	body.opg.plaintext
		include ../../../m-widget/head/rem.jade
		// /header
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 签约达人合作协议
		// /content
		.plaintext
			p 欢迎入驻国美Plus平台！
			p 参与国美Plus签约达人的用户，您应当阅读并遵守《国美Plus签约达人合作协议》（以下简称“本协议”）、《国美Plus签约达人付费话题审核规范》、《国美Plus签约达人话题资费说明》等。在接受本协议之前，请您务必仔细阅读本协议的全部内容，特别是免除或者限制责任的条款国美Plus对您违约行为的认定处理条款，以及管辖法院的选择条款等。限制、免责条款可能以粗体下划线格式提示您注意。如果您对本协议的条款有疑问的，请通过国美Plus客服渠道进行询问，国美Plus将向您解释条款内容。如果您不同意本协议的任意内容，或者无法准确理解国美Plus对条款的解释，请不要同意本协议或使用本协议项下的服务，否则，表示您已接受了以下所述的条款和条件，同意受本协议约束。届时您不应以未阅读本协议的内容或者未获得国美Plus对您问询的解答等理由，主张本协议无效，或要求撤销本协议。
			h3 第一条：立约背景
			p 1.1、为了规范国美Plus签约达人的行为，明确国美Plus签约达人的权利义务，营造规范、有序的国美Plus签约达人内容发布秩序，保障用户的合法权益，根据《国美Plus签约达人付费话题审核规范》等内容拟定本协议。
			h3 第二条：签约主体
			p 2.1、本协议由国美Plus与您签署。
			h3 第三条：协议生效和适用范围
			p 3.1、您通过网络页面点击确认或者以其他方式选择接受本协议，即表示您与国美Plus已达成协议并同意接受本协议的全部约定内容。
			p 3.2、本协议内容包括协议正文、附件以及所有国美Plus已经发布的或将来发布并依法通知您的各类规则、规范（包括《国美Plus签约达人付费话题审核规范》等）、业务流程、公告、通知等（以下合称“规则”）。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。