extends ../../../m-widget/head/head-set.jade
block style
	link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
block body
	body.opg.plaintext
		include ../../../m-widget/head/rem.jade
		// /header
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 达人平台管理规范
		// /content
		.plaintext
			h3 第一章 概述
			h3 第一条【目的及依据】
			p 为维护国美Plus达人平台的正常运营秩序，保障国美Plus达人平台的用户的合法权益，特制定本规范。
			h3 第二条【适用范围】
			p 规范适用于国美Plus达人平台入驻的所有用户。
			h3 第二章 国美Plus达人平台
			h3 第一节 准入
			p 第三条【入驻条件】国美Plus用户须同时满足以下条件方可入驻国美Plus达人平台：
			p （一） 注册国美Plus；
			p （二） 完善个人资料，包含：修改昵称、上传头像、性别；
			p （三） 发布5篇话题以上；
			p （四） 正确的填写达人申请表格并提交；
			p （五） 工作人员会在7个工作日内审核你提交的申请。考察范围包括图片美观度、文字语言组织能力，话题内容互动及浏览量；话题为单一方向专一内容，有独特见解，对其他用户与达人有借鉴、引导、实用等方面的作用；
			h3 第二节 经营规范
			p 【信息发布】国美Plus达人发布信息须遵循如下信息发布要求：
			p （一）不得发布危害信息，包括但不限于敏感信息、垃圾广告、淫秽色情信息；
			p （二）不得发布不实信息，包括但不限于捏造细节、图文不符、夸大事实、夸大宣传、虚假中奖信息、发送的无意义内容及重复内容、伪造官方活动的信息；
			p （三）不得发布国美Plus以外其他平台的推广信息，包括不得发布淘宝网、天猫、微博、微信等的信息链接地址等内容。