<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" href="http://css.atguat.com.cn/??gmlib/reset/1.1.0/reset.css,gmpro/1.0.0/public/1.0.0/css/top.min.css,gmpro/1.0.0/public/1.2.0/css/foot-gomeplus.min.css?v=201704181727">
	<link rel="stylesheet" type="text/css" href="/CDN8152/dist/css/slide.css">
</head>
<body>
<div class="gome-top">
	<div id="gome-top-body" class="wbox">
		<ul>
			<li id="gome-plus-entry-link"><a data-code="public01056" href="//www.pre.gomeplus.com" target="_blank"><i class="icon-gome-plus-logo"></i>国美Plus</a></li>
			<li id="gome-entry-link"><a data-code="public01001" href="//www.atguat.com.cn/" target="_blank"><i class="icon-gome-logo"></i>国美在线</a></li>
			<li class="gome-spacer"></li>
			<li id="gome-user" data-load="user">
				<b id="loginDiv-name">Hi,&nbsp;<a data-code="public01054" href="//v.atguat.com.cn" target="_blank"><span class="sign-top-member-name">美美_821486969205121&nbsp;</span><em class="level-g1"></em><i></i></a></b>
				<div class="public-dropdown"></div>
			</li>
			<li id="loginDiv-link" class="gome-link"><a rel="nofollow" data-code="public01002" href="http://login.atguat.com.cn/login">请登录</a></li>
		</ul>
		<ul id="gome-top-right">
			<li class="gome-link"><a rel="nofollow" data-code="public01004" href="//myhome.atguat.com.cn/member/myOrder?flag=a0">我的订单</a></li>
			<li id="gome-mygome" data-load="mygome">
				<b><a rel="nofollow" data-code="public01050" href="//myhome.atguat.com.cn/member/profileHome?flag=a" target="_blank">我的国美</a><i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li class="gome-spacer"></li>
			<li class="gome-link"><a data-code="public01055" class="gome-link-ml10" rel="nofollow" href="//enterprise.gome.com.cn/">企业采购</a></li>
			<li id="gome-service" class="drop" data-load="service">
				<b><em class="gm-icon">f</em><a data-code="public01052" rel="nofollow" href="//help.gome.com.cn/" target="_blank">服务中心</a><i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li id="gome-sitemap" class="drop" data-type="b13" data-load="sitemap">
				<b>网站导航<i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li class="gome-spacer"></li>
			<li id="gome-phone" class="drop">
				<b><em class="gm-icon">á</em><a data-code="public01049" rel="nofollow" href="//shouji.gome.com.cn/" target="_blank">手机国美</a><i></i></b>
				<div class="public-dropdown">
					<a class="gome-plus-qrcode" data-code="public01057" href="//www.pre.gomeplus.com/others/download.html" target="_blank"></a>
					<i class="qrcode-spacer"></i>
					<a class="gome-qrcode" data-code="public01005" href="//shouji.gome.com.cn/" target="_blank"></a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- header -->
<div class="header" data-node="header">
    <div class="header-main clearfix">
        <a class="logo" href="/" target="_self" title="国美视频">
        	<img alt="国美视频" src="/CDN8152/dist/imgs/public/logo.png"/>
        </a>
        <ul class="nav">
            <li class="active"><a href="#">首页推荐</a></li>
            <li><a href="#">订阅</a></li>
        </ul>
        <div class="user-area" data-node="userArea">
            <div class="avatar"></div>
            <div class="user-info hide">
                <em class="arrow"></em>
                <dl class="user-nickname">
                    <dt><img src=""></dt>
                    <dd>用户昵称很长很长</dd>
                </dl>
                <div class="user-nav">
                    <a href="#">我的收藏</a>
                    <a href="#">我的订阅</a>
                    <a href="#">帮助反馈</a>
                </div>
            </div>
        </div>
        <div class="record" data-node="record">
            <div class="name">
                <em class="icon-29"></em><br/>
                <span>观看记录</span>
            </div>
            <!--<div></div>-->
            
            <div class="record-card hide" data-node="recordWrap">
                <em class="arrow"></em>
                <div class="empty hide">暂时还没有观看记录哦～</div>
                <div class="record-card-list">
                    <h3>最近</h3>
                    <ul>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题也是很长很长很长很长很长很长很长的标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">已看完</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                    </ul>
                    <a class="more-record" href="#">查看更多</a>
                </div>
            </div>
        </div>
        <div class="record" data-node="record">
            <a href="http://meimiao.gomeplus.com/" class="name" target="_blank">
                <em class="icon-48"></em><br/>
                <span>下载</span>
            </a>
        </div>
        <div class="search clearfix" data-id="search-container">
            <form action="javascript:;" data-id="search-form">
                <em class="ico-search icon-30"></em>
                <input class="input" type="text" data-id="search-input" placeholder="请输入您感兴趣的视频" autocomplete="off">
                <button class="btn" data-id="search-button" type="button">搜索</button>
            </form>
        </div>
    </div>
</div>
<!-- header -->

<script type="text/javascript">

	// 打开www.dev.gomeplus.com，登录后，在首页右键显示网页源码，使用userId，从cookie获取SCN

    var $CONFIG = {
        userId: 100036411060, //用户id，为0标识未登录
        nickName: "meimei",
        avatar: "http://gfs14.gomein.net.cn/T1YvKTBsDv1RCvBVdK.png",
		keyword: ''
    };

    $CONFIG['SCN'] = 'Pc0jlCMLaaiqQnibWrTq4gPL28MOEDjYnPLKpsmym0zY%2BvNSbbdW4Llpj7FNRkK3C%2B1C5N34cNmsxVrLMSqJMk24fxq2%2B%2B3xD9ixa1WDYsfBSnAt6AEreoT64L1afFLP11e0537078e957656ae2cf6fc4598811';
</script>
<script type="text/javascript">
    // cms
    $CONFIG['domain-data'] = 'http://v.dev.gomeplus.com';

    // php
    $CONFIG['domain-user'] = 'http://api.be.v.dev.gomeplus.com';
	/*$CONFIG['domain-user'] = 'http://api.be.v.pre.gomeplus.com';*/

    $CONFIG['videoId'] = 1193; // pre -> 1193, 1194, 1195, 1208, 1204, 1187, 1169
    $CONFIG['topicId'] = 602; // '587, 583, 584, 582, 562'
    // $CONFIG['userId'] = '100018018011';

    $CONFIG.jspath = 'http://js.pre.meixincdn.com';
    $CONFIG.imgpath = 'http://js.pre.meixincdn.com:8080/dist/imgs/';
    $CONFIG.domain = 'http://v-dyc.pre.gomeplus.com';

    // pre 环境
    $CONFIG['dynSite']='//g.atguat.com.cn';
    $CONFIG['staSite']='//www.atguat.com.cn/';
    $CONFIG['contextPath']='/ec/homeus';
    $CONFIG['secureURL']='//g.atguat.com.cn';
    $CONFIG['cookieDomain']='.atguat.com.cn';
    $CONFIG['stageImageServer']= '//img.atguat.net.cn/';
    $CONFIG['imgServer']='//img.atguat.com.cn/images';
    $CONFIG['pictureserver']='//img.atguat.com.cn/image';
    $CONFIG['stageCssServer']='//css.atguat.com.cn';
    $CONFIG['cssserver']='//css.atguat.com.cn/css';
    $CONFIG['stageJsServer']='//js.atguat.com.cn';
    $CONFIG['jsserver']='//js.atguat.com.cn/js';
    $CONFIG['js_net_server']='https://js.atguat.net.cn/';
    $CONFIG['protocol']='https';
    $CONFIG['versionData']='1487836100';
</script>
	<!-- main -->
	<div class="slidewrap" id="singleSlide">
		<div class="default-unslider">
			<ul class="unslider-ulcontainer">
				<li><a href="#" style="background:url('https://i6.meixincdn.com/v1/img/T1bwdTBTYb1RXrhCrK.jpg') 50% 0 no-repeat"></a></li>
				<li><a href="#" style="background:url('https://i4.meixincdn.com/v1/img/T1Ew_TBbZ_1RXrhCrK.jpg') 50% 0 no-repeat"></a></li>
				<li><a href="#" style="background:url('https://i2.meixincdn.com/v1/img/T1pebTB_dv1RXrhCrK.jpg') 50% 0 no-repeat"></a></li>
			</ul>
		</div>
	</div>
	<p style="margin: 30px auto;text-align: center;">-------我是分割线-------</p>
	<!-- main -->
	<div class="wrap">
		<div class="slidewrap" id="multipleSlide">
		<div class="default-unslider">
			<ul class="unslider-ulcontainer">
				<li>
					<div class="fl unslider-item">slide 1.1</div>
					<div class="fl unslider-item">slide 1.2</div>
					<div class="fl unslider-item">slide 1.3</div>
					<div class="fl unslider-item">slide 1.4</div>
					<div class="fl unslider-item">slide 1.5</div>
				</li>
				<li>
					<div class="fl unslider-item">slide 2.1</div>
					<div class="fl unslider-item">slide 2.2</div>
					<div class="fl unslider-item">slide 2.3</div>
					<div class="fl unslider-item">slide 2.4</div>
					<div class="fl unslider-item">slide 2.5</div>
				</li>
				<li>
					<div class="fl unslider-item">slide 3.1</div>
					<div class="fl unslider-item">slide 3.2</div>
					<div class="fl unslider-item">slide 3.3</div>
					<div class="fl unslider-item">slide 3.4</div>
					<div class="fl unslider-item">slide 3.5</div>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<!-- main -->
	<script src="/CDN8152/dist/js/vendor.js"></script>
	<script src="/CDN8152/dist/js/slide.js"></script>
</body>
</html>