doctype html
html(lang="zh-CN")
    head
        link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
        link(type="text/css",rel="stylesheet",href="../../css/module/talentApplication.css")
        link(type="text/css",rel="stylesheet",href="../../css/module/talentExamining.css")
        meta(charset="UTF-8")
        meta(name="renderer",content="webkit")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(http-equiv="pragma",content="no-cache")
        meta(http-equiv="cache-control",content="no-cache")
        meta(http-equiv="expires",content="0")
        title 美信网络技术有限公司
        meta(name="author",content="美信网络技术有限公司")
        meta(name="description",content="国美")
        meta(name="keywords",content="国美+APP")
    body.opg.examining
        include ../../widget/header/application-top.pug
        .talent-middle
            .talent-banner 审核中
        .talent-result
            .talent-result-info.talent-middle
                .talent-result-details
                    p 您的申请我们正在认真审核哦~
                    p 审核需要5-7个工作日请您耐心等待 
                .talent-result-steps.talent-tool.step2
                    ol.talent-b-tool
                        li.talent-b-t-item.talent-b-t-item1
                            .talent-b-t-i-count.talent-b-t-i-count1 1
                            p.talent-b-t-i-title 填写资料
                        li.talent-b-t-item.item-margin.talent-b-t-item2
                            .talent-b-t-i-count.talent-b-t-i-count2 2
                            p.talent-b-t-i-title 审核
                        li.talent-b-t-item.talent-b-t-item3
                            .talent-b-t-i-count.talent-b-t-i-count3 3
                            p.talent-b-t-i-title 审核结果
                        li.talent-b-t-linner
        .talent-content
            .talent-content-info
                ul
                    li.clearfix
                        i.icon.icon-username
                        span 真实姓名 :
                        strong 李晓明
                    li.clearfix
                        i.icon.icon-phone
                        span 联系方式 :
                        strong 13411006699
                    li.clearfix
                        i.icon.icon-talent-type
                        span 达人类别 :
                        strong 健康达人
                    li.clearfix
                        i.icon.icon-introduce
                        span 个人介绍 :
                        strong.introduce 个人介绍个人介绍，个人介绍个人介绍个人绍个人介 绍个人介绍，个人介绍个人介绍个人介绍绍个个人介 绍个人介绍个人介绍个人 .介绍

    script(type="text/javascript",src="../../js/conf/vendor.js")
