doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/talentIndex.css")
    body.opg        
        include ../../widget/header/header-talent.pug        
        .talent.clearfix  
            include ../../widget/aside/talent.pug      
            .talent-home
                .home-cont
                    .content-info.clearfix
                        .content-info-leftArea.fl
                            .person-box.fl
                                a.photo-box
                                    img(src="../../images/talent/person-photo.png")
                                    i.icon.icon-talent
                                .home-page
                                    i.icon.icon-home
                                    span 主页
                                    .qr-code
                                        i.icon.icon-arrow
                                        .qr-code-img
                                            img(src="../../images/talent/person-photo.png")
                            .person-title.fl
                                h2
                                    span 小灿灿要加油
                                    i.icon.icon-man
                                p 
                                    span 达人渠道：签约达人
                                    span 达人类别：美妆达人
                        .content-info-rightArea.fr
                            .score-count 
                                .clearfix
                                    span 达人总评分
                                    a.icon.icon-quesion(title="以月为统计周期的所有话题总评分")
                                        .question-title 以月为统计周期的所有话题总评分
                                strong 498
                    .content-info.clearfix(style="margin-top:10px;")
                        .content-info-leftArea.fl
                            .person-box.fl
                                a.photo-box
                                    img(src="../../images/talent/person-photo.png")
                                    i.icon.icon-talent
                                .home-page
                                    i.icon.icon-home
                                    span 主页
                                    .qr-code
                                        i.icon.icon-arrow
                                        .qr-code-img
                                            img(src="../../images/talent/person-photo.png")
                            .person-title.fl
                                h2
                                    span 小灿灿要加油
                                    i.icon.icon-woman
                                p 
                                    span 达人渠道：签约达人
                                    span 达人类别：美妆达人
                        .content-info-rightArea.fr
                            .no-score 
                                .clearfix
                                    span 暂无达人总评分
                                    a.icon.icon-quesion(title="以月为统计周期的所有话题总评分")
                                        .question-title 以月为统计周期的所有话题总评分
                    .common-block.main-data.comWidth
                        h3.content-title 关键数据
                        .content-block-info.clearfix
                           .main-data-item.border-right.fl
                                .home-page
                                    i.icon.icon-home
                                    span 主页
                                .main-data-item-info
                                    span
                                        em UV
                                        span 流量人数
                                    a.icon.icon-quesion(title="PC和APP个人主页（客态）当天总UV数据加和；更新频次：当日的00：00做数据更新；")
                                        .question-title 
                                            p PC和APP个人主页（客态）当天总UV数据加和；
                                            p 更新频次：当日的00：00做数据更新；
                                    p.count 0
                                    p 近7天总UV23，400
                           .main-data-item.fl
                                .home-page
                                    i.icon.icon-home
                                    span 主页
                                .main-data-item-info
                                    span
                                        em PV
                                        span 流量人数
                                    a.icon.icon-quesion(title="PC和APP个人主页（客态）当天总PV数据加和；更新频次：当日的00：00做数据更新；")
                                        .question-title 
                                            p PC和APP个人主页（客态）当天总PV数据加和；
                                            p 更新频次：当日的00：00做数据更新；
                                    p.count 0
                                    p 近7天总PV23，400
                    .common-block.system-report
                        h3.content-title 系统公告
                        .report-list
                            ul
                                li
                                    h3
                                        strong.fl 蜗牛家分享优质内容制作经验蜗牛家分享优质内容制作经验蜗牛家分享优质内容制作经验
                                        span.fr
                                            i.icon.icon-time
                                            span 04-20 10:00
                                    p 通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！
                                li
                                    h3
                                        strong.fl 蜗牛家分享优质内容制作经验蜗牛家分享优质内容制作经验蜗牛家分享优质内容制作经验
                                        span.fr
                                            i.icon.icon-time
                                            span 04-20 10:00
                                    p 通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！
                                li
                                    h3
                                        strong.fl 蜗牛家分享优质内容制作经验蜗牛家分享优质内容制作经验蜗牛家分享优质内容制作经验
                                        span.fr
                                            i.icon.icon-time
                                            span 04-20 10:00
                                    p 通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！通过蜗牛家的分享，一方面能结合官方对内容的基本要求，同时还能融合自己的专业知识把内容打造的非同一般，值得我们所有达人学习！
                        .page-container
                            .page-count.fr
                                span.total-pre 
                                    span.cur 1
                                span.total-back /9
                                strong
                                    span 到第
                                    input(type="text",name="pageNum")
                                    span 页
                                input.btn(type="button",value="确定")
                            .page-list.fr
                                span.disable &lt;&nbsp;上一页
                                span 1
                                span.on 2
                                span 3
                                span 4
                                b ...
                                span 9
                                span 下一页&nbsp;&gt;
                    .common-block.system-report.no-data
                        h3.content-title 系统公告
                        .report-list
                            i.icon.icon-text
                            p 暂无系统公告哦～
        .talent-notice
            .notice-title 达人公告
            .notice-list
                ul
                    li 我是公告内容我是公告内容我是公告内容我是公告内容！
                    li 我是公告内容我是公告内容我是公告内容我是公告内容！
                    li.no-border 我是公告内容我是公告内容我是公告内容我是公告内容！
            img(src="../../images/talent/person-photo.png")
        script(type="text/javascript",src="../../js/conf/vendor.js")
        script(type="text/javascript",src="../../js/conf/talent_index.js")




























