doctype html
html(lang="zh-CN")
	head
		link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
		link(type="text/css",rel="stylesheet",href="../../css/module/talentPrivilege.css")
		meta(charset="UTF-8")
		meta(name="renderer",content="webkit")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		meta(http-equiv="expires",content="0")
		title 美信网络技术有限公司
		meta(name="author",content="美信网络技术有限公司")
		meta(name="description",content="国美")
		meta(name="keywords",content="国美APP")
	body.opg
		.talent-top
			.talent-t-cover
			.talent-t-slogan
		.talent-middle
			.talent-m-privilege
			.talent-m-cricle
				a(href="#").talent-m-c-button 青春加入圈子
				p.talent-m-c-detail 聚拢人气，建个专属圈子吧把斑斑驳驳~
			.talent-m-linner
		.talent-join.clearfix
			span.talent-j-detail 实名认证，成为有身份的达人
			a(href="#").talent-j-approve 立即认证&nbsp;>
