doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/protocol.css")
    body.opg       
        include ../../widget/header/header-talent.pug        
        .talent.clearfix  
            include ../../widget/aside/talent.pug      
            .talent-protocol-box
                .protocol-cont
                    h1 国美签约达人合作协议
                    p.first-line 欢迎入驻国美平台！
                    p 
                        span 参与国美签约达人的用户，您应当阅读并遵守《国美签约达人合作协议》（以下简称“本协议”）、
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人付费话题审核规范》
                        span 、
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人话题资费说明》
                        span 等。在接受本协议之前，请您务必仔细阅读本协议的全部内容，特别是免除或者限制责任的条款国美对您违约行为的认定处理条款，以及管辖法院的选择条款等。限制、免责条款可能以粗体下划线格式提示您注意。如果您对本协议的条款有疑问的，请通过国美客服渠道进行询问，国美将向您解释条款内容。如果您不同意本协议的任意内容，或者无法准确理解国美对条款的解释，请不要同意本协议或使用本协议项下的服务，否则，表示您已接受了以下所述的条款和条件，同意受本协议约束。届时您不应以未阅读本协议的内容或者未获得国美对您问询的解答等理由，主张本协议无效，或要求撤销本协议。
                    h2.first-title 第一条：立约背景
                    p 1.1、为了规范国美签约达人的行为，明确国美签约达人的权利义务，营造规范、有序的国美签约达人内容发布秩序，保障用户的合法权益，根据
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人付费话题审核规范》
                        span 等内容拟定本协议。
                    h2 第二条：签约主体
                    p 2.1、本协议由国美与您签署。
                    h2 第三条：协议生效和适用范围
                    p 3.1、您通过网络页面点击确认或者以其他方式选择接受本协议，即表示您与国美已达成协议并同意接受本协议的全部约定内容。
                    p 3.2、本协议内容包括协议正文、附件以及所有国美已经发布的或将来发布并依法通知您的各类规则、规范（包括
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人付费话题审核规范》
                        span 等）、业务流程、公告、通知等（以下合称“规则”）。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。
                    h2 第四条：定义
                    p 4.1、国美签约达人：是指通过国美平台认证并可享受国美签约达人权限的提供圈子内容服务的群体。
                    h2 第五条：合作内容
                    p 5.1、国美向您提供国美签约达人业务相关技术支持及服务，使您通过创建国美账号后在国美平台（包括国美 PC站点等）发布内容，为用户提供个性化的导购资讯服务，但国美签约达人平台归国美所有，国美可根据业务需要，在国美平台（包括国美 PC站点等）展示其他内容（包括但不仅限于产品推广内容）。
                    p 5.2、为便于您更好的进行PC及无线端的发布内容，您同意您申请开通国美签约达人账号、完善个人信息后，您发布的信息全部或部分可通过运营人员判定有选择性的同步至国美站内及国美合作的第三方站点，您有权依据
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人话题资费说明》
                        span 获得话题费用。
                    h2 第六条：国美签约达人声明
                    p 6.1、您同意并确认您在申请国美签约达人准入之前或同时，已经同意作为国美签约达人内容制作者加入了国美签约达人，并同意
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人付费话题审核规范》
                        span 及其他国美签约达人相关推广业务规范。
                    p 6.2、您承诺并保证：
                    p 6.2.1、您应当符合国美签约达人的准入条件，按照
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人付费话题审核规范》
                        span 的相关要求编辑、制作导购内容并予以发布。
                    p 6.2.2、对上传到国美平台的的图片、文字内容拥有合法权利，且有资质和能力进行推广商品的筛选和导购内容编辑、制作和发布，确保信息真实、准确、合法完整，无虚假或夸大描述的信息，不涉及侵犯任何人的合法权益。
                    p 6.3、您了解并同意：
                    p 6.3.1、国美对您在开通环节填写的个人基本信息及站点信息进行备案，但国美保留抽查、要求您补充提交、及时更新信息的权利。
                    p 6.3.2、您应当严格遵守
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人平台管理规范》
                        span 及国美签约达人后续发布、修改的业务指南、规范及流程，国美可根据相关规定对您的违规行为进行处理。
                    p 6.3.3、本条中的声明是您使用国美签约达人技术服务的前提，如有不符或违反，国美有权随时拒绝或终止提供服务。
                    p 6.3.4、您在国美签约达人平台发布的图片及文字内容，您同意授权国美及其关联公司使用权利及再授权给第三方使用的权利。您同意国美及其关联公司存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或使用您发布的全部或部分信息制作其他派生作品，并将上述信息纳入其它作品内。
                    h2 第七条：费用规定
                    p 7.1话题费用：自您签署本协议并获得认证之日起，您所发布的内容经过内容编辑人员审核并通过后即可获得相应话题费用。
                    h2 第八条：国美签约达人义务
                    p 8.1、严格遵守您于本协议第六条内的承诺和保证。
                    p 8.2、您保证通过国美签约达人平台技术服务发布的内容不含有任何违反国家有关法律、法规及中华人民共和国承诺或加入的国际条约的内容，包括但不限于危害国家安全、淫秽色情、虚假、欺诈、侮辱、诽谤、恐吓或骚扰、侵犯他人知识产权、人身权或其他合法权益以及有违社会公序良俗的内容等。您了解并确认，国美对您发布内容的审核（如有），仅为对其图片质量、大小等美观度上的表面查核，并不表示确认您发布的内容合法、不侵权；对您发布的内容，您应自行承担全部责任。
                    p 8.3、您使用国美签约达人平台技术服务发布卖家商品信息的，除本协议有明确约定外，您不得以任何名义主动向卖家索要、暗示卖家提供对价，或接收卖家主动提供的好处。前述对价、好处包括现金、非现金，提供方式可以为直接提供、资源互换形式提供等。
                    p 8.4、您了解并同意，您作为国美签约达人时，应严格遵守国美签约达人相关协议规范，包括但不限于国美相关协议、规范、规则等。
                    p 8.5、您因同意或履行本协议，或因使用国客平台技术服务而获得的有关国美的任何信息，包括但不限于有关技术、财务、市场、管理等方面的数据或信息均为国美的保密信息，为国美的专有财产。您在此承诺对国美的保密信息严格保密，除用于使用国美签约达人平台技术服务之目的，不得使用或允许他人使用，亦不得向任何第三方披露。本款下的保密义务不因国美签约达人平台技术服务的中止或终止而终止。
                    p 8.6、您同意接收来自国美及其合作伙伴发出的邮件、信息等。
                    p 8.7、您应自行保存与其行为有关的全部证据，并应对无法提供充分证据而承担不利的后果。
                    p 8.8、您在此授权国美出于方便本协议履行之目的，有权依本协议约定对其账户进行款项的支付、接收、划拨、冻结、解冻等行为。
                    h2 第九条：违约责任
                    p 9.1、您明确理解并同意，如因您违反有关法律法规或者本协议之规定，尤其在因发布的图片、文字内容或推广内容侵权或违法而导致国美及/或其关联公司受到权利人或相关人的任何形式的追诉或索赔，或受到相关政府部门的任何形式的处罚或承担任何形式的责任时，您应承担由此产生的全部法律责任并使国美或/及其关联公司免责。若国美及/或其关联公司先行向第三方支付了赔偿或承担了其他法律责任，或向政府部门支付了相关罚款，您应对国美或/及其关联公司的一切损失（包含但不限于国美或/及其关联公司因此支出的赔偿金、和解款、律师费、诉讼费支出等）进行赔偿。您并在此授权国美自您的国美账户及其绑定的打款账户中径行划扣这部分款项。
                    p 9.2、除本协议另有约定外，任何一方违反其于本协议项下的陈述、承诺、保证或义务，而使另一方遭受任何诉讼、纠纷、索赔、处罚等的，违约方应负责解决，使另一方发生任何费用、额外责任或遭受经济损失的，应当负责赔偿。如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，要求其消除影响。如违约方未能按时停止违约行为，则守约方有权立即终止本协议。如因国美自身原因造成您的损失，国美向您承担的最大总体责任和赔偿限额不应超过您在本协议项下实际经济损失。
                    h2 第十条：协议终止及转让
                    p 10.1、本协议在符合以下任意一项情形时终止：
                    p 10.1.1自然终止：如您在线签署的
                        a(href="javascritp:void(0);" target="_blank") 《国美平台服务协议》
                        span 因任何原因终止，则本协议将同时终止；
                    p 10.1.2通知解除：国美可提前15天以电子邮件的方式终止本协议，如若您在5个工作日内未回复邮件，则默认终止本协议，而国美无须承担违约责任；
                    p 10.1.3、单方解除权：出现下列情况之一的，国美有权立刻终止本协议，且按有关规则对您进行处罚：
                    p （1）您违反本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定；
                    p （2）您违反国美的相关条款、协议、规则、通告等相关规定，而被国美终止提供服务的；
                    p （3）您被国美清退出国美签约达人平台的。
                    p 10.1.4如非因国美的原因，您未能按本协议之规定，按时全额支付有关技术服务费用，且在国美规定的时限内仍未支付，国美有权部分或全部中止或终止本协议；
                    p 10.1.5、本协议规定的其它协议终止条件发生或实现，导致本协议终止。
                    p 10.2、协议终止后有关事项的处理：
                    p 10.2.1无论本协议因何原因终止，在协议终止前的行为所导致的任何责任，协议各方必须完全且独立地承担；
                    p 10.2.2协议终止后，国美有权保留您的注册数据及以前的交易行为记录。如您在协议终止前在国美上存在违法行为或违反协议的行为，国美仍可行使本协议所约定的权利；
                    p 10.3、国美有权将本协议项下的全部权利和义务转让予第三方，而无须征得您的同意，届时国美将通过页面通知或公告等方式向您发出转让通知。
                    h2 第十一条：其他约定
                    p 11.1、本协议适用中华人民共和国大陆地区法律。
                    p 11.2、因国美与您就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，国美和您同意由被告方住所地法院管辖审理双方的纠纷或争议。
                    p 11.3、国美可根据国家法律法规变化及保护消费者权益或业务发展需要，不时修改本协议、补充协议，变更后的协议、补充协议（下称“变更事项”）将通过法定程序通知您。如您不同意变更事项，您有权于变更事项确定的生效日前联系国美反馈意见。如反馈意见得以采纳，国美将酌情调整变更事项。如您对已生效的变更事项仍不同意的，您应当于变更事项确定的生效之日起停止使用国美签约达人平台服务，变更事项对您不产生效力；如您在变更事项生效后仍继续使用国美签约达人平台服务，则视为您同意已生效的变更事项。
                    h2 第十二条：特别说明
                    p 12.1、本协议项下的
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人付费话题审核规范》
                        span 、
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人话题资费说明》
                        span 、
                        a(href="javascritp:void(0);" target="_blank") 《国美签约达人平台管理规范》
                        span 均在国美圈子中发布。





