doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/recruit.css")
    body.opg
        .talent-recruit
            .recruit-banner            
            .recruit-privilege
            .recruit-norm
            .recruit-aptitude
                .aptitude
                    .aptitude-info.clearfix
                        p
                            strong 1. 完善个人资料 :  
                            | 完整的昵称、头像、性别信息
                        p.info-state
                            a.finish(href="javascritp:;",target="_blank")| 已完成
                    .aptitude-info.clearfix
                        p
                            strong 2. 发布至少2篇话题 : 
                            | 原创高质量内容更容易通过
                        p.info-state
                            a.unfinished(href="javascritp:;",target="_blank") 去完成&nbsp;&nbsp;&nbsp;&gt;
                .aptitude-apply
                    a.apply(href="javascritp:;")
                        | 开始申请
                    p 
                        | 需完成上面两个任务才可以申请