@import '../config/_base.scss';
@import '../config/_mixins.scss';

.opg{
	.header-top{
		position: relative;
		z-index: 102;
	    height: 31px;
	    line-height: 31px;
	    background-color: #f7f7f7;
	    border-bottom: 1px solid #f3f3f3;
	    a{
	        color: #5e5e5e;
	        &:hover{
	            color: #f95353;
	        }
	    }
	    .top-l{
	        float: left;
	        width: 50%;
	    }
	    .logo{
	        float: left;
	        .ic-gomeplus, .ic-gome{
	        	width: 17px;
	        	height: 16px;
	            margin-right: 6px;
    			vertical-align: -3px;
    		}
	        .ic-gomeplus{
	        	background-position: -100px 0;
	        }
	        .ic-gome{
	        	background-position: -125px 0;
	        }
	        .gomeplus{
	            margin-right: 20px;
	        }
	        .gome{
	            margin-right: 10px;
	        }
	    }
	    .line{
	        float: left;
	        width: 1px;
	        height: 11px;
	        margin: 11px 0 0;
	        background-color: #e6e6e6;
	    }
	    .user{
	        margin-left: 10px;
	        .level{
	            display: inline-block;
	            padding: 0 1px;
	            line-height: 13px;
	            font-size: 10px;
	            color: #f95353;
	            border-radius: 2px;
	            margin: 0 20px 0 6px;
	            border: 1px solid #f95353;
	        }
	    }
	    .signinout{
	        color: #888;
	    }
	    .top-r{
	        float: right;
	        li{
	            float: left;
	            position: relative;
	            a{
	                display: block;
	                padding: 0 10px;
	            }
	            .download-code{
	                a{
	                	float: none;
	                	display: inline-block;
	                	width: 130px;
	                    padding: 0 15px;
	                }
	            }
	        }
	        em{
	            font-size: 7px;
	            color: #aaa;
	            margin-left: 4px;
	            &.icon{
	                margin: -1px 4px 0 0;
	            }
	        }
	        .iconn-1{
	            display: none;
	        }
	    }
	    .collection, .download{
	        border-left: 1px solid transparent;
	        border-right: 1px solid transparent;
	        a{
	            position: relative;
	            z-index: 99;
	        }
	    }
	    .collection{
	        .ic-collect{
		        width: 16px;
		        height: 15px;
	            background-position: 0 0;
	        }
	    }
	    .download{
	        .ic-phone{
		        width: 15px;
		        height: 15px;
	            background-position: -50px 0;
	        }
	    }
	    .collect-list, .download-code{
	        display: none;
	        position: absolute;
	        top: 30px;
	        right: -1px;
	        z-index: 98;
	        border: 1px solid #e0e0e0;
	        background-color: #fff;
	    }
	    .collect-list{
	        width: 111px;
	        a{
	            display: block;
	            color: #888;
	            margin: 0 10px;
	            padding: 7px 0 8px;
	            border-bottom: 1px dashed #e0e0e0;
	            &:last-child{
	                border-bottom: none;
	            }
	            &:hover{
	                color: #f95353;
	            }
	        }
	    }
	    .download-code{
	        overflow: hidden;
	        padding: 15px 0;
	        white-space: nowrap;
	        a{
	            float: left;
	            text-align: center;
	            img{
	                margin-bottom: 5px;
	            }
	            span{
	                display: block;
	                line-height: 20px;
	            }
	            .red{
	                color: #f95353;
	            }
	            &:hover{
	                color: #5e5e5e;
	            }
	        }
	        .border-r{
	            border-right: 1px solid #e0e0e0;
	        }
	    }
	    .ic-collect{
	        width: 15px;
	        height: 15px;
	    }
	    .hover:hover{
	        border-left: 1px solid #e0e0e0;
	        border-right: 1px solid #e0e0e0;
	        .collect, .down{
	            color: #f95353;
	            background-color: #fff;
	        }
	        em{
	            color: #aaa;
	        }
	        .iconn-1{
	            display: inline-block;
	        }
	        .iconn-2{
	            display: none;
	        }
	        .collect-list, .download-code{
	            display: block;
	        }
	        .ic-collect{
	            background-position: -25px 0;
	        }
	        .ic-phone{
	            background-position: -75px 0;
	        }
	    }
	    .icon{
	        display: inline-block;
	        background: url(../../images/public/gome-sprite.png) no-repeat;
	    }
	}
}