div.header
	div.wrap-box.clearfix
		h1.fl
			a(href="#")
				img(src="../../images/public/logo.png")
		div.search
			div.search-val 
				p
					span 圈子
					// icon替换 icon-down
					em.iconn-2
				div.search-list
					a(href="javascript:;") 话题
					a(href="javascript:;") 圈子
					a(href="javascript:;") 商品
					a(href="javascript:;") 店铺
			input(type="text",name="",value="",placeholder="请输入关键词")
			// icon替换 icon-search
			em.iconn-3
		div.shop-car
			a(href="javascript:;")
				// icon替换 icon-car
				em.iconn-4
				| 消息
				span 0
				| 条
			a(href="#")
				// icon替换 icon-car
				em.iconn-5
				| 购物车
				span 0
				| 件
.windows-bg(style="display:none")
	.windows-ma
		// icon替换 icon-close
		a(href="javascript:;").iconn-7
		img(src="../../images/public/down-ma.png")
		p 扫描二维码，下载国美+APP查看消息
.windows-bg(style="display:none")
	.windows-ma
		// icon替换 icon-close
		a(href="javascript:;").iconn-7
		img(src="../../images/public/down-ma.png")
		p
			| 查看订单状态、及物流信息、办理退换货请下载国美+APP查看！
			br
			| 客服电话：010-57098333