.header-gome
	.wrap-box
		h1
			a(href="javascript:;").icon.mygome
		ul.gome-nav
			li
				a(href="javascript:;") 首页
			li
				a(href="javascript:;").cur-arrow 会员俱乐部
			li
				a(href="javascript:;") 会员权益
			li
				a(href="javascript:;") 会员等级
		.gome-top-right
			// 搜索
			.gome-search.active
				.search-list
					a(href="javascript:;")
						span 商品
						em.iconn-2
					.list-val
						a(href="javascript:;") 商品
						a(href="javascript:;") 店铺
						a(href="javascript:;") 话题
						a(href="javascript:;") 圈子
				input(type="text").search-input
				a(href="javascript:;").search-btn
					em.icon
			// 购物车
			.shop-cart
				a(href="javascript:;")
					em.icon.cart
					span.shopnum
						span 1
						i