@import '../config/_base.scss';
@import '../config/_mixins.scss';
.more-comments{
    width: 100%;
    background-color: #e9e8e5;
    a{
        display: block;
        height: 60px;
        line-height: 60px;
        font-size: $text16;
        color: $color-default;
        span{
            display: block;
            text-align: center;
        }
        img{
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    .disabled{
        cursor: default;
    }
}