@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
body, button, input, select, textarea {
  font-size: 14px;
  font-family: 'PingFang SC','Myriad Pro','Hiragino Sans GB','Microsoft YaHei',sans-serif; }

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, article, aside, footer, header, hgroup, nav, section, menu {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, li {
  list-style: none; }

fieldset, img {
  border: 0;
  vertical-align: middle; }

input, textarea {
  outline-style: none;
  background: transparent; }

textarea {
  resize: none; }

a {
  text-decoration: none;
  outline: none;
  color: #333; }

a:hover {
  text-decoration: none; }

em {
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../images/fonts/icomoon.eot?161124");
  src: url("../../../images/fonts/icomoon.eot?161124#iefix") format("embedded-opentype"), url("../../../images/fonts/icomoon.ttf?161124") format("truetype"), url("../../../images/fonts/icomoon.woff?161124") format("woff"), url("../../../images/fonts/icomoon.svg?161124#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -1px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #fff;
  min-width: 1200px; }

.wrap-box {
  width: 1200px;
  margin: 0 auto; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.pc-video h2 {
  font-size: 30px;
  font-weight: normal;
  padding: 10px 0; }

.video-box {
  background: #333; }
  .video-box .video {
    position: relative;
    float: left;
    width: 900px;
    height: 546px; }
    .video-box .video .icon-open {
      width: 15px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #999;
      background: #121212;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      position: absolute;
      right: -15px;
      top: 50%;
      margin-top: -30px;
      cursor: pointer;
      z-index: 50; }
  .video-box .video-text {
    float: right;
    width: 300px;
    height: 546px;
    box-sizing: border-box;
    color: #999;
    line-height: 24px;
    position: relative; }
    .video-box .video-text p {
      padding: 5px 0;
      display: none; }
    .video-box .video-text .tab {
      height: 40px; }
      .video-box .video-text .tab a {
        display: block;
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid #4b4b4b;
        color: #999; }
      .video-box .video-text .tab .active {
        color: #fff;
        border-bottom: 2px solid #e90033; }
    .video-box .video-text .text {
      padding: 0 20px;
      overflow-y: auto;
      max-height: 444px;
      display: none;
      word-break: break-all;
      word-wrap: break-word; }
      .video-box .video-text .text a {
        color: #fff; }
    .video-box .video-text .text-list {
      padding: 0 20px;
      overflow-y: auto;
      max-height: 444px;
      font-size: 12px;
      line-height: 14px; }
      .video-box .video-text .text-list li {
        padding: 8px 0;
        color: #d6d6d6;
        word-break: break-all;
        word-wrap: break-word; }
        .video-box .video-text .text-list li a {
          color: #49abd1; }
    .video-box .video-text .text-form {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 62px;
      background: #464646;
      box-sizing: border-box;
      padding: 10px; }
      .video-box .video-text .text-form .form-text {
        height: 22px;
        line-height: 1;
        line-height: 22px\9;
        padding: 10px;
        width: 200px;
        border-radius: 3px;
        float: left;
        color: #999;
        border: 0;
        background: #2f2f2f; }
      .video-box .video-text .text-form .form-btn {
        height: 42px;
        line-height: 42px;
        width: 54px;
        text-align: center;
        border-radius: 3px;
        float: right;
        color: #fff;
        border: 0;
        background: #fe874c; }
  .video-box .video-foot {
    background: #eee;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    position: relative; }
    .video-box .video-foot .fl {
      float: left; }
    .video-box .video-foot .icon {
      font-size: 18px;
      margin-right: 10px;
      cursor: pointer;
      vertical-align: -3px;
      color: #acacac; }
    .video-box .video-foot span {
      margin-right: 10px; }
    .video-box .video-foot .icon-up, .video-box .video-foot .icon-down {
      font-size: 10px;
      vertical-align: 0px;
      color: #333; }
    .video-box .video-foot .icon-weixin:hover {
      color: #5fca7e; }
    .video-box .video-foot .icon-qq:hover {
      color: #4fc9f8; }
    .video-box .video-foot .icon-sina:hover {
      color: #fa5c50; }
    .video-box .video-foot .icon-kongjian:hover {
      color: #f7c71d; }
    .video-box .video-foot .share-box {
      position: absolute;
      left: 0;
      top: 48px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 4px;
      width: 420px; }
      .video-box .video-foot .share-box .icon-sanjiao {
        position: absolute;
        left: 70px;
        top: -11px;
        width: 22px;
        height: 11px;
        background: url(../../../images/public/icon-up.png) no-repeat center; }
      .video-box .video-foot .share-box .share-list {
        padding: 15px; }
        .video-box .video-foot .share-box .share-list p {
          line-height: 24px; }
        .video-box .video-foot .share-box .share-list .video-add {
          position: relative;
          padding: 5px 0 5px 77px;
          line-height: 25px; }
          .video-box .video-foot .share-box .share-list .video-add span {
            position: absolute;
            left: 0;
            top: 5px;
            width: 82px;
            color: #999;
            margin-right: 0; }
          .video-box .video-foot .share-box .share-list .video-add .copy-text {
            border: 1px solid #ccc;
            height: 25px;
            width: 250px;
            box-sizing: border-box;
            padding: 0 6px;
            line-height: 25px\9;
            font-size: 12px; }
          .video-box .video-foot .share-box .share-list .video-add .copy-btn {
            border: 1px solid #ccc;
            box-sizing: border-box;
            height: 25px;
            line-height: 25px\9;
            width: 50px;
            background: #eee;
            font-size: 12px;
            cursor: pointer;
            vertical-align: -1px;
            margin-left: 5px; }

.weixinsharebox {
  height: 500px;
  margin-top: 50px; }

.share-weixin {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: none; }

.wx-mask {
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .3;
  filter: alpha(opacity=30); }

.wx-main {
  width: 370px;
  height: 370px;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -200px;
  z-index: 99; }

.wx-main span {
  height: 50%;
  display: inline-block; }

.wx-main img {
  vertical-align: middle;
  max-width: 300px; }

.wx-main p {
  font: 12px/30px "Microsoft YaHei";
  margin: 0;
  padding: 0; }

.wx-code {
  height: 300px;
  padding-top: 30px; }

.wx-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  font: 30px/30px SimSun;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #e60039; }


