doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/module/packet/packet.css")
    body.opg.coupons-pop
        include ../../../m-widget/head/rem.jade
        include ../../../m-widget/header/header-2.jade
        header.packet-top
            .open01.block
                a.btn-pack(href="javascript:;")
            .open02
            .open03
            .open04.block
                .text
                    strong.gome-b 5.00
                    em.time 2016.12.28
        section.packet-zone
            h3.packet-tl 神秘红包赚不停
            ul.goods-list
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食宴会专用的高贵紫色亮片高跟鞋宴会专
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食宴会专用的高贵紫色亮片高跟鞋宴会专
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
         .totop

