doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/packet/packet.css")
    body.opg.coupons-pop
        include ../../../m-widget/head/rem.jade
        include ../../../m-widget/header/header-2.jade
        .m-mask
        .packet-pop
            span
            h3 说明
            .pop-txt
                p 1.通过国美＋平台内参与某些活动后获得抽红包的机会；
                p 2.红包以国美币的形式发送；
                p 3.国美币可直接用于购物或者提现；
                p 4.抽取到红包，用户可在“我的返利”模块中查看红包记录及红包明细；
                p 5.根据国美+平台推广的活动情况，奖品类型会不断丰富；
                p 6.国美+保留法律范围内允许的对活动的解释权，如有疑问可联系国美+客服。
        header.packet-no
        section.packet-zone
            h3.packet-tl 神秘红包赚不停
            ul.goods-list
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食宴会专用的高贵紫色亮片高跟鞋宴会专
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
                li
                    a.goods-it(href="javascript:;")
                        .it-img.img-default
                            img(src="http://zhimg.jscdn.cn/76078ef666dc76a0aeb83b86d162076d.jpg", alt="")
                        h4.it-tl
                            em.icon-pk
                            | 宴会专用的高贵紫色亮片高跟鞋宴会专用吆食宴会专用的高贵紫色亮片高跟鞋宴会专
                        p.it-money ¥8888884.00
                        del.it-del ¥8888884.00
