@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.wrong p {
  line-height: 40px;
  font-size: 24px;
  color: #626262;
  margin-top: 26px; }
  .wrong p span {
    display: block; }
  .wrong p a {
    color: #f95353; }

.wrong {
  text-align: center;
  padding: 50px 0; }


