<div class="m-downapp">
	<div class="app-box">
		<a class="app-close">
			<em class="icon-close"></em>
		</a>
		<img src="https://css.meixincdn.com/m/h5/dist/images/gome_icon.png" class="app-logo">
		<h2 class="app-tit">更多优惠尽在国美Plus</h2>
		<a href="javascript:;" class="app-btn">戳我打开</a>
	</div>
</div>
