<div class="footer">
    <div class="body-footer">
    	<ul>
    		<li><a>国美官网</a><span>|</span></li>
    		<li><a>美妙官网</a><span>|</span></li>
    		<li><a>联系我们</a><span>|</span></li>
    		<li><a>关于我们</a><span>|</span></li>
    		<li><a>平台协议</a></li>
    	</ul>
    	<div className="copyRight">Copyright © 2015-2017 美信网络技术有限公司版权所有</div>
	</div>
</div>