<div class="head">
	<div class="logo">
		<a href="/"><img src="../../../../src/imgs/public/logo.png" /></a>
	</div>
	<div class="fr">
		<span>小賀先森</span>
		<span class="line">|</span>
		<a href="javascript:;">退出</a>
	</div>
</div>