@charset "utf-8";
/*==============================标准色==========================*/

/*==============================wrap宽度==========================*/
$wrapbody:1200px;
/*----结构宽度-----*/
$w1080:1080px;
$w200:200px;
$w870:870px;
$w480:480px;
$w380:380px;

/*----主色-----*/
$color-blue:#419dea;    //状态-深蓝```
$color-white:#fff;     //字体颜色···
$color-gray:#999;       //灰色```
$color-border:#cdcdcd;  //边框颜色```
$color-danger:#ee2f2f;  //危险-红```
$color-success:#333;    //成功-绿
$color-info:#333;       //一般-浅蓝
$color-warning:#fc8753;    //警告-黄```
$color-bor:#e9e8e3; //border颜色
$border-color:#e4e4e4;

$link-color:#333;       //链接````

/*==============================字体大小==========================*/

$text12:12px;
$text14:14px;
$text16:16px;


