@charset "utf-8";
@import '../../widget/config/_base.scss';
@import '../../widget/config/_mixins.scss';
.opg{
    width:100%;
    min-width: 1200px;
    //background:url("../../images/circle/circleactivity/bannerIe.jpg") no-repeat top 50%;
 }
.banner{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height:462px;
    background:url("../../images/circle/circleactivity/banner.jpg") no-repeat top center; 
    _display:none;
    .banner-left{
        width:403px;
        height:460px;
        position:absolute;
        top:0;
        left:0;
        background:url("../../images/circle/circleactivity/banner-left.png") no-repeat ;
    }
    .banner-right{
        width:303px;
        height:470px;
        position:absolute;
        top:0;
        right:0;
        background:url("../../images/circle/circleactivity/banner-right.png") no-repeat ;
    }
    .banner-cent{
        width:1200px;
        height:374px;
        position:absolute;
        top:88px;
        left:50%;
        margin-left: -600px;
        background:url("../../images/circle/circleactivity/banner-cent.jpg") no-repeat  ;
    }
}

.activity{
    position:absolute;
    top:286px;
    width:100%;
    min-width: 1200px;
    height:2594px;
    background:url("../../images/circle/circleactivity/bg.png") no-repeat top center;
    _background:none;
    _position:relative;
    _top:0;
    .activity-pic{
        width:1100px;
        height:600px;
        margin:0 auto;
        padding: 144px 0 80px;
        background:url("../../images/circle/circleactivity/picture.png") no-repeat 0 144px ;
        _background:url("../../images/circle/circleactivity/pictureIe.jpg") no-repeat top 50%;
        _width:100%;
        _padding:0; 
        _height:1032px;
        _position:relative;
        
    }
    .activity-explain{
        width:967px;
        height:670px;
        margin:0 auto;
        padding-bottom: 82px;
        background:url("../../images/circle/circleactivity/explain.png") no-repeat ;
        _background:url("../../images/circle/circleactivity/explainIe.jpg") no-repeat top 50%;
        _width:100%;
        _height:837px;
        _padding-bottom: 0px;
    }
    .activity-award{
        width:950px;
        height:849px;
        margin:0 auto;
        background:url("../../images/circle/circleactivity/award.png") no-repeat;
        _background:url("../../images/circle/circleactivity/awardIe.jpg") no-repeat top 50%;
        _width:100%;
        _height:1002px;
    }
    .activity-btn{
        position:fixed;
        bottom:20px;
        width:180px;
        height:145px;
        right:20px;         
        _position:absolute;
        _bottom:168px;       
        a{
            display: block;
            width:100%;
            height:100%;
            background:url("../../images/circle/circleactivity/publish-btn.gif") no-repeat ;
        }
    }
    
}
