@charset "utf-8";  
@import '../../widget/config/_base.scss';
@import '../../widget/header/header-meihao.scss';


.ban{
	margin:0 auto 60px;
	width:1198px;
	border:1px solid #e1e1e1;
	background:#fff;
	padding:300px 0;
	text-align:center;
	p{
		display:inline-block;		
		padding-left:50px;
		margin:0 auto;
		height:44px;
		line-height:44px;
		background: url("../../images/meihao/sprite.png")  0px -454px no-repeat;
		font-size:18px;
		color:#ff9966;
	}
}