<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%=devenv%>dist/css/app.css">
</head>
<body>
	<div class="new-main">
		<div class="banner">
		    <div class="new-logo">
                <img src="../../../../src/imgs/public/new-logo.png">
            </div>
            <div class="new-login">
                <div class="login-tab clearfix">
                	<a href="javascript:;" class="active">登录</a>
                	<a href="javascript:;">注册</a>
                </div>
                <div class="tab-con">
                	
                </div>
            </div>
			<ul class="clearfix">
				<li>
				    <a href="#" style="background-image: url('https://gfs12.gomein.net.cn/T1KhYvBQ__1RCvBVdK.jpg');"></a>
				</li>
				<li>
                    <a href="#" style="background-image: url('https://gfs12.gomein.net.cn/T1KhYvBQ__1RCvBVdK.jpg');"></a>
                </li>
                <li>
                    <a href="#" style="background-image: url('https://gfs12.gomein.net.cn/T1KhYvBQ__1RCvBVdK.jpg');"></a>
                </li>
			</ul>
		</div>
		<div class="pgc-bg"></div>
		<div class="list">
			<h3 class="title">合作伙伴</h3>
			<ul class="clearfix">
				<li>
				    <a href="#">
				        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
				        <p>捕鹿工作室</p>
				    </a>
				</li>
				<li>
                    <a href="#">
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                        <p>捕鹿工作室</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                        <p>捕鹿工作室</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                        <p>捕鹿工作室</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                        <p>捕鹿工作室</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                        <p>捕鹿工作室</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                        <p>捕鹿工作室</p>
                    </a>
                </li>
			</ul>
		</div>
		<div class="list list2">
            <h3 class="title">合作品牌</h3>
            <ul class="clearfix">
                <li>
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                </li>
                <li>
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                </li>
                <li>
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                </li>
                <li>
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                </li>
                <li>
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                </li>
                <li>
                        <img src="https://cmsimg.meixincdn.com/images/2017/04/qGrUH140TAnR3NjgLX6puPOzDmSEd2.130x130.jpg" />
                </li>
            </ul>
        </div>
	</div>
	<div class="new-footer">
		<img src="../../../../src/imgs/public/footer.png">
		<div>
		    <a href="#">国美官网</a>
		    <span>|</span>
		    <a href="#">美秒官网</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">平台协议</a>
		</div>
		<p>Copyright © 2015-2017 美信网络技术有限公司版权所有</p>
	</div>
	<script src="<%=devenv%>dist/js/vendor.js"></script>
	<script src="<%=devenv%>dist/js/main.js"></script>
</body>
</html>