@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.bg-white {
  background-color: #fff; }

.content-top {
  height: 59px;
  line-height: 59px;
  border-bottom: 1px solid #e9e8e5; }
  .content-top h3 {
    float: left;
    font-size: 18px;
    margin-left: 30px; }
  .content-top a {
    float: right;
    margin-top: 14px;
    margin-right: 20px; }

.logis-progress {
  line-height: 30px;
  padding: 19px 30px 20px 0; }
  .logis-progress table {
    display: block;
    height: 364px;
    padding-left: 30px;
    overflow-y: auto; }
    .logis-progress table tr td {
      width: 1090px;
      overflow: visible;
      padding-left: 25px;
      position: relative;
      vertical-align: top;
      border-left: 1px dashed #e9e8e5; }
      .logis-progress table tr td .iconn-67 {
        font-size: 5px;
        color: #d9d9d9;
        position: absolute;
        top: 9px;
        left: -6px; }
        .logis-progress table tr td .iconn-67.active {
          color: #dc464c; }
      .logis-progress table tr td .time {
        float: left; }
      .logis-progress table tr td p {
        float: left; }
      .logis-progress table tr td .date {
        margin-right: 18px; }
      .logis-progress table tr td .week {
        margin-right: 10px; }
      .logis-progress table tr td .hour {
        color: #666;
        margin-right: 189px; }
        .logis-progress table tr td .hour span {
          display: block; }
      .logis-progress table tr td .state-illustrate span {
        display: block; }
        .logis-progress table tr td .state-illustrate span.checked {
          display: inline;
          color: #dc464c; }

.detail-txt {
  line-height: 26px;
  padding: 20px 0 29px 52px;
  background-color: #fff8e7; }
  .detail-txt li {
    line-height: 24px; }
    .detail-txt li.fl p {
      float: left; }
    .detail-txt li.fl span.bold {
      font-weight: bold;
      margin-right: 50px; }
    .detail-txt li .connect {
      padding-left: 30px; }
      .detail-txt li .connect:hover {
        color: #e30d3e; }
