@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.tagHover {
  color: #ed585d !important; }

.overflow-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1170px;
  margin: 20px auto;
  background-color: #fff;
  padding: 12px 15px;
  overflow: hidden; }
  .container .page-tags {
    width: 130px;
    float: left; }
    .container .page-tags .circle-classify {
      width: 115px;
      height: 14px;
      line-height: 14px;
      padding: 0 0 10px 15px;
      color: #888;
      font-size: 14px;
      border-bottom: 1px solid #dddddd; }
    .container .page-tags .tags-container {
      margin-top: 13px;
      padding-left: 15px;
      overflow: hidden; }
      .container .page-tags .tags-container a {
        display: inline-block;
        width: 130px;
        padding-bottom: 18px;
        cursor: pointer; }
        .container .page-tags .tags-container a:hover {
          color: #ed585d; }
  .container .page-tab {
    width: 1010px;
    float: left;
    margin: 25px 15px; }
    .container .page-tab ul {
      width: 100%;
      overflow: hidden; }
    .container .page-tab li {
      float: left;
      width: 245px;
      margin: 0 6px 10px 0;
      background: #fff;
      position: relative;
      border: 1px solid #e6e6e6; }
      .container .page-tab li:nth-child(4n) {
        margin-right: 0; }
      .container .page-tab li .scale-small {
        position: relative; }
        .container .page-tab li .scale-small .tag {
          position: absolute;
          top: 10px;
          left: 10px;
          max-width: 80px;
          height: 10px;
          line-height: 10px;
          background: #f45490;
          border-radius: 2px;
          padding: 5px 6px;
          font-size: 12px;
          color: #fff;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
      .container .page-tab li .img {
        width: 245px;
        height: 245px;
        margin-bottom: 2px; }
        .container .page-tab li .img a {
          display: block; }
        .container .page-tab li .img img {
          width: 245px;
          height: 245px;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease;
          -webkit-transition: all .3s ease;
          transition: all .3s ease; }
      .container .page-tab li:hover {
        box-shadow: 3px 3px 6px 0 #d2d2d2;
        -webkit-box-shadow: 3px 3px 6px 0 #d2d2d2;
        -moz-box-shadow: 3px 3px 6px 0 #d2d2d2; }
        .container .page-tab li:hover .img img {
          -moz-transform: scale3d(0.98, 0.98, 1);
          -ms-transform: scale3d(0.98, 0.98, 1);
          -webkit-transform: scale3d(0.98, 0.98, 1);
          transform: scale3d(0.98, 0.98, 1); }
      .container .page-tab li .text {
        line-height: 22px;
        padding: 14px 10px;
        position: relative;
        z-index: 20; }
        .container .page-tab li .text a {
          font-size: 14px;
          color: #333;
          display: block;
          width: 224px; }
          .container .page-tab li .text a:hover {
            color: #e60039; }
      .container .page-tab li .text-icon {
        height: 12px;
        line-height: 12px;
        margin-top: 10px;
        color: #888888;
        font-size: 12px; }
        .container .page-tab li .text-icon .fl {
          float: left;
          padding-right: 10px;
          box-sizing: border-box; }
          .container .page-tab li .text-icon .fl em {
            font-style: normal;
            color: #999; }
    .container .page-tab .page {
      margin: 50px 0 5px 0; }
