@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
a {
  color: #333; }

* {
  padding: 0;
  margin: 0; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: 0; }

img {
  border: 0 none; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

input,
button {
  border: none;
  background: none;
  outline: none; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.icon-del {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 27px;
  height: 27px;
  z-index: 25;
  background: url(../../images/public/icon-topic.png) no-repeat 0 -54px;
  cursor: pointer;
  display: none; }

.circle-index-list .topic-list {
  margin: 0 -20px 0 0; }
  .circle-index-list .topic-list .clearfix {
    width: 1000px; }

.circle-index-list .circle-box {
  position: relative;
  width: 230px;
  float: left;
  margin: 0 10px 10px 0;
  background-color: #fff;
  overflow: hidden;
  /* &:hover {
            .icon-del {
                display: block;
            }
            .topic-tag {
                width: auto;
                white-space: nowrap;
            }
        } */ }
  .circle-index-list .circle-box p {
    font-size: 12px;
    color: #bbb;
    word-break: break-all;
    word-wrap: break-word; }
    .circle-index-list .circle-box p em.set-top {
      background-color: #e0eefd;
      color: #6699fd; }
    .circle-index-list .circle-box p em.set-spark {
      background-color: #fedccb;
      color: #f87480; }
    .circle-index-list .circle-box p em.set-access {
      background-color: #f9e888;
      color: #b6850e; }
  .circle-index-list .circle-box .topic-tag {
    z-index: 9;
    position: absolute;
    top: 10px;
    left: 9px;
    padding: 0 8px 0 1px;
    width: 11px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #666;
    overflow: hidden;
    background: url(../../images/public/opacity2.png) repeat;
    *width: 20px; }
    .circle-index-list .circle-box .topic-tag em.icon-lysy {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      line-height: 13px;
      border-radius: 50%;
      overflow: hidden;
      padding: 1px;
      margin-right: 3px;
      margin-top: 1px;
      background-color: #fff; }
      .circle-index-list .circle-box .topic-tag em.icon-lysy img {
        width: 16px;
        height: 16px;
        border-radius: 50%; }
  .circle-index-list .circle-box .topic-tag-static {
    position: static;
    display: block;
    margin: 12px 0 0 16px; }
  .circle-index-list .circle-box .topic-num {
    z-index: 9;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    background: url(../../images/public/opacity2.png) repeat; }
  .circle-index-list .circle-box .list-img {
    width: 230px;
    position: relative; }
    .circle-index-list .circle-box .list-img img {
      width: 100%;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .circle-index-list .circle-box .list-img em.icon-play {
      position: absolute;
      z-index: 10;
      cursor: pointer;
      right: 15px;
      bottom: 15px;
      width: 30px;
      height: 30px;
      background: url(../../images/public/sprite.png) no-repeat -80px -23px; }
  .circle-index-list .circle-box .list-box {
    border: 1px solid #ddd;
    border-top: none;
    *width: 230px;
    *overflow: hidden; }
  .circle-index-list .circle-box.no-pic .list-box {
    border: 1px solid #ddd; }
  .circle-index-list .circle-box p.list-title {
    color: #333;
    font-size: 13px;
    padding: 20px 20px 0;
    margin: 0 0 10px 0;
    max-height: 37px;
    overflow: hidden; }
    .circle-index-list .circle-box p.list-title em {
      float: left;
      width: 30px;
      height: 16px;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      border-radius: 3px;
      margin-right: 4px;
      float: none\9;
      display: inline-block\9; }
  .circle-index-list .circle-box p.list-time {
    border-top: 1px dashed #dedede;
    padding: 6px 6px 0;
    margin: 0 14px 6px; }
  .circle-index-list .circle-box p.list-tag {
    padding: 0 20px 14px; }
    .circle-index-list .circle-box p.list-tag a {
      color: #fa8759; }
      .circle-index-list .circle-box p.list-tag a:hover {
        text-decoration: underline; }
  .circle-index-list .circle-box p.list-description {
    margin: 0 20px 12px;
    line-height: 20px;
    color: #999; }
    .circle-index-list .circle-box p.list-description a {
      display: block;
      max-height: 40px;
      overflow: hidden;
      color: #777; }
  .circle-index-list .circle-box .text-icon {
    padding: 0 20px 10px;
    font-size: 14px; }
    .circle-index-list .circle-box .text-icon span {
      float: left;
      font-size: 12px;
      color: #888;
      margin: 0 13px 0 0; }
    .circle-index-list .circle-box .text-icon .icon-collection {
      margin-right: 5px; }
      .circle-index-list .circle-box .text-icon .icon-collection:before {
        content: "\e917"; }
    .circle-index-list .circle-box .text-icon .icon-like {
      display: inline-block;
      background: url(../../images/public/icon-topic.png) no-repeat 0 -111px;
      width: 14px;
      height: 14px;
      margin: 0 5px 0 0;
      vertical-align: -2px; }
    .circle-index-list .circle-box .text-icon .icon-discuss {
      display: inline-block;
      background: url(../../images/public/icon-topic.png) no-repeat 0 -134px;
      width: 14px;
      height: 14px;
      margin: 0 5px 0 0;
      vertical-align: -3px; }
    .circle-index-list .circle-box .text-icon .active {
      color: #e60039; }
      .circle-index-list .circle-box .text-icon .active:before {
        content: "\e918"; }
    .circle-index-list .circle-box .text-icon .icon-share {
      margin-right: 5px; }
    .circle-index-list .circle-box .text-icon a {
      float: left;
      margin-right: 10px; }
      .circle-index-list .circle-box .text-icon a:hover {
        color: #333; }
    .circle-index-list .circle-box .text-icon .a-share {
      position: relative;
      cursor: default; }
      .circle-index-list .circle-box .text-icon .a-share p {
        display: none;
        position: absolute;
        left: 100%;
        top: 0; }
        .circle-index-list .circle-box .text-icon .a-share p em {
          font-size: 18px;
          margin: 0 2px; }
      .circle-index-list .circle-box .text-icon .a-share:hover p {
        display: block; }
  .circle-index-list .circle-box .list-price {
    color: #e7003b;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px 0; }
    .circle-index-list .circle-box .list-price span {
      font-size: 25px;
      line-height: 22px; }
    .circle-index-list .circle-box .list-price em {
      float: right;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      border-radius: 3px;
      font-style: normal;
      background-color: #e40037; }
  .circle-index-list .circle-box .del-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../../images/public/opacity3.png);
    z-index: 30;
    text-align: center; }
    .circle-index-list .circle-box .del-btn .del-text {
      font-size: 20px;
      color: #333;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 87%;
      height: 138px;
      margin: -69px 0 0 -99px;
      background: #fff;
      border-radius: 3px; }
      .circle-index-list .circle-box .del-btn .del-text .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 14px;
        height: 14px;
        background: url(../../images/public/icon-topic.png) no-repeat -58px 0; }
      .circle-index-list .circle-box .del-btn .del-text p {
        padding: 40px 0 20px 0;
        font-size: 14px;
        color: #333; }
      .circle-index-list .circle-box .del-btn .del-text .pc-btn {
        width: 70px;
        height: 28px;
        line-height: 28px;
        margin: 0 3px 0 0; }
        .circle-index-list .circle-box .del-btn .del-text .pc-btn:hover {
          background: #f5323f; }
        .circle-index-list .circle-box .del-btn .del-text .pc-btn.pc-bj-fff {
          background: #a5a5a5;
          color: #fff; }
          .circle-index-list .circle-box .del-btn .del-text .pc-btn.pc-bj-fff:hover {
            background: #999; }
  .circle-index-list .circle-box .del-all {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../../images/public/opacity3.png);
    z-index: 30; }
    .circle-index-list .circle-box .del-all .icon-check {
      position: absolute;
      right: 4px;
      top: 4px;
      height: 20px;
      width: 20px;
      background: url(../../images/public/icon-topic.png) no-repeat 0 -22px; }
    .circle-index-list .circle-box .del-all .icon-check.active {
      background-position: -26px -22px; }
  .circle-index-list .circle-box .pc-btn {
    display: inline-block;
    color: #fff;
    background: #f95353;
    font-size: 14px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 3px; }

.circle-index-list .topic-del {
  height: 26px;
  line-height: 26px;
  margin: 2px 0 10px 0;
  font-size: 12px;
  *line-height: 30px;
  _line-height: 31px; }
  .circle-index-list .topic-del .left-edit {
    float: left; }
    .circle-index-list .topic-del .left-edit p {
      color: #888; }
  .circle-index-list .topic-del .right-edit {
    float: right; }
    .circle-index-list .topic-del .right-edit .btn-check {
      margin: 0 28px 0 0;
      color: #5e5e5e;
      *display: inline-block;
      *line-height: 30px;
      _padding: 8px 0 0 0;
      _float: left; }
      .circle-index-list .topic-del .right-edit .btn-check .checkbox {
        background: url(../../images/public/icon-topic.png) no-repeat 0 0;
        width: 14px;
        height: 14px;
        vertical-align: -3px;
        display: inline-block;
        margin: 0 6px 0 0;
        *vertical-align: -1px;
        _vertical-align: 0px; }
        .circle-index-list .topic-del .right-edit .btn-check .checkbox.active {
          background: url(../../images/public/icon-topic.png) no-repeat -26px 0; }
    .circle-index-list .topic-del .right-edit .btn-batch,
    .circle-index-list .topic-del .right-edit .btn-del,
    .circle-index-list .topic-del .right-edit .btn-cancel {
      color: #5e5e5e;
      padding: 5px 14px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 12px;
      margin: 0 0 0 4px; }
    .circle-index-list .topic-del .right-edit a .iconn-72 {
      font-size: 16px;
      vertical-align: -2px;
      margin-right: 5px; }

.circle-index-list .no-topic {
  height: 300px;
  background-color: #fff;
  margin-bottom: 12px; }
  .circle-index-list .no-topic .txt {
    text-align: center; }
    .circle-index-list .no-topic .txt em {
      font-size: 44px;
      color: #cdcdcd;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      background: #f9f9f9;
      display: inline-block;
      line-height: 80px; }
    .circle-index-list .no-topic .txt p {
      font-size: 13px;
      text-align: center;
      line-height: 300px;
      color: #a5a5a5; }
      .circle-index-list .no-topic .txt p a {
        color: #0061ba; }
        .circle-index-list .no-topic .txt p a:hover {
          text-decoration: underline; }

.more-loading {
  background: #f1f1f1;
  height: 1px;
  position: relative;
  margin: 21px 0; }
  .more-loading a {
    background: #fff;
    padding: 0 14px 0 16px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0 0 0 -96px;
    max-width: 193px; }
    .more-loading a img {
      float: left; }
    .more-loading a span {
      font-size: 14px;
      color: #a5a5a5;
      margin: 0 0 0 14px; }

.pop-box {
  position: relative;
  width: 350px;
  min-height: 130px;
  background: #fff;
  padding: 24px 0;
  border-radius: 3px; }
  .pop-box .del-pop-p {
    font-size: 16px;
    padding: 28px 25px 29px;
    text-align: center;
    min-width: 300px; }
  .pop-box .pc-btn {
    display: block;
    color: #fff;
    width: 105px;
    height: 35px;
    line-height: 35px;
    background: #f95353;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin: 0 auto; }
  .pop-box .text-center {
    text-align: center; }
  .pop-box .icon-close {
    color: #ccc;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    background: transparent;
    _background: #fff;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    *width: 20px; }
  .pop-box .two-button {
    display: inline-block;
    padding: 0 19px;
    height: 31px;
    line-height: 31px;
    margin: 0 5px;
    background-color: #a5a5a5;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 3px; }
    .pop-box .two-button:hover {
      background: #999; }
    .pop-box .two-button.two-button-red {
      background: #f95353;
      color: #fff; }
    .pop-box .two-button.two-button-red:hover {
      background: #f5323f; }

.ui-dialog-content {
  *width: 350px; }
