@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.shop-list ul li .text p {
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.opg .crumbs-box {
  background: #f6f5ee;
  width: 1200px;
  margin: 0 auto; }

.comment-suc {
  text-align: center;
  padding: 30px 0 20px;
  background-color: #fff; }
  .comment-suc .title {
    line-height: 1; }
    .comment-suc .title .iconn-20 {
      display: inline-block;
      width: 70px;
      height: 70px;
      font-size: 78px;
      color: #13c1ec;
      margin-right: 25px; }
    .comment-suc .title h2 {
      font-size: 30px;
      font-weight: normal;
      display: inline-block;
      vertical-align: 16px; }
  .comment-suc p {
    color: #999;
    text-indent: 51px; }
  .comment-suc a {
    display: block;
    color: #f95353;
    margin-top: 18px; }
    .comment-suc a:hover {
      color: #e30d3e; }

.goods-title {
  font-size: 30px;
  line-height: 70px;
  font-weight: normal;
  border-bottom: 1px solid #e3e3db;
  text-align: center;
  margin-bottom: 20px; }
  .goods-title span {
    display: inline-block;
    border-bottom: 3px solid #e80032;
    margin-bottom: -1px; }

.shop-list {
  position: relative; }
  .shop-list .icon {
    font-size: 50px;
    position: absolute;
    top: 115px;
    color: #9a9a9a; }
    .shop-list .icon:hover {
      color: #e60039; }
  .shop-list .iconn-8 {
    left: -50px; }
  .shop-list .iconn-9 {
    right: -50px; }
  .shop-list ul {
    margin-right: -13px; }
    .shop-list ul li {
      background: #fff;
      float: left;
      width: 230px;
      margin: 0 12px 15px 0;
      position: relative; }
      .shop-list ul li .icon-fan {
        position: absolute;
        right: 6px;
        top: -5px;
        width: 33px;
        height: 28px;
        background: url(../../images/public/sprite.png) no-repeat 0 -25px;
        color: #fff;
        font-style: normal;
        text-align: center; }
      .shop-list ul li .icon-jiang {
        background: url(../../images/public/sprite.png) no-repeat -40px -25px; }
      .shop-list ul li img {
        width: 230px;
        height: 230px; }
      .shop-list ul li .comment-btn {
        height: 40px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        background-color: #f95353; }
        .shop-list ul li .comment-btn:hover {
          background-color: #e30d3e; }
      .shop-list ul li .text {
        color: #e60039;
        padding: 10px 15px;
        line-height: 26px;
        border-top: #f6f5ee; }
        .shop-list ul li .text span {
          font-size: 25px; }
        .shop-list ul li .text p {
          width: 100%;
          color: #333; }
          .shop-list ul li .text p:hover {
            color: #e30d3e; }

.more-comments {
  margin-top: 15px; }
