@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.shop-car-list .product-name .product-title, .shop-car-list .product-name .product-color, .shop-car-list .product-name .product-source {
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.opg .crumbs-box {
  background: #f6f5ee;
  width: 1200px;
  margin: 0 auto; }

.bg-white {
  width: 1134px;
  padding: 0 33px 22px;
  margin-bottom: 20px;
  background-color: #fff; }

.order-detail-box {
  padding-bottom: 22px;
  border-bottom: 1px dashed #e9e8e5; }

.borb {
  border-bottom: 1px solid #f6f5ee; }

.order-detail-title {
  font-size: 20px;
  font-weight: normal;
  padding-top: 25px; }

.order-detail {
  margin: 26px 0 0 11px; }
  .order-detail li {
    color: #999;
    line-height: 24px; }
    .order-detail li label {
      float: left; }
    .order-detail li p {
      float: left;
      color: #333;
      margin-left: 15px; }
      .order-detail li p span {
        display: block; }
    .order-detail li .order-state {
      color: #fc8753; }
    .order-detail li .time span {
      display: inline; }
    .order-detail li .time .clock {
      color: #666; }

.button-box {
  text-align: center;
  margin-right: -29px;
  position: relative; }
  .button-box .count-down {
    position: absolute;
    top: 26px;
    left: 3px; }
    .button-box .count-down .time {
      color: #e30d3e;
      text-align: left; }
      .button-box .count-down .time .iconn-65 {
        margin-right: 11px; }
    .button-box .count-down .txt-in {
      margin-left: 25px; }

.order-blank-btn {
  display: inline-block;
  width: 118px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  margin: 20px 29px 0 0;
  border-radius: 3px;
  border: 1px solid #e9e8e5; }
  .order-blank-btn:hover {
    color: #fff;
    background-color: #e30d3e;
    border: 1px solid #e30d3e; }

.order-pay-btn {
  color: #fff;
  border: 1px solid #f95353;
  background-color: #f95353; }

.order-orange-btn {
  color: #fff;
  border: 1px solid #fc8753;
  background-color: #fc8753; }
  .order-orange-btn:hover {
    border: 1px solid #eb5f24;
    background-color: #eb5f24; }

.shop-car-list {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 14px; }
  .shop-car-list tr {
    border: none;
    border-bottom: 1px solid #f6f5ee; }
    .shop-car-list tr.bor-none {
      border-bottom: none; }
  .shop-car-list td {
    width: 127px;
    text-align: center;
    height: auto;
    vertical-align: top; }
    .shop-car-list td .new-border-bom {
      height: 80px;
      padding: 13px 0;
      position: relative; }
    .shop-car-list td.bor-r {
      border-right: 1px solid #f6f5ee; }
    .shop-car-list td.width55 {
      width: 55%; }
    .shop-car-list td.width77 {
      width: 77%; }
    .shop-car-list td .check-all {
      position: relative; }
    .shop-car-list td.align-left {
      text-align: left;
      padding: 18px 0 10px; }
      .shop-car-list td.align-left a.volume {
        color: #f95353;
        margin-left: 15px; }
        .shop-car-list td.align-left a.volume img {
          margin-left: 7px; }
    .shop-car-list td .product-number {
      width: 95px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #e9e8e5;
      margin-left: 20px; }
      .shop-car-list td .product-number a {
        width: 22px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        float: left; }
      .shop-car-list td .product-number .disabled {
        color: #e9e8e5; }
      .shop-car-list td .product-number input {
        float: left;
        width: 48px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: none;
        background: none;
        border-left: 1px solid #e9e8e5;
        border-right: 1px solid #e9e8e5; }
    .shop-car-list td .over-count {
      display: none;
      font-size: 12px;
      color: #fc464f;
      width: 72px;
      height: 36px;
      padding: 7px 12px 0 10px;
      border: 1px solid #fee1d4;
      border-top: none;
      position: absolute;
      top: 45px;
      left: 20px;
      background-color: #fff1e8; }
    .shop-car-list td .products-by {
      overflow: hidden;
      display: block;
      padding: 13px 0 13px 19px;
      height: 80px;
      border-right: 1px solid #f6f5ee; }
      .shop-car-list td .products-by.margi-left20 {
        margin-left: 20px; }
      .shop-car-list td .products-by .graphic {
        width: 668px;
        float: left; }
      .shop-car-list td .products-by .width545 {
        width: 545px; }
      .shop-car-list td .products-by input {
        display: none; }
      .shop-car-list td .products-by .price-count {
        float: left;
        width: 128px; }
      .shop-car-list td .products-by .return-btn {
        float: left;
        width: 124px; }
        .shop-car-list td .products-by .return-btn a {
          display: block;
          line-height: 24px; }
          .shop-car-list td .products-by .return-btn a:hover {
            color: #e30d3e; }
    .shop-car-list td.td-middle {
      vertical-align: middle; }
  .shop-car-list th {
    font-weight: normal;
    background: #fff8e7;
    width: 124px;
    height: 45px;
    line-height: 45px; }
    .shop-car-list th .check-all {
      float: left;
      width: 55px;
      margin-left: 15px; }
      .shop-car-list th .check-all input {
        display: none; }
    .shop-car-list th.width660 {
      width: 660px; }
    .shop-car-list th.width550 {
      width: 550px; }
  .shop-car-list .shop-arl-check {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    color: #999;
    margin-top: -1px; }
    .shop-car-list .shop-arl-check a {
      border: 1px solid #ccc;
      width: 14px;
      height: 14px;
      display: block; }
    .shop-car-list .shop-arl-check.margtop16 {
      margin-top: 16px;
      margin-left: 15px; }
    .shop-car-list .shop-arl-check.martop3 {
      margin-left: 15px;
      margin-top: 3px; }
    .shop-car-list .shop-arl-check.martop0 {
      margin-top: 0;
      margin-right: 15px; }
  .shop-car-list a.icon-hook {
    background: url("../../../images/public/sprite.png") no-repeat -153px 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 15px;
    height: 15px; }
  .shop-car-list .product-bx {
    width: 78px;
    height: 78px;
    border: 1px solid #e9e8e5;
    float: left;
    text-align: center;
    position: relative; }
    .shop-car-list .product-bx img {
      width: 78px;
      height: 78px; }
    .shop-car-list .product-bx .off-shelf {
      width: 78px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      position: absolute;
      left: 1px;
      bottom: -1px;
      background: url(../../images/public/opacity.png) repeat; }
  .shop-car-list .product-name {
    float: left;
    width: 448px;
    margin-left: 15px; }
    .shop-car-list .product-name .product-title, .shop-car-list .product-name .product-color, .shop-car-list .product-name .product-source {
      width: 448px;
      text-align: left; }
    .shop-car-list .product-name .product-title {
      float: left;
      line-height: 28px;
      font-weight: normal; }
      .shop-car-list .product-name .product-title:hover {
        color: #e30d3e; }
    .shop-car-list .product-name .product-color {
      margin-top: 10px; }
    .shop-car-list .product-name .product-source {
      margin-top: 15px;
      color: #999; }
      .shop-car-list .product-name .product-source span {
        color: #333; }
  .shop-car-list a.store-name-text {
    float: left;
    margin-left: 10px; }
    .shop-car-list a.store-name-text:hover {
      color: #e30d3e; }
  .shop-car-list a.connect-shop {
    position: absolute;
    left: 230px;
    /* margin-left: 64px; */ }
    .shop-car-list a.connect-shop:hover {
      color: #e30d3e; }
  .shop-car-list .commodity-prices {
    float: right;
    margin-right: 15px; }
    .shop-car-list .commodity-prices strong {
      color: #e60039; }
      .shop-car-list .commodity-prices strong.font-size20 {
        font-size: 20px;
        margin-right: 20px; }
  .shop-car-list .merchandise-news {
    float: left;
    margin-left: 40px; }
  .shop-car-list .delete-selecte-items {
    float: left;
    margin-left: 30px; }

.items-total {
  padding: 22px 42px 36px 0;
  background-color: #fff; }
  .items-total p {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    overflow: hidden; }
    .items-total p span {
      width: 100px;
      text-align: right;
      display: inline-block; }
    .items-total p .goods-together {
      width: 1000px;
      color: #666;
      text-align: right;
      font-size: 14px;
      display: inline-block; }
    .items-total p .numb {
      color: #e60039; }

.order-blank-btn-disabled {
  color: #fff;
  background-color: #9a9a9a;
  border: 1px solid #9a9a9a; }
  .order-blank-btn-disabled:hover {
    color: #fff;
    background-color: #9a9a9a;
    border: 1px solid #9a9a9a; }
