@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
body {
  background: #fff; }

.meidian-banner {
  background: #FF5757;
  padding: 24px 0 0; }
  .meidian-banner .meidian-banner-content {
    height: 56px;
    width: 1200px;
    margin: 0 auto;
    background: url(../../images/user/meidian.png) 0 0 no-repeat; }

.meidian-naver {
  float: left;
  padding: 17px 0 0 0;
  margin-right: 20px;
  width: 180px;
  min-height: 514px;
  background: #f8f8f8; }
  .meidian-naver li {
    padding-left: 40px;
    font: 14px/40px 'PingFangSC-Semibold',sans-serif; }
    .meidian-naver li a {
      color: #666; }
    .meidian-naver li .active {
      color: #FF4C4C; }

.user-right {
  float: left;
  width: 1000px;
  position: relative; }
  .user-right .user-shopSetting-normal {
    font: 16px/92px 'MicrosoftYaHei',sans-serif;
    padding-top: 277px;
    background: url(../../images/meidian/normal.png) 50% 88px no-repeat;
    text-align: center;
    color: #555; }
    .user-right .user-shopSetting-normal a {
      color: #FF4C4C; }
  .user-right .user-shopSetting-top {
    background: url(../../images/user/shop-bag.png) 50% 0 no-repeat;
    padding: 0 14px 0 28px;
    margin-top: 20px;
    height: 200px; }
    .user-right .user-shopSetting-top .user-shopSetting-tLeft {
      float: left;
      padding: 20px 32px 0 0;
      position: relative; }
      .user-right .user-shopSetting-top .user-shopSetting-tLeft .user-shopSetting-faceBox {
        border: 7px rgba(51, 51, 51, 0.15) solid;
        border-radius: 50%; }
        .user-right .user-shopSetting-top .user-shopSetting-tLeft .user-shopSetting-faceBox img {
          width: 122px;
          height: 122px;
          border-radius: 50%; }
      .user-right .user-shopSetting-top .user-shopSetting-tLeft .user-shopSetting-icon {
        position: absolute;
        top: 139px;
        left: 23px;
        width: 97px;
        height: 24px;
        overflow: hidden;
        background: url("../../images/user/shop-icon1.png") 0 0 no-repeat; }
      .user-right .user-shopSetting-top .user-shopSetting-tLeft .user-shopSetting-editInfo {
        padding: 10px 0 0;
        font: 12px/28px MicrosoftYaHei ,sans-serif;
        padding-left: 40px; }
        .user-right .user-shopSetting-top .user-shopSetting-tLeft .user-shopSetting-editInfo a {
          text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.5);
          color: #FFFFFF;
          padding-right: 19px;
          background: url("../../images/user/shop-edit.png") 100% 2px no-repeat; }
    .user-right .user-shopSetting-top .user-shopSetting-center {
      float: left;
      width: 614px;
      padding: 22px 0 0 0;
      color: #fff;
      font: 18px/24px MicrosoftYaHei, sans-serif; }
      .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-name {
        text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.5);
        padding-bottom: 14px; }
      .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-info {
        /*padding: 4px 34px 2px 9px;*/
        font-size: 14px;
        line-height: 28px;
        /*height:84px;*/
        overflow: hidden; }
        .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-info p {
          text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.5);
          background: rgba(255, 255, 255, 0.15);
          text-indent: 2em;
          /*max-height: 84px;*/
          height: 90px;
          overflow: hidden;
          padding: 3px 10px; }
      .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox {
        padding-top: 12px;
        font-size: 12px;
        line-height: 28px; }
        .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox span {
          float: left; }
        .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelLeft {
          float: left; }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelLeft .user-shopSetting-icon {
            width: 54px;
            height: 16px;
            overflow: hidden;
            padding-top: 7px; }
            .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelLeft .user-shopSetting-icon img {
              float: left;
              width: 100%;
              height: 100%; }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelLeft .user-shopSetting-line {
            margin: 13px 9px 0 4px;
            width: 200px;
            height: 6px;
            overflow: hidden;
            border-radius: 3px;
            background: #f6f6f6; }
            .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelLeft .user-shopSetting-line span {
              height: 100%;
              width: 50%;
              border-radius: 3px;
              background: url(../../images/user/line-bag.png) 0 0 repeat-x; }
        .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelRight {
          float: right; }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelRight * {
            margin-left: 12px; }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelRight span {
            text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.5); }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelRight .user-shopSetting-love {
            padding-left: 20px;
            background: url("../../images/user/shop-love.png") 0 8px no-repeat; }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelRight .user-shopSetting-collect {
            padding-left: 20px;
            background: url("../../images/user/shop-collect.png") 0 50% no-repeat;
            /*margin:0 5px;*/ }
          .user-right .user-shopSetting-top .user-shopSetting-center .user-shopSetting-levelBox .user-shopSetting-levelRight .user-shopSetting-share {
            float: left;
            height: 18px;
            width: 18px;
            overflow: hidden;
            margin-top: 5px;
            background: url(../../images/user/shop-share.png) 0 0 no-repeat; }
    .user-right .user-shopSetting-top .user-shopSetting-right {
      float: right;
      width: 152px;
      font: 12px/28px MicrosoftYaHei, sans-serif;
      text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.5);
      color: #fff;
      padding-top: 22px; }
      .user-right .user-shopSetting-top .user-shopSetting-right a {
        float: left;
        color: #fff; }
      .user-right .user-shopSetting-top .user-shopSetting-right .user-shopSetting-editbak {
        padding-left: 20px;
        background: url("../../images/user/shop-editbag.png") 0 7px no-repeat; }
      .user-right .user-shopSetting-top .user-shopSetting-right .user-shopSetting-showshop {
        /*padding-left:19px;*/
        margin-left: 16px;
        display: block;
        text-align: center;
        width: 100%;
        background: url("../../images/user/shop-show.png") 26% center no-repeat; }
      .user-right .user-shopSetting-top .user-shopSetting-right .user-shopSetting-codewrap {
        padding: 8px 0 7px 30px; }
        .user-right .user-shopSetting-top .user-shopSetting-right .user-shopSetting-codewrap img {
          float: left;
          width: 90px;
          height: 90px; }
      .user-right .user-shopSetting-top .user-shopSetting-right .user-shopSetting-codeNotice {
        padding-left: 24px; }
  .user-right .user-shopSetting-content {
    margin-top: 20px;
    border: 1px #ddd solid;
    overflow: hidden;
    padding: 0 0 36px; }
    .user-right .user-shopSetting-content .user-shopSetting-listNotice {
      padding: 0 19px 0 20px;
      font: 14px/50px MicrosoftYaHei,sans-serif;
      color: #555;
      background-color: #F3F3F3;
      height: 50px; }
      .user-right .user-shopSetting-content .user-shopSetting-listNotice span {
        float: left; }
      .user-right .user-shopSetting-content .user-shopSetting-listNotice .user-shopSetting-number {
        color: #EE3B3B; }
      .user-right .user-shopSetting-content .user-shopSetting-listNotice .user-shopSetting-addBtn {
        float: right;
        padding: 0 28px 0 35px;
        background: #FF4C4C;
        color: #fff;
        border-radius: 3px;
        height: 32px;
        margin-top: 9px;
        line-height: 32px; }
    .user-right .user-shopSetting-content .user-shopSetting-list {
      margin-right: -40px;
      padding: 20px 0 0 20px;
      font: 12px/16px MicrosoftYaHei,sans-serif;
      color: #999; }
      .user-right .user-shopSetting-content .user-shopSetting-list li {
        float: left;
        width: 210px;
        height: 338px;
        margin: 0 40px 30px 0;
        /*margin: 0 43px;*/ }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-good {
          /*min-height:260px;*/ }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-good a, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-good img {
            float: left;
            /*min-width:260px;
						min-height:260px;
						max-width:260px;
						max-height:260px;*/
            width: 210px;
            height: 210px;
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-good img {
            background: url(../../images/public/img-error.png) 50% 50% no-repeat; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods {
          /*height: 26px;*/
          overflow: hidden;
          /*padding-top: 10px;*/
          padding: 10px 0 12px 0; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods .user-shopSetting-main, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods .user-shopSetting-shop, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods .user-shopSetting-rival {
            float: left;
            /*padding: 0 9px;*/
            height: 16px;
            padding: 0 3px;
            font-size: 12px;
            line-height: 16px;
            border-radius: 3px;
            color: #EE3B3B;
            border: 1px solid #EE3B3B;
            margin-right: 5px; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods .user-shopSetting-shop {
            color: #52A2FF;
            border-color: #52A2FF; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods .user-shopSetting-rival {
            color: #903DD8;
            border-color: #903DD8;
            padding: 0 6px; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-goods a {
            display: block;
            line-height: 18px;
            font-size: 14px;
            color: #333;
            word-break: break-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 18px; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-priceBox {
          line-height: 16px;
          font-size: 14px; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-priceBox span {
            /*display: block;*/ }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-priceBox .user-shopSetting-price {
            color: #EE3B3B;
            font-weight: bold;
            /*padding-right: 4px;*/ }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-priceBox .user-shopSetting-ret {
            /*padding-top: 8px;*/
            float: right;
            overflow: hidden;
            border-radius: 3px;
            border: 1px solid #FF8D2B; }
            .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-priceBox .user-shopSetting-ret span {
              float: left;
              width: 30px;
              height: 16px;
              overflow: hidden;
              color: #fff;
              font-size: 12px;
              text-align: center;
              background: url(../../images/user/shop-bg.png) 0 0 no-repeat; }
            .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-priceBox .user-shopSetting-ret .user-shopSetting-rnum {
              width: auto;
              height: auto;
              background: none;
              padding: 0 3px;
              font: 12px/16px 'PingFangSC-Regular',sans-serif;
              color: #FC8825;
              border-left: none;
              /*border-radius: 0 3px 3px 0;*/ }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-gnotice {
          margin: 12px 0 10px 0;
          /*line-height: 38px;*/
          /*margin-right: -10px;*/ }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-gnotice:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-gnotice span {
            float: left; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-gnotice .user-shopSetting-date {
            /*margin-left: 10px;*/
            float: right; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-delBtn, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-shareBtn, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-kindBtn, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn {
          float: left;
          width: 98px;
          height: 30px;
          line-height: 32px;
          font-size: 14px;
          text-align: center;
          color: #fff;
          border: 1px solid #FF4C4C;
          background: #FF4C4C;
          border-radius: 3px; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-delBtn a, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-shareBtn a, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-kindBtn a, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn a {
            color: #fff; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-delBtn {
          color: #FF4C4C;
          background-color: #fff; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-shareBtn {
          float: right; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-kindBtn {
          width: 134px;
          margin-left: 11px; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn span, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-kindBtn span {
            display: inline-block;
            height: 100%;
            /*background:url(../../images/user/shop-role.png) 100% 50% no-repeat;*/ }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn .user-shopSetting-maxSize, .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-kindBtn .user-shopSetting-maxSize {
            width: 119px;
            word-break: break-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn {
          cursor: default;
          background: #ccc;
          display: none; }
          .user-right .user-shopSetting-content .user-shopSetting-list li .user-shopSetting-grayBtn span {
            color: #fff; }
    .user-right .user-shopSetting-content .user-shopSetting-bottom {
      padding: 30px 70px 0 0; }
    .user-right .user-shopSetting-content .pager {
      float: right;
      height: 32px;
      margin: 0 0 25px;
      position: relative; }
    .user-right .user-shopSetting-content .pager a, .user-right .user-shopSetting-content .pager span, .user-right .user-shopSetting-content .pager label, .user-right .user-shopSetting-content .pager button {
      float: left; }
    .user-right .user-shopSetting-content .pager a, .user-right .user-shopSetting-content .pager span.cur {
      position: relative;
      min-width: 4px;
      height: 30px;
      margin: 0 0 0 -1px;
      padding: 0 13px;
      background: #FFF;
      border: 1px solid #ddd;
      z-index: 0;
      font: 400 14px/30px Arial;
      color: #5e5e5e; }
    .user-right .user-shopSetting-content .pager span.cur {
      background: #f8f8f8;
      border: 1px solid #e6e6e6;
      color: #888;
      font-weight: 500;
      text-decoration: none;
      z-index: 10;
      color: #a5a5a5; }
    .user-right .user-shopSetting-content .pager a:hover {
      color: #c00;
      text-decoration: none; }
    .user-right .user-shopSetting-content .pager a.prev:hover, .user-right .user-shopSetting-content .pager a.next:hover {
      font-weight: 400;
      color: #c00;
      background: #fff; }
    .user-right .user-shopSetting-content .pager s {
      position: absolute; }
    .user-right .user-shopSetting-content .pager .prev {
      padding: 0 8px 0 21px;
      font-size: 12px;
      width: 40px; }
    .user-right .user-shopSetting-content .pager .prev s {
      overflow: hidden;
      top: 10px;
      left: 10px;
      width: 6px;
      height: 10px;
      background: url(//css.gomein.net.cn/search/images/list_bg.png) no-repeat -107px -89px; }
    .user-right .user-shopSetting-content .pager .disable .icon-prev {
      background-position: -60px -25px; }
    .user-right .user-shopSetting-content .pager .disable .icon-next {
      background-position: -67px -25px; }
    .user-right .user-shopSetting-content .pager .next {
      padding: 0 21px 0 8px;
      font-size: 12px;
      width: 40px; }
    .user-right .user-shopSetting-content .pager .next s {
      overflow: hidden;
      top: 10px;
      right: 10px;
      width: 6px;
      height: 10px;
      background: url(//css.gomein.net.cn/search/images/list_bg.png) no-repeat -114px -89px;
      _background: url(//css.gomein.net.cn/search/images/list_bg_ie6.png) no-repeat -114px -89px; }
    .user-right .user-shopSetting-content .pager .placeholder {
      overflow: hidden;
      width: 16px;
      height: 22px;
      margin: 0 8px;
      background: url(//css.gomein.net.cn/search/images/list_bg.png) no-repeat -55px 0; }
    .user-right .user-shopSetting-content .pager .show-more {
      margin: 0 10px;
      padding: 0 14px 0 0;
      border: 0 none;
      font-weight: 500; }
    .user-right .user-shopSetting-content .pager .show-more:hover {
      background: 0;
      border: 0 none;
      color: #ea5504;
      text-decoration: underline; }
    .user-right .user-shopSetting-content .pager .show-more s {
      overflow: hidden;
      top: 9px;
      right: 0;
      width: 9px;
      height: 5px;
      background: url(//css.gomein.net.cn/search/images/coo8/search/search_bg.png) no-repeat -20px -34px; }
    .user-right .user-shopSetting-content .icon-coo8 {
      background: url(//css.gomein.net.cn/search/images/list-ui.gif) no-repeat scroll -71px -141px transparent;
      height: 12px;
      width: 42px; }
    .user-right .user-shopSetting-content .pager .show-more:hover s {
      background-position: -30px -34px; }
    .user-right .user-shopSetting-content .pager .txt-wrap {
      margin: 0 5px 0 10px;
      color: #959595;
      line-height: 30px; }
    .user-right .user-shopSetting-content .pager .txt {
      width: 32px;
      height: 18px;
      line-height: 18px;
      margin: 0 5px;
      padding: 4px 0;
      border: 1px solid #ccc;
      text-align: center;
      vertical-align: middle;
      color: #5e5e5e;
      font-family: Arial; }
    .user-right .user-shopSetting-content .pager .btn {
      width: 42px;
      height: 26px;
      padding: 0;
      background: #FFF;
      border: 1px solid #ddd;
      color: #5e5e5e;
      text-align: center;
      cursor: pointer;
      margin-top: 2px;
      background: #f8f8f8;
      font: 400 12px/26px Simsun; }
    .user-right .user-shopSetting-content .pager .btn:hover {
      border: 1px solid #ccc;
      color: #333; }
    .user-right .user-shopSetting-content .pager .btn:active {
      background: #f3f3f3; }
    .user-right .user-shopSetting-content .pager .disable {
      cursor: default;
      background: #f8f8f8;
      color: #ccc; }
    .user-right .user-shopSetting-content .pager a.disable:hover {
      color: #ccc;
      background: #f8f8f8; }
  .user-right .share-down {
    z-index: 1000; }
    .user-right .share-down .user-shareBox {
      display: block;
      text-align: center;
      width: 226px;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #e9e8e5;
      -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
      height: 110px;
      font-size: 12px; }
      .user-right .share-down .user-shareBox .user-shareRole {
        display: block;
        /*width: 172px;*/
        height: 10px;
        margin-top: -10px;
        background: url(../../images/public/imoj-up-arrow.png?1983514) no-repeat 105px 0; }
      .user-right .share-down .user-shareBox u {
        text-decoration: none;
        margin: 12px 0 16px;
        display: inline-block;
        color: #555; }
      .user-right .share-down .user-shareBox .user-shareIconBox {
        display: block; }
        .user-right .share-down .user-shareBox .user-shareIconBox em {
          width: 40px;
          height: auto;
          text-align: center;
          display: inline-block;
          background: none;
          margin: 0;
          vertical-align: top; }
          .user-right .share-down .user-shareBox .user-shareIconBox em:before {
            display: block;
            background-repeat: no-repeat;
            background-position: center top;
            padding-top: 36px;
            font-size: 12px;
            color: #555; }
          .user-right .share-down .user-shareBox .user-shareIconBox em.icon-qq {
            width: 44px; }
          .user-right .share-down .user-shareBox .user-shareIconBox em.icon-qzone {
            width: 44px; }
          .user-right .share-down .user-shareBox .user-shareIconBox em.icon-weixin:before {
            content: '微信';
            background-image: url(../../images/shop/icon-weixin2.png); }
          .user-right .share-down .user-shareBox .user-shareIconBox em.icon-qq:before {
            content: 'QQ好友';
            background-image: url(../../images/shop/icon-qq2.png); }
          .user-right .share-down .user-shareBox .user-shareIconBox em.icon-sina:before {
            content: '微博';
            background-image: url(../../images/shop/icon-sina2.png); }
          .user-right .share-down .user-shareBox .user-shareIconBox em.icon-qzone:before {
            content: 'QQ空间';
            background-image: url(../../images/shop/icon-qzone2.png); }
