@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.opg .shop-car-list .product-name .product-title, .opg .shop-car-list .product-name .product-color, .opg .shop-car-list .product-name .product-source {
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

body {
  background: #f6f5ee; }

.opg .shopcar {
  margin-top: 10px;
  width: auto;
  height: 66px;
  line-height: 66px;
  font-size: 30px;
  color: #333;
  text-align: left;
  font-weight: normal; }

.opg .shop-car-list {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  position: relative; }
  .opg .shop-car-list tr {
    border: none; }
    .opg .shop-car-list tr.bor-bom {
      border-bottom: 1px solid #e9e8e5; }
      .opg .shop-car-list tr.bor-bom .icon {
        float: left;
        font-size: 14px;
        margin: 2px 0 0 15px; }
    .opg .shop-car-list tr.active td {
      background: #fff5f5; }
  .opg .shop-car-list.active:before {
    content: "";
    position: absolute;
    top: 52px;
    left: 0;
    width: 1198px;
    height: 100%;
    bottom: 0;
    border: 1px solid #e60039;
    border-bottom: none; }
  .opg .shop-car-list td {
    width: 11%;
    text-align: center;
    height: auto;
    vertical-align: top; }
    .opg .shop-car-list td .new-border-bom {
      height: 80px;
      padding: 13px 0;
      border-bottom: 1px dashed #e9e8e5;
      position: relative; }
    .opg .shop-car-list td.width55 {
      width: 55%; }
    .opg .shop-car-list td.align-left {
      text-align: left;
      padding: 13px 0; }
      .opg .shop-car-list td.align-left a.volume {
        float: left;
        color: #f95353;
        margin-left: 15px; }
        .opg .shop-car-list td.align-left a.volume:hover {
          color: #e60039; }
        .opg .shop-car-list td.align-left a.volume img {
          margin-left: 7px; }
    .opg .shop-car-list td .product-number {
      width: 95px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #e9e8e5;
      margin-left: 20px; }
      .opg .shop-car-list td .product-number a {
        width: 22px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        float: left; }
      .opg .shop-car-list td .product-number .disabled {
        color: #e9e8e5; }
      .opg .shop-car-list td .product-number input {
        float: left;
        width: 48px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: none;
        background: none;
        border-left: 1px solid #e9e8e5;
        border-right: 1px solid #e9e8e5; }
    .opg .shop-car-list td .over-count {
      display: none;
      font-size: 12px;
      color: #fc464f;
      width: 72px;
      height: 36px;
      padding: 7px 12px 0 10px;
      border: 1px solid #fee1d4;
      border-top: none;
      position: absolute;
      top: 45px;
      left: 20px;
      background-color: #fff1e8; }
    .opg .shop-car-list td .products-by {
      margin-left: 15px;
      overflow: hidden;
      display: block;
      padding: 13px 0;
      height: 80px;
      border-bottom: 1px dashed #e9e8e5; }
      .opg .shop-car-list td .products-by.margi-left20 {
        margin-left: 20px; }
      .opg .shop-car-list td .products-by input {
        display: none; }
      .opg .shop-car-list td .products-by .shop-fail-text {
        float: left;
        width: 45px;
        text-align: center;
        padding-top: 30px;
        padding-right: 12px; }
        .opg .shop-car-list td .products-by .shop-fail-text p {
          line-height: 22px;
          background: #ededea;
          border-radius: 1px; }
  .opg .shop-car-list th {
    font-weight: normal;
    background: #fff8e7;
    width: 11%;
    height: 45px;
    line-height: 45px; }
    .opg .shop-car-list th .check-all {
      float: left;
      width: 58px;
      margin-left: 15px; }
      .opg .shop-car-list th .check-all input {
        display: none; }
    .opg .shop-car-list th.width55 {
      width: 55%; }
  .opg .shop-car-list .shop-arl-check {
    position: relative;
    background: #fff;
    float: left;
    margin-right: 5px;
    margin-top: 16px;
    width: 15px;
    height: 15px; }
    .opg .shop-car-list .shop-arl-check a {
      border: 1px solid #ccc;
      width: 14px;
      height: 14px;
      display: block; }
    .opg .shop-car-list .shop-arl-check.margtop16 {
      margin-top: 16px;
      margin-left: 15px; }
    .opg .shop-car-list .shop-arl-check.martop3 {
      margin-left: 15px;
      margin-top: 3px; }
    .opg .shop-car-list .shop-arl-check.martop0 {
      margin: 0 15px 0 30px; }
  .opg .shop-car-list a.icon-hook {
    background: url("../../images/public/sprite.png") no-repeat -153px 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 15px;
    height: 15px; }
  .opg .shop-car-list .product-bx {
    width: 78px;
    height: 78px;
    border: 1px solid #e9e8e5;
    float: left;
    text-align: center;
    position: relative; }
    .opg .shop-car-list .product-bx img {
      width: 80px;
      height: 80px; }
    .opg .shop-car-list .product-bx .off-shelf {
      width: 78px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      position: absolute;
      left: 1px;
      bottom: -1px;
      background: url(../../images/public/opacity.png) repeat; }
  .opg .shop-car-list .product-name {
    float: left;
    margin-left: 15px; }
    .opg .shop-car-list .product-name .product-title, .opg .shop-car-list .product-name .product-color, .opg .shop-car-list .product-name .product-source {
      max-width: 480px;
      text-align: left; }
    .opg .shop-car-list .product-name .product-title {
      font-weight: normal;
      font-size: 14px; }
    .opg .shop-car-list .product-name .product-color {
      margin-top: 10px; }
    .opg .shop-car-list .product-name .product-source {
      margin-top: 15px; }
      .opg .shop-car-list .product-name .product-source span {
        color: #999; }
      .opg .shop-car-list .product-name .product-source .red {
        color: #f95353;
        padding-left: 30px; }
      .opg .shop-car-list .product-name .product-source .pl0 {
        padding-left: 0; }
  .opg .shop-car-list span.store-name-text {
    float: left;
    margin-left: 10px; }
  .opg .shop-car-list .warn {
    float: left;
    line-height: 24px;
    padding: 0 6px;
    margin-left: 12px;
    color: #f95353;
    border: 1px solid #fc9f9f;
    background-color: #fff5f4; }
    .opg .shop-car-list .warn .iconn-12 {
      font-size: 18px;
      margin-right: 6px;
      vertical-align: middle; }
  .opg .shop-car-list .commodity-prices {
    float: right;
    margin-right: 15px; }
    .opg .shop-car-list .commodity-prices span {
      padding-right: 23px; }
    .opg .shop-car-list .commodity-prices strong {
      color: #e60039; }
      .opg .shop-car-list .commodity-prices strong.font-size20 {
        font-size: 20px;
        margin-right: 20px; }
    .opg .shop-car-list .commodity-prices .disabled {
      background-color: #999; }
  .opg .shop-car-list .merchandise-news {
    float: left;
    margin-left: 85px; }
  .opg .shop-car-list .delete-selecte-items {
    float: left;
    margin-left: 30px; }

.opg .bottom-nav {
  overflow: auto; }

.opg .total-price-limit {
  width: 1182px;
  line-height: 44px;
  color: #f95353;
  text-align: right;
  padding-right: 16px;
  overflow: hidden;
  background-color: #fff5f4;
  border: 1px solid #e60039; }

.opg .martop13 {
  margin-top: 13px; }

.opg .check-all input {
  display: none; }

.opg .shop-car-fail, .opg .shop-car-fail a, .opg .product-name .product-title, .opg .product-name .product-color, .opg .product-name .product-source {
  color: #999; }

.opg .fail-title {
  margin-top: 20px; }

.opg .fail-more {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #e9e8e5;
  border-bottom: 1px solid #e9e8e5;
  margin-top: -1px; }
  .opg .fail-more a.btn {
    display: inline-block;
    color: #333;
    background: #e9e8e3;
    width: 72px;
    line-height: 30px; }
