@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.side-nav a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

img {
  width: 100%; }

.center-wrap {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  overflow: hidden; }

.fl {
  float: left; }

.mgt10 {
  margin-top: 10px; }

.pdb0 {
  padding-bottom: 0; }

.coupon-two, .coupon-three {
  width: 595px; }

.coupon-two, .coupon-three {
  float: left; }

.coupon-three {
  float: right; }

.item-nav {
  width: 1200px;
  display: table; }
  .item-nav a {
    display: table-cell;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px; }
    .item-nav a:hover {
      background-color: #f95353; }
    .item-nav a.active {
      background-color: #f95353; }

.item-list ul {
  width: 1210px;
  overflow: hidden; }

.item-list li {
  position: relative;
  float: left;
  padding: 11px 11.5px 0 11px;
  margin: 0 10px 10px 0;
  background-color: #fff; }

.item-list .list-txt {
  /* h3{
			font-size: 14px;
			font-weight: normal;
		} */ }
  .item-list .list-txt a {
    height: 36px;
    line-height: 18px;
    margin-top: 10px;
    overflow: hidden;
    word-break: break-all;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #666; }
    .item-list .list-txt a:hover {
      color: #e60039; }

.item-list .list-bottom {
  position: absolute;
  bottom: 10px;
  left: 11px;
  right: 10px; }
  .item-list .list-bottom .tag {
    position: absolute;
    bottom: 45px;
    left: 0;
    color: #f95353; }
    .item-list .list-bottom .tag .icon-fan {
      display: inline-block;
      width: 25px;
      height: 16px;
      margin: 0 5px -2px 0;
      background: url(../../images/other/fan.png) no-repeat; }
  .item-list .list-bottom .price {
    height: 40px; }
    .item-list .list-bottom .price .red {
      font-weight: bold;
      color: #e60039;
      position: absolute;
      bottom: 0;
      left: 0; }
    .item-list .list-bottom .price .icon-rmb {
      font-size: 14px; }
    .item-list .list-bottom .price .del {
      color: #666;
      text-decoration: line-through; }
  .item-list .list-bottom .buy-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #f95353; }

.four-list li {
  width: 270px;
  height: 419px; }

.four-list .list-img img {
  width: 270px;
  height: 270px; }

.four-list .price .red {
  font-size: 20px; }

.five-list li {
  width: 210px;
  height: 340px;
  padding: 11px 11px 0; }

.five-list .list-img img {
  width: 210px;
  height: 210px; }

.five-list .list-bottom .tag {
  bottom: 40px; }

.five-list .list-bottom .price {
  font-size: 16px; }
  .five-list .list-bottom .price .del {
    font-size: 12px; }

.two-pic {
  width: 600px; }

.three-pic {
  width: 400px; }

.four-pic {
  width: 300px; }

.side-nav {
  padding: 1px;
  background-color: #e0e0e0;
  width: 60px;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 50%;
  z-index: 9; }
  .side-nav a {
    display: block;
    width: 60px;
    color: #fff;
    margin-bottom: 1px;
    background-color: #333;
    position: relative; }
    .side-nav a.nav-auto {
      font-size: 16px; }
    .side-nav a.nav-normal {
      height: 40px;
      font-size: 12px; }
    .side-nav a:hover {
      background-color: #f95353; }
    .side-nav a:last-child {
      margin-bottom: 0; }
    .side-nav a span {
      display: block;
      width: 50px;
      padding: 0 5px; }
