@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.opg {
  background: #fff; }

.transit {
  padding-top: 80px;
  text-align: center; }
  .transit .transit-explain {
    background: url("../../images/other/transit.jpg") 50% 14px no-repeat;
    width: 1200px;
    height: 335px;
    margin: 0 auto; }
  .transit .explain-visit {
    font-size: 20px;
    line-height: 20px;
    color: #a5a5a5; }
  .transit .explain-timer {
    padding: 20px 0 30px;
    font-size: 24px;
    line-height: 24px;
    color: #555; }
    .transit .explain-timer span {
      color: #ff4c4c; }
  .transit .transit-btn {
    display: block;
    width: 198px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 30px auto; }
    .transit .transit-btn:hover {
      color: #ee3d3d;
      border: 1px solid #ee3d3d; }
  .transit .copyright {
    padding: 20px 0;
    color: #a5a5a5;
    font-size: 13px;
    line-height: 13px; }
