@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, p, input, button, textarea, article, aside, footer, header, nav, section, menu {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline; }

body, button, input, select, textarea {
  font-size: 14px;
  font-family: 'PingFang SC','Myriad Pro','Hiragino Sans GB','Microsoft YaHei',sans-serif; }

table {
  border-spacing: 0;
  vertical-align: middle;
  border-collapse: collapse; }

ul, li {
  list-style: none; }

img {
  border: 0 none;
  vertical-align: middle; }

input, textarea {
  outline: 0;
  resize: none; }
  input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #fff;
    background-image: none; }

a {
  color: #333; }
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    outline: 0; }

em {
  font-style: normal; }

::-ms-clear, ::-ms-reveal {
  display: none; }

body {
  background: #f6f5ee;
  min-width: 1200px; }

.wrap-box {
  width: 1200px;
  margin: 0 auto; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.cursor-default {
  cursor: default; }

.cursor-pointer {
  cursor: pointer; }

.loading-box {
  display: table;
  width: 100%;
  height: 200px;
  text-align: center; }
  .loading-box .loading-img {
    display: table-cell;
    vertical-align: middle; }

@font-face {
  font-family: icomoon;
  src: url("../../images/iconfont/icomoon.eot?161220#iefix") format("embedded-opentype"), url("../../images/iconfont/icomoon.ttf?161220") format("truetype"), url("../../images/iconfont/icomoon.woff?161220") format("woff"), url("../../images/iconfont/icomoon.svg?161220") format("svg"); }

.icon,
[class^="iconn-"],
[class*="iconn-"] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="iconn-"]:before,
[class*="iconn-"]:before {
  display: block; }

/* 计算pxToRem 1500UI*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

::-ms-clear, ::-ms-reveal {
  display: none; }

html {
  font-size: 22px;
  overflow-x: hidden; }

body {
  position: relative;
  min-width: 100% !important;
  height: 90vh;
  background: #F3F5F7 no-repeat center center;
  font-size: 14px; }

[data-dpr] .gome-plus {
  font-size: 20px;
  line-height: 2.05rem; }

[data-dpr] .title {
  font-weight: 600;
  color: #fff; }

[data-dpr] .touch-btn-cell {
  padding: 0.5rem 0 0;
  font-size: 20px;
  line-height: 1.775rem;
  text-align: center;
  font-weight: 600;
  color: #666; }

[data-dpr] .touch-btn-lit {
  font-size: 14px;
  line-height: 1.275rem;
  text-align: center;
  color: #666; }

[data-dpr] .main-prompt {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #999; }

[data-dpr] .main-photo-number {
  padding: 0 6px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #F66A6B; }

[data-dpr] .cube-mask p {
  font-size: 20px;
  line-height: 1rem;
  text-align: center;
  color: #fff; }

[data-dpr] .main-toast p {
  font-size: 16px;
  line-height: 1rem;
  text-align: center;
  color: #fff; }

[data-dpr="1"] .gome-plus {
  font-size: 20px; }

[data-dpr="1"] .touch-btn-cell {
  font-size: 20px; }

[data-dpr="1"] .touch-btn-lit {
  font-size: 14px; }

[data-dpr="1"] .main-prompt {
  font-size: 14px;
  line-height: 14px; }

[data-dpr="1"] .main-photo-number {
  font-size: 14px;
  line-height: 14px; }

[data-dpr="1"] .cube-mask p {
  font-size: 20px; }

[data-dpr="1"] .main-toast p {
  font-size: 16px; }

[data-dpr="2"] .gome-plus {
  font-size: 35px; }

[data-dpr="2"] .touch-btn-cell {
  font-size: 35px; }

[data-dpr="2"] .touch-btn-lit {
  font-size: 29px; }

[data-dpr="2"] .main-prompt {
  font-size: 29px;
  line-height: 29px; }

[data-dpr="2"] .main-photo-number {
  font-size: 29px;
  line-height: 29px; }

[data-dpr="2"] .cube-mask p {
  font-size: 35px; }

[data-dpr="2"] .main-toast p {
  font-size: 29px; }

[data-dpr="3"] .gome-plus {
  font-size: 55px; }

[data-dpr="3"] .touch-btn-cell {
  font-size: 55px; }

[data-dpr="3"] .touch-btn-lit {
  font-size: 49px; }

[data-dpr="3"] .main-prompt {
  font-size: 49px;
  line-height: 49px; }

[data-dpr="3"] .main-photo-number {
  font-size: 49px;
  line-height: 49px; }

[data-dpr="3"] .cube-mask p {
  font-size: 55px; }

[data-dpr="3"] .main-toast p {
  font-size: 44px; }

.alert-box {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999; }
  .alert-box .alert-message {
    width: auto;
    height: auto;
    padding: 1.025rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff no-repeat;
    border: 1px solid #ededed; }

.wrap-mobox {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 0 1rem;
  background: #F3F5F7 no-repeat center center; }
  .wrap-mobox .box-topic {
    width: 100%;
    height: 2.05rem;
    position: relative;
    background: #F4CC56 no-repeat center center;
    text-align: center; }
    .wrap-mobox .box-topic .home-icon {
      width: 1.0375rem;
      height: 0.95rem;
      position: absolute;
      top: 0.525rem;
      left: 0.875rem; }
  .wrap-mobox .box-main {
    width: 100%;
    height: 80vh;
    padding-top: 0.525rem;
    background: #F3F5F7 no-repeat center center; }
    @media only all and (orientation: landscape) {
      .wrap-mobox .box-main {
        height: 242vh; } }
  .wrap-mobox .main-topic {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wrap-mobox .main-topic .main-touch-btn {
      width: auto;
      height: auto; }
      .wrap-mobox .main-topic .main-touch-btn .touch-btn-icon {
        width: 6.25rem;
        height: 6.25rem;
        position: relative;
        border: 0.025rem solid #CDCDCD;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; }
        .wrap-mobox .main-topic .main-touch-btn .touch-btn-icon .touch-pic-icon {
          width: 3.5rem;
          height: 3.5rem; }
        .wrap-mobox .main-topic .main-touch-btn .touch-btn-icon .touch-input-icon {
          width: 6.25rem;
          height: 6.25rem;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          filter: Alpha(opacity=0);
          z-index: 99; }
      .wrap-mobox .main-topic .main-touch-btn .btn-icon-pushed {
        border-radius: 0.2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; }
        .wrap-mobox .main-topic .main-touch-btn .btn-icon-pushed .pic-icon-pushed {
          width: 1.95rem; }
        .wrap-mobox .main-topic .main-touch-btn .btn-icon-pushed .input-icon-pushed {
          width: 100%;
          position: absolute;
          opacity: 0;
          filter: Alpha(opacity=0);
          z-index: 99; }
    .wrap-mobox .main-topic .main-list {
      width: 100%;
      height: auto;
      display: none;
      flex-direction: row;
      flex-wrap: wrap; }
      .wrap-mobox .main-topic .main-list .main-list-cube {
        width: 6.25rem;
        height: 6.25rem;
        position: relative;
        box-sizing: border-box;
        float: left;
        background: #ddd no-repeat;
        border: 1px solid #fff;
        border-bottom: none;
        border-right: none;
        overflow: hidden; }
        .wrap-mobox .main-topic .main-list .main-list-cube .cube-up-pic {
          width: 6.25rem;
          height: 6.25rem;
          float: left;
          background: url("../../images/uploader/up-icon-ed.png") #ddd no-repeat;
          background-size: cover; }
        .wrap-mobox .main-topic .main-list .main-list-cube .touch-up-pic {
          width: 6.25rem;
          height: 6.25rem;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          filter: Alpha(opacity=0);
          z-index: 99; }
        .wrap-mobox .main-topic .main-list .main-list-cube .cube-pic {
          width: 6.25rem;
          height: 6.25rem; }
        .wrap-mobox .main-topic .main-list .main-list-cube .cube-mask {
          width: 6.25rem;
          height: 6.25rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 999;
          display: block;
          background: rgba(0, 0, 0, 0.3); }
          .wrap-mobox .main-topic .main-list .main-list-cube .cube-mask p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
  .wrap-mobox .main-down {
    width: 100%;
    height: auto;
    position: absolute;
    top: 24.375rem;
    text-align: center; }
    .wrap-mobox .main-down .toast-article {
      width: 8.4375rem;
      height: auto;
      padding: 0.6875rem 2.0625rem;
      margin: 0.5rem auto;
      background: #666666 no-repeat;
      opacity: 1; }

.wrap-down {
  text-align: center;
  margin: 0 auto;
  padding: 0 0;
  background: #F3F5F7 no-repeat center center; }
