doctype html
html
    head
        title OPG开发自动化平台
        link(rel='stylesheet', href='/stylesheets/bootstrap_css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="shortcut icon",href="https://www.gomeplus.com/favicon.ico")
    body
        block content
