doctype html
html(lang="zh-CN")
    include ../../../../../gomeplusUI/pc/src/jade/head.jade
    body.opg.lg-bg
        link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
        link(type="text/css",rel="stylesheet",href="../../css/module/login/login.css")
        .lg-header
            .lg-header-in
                h1.lg-logo
                    a 国美plus
        .lg-main
            //步骤 开始
            ul.lg-steps.clearfix
                li.active
                    em 1
                    | 设置帐号、密码
                li.active
                    em 2
                    | 完善个人信息
                li
                    em 3
                    | 注册完成
            //步骤 结束
            div.lg-form
                ul.lg-form-list
                    li.clearfix.lg-form-it
                        label.lg-head-label 头像
                        .lg-form-cont.lg-user-head
                            <img src="../../images/public/head-default.png">
                            span.change-img 更换头像
                    li.clearfix.lg-form-it
                        label 昵称
                        div.lg-form-cont
                            em.lg-allright
                            input.lg-input-it(type="text" value="GM－340234842454334")
                            .nick-name-list
                                p 昵称已被占用，请修改或使用推荐昵称
                                a(href="javascript:;") GM－340234842454334
                                a(href="javascript:;") GM－340234842454334
                        span.lg-warm
                a.pc-btn.pc-btnw300.pc-btnh45.lg-mt(href="javascript:;") 确定
                p.lg-skip-more 
                    a(href="javascript:;") 跳过&gt;&gt;
        include ../../../../../gomeplusUI/pc/src/jade/footer.jade


