doctype html
html(lang="zh-CN")
    include ../../../../../gomeplusUI/pc/src/jade/head.jade
    body.opg.lg-bg
        link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
        link(type="text/css",rel="stylesheet",href="../../css/module/login/login.css")
        .lg-header
            .lg-header-in
                h1.lg-logo
                    a 国美plus
        .lg-main
            h4.lg-tip-title 关联手机号
            div.lg-form
                ul.lg-form-list
                    li.clearfix.lg-form-it.lg-form-error
                        label 手机号
                        div.lg-form-cont
                            input.lg-input-it(type="text" placeholder="请输入手机号码") 
                        span.lg-warm 
                    li.clearfix.lg-form-it.lg-form-error
                            label 短信验证码
                            div.lg-form-cont
                                a.lg-codes(href="javascript:;") 获取验证码
                                input.lg-input-it(type="text" placeholder="请输入短信验证码")
                            span.lg-warm 验证码已发送您的手机，请查收，请勿泄漏
                    li.clearfix.lg-form-it
                            label 设置密码
                            div.lg-form-cont
                                em.lg-codes.icon &#xe993;
                                //点击之后 &#xe94e；
                                input.lg-input-it(type="text" placeholder="设置密码")
                            .pass-level 
                                span.level-weak 弱
                                span.level-md 中
                                span.level-strong 强
                            span.lg-warm
                    li.clearfix.lg-form-it
                            label 推荐码
                            div.lg-form-cont
                                input.lg-input-it(type="text" placeholder="推荐码（选填）")
                a(href="javascript:;").pc-btn.pc-btnw300.pc-btnh45.lg-mt 完 成
        include ../../../../../gomeplusUI/pc/src/jade/footer.jade

