.sort
	a(href="javascritp:;")
		| 综合
		span
			em.icon-sort-asce
			em.icon-sort-desc
	a(href="javascritp:;")
		| 销量
		span.asce
			em.icon-sort-asce
			em.icon-sort-desc
	a(href="javascritp:;")
		| 人气
		span.desc
			em.icon-sort-asce
			em.icon-sort-desc
	//active全选
	label.check-all
		input(type="checkbox")
		p
			img(src="../../images/public/icon-hook.png")
		span 返利商品