@import '../config/_base.scss';
@import '../config/_mixins.scss';
.opg{
    .sort{
        padding: 0 0 20px;
        a{
            display: inline-block;
            width: 70px;
            height: 20px;
            background: $bg-fff;
            text-align: center;
            border-left: 1px solid #f6f5ee;
            position: relative;
            &:hover{
                color: $link-hover;
            }
            span{
                display: inline-block;
                width: 8px;
                margin: 2px 0 0 3px;
                vertical-align: -1px;
                em{
                    display: inline-block;
                    float: left;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-bottom: 4px solid $color-gray;
                    margin: 1px 0;
                }
                em.icon-sort-asce{
                    margin-top: 2px;
                }
                em.icon-sort-desc{
                    border-bottom: transparent;
                    border-top: 4px solid $color-gray;
                }
            }
            span.asce{
                em.icon-sort-asce{
                    border-bottom-color: #f95353;
                }
            }
            span.desc{
                em.icon-sort-desc{
                    border-top-color: #f95353;
                }
            }
        }
        .active{
            color: $link-hover;
        }
        .check-all{
            cursor: pointer;
            margin-left: 10px;
            input{
                display: none;
            }
            p{
                display: inline-block;
                position: relative;
                width: 14px;
                height: 14px;
                background: $bg-fff;
                border: 1px solid $bor-bom;
                margin-right: 8px;
                vertical-align: -3px;
                img{
                    display: none;
                    position: absolute;
                    left: 0;
                    top:-2px;
                }
            }
        }
        .check-all.active{
            p img{
                display: block;
            }
        }
    }
}