doctype html
html(lang="zh-CN")
    include ../../../pc-widget/head/head.jade
    body.opg.lg-bg
        link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
        link(type="text/css",rel="stylesheet",href="../../css/module/login.css")
        .lg-header
            .lg-header-in
                h1.lg-logo
                    a 国美plus
        .lg-main
            //步骤 开始
            ul.lg-steps.clearfix
                li.active
                    em 1
                    | 填写用户名
                li.active
                    em 2
                    | 验证身份
                li
                    em 3
                    | 设置新密码
                li
                    em 4
                    | 重置完成
            //步骤 结束
            div.lg-form
                .lg-back-tl 您正在找回登录名为 
                    span 158****0487 
                    | 的登录密码请点击“获取验证”
                ul.lg-form-list
                    li.clearfix.lg-form-it
                        label 短信验证码
                        div.lg-form-cont
                            a(href="javascript:;").lg-codes 获取验证码
                            input.lg-input-it(type="text" placeholder="请输入短信验证码") 
                        span.lg-warm 
                 a.pc-btn.pc-btnw300.pc-btnh45.lg-mt(href="javascript:;") 下一步
            a(href="##").find-shop-psw 找回门店密码
        include ../../../pc-widget/footer/footer.jade



