@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.code-pay .code {
  width: 180px;
  height: 180px;
  padding: 10px;
  margin: 100px auto 0;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  -moz-box-shadow: 2px 2px 3px #ececec;
  box-shadow: 2px 2px 3px #ececec; }
  .code-pay .code img {
    width: 100%;
    height: 100%; }
.code-pay .tip {
  text-align: center; }
  .code-pay .tip h3 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 25px; }
  .code-pay .tip p {
    font-size: 12px;
    color: #e40d3e;
    margin-top: 5px; }
.code-pay .info {
  width: 950px;
  line-height: 24px;
  margin: 70px auto 125px; }
  .code-pay .info li {
    overflow: hidden; }
  .code-pay .info .span-l {
    float: left;
    width: 84px;
    color: #666;
    margin-left: 342px; }
  .code-pay .info .span-r {
    float: left; }
    .code-pay .info .span-r span {
      display: block; }


