@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
body {
  background: #f6f5ee; }

.opg .goods-box {
  text-align: center;
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 30px 0; }
  .opg .goods-box .store-logo {
    text-align: center; }
    .opg .goods-box .store-logo img {
      width: 60px;
      height: 50px; }
  .opg .goods-box .p-store-name {
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #333; }
  .opg .goods-box .icon-vip {
    display: inline-block;
    background: url("../../../images/public/sprite.png") no-repeat;
    width: 16px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle; }
    .opg .goods-box .icon-vip.vip2 {
      background-position: -25px 0; }
    .opg .goods-box .icon-vip.vip3 {
      background-position: -50px 0; }
  .opg .goods-box .p-store-stars {
    font-size: 14px;
    color: #999;
    line-height: 28px; }
    .opg .goods-box .p-store-stars span {
      color: #e60039;
      font-weight: bold;
      padding-right: 38px; }
      .opg .goods-box .p-store-stars span:nth-child(3) {
        padding-right: 0; }
      .opg .goods-box .p-store-stars span.color333 {
        color: #333;
        padding-right: 0; }
  .opg .goods-box .goods-num {
    width: 270px;
    height: auto;
    overflow: hidden;
    border-top: 1px solid #e4e3db;
    padding: 15px 0;
    margin: 0 auto;
    margin-top: 10px; }
    .opg .goods-box .goods-num .collection-numb {
      width: 33%;
      float: left;
      height: auto;
      overflow: hidden;
      color: #999;
      font-size: 12px;
      border-right: 1px solid #e4e3db;
      text-align: center; }
      .opg .goods-box .goods-num .collection-numb:nth-child(3) {
        border: none; }
      .opg .goods-box .goods-num .collection-numb .p-number {
        font-size: 20px;
        font-weight: bold;
        color: #e60039; }
  .opg .goods-box .btn-box2 {
    padding-bottom: 20px; }
    .opg .goods-box .btn-box2 a {
      display: inline-block;
      width: 130px;
      height: 34px;
      line-height: 34px;
      background: #fff;
      margin: 0 5px; }
      .opg .goods-box .btn-box2 a em {
        font-size: 20px;
        color: #e6033b;
        vertical-align: -2px;
        margin-right: 5px; }
.opg .goods-table {
  line-height: 30px;
  padding: 0 0 20px; }
  .opg .goods-table .color-gray {
    color: #333;
    text-align: right; }


