doctype html
html(lang="zh-CN")
	include ../../../../../gomeplusUI/pc/src/jade/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/circle/searchcircle.css")
	body.opg
		include ../../../../../gomeplusUI/pc/src/jade/header.jade
		include ../../../../../gomeplusUI/pc/src/jade/menu.jade
		div.wrap-box
			.crumbs-box
				a(href="javescript:") 首页
				em >
				a(href="javescript:") 商城
				em >
				a(href="javescript:") 店铺列表
				em >
				span 找到	
				span.crnmb-activ 旅行
				span 相关的话题 共
				span.crnmb-activ 120384
				span 个
			.search-result
				.result-text.clearfix
					em.icon &#xe960;
					p 没有找到相关内容，换其它关键词试试吧
			.circle-index-list.clearfix
				.shop-list
					.mg-negative
						// a(href="javascript:;").a-share.search-circle-share
							em.icon.icon-share
							| 分享
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name 美味甜品
						div
							span.pc-btn.pc-bj-fc8753.circle-type 时尚
						div.user-top-info
							ul.clearfix
								li
									|成员：
									span 105
								li
									|话题：
									span 80
				.shop-list
					.mg-negative
						// a(href="javascript:;").a-share.search-circle-share
							em.icon.icon-share
							| 分享
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name 美味甜品
						div
							span.pc-btn.pc-bj-fc8753.circle-type 时尚
						div.user-top-info
							ul.clearfix
								li
									|成员：
									span 105
								li
									|话题：
									span 80
				.shop-list
					.mg-negative
						// a(href="javascript:;").a-share.search-circle-share
							em.icon.icon-share
							| 分享
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name 美味甜品
						div
							span.pc-btn.pc-bj-fc8753.circle-type 时尚
						div.user-top-info
							ul.clearfix
								li
									|成员：
									span 105
								li
									|话题：
									span 80
				.shop-list
					.mg-negative
						// a(href="javascript:;").a-share.search-circle-share
							em.icon.icon-share
							| 分享
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name 美味甜品
						div
							span.pc-btn.pc-bj-fc8753.circle-type 时尚
						div.user-top-info
							ul.clearfix
								li
									|成员：
									span 105
								li
									|话题：
									span 80
				.shop-list
					.mg-negative
						// a(href="javascript:;").a-share.search-circle-share
							em.icon.icon-share
							| 分享
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name 美味甜品
						div
							span.pc-btn.pc-bj-fc8753.circle-type 时尚
						div.user-top-info
							ul.clearfix
								li
									|成员：
									span 105
								li
									|话题：
									span 80
				.shop-list
					.mg-negative
						// a(href="javascript:;").a-share.search-circle-share
							em.icon.icon-share
							| 分享
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name 美味甜品
						div
							span.pc-btn.pc-bj-fc8753.circle-type 时尚
						div.user-top-info
							ul.clearfix
								li
									|成员：
									span 105
								li
									|话题：
									span 80
			.more-comments
				a(href="##").clearfix
					span
						img(src="../../images/circle/small-logo.png")
						| 查看更多评论
						em.icon.icon-right &#xe98c;
		include ../../../../../gomeplusUI/pc/src/jade/footer.jade