doctype html
html(lang="zh-CN",data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/shop.css")
	
	body(style="background-color:#fff;").opg
		include ../../../m-widget/head/rem.jade		

		header.header
			span
				a.head-back(href="javascript:;")
					em.iconn-1
			h1.head-title 营业执照
			span
				a.head-icn(href="javascript:;")
					em.iconn-4
		// /header

		.business-license
			h4 国美＋网店经营者营业执照信息
			p 根据国家工商总局《网络交易管理办法》要求对网店经营者营业执照信息公示如下：
			img(src="../../images/bg.jpg")