doctype html
html(lang="zh-CN",data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/shop.css")
	
	body.opg
		include ../../../m-widget/head/rem.jade

		header.header
			span
				a.head-back(href="javascript:;")
					em.iconn-1
			h1.head-title 店铺信息
			span
				a.head-icn(href="javascript:;")
					em.iconn-3
				a.head-icn(href="javascript:;")
					em.iconn-4
		// /header

		.store.store-top
			.head-content
				.head-l
					img(src="../../images/coupon_share_logo.jpg")
				.head-c
					h3  无印良品国美超无敌店
					.storelevel
						em.ic-jin
						em.ic-yin
						em.ic-tong
			h4 店铺介绍
			p 本店创始于康熙年间，经过先后6000多年，方研制出这款显示器，绝对高清，绝对靠谱，哈哈哈哈哈哈哈本店创始于康熙年间，经过先后6000多年，方研制出这款显示器，绝对高清，绝对靠谱，哈哈哈哈哈哈哈本店创始于康熙年间，经过先后6000多年，方研制出这款显示器，绝对高清。
		.store.store-param
			p
				| 商品描述：
				span.gray 3.5
			p
				| 卖家服务：
				span.gray 3.5
			p
				| 物流服务：
				span.gray 3.5
		ul.store.store-info
			li
				| 公司名称：
				span.gray 无印良品有限公司
			li
				| 所在地区：
				span.gray 北京
			li
				| 开店时间：
				span.gray 2008.10.29
			li
				span 证照信息
				a(href="javascript:;").red 点击查看