@charset "UTF-8";
/*==============================标准色==========================*/
/*==============================wrap宽度==========================*/
/*----结构宽度-----*/
/*----主色-----*/
/*==============================字体大小==========================*/
.phrase-list .list-bg ul li, .im-left .tab-list li .gray {
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.wrap-right .welcome {
  text-align: center;
  padding-top: 222px; }
.wrap-right .btn-box {
  padding: 15px 10px; }
.wrap-right .table {
  width: 100%;
  line-height: 30px;
  border-bottom: 1px solid #cdcdcd; }
  .wrap-right .table th {
    background: #999;
    color: #fff;
    padding: 10px 6px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    text-align: left;
    font-weight: normal; }
  .wrap-right .table td {
    padding: 10px 6px;
    background: #fff;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd; }
  .wrap-right .table tr:nth-child(odd) td {
    background: #ececec; }
.wrap-right .page {
  height: 32px;
  padding: 10px 0;
  text-align: center;
  line-height: 30px; }
  .wrap-right .page a {
    display: inline-block;
    padding: 0 8px; }
    .wrap-right .page a:hover {
      color: #ee2f2f; }
  .wrap-right .page .active {
    color: #ee2f2f;
    cursor: default; }
  .wrap-right .page .cn {
    border: 1px solid #cdcdcd;
    background: #fff;
    border-radius: 3px;
    padding: 0 12px;
    margin: 0 5px; }
  .wrap-right .page .disable {
    cursor: no-drop; }
    .wrap-right .page .disable:hover {
      color: #333; }

.password {
  width: 250px;
  margin: 0 auto;
  padding-top: 80px; }
  .password input {
    height: 40px;
    line-height: 40px;
    width: 250px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 10px 0; }

.error-box {
  height: 19px; }

p.error {
  color: #ee2f2f;
  padding-left: 8px; }

.btn-password {
  padding: 35px 0;
  text-align: center; }

.login .img {
  text-align: center;
  padding: 50px 0; }

.phrase-list {
  width: 480px;
  float: left;
  height: 555px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f9f9f9;
  border: 1px solid #cdcdcd; }
  .phrase-list .list-bg {
    background: url(../../images/list-bg.png) repeat;
    line-height: 36px; }
    .phrase-list .list-bg ul li {
      padding: 0;
      cursor: pointer;
      width: 100%;
      position: relative; }
      .phrase-list .list-bg ul li em {
        cursor: pointer;
        position: absolute;
        left: 10px;
        top: 8px; }
      .phrase-list .list-bg ul li span {
        padding-left: 40px; }
      .phrase-list .list-bg ul li li em {
        left: 30px; }
      .phrase-list .list-bg ul li li span {
        padding-left: 60px; }
      .phrase-list .list-bg ul li li li em {
        left: 50px; }
      .phrase-list .list-bg ul li li li span {
        padding-left: 80px; }
      .phrase-list .list-bg ul li li li li em {
        left: 70px; }
      .phrase-list .list-bg ul li li li li span {
        padding-left: 100px; }
    .phrase-list .list-bg .active {
      background: #3786c7;
      color: #fff; }

.icon-jia {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../images/icon-jia.png) no-repeat center; }

.icon-jian {
  background-image: url(../../images/icon-jian.png); }

.wrap-right .icon-cha {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../../images/icon-cha.png) no-repeat center;
  vertical-align: -1px; }
.wrap-right .icon-down {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../../images/icon-down.png) no-repeat center; }
.wrap-right .icon-up {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../../images/icon-up.png) no-repeat center; }
.wrap-right .phrase-form {
  width: 380px;
  float: right;
  position: relative;
  height: 557px; }
  .wrap-right .phrase-form p {
    line-height: 34px;
    padding: 10px 0 0 9px; }
  .wrap-right .phrase-form .gray {
    color: #999;
    padding-top: 0; }
  .wrap-right .phrase-form input {
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding: 0 8px; }
  .wrap-right .phrase-form textarea {
    line-height: 20px;
    width: 100%;
    border: 1px solid #e4e4e4;
    padding: 8px;
    box-sizing: border-box; }
  .wrap-right .phrase-form .btn-box {
    padding: 10px 0; }
    .wrap-right .phrase-form .btn-box em {
      margin-left: 10px; }
  .wrap-right .phrase-form .form-b {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
    .wrap-right .phrase-form .form-b .fl {
      float: left; }
    .wrap-right .phrase-form .form-b .fr {
      float: right; }

.wrap-right .title {
  height: 40px;
  line-height: 40px;
  background: #419dea;
  font-size: 12px;
  color: #fff; }
  .wrap-right .title h2 {
    font-size: 12px;
    font-weight: normal;
    float: left;
    padding-left: 10px; }
  .wrap-right .title .search-box {
    float: right;
    width: 410px;
    height: 32px;
    line-height: 26px;
    margin: 4px 4px 0 0;
    background: #3786c7;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 3px; }
    .wrap-right .title .search-box .search-list {
      float: left;
      width: 78px;
      position: relative; }
      .wrap-right .title .search-box .search-list .icon-down {
        background-image: url(../../images/icon-down2.png);
        margin-left: 5px; }
      .wrap-right .title .search-box .search-list span {
        padding-left: 5px; }
      .wrap-right .title .search-box .search-list .list-s {
        display: none;
        position: absolute;
        left: -3px;
        top: 100%;
        width: 100%;
        background: #3786c7;
        z-index: 20; }
        .wrap-right .title .search-box .search-list .list-s a {
          display: block;
          color: #fff;
          padding-left: 8px; }
    .wrap-right .title .search-box input {
      float: left;
      border: 0;
      border-left: 1px solid #419dea;
      height: 26px;
      line-height: 26px;
      background: transparent;
      width: 290px;
      padding: 0 8px;
      box-sizing: border-box;
      color: #fff; }
    .wrap-right .title .search-box .btn-search {
      float: right;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../../images/icon-search.png) no-repeat;
      margin: 3px 4px 0 0; }

.chatrecord {
  height: 515px;
  border: 1px solid #cdcdcd;
  background: #f9f9f9; }
  .chatrecord .left-list {
    float: left;
    width: 340px;
    height: 515px;
    border-right: 1px solid #cdcdcd;
    position: relative; }
    .chatrecord .left-list ul {
      height: 478px;
      overflow-y: auto;
      overflow-x: hidden; }
    .chatrecord .left-list li {
      line-height: 50px;
      cursor: pointer;
      padding: 0 4px;
      color: #666; }
      .chatrecord .left-list li:nth-child(odd) {
        background: #ececec; }
      .chatrecord .left-list li .icon-check {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../../images/icon-o.png) no-repeat;
        vertical-align: -3px; }
      .chatrecord .left-list li .active {
        background-image: url(../../images/icon-o2.png); }
      .chatrecord .left-list li img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 4px; }
      .chatrecord .left-list li .fr {
        float: right; }
    .chatrecord .left-list .list-btn {
      position: absolute;
      left: 1px;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 3px;
      border-top: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd;
      margin-top: -2px;
      text-align: right; }
  .chatrecord .right-chat {
    float: right;
    width: 527px;
    height: 515px;
    position: relative;
    font-size: 14px; }
    .chatrecord .right-chat .chat-scroll {
      height: 478px;
      overflow-y: auto; }
    .chatrecord .right-chat .text-center {
      text-align: center;
      color: #999;
      padding-top: 20px; }
    .chatrecord .right-chat dl {
      padding: 10px 60px 10px 10px; }
      .chatrecord .right-chat dl dt {
        float: left;
        width: 40px; }
        .chatrecord .right-chat dl dt img {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
      .chatrecord .right-chat dl dd {
        margin-left: 47px;
        line-height: 18px; }
        .chatrecord .right-chat dl dd p.gray {
          color: #999;
          padding: 0 4px;
          line-height: 22px; }
        .chatrecord .right-chat dl dd .text {
          border: 1px solid #e4e4e4;
          padding: 10px;
          border-radius: 8px;
          background: #fff;
          position: relative;
          float: left; }
          .chatrecord .right-chat dl dd .text .icon-san {
            position: absolute;
            left: -9px;
            top: 7px;
            width: 9px;
            height: 9px;
            background: url(../../images/icon-san.png) no-repeat; }
          .chatrecord .right-chat dl dd .text img {
            max-width: 380px; }
          .chatrecord .right-chat dl dd .text .resend {
            position: absolute;
            left: -38px;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            font-size: 12px;
            text-align: center;
            color: #666;
            width: 24px;
            line-height: 22px;
            margin-top: 4px; }
            .chatrecord .right-chat dl dd .text .resend span {
              display: inline-block;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background: #ee2f2f;
              color: #fff;
              font-size: 20px; }
          .chatrecord .right-chat dl dd .text .im-video {
            position: relative;
            width: 130px;
            height: 190px; }
            .chatrecord .right-chat dl dd .text .im-video .icon-play {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: url(../../images/icon-play.png) no-repeat center;
              cursor: pointer; }
          .chatrecord .right-chat dl dd .text .im-audio {
            height: 20px;
            line-height: 20px;
            min-width: 100px;
            cursor: pointer;
            position: relative; }
            .chatrecord .right-chat dl dd .text .im-audio .fl {
              float: left; }
            .chatrecord .right-chat dl dd .text .im-audio .fr {
              float: right;
              width: 14px;
              background: url(../../images/icon-audio.png) no-repeat;
              height: 20px; }
          .chatrecord .right-chat dl dd .text .im-audio-new:before {
            content: "";
            position: absolute;
            right: -14px;
            top: -14px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ee2f2f; }
    .chatrecord .right-chat .right {
      padding: 0 10px 10px 60px; }
      .chatrecord .right-chat .right dt {
        float: right; }
      .chatrecord .right-chat .right dd {
        margin: 0 47px 0 0; }
        .chatrecord .right-chat .right dd p.gray {
          text-align: right; }
        .chatrecord .right-chat .right dd .text {
          border-color: #f0c57b;
          background: #ffe199;
          float: right; }
          .chatrecord .right-chat .right dd .text .icon-san {
            left: auto;
            right: -9px;
            background-image: url(../../images/icon-san2.png); }
          .chatrecord .right-chat .right dd .text .im-audio .fl {
            float: right; }
          .chatrecord .right-chat .right dd .text .im-audio .fr {
            float: left;
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg); }
          .chatrecord .right-chat .right dd .text .im-audio-new:before {
            right: auto;
            top: -14px;
            left: -14px; }
    .chatrecord .right-chat .page {
      position: absolute;
      left: 1px;
      bottom: 0;
      width: 100%;
      height: 39px;
      box-sizing: border-box;
      padding: 3px;
      border-top: 1px solid #cdcdcd;
      border-right: 1px solid #cdcdcd;
      margin-top: -2px; }
      .chatrecord .right-chat .page .cn {
        background: none; }

.other h2 {
  width: 190px; }
.other .left-list {
  width: 250px; }
.other .right-chat {
  width: 416px; }
.other .phrase-list {
  width: 200px;
  height: 515px;
  border: 0;
  border-right: 1px solid #cdcdcd; }
  .other .phrase-list .list-bg {
    height: 100%; }
    .other .phrase-list .list-bg ul li span {
      padding: 10px; }

.left-tab {
  height: 39px;
  border-bottom: 1px solid #419dea; }
  .left-tab a {
    display: block;
    width: 50%;
    line-height: 39px;
    float: left;
    text-align: center;
    background: #fff;
    color: #666;
    position: relative; }
  .left-tab .active {
    background: #419dea;
    color: #fff; }
    .left-tab .active .icon-tab {
      position: absolute;
      left: 50%;
      top: 100%;
      width: 11px;
      height: 3px;
      background: url(../../images/icon-tab.png) no-repeat;
      margin: 1px 0 0 -2px; }

.im-left {
  float: left;
  width: 260px;
  background: #f9f9f9;
  height: 600px;
  overflow-y: auto; }
  .im-left .tab-list {
    font-size: 12px; }
    .im-left .tab-list li {
      padding: 10px 6px 10px 10px;
      line-height: 20px;
      cursor: pointer;
      position: relative; }
      .im-left .tab-list li img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-radius: 50%;
        float: left;
        margin-right: 8px; }
      .im-left .tab-list li .f14 {
        font-size: 14px; }
      .im-left .tab-list li .fr {
        float: right;
        color: #666; }
      .im-left .tab-list li p {
        padding-top: 5px;
        float: left;
        width: 186px; }
      .im-left .tab-list li .gray {
        color: #999;
        padding: 0;
        width: 160px; }
      .im-left .tab-list li .new {
        box-sizing: border-box;
        position: absolute;
        right: 7px;
        bottom: 17px;
        min-width: 16px;
        height: 16px;
        padding: 0 2px;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #ee2f2f;
        color: #fff; }
      .im-left .tab-list li:after {
        clear: both;
        content: "";
        display: block;
        height: 0;
        visibility: hidden; }
    .im-left .tab-list .active {
      background: #e4e4e4; }

.im-chat {
  float: left;
  width: 540px; }
  .im-chat .chatrecord {
    height: 600px;
    border-width: 0 1px; }
    .im-chat .chatrecord .right-chat {
      width: 100%;
      float: none;
      height: 433px; }
      .im-chat .chatrecord .right-chat .chat-scroll {
        height: 430px; }
  .im-chat .chat-send {
    border-top: 1px solid #e4e4e4; }
    .im-chat .chat-send .send-title {
      height: 34px;
      padding: 6px;
      position: relative; }
      .im-chat .chat-send .send-title .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 5px 15px 0;
        background: url(../../images/icon-expression.png) no-repeat center; }
      .im-chat .chat-send .send-title .icon-img {
        background-image: url(../../images/icon-img.png);
        width: 26px; }
      .im-chat .chat-send .send-title .icon-cut {
        background-image: url(../../images/icon-cut.png); }
      .im-chat .chat-send .send-title .btn {
        float: right;
        line-height: 32px; }
      .im-chat .chat-send .send-title .expression-box {
        width: 372px;
        height: 126px;
        padding: 5px;
        overflow-y: auto;
        border: 1px solid #e4e4e4;
        background: #fff;
        position: absolute;
        left: -1px;
        top: -138px; }
        .im-chat .chat-send .send-title .expression-box img {
          width: 24px;
          height: 24px;
          float: left;
          margin: 9px 10px;
          cursor: pointer; }
    .im-chat .chat-send .send-text textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 6px;
      border: 0;
      background: transparent;
      line-height: 20px;
      height: 72px; }
    .im-chat .chat-send .send-text .send-btn {
      height: 34px;
      text-align: right;
      position: relative;
      padding-right: 6px; }
      .im-chat .chat-send .send-text .send-btn .btn-send {
        display: inline-block;
        width: 100px;
        text-align: left;
        border-radius: 3px;
        background: #419dea;
        height: 34px; }
        .im-chat .chat-send .send-text .send-btn .btn-send .btn-blue {
          box-sizing: border-box;
          width: 70px;
          padding: 0;
          float: left;
          line-height: 32px; }
        .im-chat .chat-send .send-text .send-btn .btn-send .icon-down {
          display: inline-block;
          width: 28px;
          height: 28px;
          background: url(../../images/icon-down2.png) no-repeat center;
          border-left: 1px solid #a0cef5;
          margin-top: 3px;
          cursor: pointer; }
      .im-chat .chat-send .send-text .send-btn .btn-send-empty {
        border: 1px solid #e4e4e4;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        right: 6px;
        top: -75px;
        text-align: center;
        line-height: 24px;
        padding: 20px 0;
        width: 208px; }
        .im-chat .chat-send .send-text .send-btn .btn-send-empty span {
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #ee2f2f;
          color: #fff;
          line-height: 24px;
          font-size: 20px;
          margin-right: 10px; }
        .im-chat .chat-send .send-text .send-btn .btn-send-empty .sanjiao {
          position: absolute;
          top: 100%;
          right: 40px;
          display: inline-block;
          width: 12px;
          height: 6px;
          background: url(../../images/icon-sanjiao.png) no-repeat center; }
      .im-chat .chat-send .send-text .send-btn .btn-send-s {
        border: 1px solid #e4e4e4;
        background: #fff;
        position: absolute;
        right: 6px;
        top: 100%;
        line-height: 39px;
        text-align: left;
        width: 122px; }
        .im-chat .chat-send .send-text .send-btn .btn-send-s a {
          display: block;
          padding-left: 9px; }
        .im-chat .chat-send .send-text .send-btn .btn-send-s .active {
          background: #e4e4e4; }

.im-right {
  float: right;
  width: 280px;
  background: #f9f9f9; }
  .im-right .link-a {
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #419dea;
    border-top: 1px solid #e4e4e4;
    background: #fff; }
    .im-right .link-a a {
      display: block;
      float: left;
      width: 33.33%;
      text-align: center; }
  .im-right .icon-dian {
    height: 8px;
    background: url(../../images/icon-dian.png) no-repeat center #e3e3e3; }
  .im-right .left-tab a {
    width: 33.33%; }
  .im-right .right-search {
    height: 38px;
    background: #fff; }
    .im-right .right-search input {
      background: transparent;
      height: 38px;
      line-height: 38px;
      width: 220px;
      padding: 0 10px;
      border: 0; }
    .im-right .right-search .btn-search {
      float: right;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../../images/icon-search2.png) no-repeat;
      margin: 9px 10px 0 0; }
  .im-right .im-phrase-list {
    border-top: 1px solid #e4e4e4; }
    .im-right .im-phrase-list .phrase-list {
      float: none;
      width: 100%;
      border: 0;
      height: 472px;
      font-size: 12px; }
      .im-right .im-phrase-list .phrase-list .list-bg {
        background: #fff;
        line-height: 28px; }
        .im-right .im-phrase-list .phrase-list .list-bg .list-title {
          height: 25px;
          line-height: 25px;
          background: #f9f9f9;
          border-bottom: 1px solid #e4e4e4;
          padding: 0 10px;
          color: #999;
          cursor: pointer; }
          .im-right .im-phrase-list .phrase-list .list-bg .list-title .icon-down {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url(../../images/icon-down.png) no-repeat center;
            margin-left: 6px; }
          .im-right .im-phrase-list .phrase-list .list-bg .list-title .icon-up {
            background-image: url(../../images/icon-down.png); }
        .im-right .im-phrase-list .phrase-list .list-bg ul li {
          color: #666; }
          .im-right .im-phrase-list .phrase-list .list-bg ul li em {
            top: 5px; }
          .im-right .im-phrase-list .phrase-list .list-bg ul li li:hover {
            background: #e4e4e4; }
          .im-right .im-phrase-list .phrase-list .list-bg ul li li span {
            padding-left: 50px; }
      .im-right .im-phrase-list .phrase-list .list-bg > ul {
        border-bottom: 1px solid #e4e4e4; }

.text-empty {
  text-align: center;
  color: #999;
  padding: 15px 0; }


