@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
body {
  background: #f6f5ee; }

.opg .marg-t20 {
  margin-top: 20px;
  overflow: hidden; }
.opg .ship-addr-left {
  float: left;
  width: 300px;
  background: #fff;
  padding-bottom: 99999px;
  margin-bottom: -99999px; }
  .opg .ship-addr-left .ship-addr-setting {
    width: auto;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e9e8e3;
    font-weight: normal;
    font-size: 14px;
    padding-left: 20px; }
  .opg .ship-addr-left .ship-addr-manage {
    color: #e60039;
    font-size: 14px;
    padding-left: 35px;
    line-height: 44px; }
.opg .ship-addr-right {
  overflow: hidden;
  background: #fff;
  float: right;
  width: 845px;
  padding: 20px; }
  .opg .ship-addr-right .ship-addr-table {
    width: 100%;
    margin-top: 20px; }
    .opg .ship-addr-right .ship-addr-table tr:hover {
      background: #e9e8e3;
      cursor: pointer; }
    .opg .ship-addr-right .ship-addr-table th {
      height: 50px;
      line-height: 50px;
      background: #fff8e7;
      text-align: left;
      padding-left: 20px;
      color: #333;
      font-size: 14px;
      font-weight: normal; }
    .opg .ship-addr-right .ship-addr-table td {
      position: relative;
      text-align: left;
      padding-left: 20px;
      height: auto;
      padding: 15px 0 15px 20px;
      border-bottom: 1px dotted #e9e8e3; }
      .opg .ship-addr-right .ship-addr-table td .default-addr {
        width: 60px;
        height: 20px;
        border-radius: 4px;
        position: absolute;
        top: 4px;
        right: 2px;
        background: #e60039;
        display: block;
        color: #fff;
        font-size: 12px;
        text-align: center;
        top: 14px; }
        .opg .ship-addr-right .ship-addr-table td .default-addr a.set-default-addr {
          color: #fff;
          background: #fc8753;
          display: block;
          height: 20px;
          border-radius: 4px; }
      .opg .ship-addr-right .ship-addr-table td .set-default-hide {
        display: none; }
      .opg .ship-addr-right .ship-addr-table td .detailed-addr {
        line-height: 24px; }
      .opg .ship-addr-right .ship-addr-table td a {
        color: #376492; }
        .opg .ship-addr-right .ship-addr-table td a.amend-link {
          padding-right: 6px; }
        .opg .ship-addr-right .ship-addr-table td a.delete-link {
          padding-left: 6px; }
  .opg .ship-addr-right .new-add-addr {
    width: auto;
    height: 35px;
    line-height: 35px;
    color: #999; }
    .opg .ship-addr-right .new-add-addr span {
      color: #e60039; }


