@charset "UTF-8";
/*==============================标准色==========================*/
/*----主色-----*/
/*==============================字体大小==========================*/
/*==============================wrap宽度==========================*/
/*==============================btn 宽度==========================*/
/*==============================nav==========================*/
/*==============================text clolor==========================*/
.shop-list ul li .text p {
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.shop-title .sort {
  padding-top: 18px; }

.shop-list {
  background: #fff; }
  .shop-list .list-name {
    padding: 15px;
    border-bottom: 1px solid #f6f5ee;
    position: relative; }
    .shop-list .list-name .pc-btn {
      position: absolute;
      top: 15px;
      right: 15px; }
    .shop-list .list-name .img {
      float: left;
      margin-right: 15px;
      width: 120px;
      height: 120px; }
      .shop-list .list-name .img img {
        width: 120px;
        height: 120px; }
    .shop-list .list-name h1 {
      font-size: 30px;
      font-weight: normal;
      line-height: 48px; }
      .shop-list .list-name h1 span {
        display: inline-block;
        width: 18px;
        height: 20px;
        background: url(../../../images/public/sprite.png) no-repeat;
        margin-left: 8px; }
      .shop-list .list-name h1 .vip1 {
        background-position: 0 0; }
      .shop-list .list-name h1 .vip2 {
        background-position: -25px 0; }
      .shop-list .list-name h1 .vip3 {
        background-position: -49px 0; }
    .shop-list .list-name p {
      color: #999;
      line-height: 1.2em; }
      .shop-list .list-name p span {
        color: #e60039;
        margin-right: 20px; }
      .shop-list .list-name p em {
        font-size: 16px;
        float: left;
        margin-right: 7px;
        color: #333; }
    .shop-list .list-name .shop-score {
      width: 400px;
      float: left; }
    .shop-list .list-name .function-icon {
      width: 180px;
      float: right; }
      .shop-list .list-name .function-icon a {
        float: left;
        margin-left: 15px; }
      .shop-list .list-name .function-icon .icon-share:before {
        content: "\e997"; }
      .shop-list .list-name .function-icon .icon-share.active {
        color: #e60039; }
        .shop-list .list-name .function-icon .icon-share.active:before {
          content: "\e998"; }
      .shop-list .list-name .function-icon .icon-save:before {
        content: "\e92d"; }
      .shop-list .list-name .function-icon .icon-save.active {
        color: #e60039; }
        .shop-list .list-name .function-icon .icon-save.active:before {
          content: "\e92e"; }
      .shop-list .list-name .function-icon .icon-like:before {
        content: "\e917"; }
      .shop-list .list-name .function-icon .icon-like.active {
        color: #e60039; }
        .shop-list .list-name .function-icon .icon-like.active:before {
          content: "\e918"; }
      .shop-list .list-name .function-icon span {
        float: left;
        color: #333;
        margin-right: 0; }
    .shop-list .list-name .line2 {
      height: 4em;
      line-height: 1.7em; }
  .shop-list ul {
    margin-right: -13px; }
    .shop-list ul li {
      /* box-sizing: border-box;
      border: 5px solid transparent; */
      float: left;
      width: 230px;
      margin: 0 12px 12px 0;
      position: relative;
      background: #fff;
      /* .mg-negative{
          margin: -5px;
      } */ }
      .shop-list ul li .icon-fan {
        position: absolute;
        right: 6px;
        top: -5px;
        width: 33px;
        height: 28px;
        background: url(../../../images/public/sprite.png) no-repeat 0 -25px;
        color: #fff;
        font-style: normal;
        text-align: center;
        z-index: 25; }
      .shop-list ul li .icon-jiang {
        background: url(../../../images/public/sprite.png) -40px -25px; }
      .shop-list ul li img {
        width: 230px;
        height: 230px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
      .shop-list ul li .text {
        box-sizing: border-box;
        padding: 10px 15px;
        line-height: 24px;
        border-top: 1px solid #f6f5ee;
        color: #e60039; }
        .shop-list ul li .text span {
          font-size: 25px; }
        .shop-list ul li .text p {
          width: 100%;
          color: #333; }
      .shop-list ul li .btn-box {
        display: none;
        position: absolute;
        left: 0;
        top: 190px;
        width: 100%;
        height: 40px;
        z-index: 20; }
        .shop-list ul li .btn-box a {
          width: 50%;
          border-radius: 0;
          float: left; }
      .shop-list ul li:hover {
        /* border-color: #e60039;
        overflow: hidden; */
        box-shadow: 3px 3px 6px 0 #d2d2d2;
        -webkit-box-shadow: 3px 3px 6px 0 #d2d2d2;
        -moz-box-shadow: 3px 3px 6px 0 #d2d2d2; }
        .shop-list ul li:hover img {
          -webkit-transform: scale3d(0.98, 0.98, 1);
          transform: scale3d(0.98, 0.98, 1); }
        .shop-list ul li:hover .text p {
          color: #e60039; }
        .shop-list ul li:hover .btn-box {
          display: block; }

.detail-menu {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #e60039;
  text-align: center;
  background: #333;
  margin-bottom: 15px; }
  .detail-menu a {
    float: left;
    display: inline-block;
    width: 96px;
    color: #fff; }
    .detail-menu a:hover {
      color: #e60039; }
  .detail-menu .active {
    background: url(../../../images/public/icon-up.png) no-repeat center bottom; }
  .detail-menu .fl {
    float: left;
    position: relative; }
    .detail-menu .fl a {
      width: 135px; }
      .detail-menu .fl a .icon {
        margin-left: 5px; }
      .detail-menu .fl a .icon-up {
        display: none; }
      .detail-menu .fl a.active {
        background-image: none;
        color: #e60039; }
        .detail-menu .fl a.active .icon-down {
          display: none; }
        .detail-menu .fl a.active .icon-up {
          display: inline-block; }
      .detail-menu .fl a.hover {
        background-image: none;
        color: #e60039; }
    .detail-menu .fl .open-list {
      display: none;
      width: 150px;
      line-height: 50px;
      position: absolute;
      left: 0;
      top: 50px;
      background: #333;
      z-index: 30;
      text-align: left; }
      .detail-menu .fl .open-list a {
        width: 100%;
        color: #fff;
        padding: 0 10px 0 20px;
        box-sizing: border-box; }
        .detail-menu .fl .open-list a:hover {
          color: #fff;
          background: #f95353; }
        .detail-menu .fl .open-list a.active {
          color: #fff;
          background: #f95353; }

.detail-coupons {
  background: #fff;
  padding: 5px 5px 0; }
  .detail-coupons dl {
    margin-right: -5px; }
  .detail-coupons dt {
    float: left;
    width: 123px;
    font-size: 18px;
    text-align: center;
    padding-top: 42px; }
    .detail-coupons dt .icon {
      color: #e60039;
      font-size: 40px; }
  .detail-coupons .coupon-list {
    float: left;
    width: 1072px; }
  .detail-coupons dd {
    float: left;
    width: 262px;
    margin: 0 6px 5px 0;
    text-align: center;
    padding: 10px 0 15px;
    background: url(../../../images/shop/shop-coupon.png) #fff8e7 no-repeat left top;
    background-color: #fff8e7; }
    .detail-coupons dd p {
      color: #999;
      padding-top: 5px; }
    .detail-coupons dd .fl {
      text-align: center;
      font-size: 22px;
      color: #f95353; }
      .detail-coupons dd .fl span {
        font-size: 55px;
        line-height: 1; }
    .detail-coupons dd .fr {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      padding-bottom: 8px;
      /* p{
          color: $color-danger;
      } */ }

.shop-list-bg {
  background: #f6f5ee; }

.no-new {
  height: 206px;
  margin-top: 15px;
  padding-top: 160px;
  background: #fff; }
  .no-new dl {
    width: 285px;
    margin: 0 auto; }
    .no-new dl dt {
      float: left; }
      .no-new dl dt .icon-bag {
        font-size: 65px;
        color: #999; }
    .no-new dl dd {
      float: right; }
      .no-new dl dd span, .no-new dl dd a {
        display: block; }
      .no-new dl dd span {
        color: #666;
        font-size: 16px; }
      .no-new dl dd .red-big {
        margin-top: 6px;
        color: #f95353;
        font-size: 30px; }
        .no-new dl dd .red-big em {
          margin-left: 8px;
          color: #999;
          font-size: 16px;
          display: none; }
  .no-new .no-business {
    width: 210px; }

.page-more {
  padding-top: 15px; }
  .page-more a.pc-btn {
    background: #e9e8e5;
    color: #333;
    line-height: 60px;
    font-size: 16px; }

.fixed-tool {
  position: fixed;
  top: 50%;
  right: 0;
  width: 50px;
  height: 310px;
  margin-top: -150px;
  z-index: 99; }
  .fixed-tool a {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 1px;
    background-color: #fc8752;
    position: relative; }
    .fixed-tool a.tool-2 {
      height: 105px; }
      .fixed-tool a.tool-2 p {
        width: 16px;
        line-height: 1;
        position: absolute;
        top: 47px;
        left: 18px; }
      .fixed-tool a.tool-2 .cart-num {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%;
        background-color: #e60039; }
    .fixed-tool a em {
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -12px 0 0 -12px; }
      .fixed-tool a em.icon-cart {
        top: 31px; }
    .fixed-tool a .hover-txt {
      width: 28px;
      line-height: 16px;
      padding-top: 10px;
      margin: 0 auto;
      font-size: 12px;
      display: none; }
    .fixed-tool a.tool-3 .hover-txt {
      width: 42px; }
    .fixed-tool a:hover {
      background-color: #fda984;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .fixed-tool a:hover .hover-txt {
        display: block; }
      .fixed-tool a:hover em {
        display: none; }
      .fixed-tool a:hover em.icon-cart {
        display: block; }

.no-merchants {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-top: 185px; }


