@import '../config/_base.scss';
@import '../config/_mixins.scss';

.opg{
    .footer{
        box-sizing: border-box;
        margin-top: 50px;
        background: $color-default;
        color: $color-gray;
        font-size: $text12;
        .wrap-box{
            padding: 27px 0 35px;
            a{
                color: $color-gray;
            }
        }
        dl.link-list{
            float: left;
            width: 150px;
            line-height: 22px;
            dt{
                font-size: $text16;
                color: $bg-fff;
                padding-bottom: 5px;
            }
            dd{
                a{
                    &:hover{
                        color: $link-hover;
                    }
                }
            }
        }
        .ma{
            float: right;
            p{
                width: 120px;
                padding-left: 43px;
                float: left;
                line-height: 30px;
                img{
                    width: 120px;
                    height: 120px;
                }
            }
        }
        .copyright{
            background: #252525;
            line-height: 24px;
            text-align:center;
            padding: 8px 0;
            .wrap-box{
                background: #252525;
                padding: 0;
            }
        }
    }
}

