<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" type="text/css" href="/CDN8152/dist/css/comment.css">
	<script type="text/javascript">
        var $CONFIG = {
            userId: 1, //用户id，为0标识未登录
            nickName: "zeromike",
            avatar: "http://gfs1.atguat.net.cn/T1RRLTB7WT1RCvBVdK.jpeg",
        };
	</script>

	<script type="text/javascript">

        // cms
        $CONFIG['domain-data'] = 'http://m.v.dev.gomeplus.com/';

        // php
        $CONFIG['domain-user'] = 'http://api.be.v.dev.gomeplus.com';

	</script>
</head>
<body>
	<div class="gome-top">
	<div id="gome-top-body" class="wbox">
		<ul>
			<li id="gome-plus-entry-link"><a data-code="public01056" href="//www.pre.gomeplus.com" target="_blank"><i class="icon-gome-plus-logo"></i>国美Plus</a></li>
			<li id="gome-entry-link"><a data-code="public01001" href="//www.atguat.com.cn/" target="_blank"><i class="icon-gome-logo"></i>国美在线</a></li>
			<li class="gome-spacer"></li>
			<li id="gome-user" data-load="user">
				<b id="loginDiv-name">Hi,&nbsp;<a data-code="public01054" href="//v.atguat.com.cn" target="_blank"><span class="sign-top-member-name">美美_821486969205121&nbsp;</span><em class="level-g1"></em><i></i></a></b>
				<div class="public-dropdown"></div>
			</li>
			<li id="loginDiv-link" class="gome-link"><a rel="nofollow" data-code="public01002" href="http://login.atguat.com.cn/login">请登录</a></li>
		</ul>
		<ul id="gome-top-right">
			<li class="gome-link"><a rel="nofollow" data-code="public01004" href="//myhome.atguat.com.cn/member/myOrder?flag=a0">我的订单</a></li>
			<li id="gome-mygome" data-load="mygome">
				<b><a rel="nofollow" data-code="public01050" href="//myhome.atguat.com.cn/member/profileHome?flag=a" target="_blank">我的国美</a><i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li class="gome-spacer"></li>
			<li class="gome-link"><a data-code="public01055" class="gome-link-ml10" rel="nofollow" href="//enterprise.gome.com.cn/">企业采购</a></li>
			<li id="gome-service" class="drop" data-load="service">
				<b><em class="gm-icon">f</em><a data-code="public01052" rel="nofollow" href="//help.gome.com.cn/" target="_blank">服务中心</a><i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li id="gome-sitemap" class="drop" data-type="b13" data-load="sitemap">
				<b>网站导航<i></i></b>
				<div class="public-dropdown"></div>
			</li>
			<li class="gome-spacer"></li>
			<li id="gome-phone" class="drop">
				<b><em class="gm-icon">á</em><a data-code="public01049" rel="nofollow" href="//shouji.gome.com.cn/" target="_blank">手机国美</a><i></i></b>
				<div class="public-dropdown">
					<a class="gome-plus-qrcode" data-code="public01057" href="//www.pre.gomeplus.com/others/download.html" target="_blank"></a>
					<i class="qrcode-spacer"></i>
					<a class="gome-qrcode" data-code="public01005" href="//shouji.gome.com.cn/" target="_blank"></a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- header -->
<div class="header" data-node="header">
    <div class="header-main clearfix">
        <a class="logo" href="/" target="_self" title="国美视频">
        	<img alt="国美视频" src="/CDN8152/dist/imgs/public/logo.png"/>
        </a>
        <ul class="nav">
            <li class="active"><a href="#">首页推荐</a></li>
            <li><a href="#">订阅</a></li>
        </ul>
        <div class="user-area" data-node="userArea">
            <div class="avatar"></div>
            <div class="user-info hide">
                <em class="arrow"></em>
                <dl class="user-nickname">
                    <dt><img src=""></dt>
                    <dd>用户昵称很长很长</dd>
                </dl>
                <div class="user-nav">
                    <a href="#">我的收藏</a>
                    <a href="#">我的订阅</a>
                    <a href="#">帮助反馈</a>
                </div>
            </div>
        </div>
        <div class="record" data-node="record">
            <div class="name">
                <em class="icon-29"></em><br/>
                <span>观看记录</span>
            </div>
            <!--<div></div>-->
            
            <div class="record-card hide" data-node="recordWrap">
                <em class="arrow"></em>
                <div class="empty hide">暂时还没有观看记录哦～</div>
                <div class="record-card-list">
                    <h3>最近</h3>
                    <ul>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题也是很长很长很长很长很长很长很长的标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">已看完</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                        <li>
                            <a class="title" href="#">视频文章标题</a>
                            <span class="progress">剩余90%</span>
                            <em title="删除" class="del icon-13"></em>
                        </li>
                    </ul>
                    <a class="more-record" href="#">查看更多</a>
                </div>
            </div>
        </div>
        <div class="record" data-node="record">
            <a href="http://meimiao.gomeplus.com/" class="name" target="_blank">
                <em class="icon-48"></em><br/>
                <span>下载</span>
            </a>
        </div>
        <div class="search clearfix" data-id="search-container">
            <form action="javascript:;" data-id="search-form">
                <em class="ico-search icon-30"></em>
                <input class="input" type="text" data-id="search-input" placeholder="请输入您感兴趣的视频" autocomplete="off">
                <button class="btn" data-id="search-button" type="button">搜索</button>
            </form>
        </div>
    </div>
</div>
<!-- header -->

		<div id="wrap"></div>
		<!--<div class="cmt-module">
			<div class="cmt-head"><div class="cmt-title">评论 <span class="cmt-count">(12条评论)</span></div></div>

			<div data-id="inputArea" class="cmt-inputarea">
				<div class="cmt-form">
					<div class="cmt-textarea" data-id="inputComment" style="position: relative">
						<textarea data-id="txtComment" class="cmt-textarea" placeholder="我来说两句..."></textarea>
						<div data-id="wordNumberArea" class="cmt-wordnumber" style="">
							<span data-id="limitNum" class="">0
							</span><span class="cmt-gray"> / 300</span>
						</div>
						<div class="cmt-error">最多输入300个文字哦
							<div class="cmt-a1"></div>
							<div class="cmt-a2"></div>
						</div>
					</div>
					<div class="cmt-login-icon">
						<a href="javascript: void 0;">
							<img src="http://gfs13.atguat.net.cn/T1WFDTByKT1RCvBVdK.png">
						</a>
					</div>

					<div style="clear: both"></div>
					<div class="cmt-btn">
						<a href="javascript:void 0" style="width:84px;height: 40px;" class="btn okBtn cmt-black disabled">发送</a>
					</div>
				</div>
			</div>

			<div>
				<div class="comments" data-id="comments" id="commentsList">
					<div class="cmt-item clearfix">
						<div class="cmt-user-icon">
							<a href="javascript: void 0;">
								<img src="http://gfs13.atguat.net.cn/T1WFDTByKT1RCvBVdK.png">
							</a>
						</div>
						<div class="cmt-body">
							<div class="cmt-action">
								<span class="cmt-username">nickname</span>
								<div class="cmt-action-btn">
									<div class="cmt-time" data-count="时间"></div>
								</div>
							</div>
							<div class="cmt-content">看两节课了健康六角恐龙
							</div>
						</div>
					</div>
					<div class="cmt-item clearfix">
						<div class="cmt-user-icon">
							<a href="javascript: void 0;">
								<img src="http://gfs13.atguat.net.cn/T1WFDTByKT1RCvBVdK.png">
							</a>
						</div>
						<div class="cmt-body">
							<div class="cmt-action">
								<span class="cmt-username">nickname</span>
								<div class="cmt-action-btn">
									<div class="cmt-time" data-count="时间"></div>
								</div>
							</div>
							<div class="cmt-content">看两节课了健康六角恐龙
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	<!-- footer -->
<div class="footer">
	<p>出版物经营许可证：渝北-500112122号 | 食品流通许可证：SP5001121610159782号</p>
	<p>Copyright © 2015-2017 美信网络技术有限公司版权所有 渝ICP备15012739号 增值电信业务经营许可证：渝B2-20160039</p>
</div>
<!-- footer -->
	<script src="/CDN8152/dist/js/vendor.js"></script>
	<script src="/CDN8152/dist/js/CommentContainer.js"></script>
</body>
</html>