doctype html
html(lang="zh-CN" data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/order.css")
	
	body.opg.store-order
		include ../../../m-widget/head/rem.jade
		header.header
			span
				a.head-back(href="javascript:;")
					em.iconn-1
			h1.head-title 门店订单ss
			span
				a.head-icn(href="javascript:;")
					em.iconn-4
		/// header

		//- ul.menu-list
		//- 	li.item.active
		//- 		a.link(href="javascript:;")
		//- 			p.txt 支付成功
		//- 	li.item
		//- 		a.link(href="javascript:;")
		//- 			p.txt 退款/售后
		ul.menu-list
			li.item.active
				a(href="##")
					i.num
					p.txt 支付成功
			li.item
				a(href="##")
					i.num
					p.txt 退款/售后
	
		.tab-cuss
			.zone
				a.a-link(href="##")
				.pay-sec.code
					span.code-num
						| 订单编号：
						em 12876
					strong.state 支付成功
				div.pay-sec.bor
					p.infor
						| 会专用100mm紫色亮片高跟鞋宴会专用宴会专100mm紫色亮片高跟鞋紫色
					div.detail
						span.d-nomey ¥2929.00
						em.num x1
				.goods
					span.gd-num 共1件商品
					em.gd-pay
						| 实付: 
						strong ¥2929.00
			.zone
				a.a-link(href="##")
				.pay-sec.code
					span.code-num
						| 订单编号：
						em 12876
					strong.state 支付成功
				div.pay-sec.bor
					p.infor
						| 会专用100mm紫色亮片高跟鞋宴会专用宴会专100mm紫色亮片高跟鞋紫色
					div.detail
						span.d-nomey ¥2929.00
						em.num x1
				.goods
					span.gd-num 共1件商品
					em.gd-pay
						| 实付: 
						strong ¥2929.00
			.page-no 我是有底线的~
			.m-prompt
				.pro-img
					img(src="../../images/_temp/404.png")
				.pro-txt
					| 店主好懒~居然没有商品
					br
					| 咱们去别处逛逛吧
				.pro-btn
					a.m-btn 刷新

		///支付成功

		.tab-back.hidden(style="display:block")
			.zone
				a.a-link(href="##")
				.pay-sec.code
					span.code-num
						| 订单编号：
						em 12876
					strong.state 退款已受理
				div.pay-sec.bor
					p.infor
						| 会专用100mm紫色亮片高跟鞋宴会专用宴会专100mm紫色亮片高跟鞋紫色
					div.detail
						span.d-nomey ¥2929.00
						em.num x1
				.goods
					span.gd-num 共1件商品
					em.gd-pay
						| 实付: 
						strong ¥2929.00
			.zone
				a.a-link(href="##")
				.pay-sec.code
					span.code-num
						| 订单编号：
						em 12876
					strong.state 退款已受理
				div.pay-sec.bor
					p.infor
						| 会专用100mm紫色亮片高跟鞋宴会专用宴会专100mm紫色亮片高跟鞋紫色
					div.detail
						span.d-nomey ¥2929.00
						em.num x1
				.goods
					span.gd-num 共1件商品
					em.gd-pay
						| 实付: 
						strong ¥2929.00
			.page-no 我是有底线的~
			.m-prompt
				.pro-img
					img(src="../../images/_temp/404.png")
				.pro-txt
					| 店主好懒~居然没有商品
					br
					| 咱们去别处逛逛吧
				.pro-btn
					a.m-btn 刷新
			
		///退款/售后
		

		
		