doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/usercenter-new.css")
    
    body.opg.user-center
        include ../../../m-widget/head/rem.jade
        div
            header.header
                span
                    a.head-back(href="##")
                        em.iconn-1
                h1.head-title 我的优惠券
                span
                    a.head-edit(href="##") 说明
            .nav-dis
                 ul.menu-list.menu-list-shopmin
                    li.item.active
                        p.txt 未使用
                            em (300)
                    li.item
                        p.txt 已过期
                            em (13)
                    li.item
                        p.txt 已使用
                            em(2)
            .card-tabs
                ul.card-list.no-usefull
                    li
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/usercenter/group3.png")
                                    p MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满2500.00使用
                    li
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/usercenter/group4.png")
                                    p MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满2500.00使用
                ul.card-list.no-usefull
                    li
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/common/gome-logo.png")
                                    p MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money.timeout
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满2500.00使用
                    li
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/common/gome-logo.png")
                                    p MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money.timeout
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满2500.00使用
                ul.card-list
                    li
                        span.angle 快过期
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/usercenter/group2.png")
                                    p MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满250000使用
                    li
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/usercenter/group5.png")
                                    p MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满2500.00使用
                    li
                        .card-it
                            .card-cont
                                .card-shop
                                    img(src="../../images/common/gome-logo.png")
                                    p MOMO官方旗舰店
                                .card-time 使用期限：
                                    span 2016.08.09-2016.12.12
                            .card-money
                                p.card-rmb
                                    | ￥
                                    strong 200
                                span.card-use 订单满250000使用
                .page-no 没有更多了~~
