doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/usercenter-new.css")
    
    body.opg.user-center
        include ../../../m-widget/head/rem.jade
        
        div
            header.header
                span
                    a.head-back(href="##")
                        em.iconn-1
                h1.head-title 使用说明
            p.explain
                | 1、平台优惠券和店铺优惠券不可同时使用；
                br
                | 2、平台满减券全场通用，除特殊商品除外；
                br
                | 3、店铺满减券仅限于在所属店铺内购物使用；
                br
                | 4、优惠券一经使用，不予退回；
                br
                | 5、优惠券不参与抵扣任何商品运费；
                br
                | 6、前往逛逛模块领取优惠券；
                br
                | 7、参加平台或者店铺的活动有可能获得优惠券；
                br
                | 8、平台或者店铺会不定期将优惠券发放至您的帐户。
