doctype html
html(lang="zh-CN",data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/usercenter-new.css")
	
	body(style="background-color: #032242;").opg.user-center
		include ../../../m-widget/head/rem.jade
	
		header.header
			span
				a.head-back(href="javascript:;")
					em.iconn-1
			h1.head-title 达人特权
		// /header
		
		.daren-wrap
			.dr-10
			.dr-11
			.dr-12
				a(href="##").btn-shadow
					span.orange-btn 创建圈子
				p 聚拢人气，建个专属圈子吧！
