doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/usercenter-new.css")
    
    body.opg.user-center
        include ../../../m-widget/head/rem.jade
        
        div
            a(href="#").go-top
            header.header.change-bj
                span
                    a.head-back(href="##")
                        em.iconn-1
                span
                    a.head-edit(href="#")
                        em.iconn-4
            .user-header
                .header-box
                    .head
                        a(href="#")
                            img.head-img(src="https://i6.meixincdn.com/T1JXETByAT1R4cSCrK.90x90cTz.png")
                            span
                                img(src="../../images/usercenter/mark.png")
                    h3 扮野优美Horipro
                        img(src="../../images/usercenter/sex-girl.png").sex-icon
                    .head-tex
                        p Ta的话题
                            span 10
                        p Ta的话题
                            span 10
                    a.head-btn(href="#") Ta的店铺
            .user-mian
                ul.menu-list
                    li.item.active
                        i.num
                        p.txt 话题
                    li.item
                        p.txt 圈子
                section.dynamic-list
                    article.article
                        a.art-link(href="##")
                        .art-user
                            span.user-face
                                img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
                            span.user-name 用户名称A
                        p.list-art-txt 来自圈子：
                            span 健身好能手
                        .art-txt
                            p 本店始创于康熙年间，经过先后6000多年，研制出这款显示器，绝对高清，绝对靠谱！
                        .m-pics
                            div
                                img(src='https://i7.meixincdn.com/T1EaKTBTJs1RXrhCrK.304x304cTz.jpg')
                        .art-info
                            span.time 3分钟前

                            span
                                em.iconn-19
                                | 23
                            span
                                em.iconn-28
                                | 34
                            span
                                em.iconn-22
                                | 12
                    // 单独一块

                    article.article
                        a.art-link(href="##")
                        .art-user
                            span.user-face
                                img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
                            span.user-name 用户名称Ap
                        .list-art-txt 来自圈子：
                            span 健身好能手
                        .art-txt
                            p 本店始创于康熙年间，经过先后6000多年，研制出这款显示器，绝对高清，绝对靠谱！
                        .m-pics
                            div.img
                                img(src='https://i7.meixincdn.com/T1EaKTBTJs1RXrhCrK.304x304cTz.jpg')
                            div.img
                                img(src='https://i7.meixincdn.com/T1EaKTBTJs1RXrhCrK.304x304cTz.jpg')
                                span
                                    em.iconn-80
                        .art-info
                            span.time 3分钟前

                            span
                                em.iconn-19
                                | 23
                            span
                                em.iconn-28
                                | 34
                            span
                                em.iconn-22
                                | 12
                    // 单独一块


                    article.article
                        a.art-link(href="##")
                        .art-user
                            span.user-face
                                img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
                            span.user-name 用户名称A
                        .list-art-txt 来自圈子：
                            span 健身好能手
                        .art-txt
                            p 本店始创于康熙年间，经过先后6000多年，研制出这款显示器，绝对高清，绝对靠谱！
                        .m-pics
                            .img
                                img(src='https://i7.meixincdn.com/T1EaKTBTJs1RXrhCrK.304x304cTz.jpg')
                            .img
                                img(src='https://i7.meixincdn.com/T1EaKTBTJs1RXrhCrK.304x304cTz.jpg')
                                span
                                    em.iconn-79
                            .img
                                em.num 5
                                img(src='https://i7.meixincdn.com/T1EaKTBTJs1RXrhCrK.304x304cTz.jpg')
                                span
                                    em.iconn-80
                        .art-info
                            span.time 3分钟前

                            span
                                em.iconn-19
                                | 23
                            span
                                em.iconn-28
                                | 34
                            span
                                em.iconn-22
                                | 12
                    // 单独一块
                    .page-no
                        span
                        | 我是有底线的~


