doctype html
html(lang="zh-CN",data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public-wap.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/package-list.css")
	
	body.opg.package
		include ../../../m-widget/head/rem.jade

		header.header
			span
				a.head-back(href="##")
					em.iconn-1
			h1.head-title 包裹列表

		section.section
			article.article
				.list-head
					span 包裹1
					span.red 交易成功

				.package-list
					a.link(href="javascript:;")
					.item-img
						img(src='https://i-pre.meixincdn.com/T15yWTBKxT1RXrhCrK.154x154cTz.jpg')
					.item-txt
						h2 宴会专用紫色亮片高跟鞋宴会专用宴会专用100mm紫
						.info
							span 颜色：紫色
							span 尺码：37
					.item-price
						p ¥888884.00
						span.num x1
				
				.bot-info
					.price
						span 共2件商品
						span 实付: 
							strong ¥888884
							em .00
					a.m-btn(href="javascript:;") 查看物流

			article.article
				.list-head
					span 包裹2
					span.red 已妥投

				.package-list
					a.link(href="javascript:;")
					.item-img
						img(src='https://i-pre.meixincdn.com/T15yWTBKxT1RXrhCrK.154x154cTz.jpg')
					.item-txt
						h2 宴会专用紫色亮片高跟鞋宴会专用宴会专用100mm紫
						.info
							span 颜色：紫色
							span 尺码：37
					.item-price
						p ¥888884.00
						span.num x1
				
				.bot-info
					.price
						span 共2件商品
						span 实付: 
							strong ¥888884
							em .00
					a.m-btn.btn-bor(href="javascript:;") 查看物流
					a.m-btn(href="javascript:;") 确认收货

			article.article
				.list-head
					span 包裹2
					span.red 已妥投

				.package-list
					a.link(href="javascript:;")
					.item-img
						img(src='https://i-pre.meixincdn.com/T15yWTBKxT1RXrhCrK.154x154cTz.jpg')
					.item-txt
						h2 宴会专用紫色亮片高跟鞋宴会专用宴会专用100mm紫
						.info
							span 颜色：紫色
							span 尺码：37
					.item-price
						p ¥888884.00
						span.num x1
				
				.bot-info
					.price
						span 共2件商品
						span 实付: 
							strong ¥888884
							em .00
					a.m-btn.btn-bor(href="javascript:;") 查看物流
					a.m-btn(href="javascript:;") 确认收货

			article.article
				.list-head
					span 包裹2
					span.red 已妥投

				.package-list
					a.link(href="javascript:;")
					.item-img
						img(src='https://i-pre.meixincdn.com/T15yWTBKxT1RXrhCrK.154x154cTz.jpg')
					.item-txt
						h2 宴会专用紫色亮片高跟鞋宴会专用宴会专用100mm紫
						.info
							span 颜色：紫色
							span 尺码：37
					.item-price
						p ¥888884.00
						span.num x1
				
				.bot-info
					.price
						span 共2件商品
						span 实付: 
							strong ¥888884
							em .00
					a.m-btn.btn-bor(href="javascript:;") 查看物流
					a.m-btn(href="javascript:;") 确认收货

		.page-no 我是有底线的~


