#header-meihao
    .meihao-container.clearfix
        .logo 
        .meihao-message 
            img(src="http://gfs6.gomein.net.cn/T1cSdTBXAT1RCvBVdK_140_140.jpeg").pic
            .status.clearfix
                .name 小灿灿要加油
                .type 个人号
                .line |
                .logout
                    a(href="#")  退出