doctype html
html(lang="zh-CN")
	include ../../../../../gomeplusUI/pc/src/jade/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/video/video.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/circle/topicdetails.css")
	body.opg
		include ../../../../../gomeplusUI/pc/src/jade/header.jade
		include ../../../../../gomeplusUI/pc/src/jade/menu.jade
		div.wrap-box
			include ../../../../../gomeplusUI/pc/src/jade/top.jade
			.crumbs-box
				a(href="javescript:") 首页
				em >
				a(href="javescript:") 商城
				em >
				a(href="javescript:") 店铺列表
				em >
				span 找到	
				span.crnmb-activ 旅行
				span 相关的话题 共
				span.crnmb-activ 120384
				span 个
		.more-topic
			div.wrap-box.ovflow-hid.wrap-reletive
				div.topic-lfet
					.bjfff
						div.topic-title0
							h1
								em.set-top 置顶
								em.set-spark 精品
								em.set-access 专访
								| 甜品控|你没有想过的西瓜新吃法- -免烤西瓜蛋糕
							p.topic-source
								a(href="javascript:;")
									img(src="../../images/circle/small-logo.png")
									| 奔腾的小叶路
								span 来自圈子：
								| 美味甜品
								span.date 2015.05.05
								span.fr
									//9c2
									em.icon.icon-comment
									span.topic-count 238
								span.counts.fr
									//9c2
									em.icon.icon-collection
									span.topic-count 238
						div.topic-conter
							ul.source-lef-list
								li
									a(href="javescript:")
										em.icon &#xe937;
										span 微信
								li
									a(href="javescript:")
										em.icon &#xe935;
										span 微博
								li
									a(href="javescript:")
										em.icon &#xe900;
										span QQ
								li
									a(href="javescript:")
										em.icon &#xe902;
										span QQ空间
								li
									a(href="javescript:")
										em.icon.icon-zan.active
										span 点赞
								li
									a(href="javescript:")
										em.icon.icon-save.active
										span 收藏
								li
									a(href="javescript:")
										em.icon &#xeaa0;
										span 评论
							.source-rig-box
								.topic-content
									| 周末懒得出门赖在家？ 必须把做西瓜蛋糕新技能get起来ddddddd！
									| 西瓜去头去尾，立起来将皮切掉，去皮完毕后用厨房纸将西瓜外部的水分擦干，这个动作可以方便后面涂抹奶油然后转移到你打算用来放西瓜蛋糕的容器中准备装饰。
									| 从冰箱拿出鲜奶油，加糖和几滴香草精，或者是香草籽打发至不流动的状态，千万不要打过头了。 *鲜奶油和糖的比例为100: 8，如果西瓜比较大，鲜奶油可以多放，用不完的可以用保鲜膜封上放进冰箱冷藏保存。
									| 用刮刀之类的工具把打发好的奶油涂抹在西瓜上。 *建议用平底的容器来放西瓜蛋糕，否则底部会比较难涂。
									img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/a2581626c8eebe46e62_800.jpg")
									
									.pc-video
										.video-box
											.clearfix
												.video
													em.icon.icon-open &#xea56;
											.video-foot
												//js控制鼠标滑过个字体图标的值weixin:&#xe938;qq:&#xe901;sina:&#xe936;kongjian:&#xe903;
												.fl
													em.icon.icon-share &#xe997;
													span 分享到
													em.icon.icon-weixin &#xe937;
													em.icon.icon-qq &#xe900;
													em.icon.icon-sina &#xe935;
													em.icon.icon-kongjian &#xe902;
													em.icon.icon-up &#xea55;
													em.icon.icon-down &#xea57;
												.share-box
													.icon-sanjiao
													.share-list
														p 分享视频地址
														.video-add
															span 通用代码：
															input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
															input(type="button",value="复制").copy-btn
														.video-add
															span Flash地址：
															input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
															input(type="button",value="复制").copy-btn
														.video-add
															span HTML代码：
															input(type="text",value="<iframe height=498 width=510 src='http:'").copy-text
															input(type="button",value="复制").copy-btn
									
									
									img(src="http://115.182.236.41/v1/img/T1rXDTB7AT1RXrhCrK_360.jpg")
									img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
									| 周末懒得出门赖在家？ 必须把做西瓜蛋糕新技能get起来ddddddd！
									| 西瓜去头去尾，立起来将皮切掉，去皮完毕后用厨房纸将西瓜外部的水分擦干，这个动作可以方便后面涂抹奶油然后转移到你打算用来放西瓜蛋糕的容器中准备装饰。
									| 从冰箱拿出鲜奶油，加糖和几滴香草精，或者是香草籽打发至不流动的状态，千万不要打过头了。 *鲜奶油和糖的比例为100: 8，如果西瓜比较大，鲜奶油可以多放，用不完的可以用保鲜膜封上放进冰箱冷藏保存。
									| 用刮刀之类的工具把打发好的奶油涂抹在西瓜上。 *建议用平底的容器来放西瓜蛋糕，否则底部会比较难涂。
								.publish-item
									a.img-out(href="javascript:;")
										img(src="http://img1.gomein.net.cn/image/prodimg/production_image/201604/27/1123230704/1000871346_360.jpg")
									.publish-cont
										h3.pub-tl
											a(href="javascript:;") 鲜果贝 糖水黄桃罐头 425g*6 新鲜方便蜜桃水果罐头 宁波特产
										.pub-row
											span.red ￥
											strong.money-inf 199.00
										.pub-row
											em.icon-fan 返
											| 购买该商品最高可返
											span.red 0.04
											| 国美币
										a.scan-more(href="javascript:;") 查看详情
								.publish-item
									a.img-out(href="javascript:;")
										img(src="http://img1.gomein.net.cn/image/prodimg/production_image/201604/27/1123230704/1000871346_360.jpg")
									.publish-cont
										h3.pub-tl
											a(href="javascript:;") 国美旗舰店
											a(href="javascript:;").icon-fan 优惠券
										a.scan-more(href="javascript:;") 进入店铺
								.publish-text
									a(href="#")
										img(src="http://img1.gomein.net.cn/image/prodimg/production_image/201604/27/1123230704/1000871346_360.jpg")
									a(href="#").link 听说下雪天和巧克力更配哦~今日特价。听说下雪天和巧克力更配哦~今日特价。听说下雪天和巧克力更配哦~今日特价。
									a(href="#").pc-btn 查看详情
					.topic-review-box
						h2.review-title 参与评论
						.bjfff.margin-btom20
							.text-field-box
								.topic-user-head
									em.icon-daren
									img(src="http://img1.gomein.net.cn/image/bbcimg/production_image/nimg/201605/02/16/52/720d1626c8e349aa1ea_800.jpg")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											em.icon &#Xe95c;
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105(href="javascript:;") 发布
						.bjfff.margin-btom20
							.text-field-box
								.topic-user-head
									img(src="//gd3.alicdn.com/bao/uploaded/i3/2558259659/TB2Kpq5oFXXXXaXXFXXXXXXXXXX_!!2558259659.jpg")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											em.icon &#Xe95c;
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105.pc-bj-fc8753(href="javascript:;") 登录
					.comment-title
						.bd-bottom
							span.red 137823
							span 条评论
					.bjfff
						.circle-comments
							dl.clearfix.bd-bottom
								dt
									em.icon-daren
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								dd
									.circle-comments-title
										a(href="#") 受不鸟啦
										span 2016年05月15日
										a(href="javascript:;").fr 回复
										p.clearfix 收到宝贝了，还挺不错的，质量也可以，值了
									- for (var x = 0; x < 5; x++)
										.comments-s
											a(href="#") 受不鸟啦
											span ：回复
											a(href="#") 小青年
											| ：
											span.hf-content 不错！不错！不错！
											a(href="javascript:;").hf-btn.fr 回复
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							dl.li-bor-top
								dt.small-user-head
									img(src="../../images/circle/small-logo.png")
								dd.reply-content
									.reply-bx
										.head-tex-bx
											a.head-small(href="javascript:;") c***佩
											span 2016年05月15日
											a.reply-btn(href="javascript:;") 回复
										p.p-content 收到宝贝了，还挺不错的，质量也可以，值了
									.reply-details
										.reply-picture
											img(src="//gd3.alicdn.com/bao/uploaded/i3/2558259659/TB2Kpq5oFXXXXaXXFXXXXXXXXXX_!!2558259659.jpg")
										.reply-contxt
											p  德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB
											p.price-numb ￥
												span 399.00
										a.see-details.pc-btn.pc-btnw105.pc-btnh40(href="javascript:;") 查看详情
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							.text-field-box.margin-width
								.topic-user-head
									img(src="//gd3.alicdn.com/bao/uploaded/i3/2558259659/TB2Kpq5oFXXXXaXXFXXXXXXXXXX_!!2558259659.jpg")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											em.icon &#Xe95c;
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105(href="javascript:;") 发布
							dl.li-bor-top
								dt.small-user-head
									img(src="../../images/circle/small-logo.png")
								dd.reply-content
									.reply-bx
										.head-tex-bx
											a.head-small(href="javascript:;") c***佩
											span 2016年05月15日
											a.reply-btn(href="javascript:;") 回复
										p.p-content 收到宝贝了，还挺不错的，质量也可以，值了
									.reply-details
										.reply-picture
											img(src="//gd3.alicdn.com/bao/uploaded/i3/2558259659/TB2Kpq5oFXXXXaXXFXXXXXXXXXX_!!2558259659.jpg")
										.reply-contxt
											p  德世朗（DESLON）莱茵至尊无双套装BE-TZ001-WSB
												span.topic-label 优惠卷
										a.see-details.pc-btn.pc-btnw105.pc-btnh40(href="javascript:;") 进入店铺
									.comments-s
										a(href="#") 受不鸟啦
										span ：回复
										a(href="#") 小青年
										span ：不错！不错！不错！
										a(href="javascript:;").fr 回复
									.comments-s
											a(href="#") 受不鸟啦
											span ：回复
											a(href="#") 小青年
											span ：不错！不错！不错！
											a(href="javascript:;").fr 回复
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							dl.clearfix
								dt
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png")
								dd
									.circle-comments-title
										a(href="#") 受不鸟啦
										span 2016年05月15日
										a(href="javascript:;").fr 回复
										p.clearfix 收到宝贝了，还挺不错的，质量也可以，值了
									- for (var x = 0; x < 5; x++)
										.comments-s
											a(href="#") 受不鸟啦
											span ：回复
											a(href="#") 小青年
											span ：不错！不错！不错！
											a(href="javascript:;").fr 回复
							a(href="javascript:;").comments-more 查看回复...
							a.pack-up 收起
							.text-field-box.margin-width
								.topic-user-head
									img(src="//gd3.alicdn.com/bao/uploaded/i3/2558259659/TB2Kpq5oFXXXXaXXFXXXXXXXXXX_!!2558259659.jpg")
								.topic-publish-content
									textarea.textarea-bx
									.publish-face-bx
										p.icon-face.cursor-pointer
											em.icon &#Xe95c;
											|  表情
										a.pc-btn.pc-btnh30.pc-btnw105(href="javascript:;") 发布
						.more-comments
							a(href="##").clearfix
								span
									img(src="../../images/circle/small-logo.png")
									| 点击加载更多
									em.icon.icon-right &#xe98c;
						.more-comments
							a(href="##").disabled.clearfix
								span
									img(src="../../images/public/loading.gif")
									| 正在加载...
						.more-comments
							a(href="##").disabled.clearfix
								span
									| 没有可加载内容
				div.topic-right
					//.shop-list
						div.user-head
							a(href="##")
								img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
						h3.user-name
							a(href="##") 美味甜品
						//div.user-top-info
							ul.clearfix
								li
									p 1873
									| TA的话题
								li
									p 1873
									| TA的圈子
					//.btn-box.clearfix
						a(href="javescript:").pc-btn.pc-bj-fc8753.pc-btnw120.pc-btnh45 加关注
					.topic-r-t
						.shop-list
							div.user-head
								a(href="##")
									img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
							h3.user-name
								a(href="##") 美味甜品
							div
								span.pc-btn.pc-bj-fc8753.circle-type 时尚
							div.user-top-info
								ul.clearfix
									li
										span 105
										| 成员
									li
										span 80
										| 话题
						.btn-box.clearfix
							a(href="javescript:").pc-btn.pc-btnw120.pc-btnh45 加入圈子
					.topic-position
						h2.topic-r-title 热门话题
						.topic-r-b
							ul.clearfix
								- for(var i=0; i<6; i++)
									li
										a(href="#")
											img(src="https://i6.meixincdn.com/v1/img/T1GRYTB7KT1R4cSCrK.png" alt="")
											p 婚纱也可以这么拍婚纱也可以
											.text-icon
												em.icon &#xeac9;
												span 38
												em.icon &#xeaca;
												span 38
						.next-page
							p 下一篇
							a(href="#") 婚纱也可以这么拍婚纱也可以婚纱也可以这么拍婚纱也可以
							p.f12 9小时前
		include ../../../../../gomeplusUI/pc/src/jade/footer.jade














