doctype html
html(lang="zh-CN" data-use-rem="750")
    include ../../../m-widget/head/head.jade
    link(type="text/css",rel="stylesheet",href="../../css/module/state/state.css")
    
    body.opg.download
        include ../../../m-widget/head/rem.jade
            .app-mask
                p 微信用户请点击右上角
                p 选择“在safari中打开”可完成国美plus App下载
            a.return-home(href="#") 去首页
            .app-download
                .banner
                    .logo
                        img(src="../../images/public/g-logo.png")
                    p.title
                        span 国美Plus
                        br
                        | 边玩边分享，购物不孤单
                a.ios-btn
                    em.ios-icon
                    | App Store 下载
                span.line
                a.and-btn
                    em.and-icon
                    | Android 版下载
                .introduce-txt
                    h3 国美Plus 简介ss
                    p 国美Plus是由美信网络技术有限公司开发的一款全新社交电商APP，国美Plus集社交与电商功能于一体，并同时拥有多种返利模式，致力于让用户在平台寻找志趣相投的人一起完成优质、愉快的购物体验。
                    h3 国美Plus“返利”规则介绍
                    p 邀请好友赚返利：好友扫描用户“我的”界面“邀请好友”二维码，成功注册并购买商品，用户即可获得返利。好友若再邀请TA的好友成功注册并购买商品，用户和好友可再获得一笔返利。
                    p 分享商品赚返利：好友成功购买用户分享商品，用户可得一笔返利；好友若分享用户分享的商品给TA的好友，TA的好友成功购买，用户和好友将再获得一笔返利。
                    p 0元开美店赚返利：用户开通美店，上架商品并分享给好友，好友成功购买，用户即可获得2笔返利，包括：分销返利和分享返利。若有其他用户主动访问用户美店并购买商品，用户将获分销返利。
                    p 邀请商家入驻赚返利：邀请入驻的商家通过填写用户的推荐码成功注册，商家每成功售出一件商品，用户都将获得一笔返利。
                    p 直接购买赚返利：用户直接在平台成功购买标有 “购买返”字的商品，可获得一笔购物返利。

