@charset "UTF-8";
// @ Css name： 国美币首页
// @Author： matianye@
// @Date： 2017-02-24 15:38
// @Last Modified by： maty
// @Last Modified time：
//==========================

.home-box{
	.h-hd{
		height: 4.3rem;
		background-color: #FF5C5C;
	}
	.h-ft{
		position: fixed;
		left: 0;
		right: 0;
		bottom: .2rem;
		padding: .1rem;
		text-align: center;
	}
}




