@charset "UTF-8";
// @ Css name： 国美币-选择银行卡
// @Author： matianye@
// @Date： 2017-02-28 10:30
// @Last Modified by： maty
// @Last Modified time：
//==========================

.bank-box{
    background: #fff;
    font-size: .3rem;
	h6{
		padding-left: .3rem;
		line-height: .66rem;
		background-color: #f4f4f4;
	}
	.bank-list{
		margin-left: .34rem;
		li{
			overflow: hidden;
			line-height: 1rem;
			&:nth-last-child(1):before{
				display: none;
			}
		}
		.b-logo{
			float: left;
            margin: .2rem .3rem 0 0;
            img{
                width: .6rem;
                height: .6rem;
            }
		}
	}
}
// End



