doctype html
html(lang="zh-CN")
	include ../../../../../gomeplusUI/pc/src/jade/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/shop/postcomment.css")
	body.opg
		include ../../../../../gomeplusUI/pc/src/jade/header.jade
		include ../../../../../gomeplusUI/pc/src/jade/menu.jade
		p.commented-txt
			| 亲，此订单已评价，请点击 
			a(href="##") 返回我的订单 
			| 吧
		include ../../../../../gomeplusUI/pc/src/jade/footer.jade