doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/meidian/meidian.css")
	
	body.opg.meidian
		include ../../../m-widget/head/rem.jade
		header.header
			a.h-back(href="javascript:;")
				em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 我的店铺
			a.head-btn(href="javascript:;")
				em.iconn-3
		// /header

		section#bannerHeight.banner.swiper-container
			ul.swiper-wrapper
				li.swiper-slide
					a(href='//prom.m.gomeplus.com/html/prodhtml/topics/201704/1/salevytAqx9fz8M.html?intcmp=sy-3281477-8', params='sy-3281477-8')
						img(src='https://gfs9.gomein.net.cn/T1hShTByCj1RCvBVdK.jpeg')
			.swiper-pagination
		.shortcut_container
			ul.nav_shortcut.grid5
				li
					a(href='//m.gomeplus.com/goods_class.html?intcmp=sy-3281478-1', params='sy-3281478-1')
						.nav_icon.box.center
							img(src='#####T1dALTB5__1RCvBVdK.png')
						p.title(style='') 分类
				li
					a(href='//m.gomeplus.com/recharge.html?intcmp=sy-3281478-2', params='sy-3281478-2')
						.nav_icon.box.center
							img(src='###T17IdTB_Lv1RCvBVdK.png')
						p.title(style='') 充值中心
				li
					a(href='//prom.m.gomeplus.com/html/prodhtml/topics/201608/17/channelWfVWbYXiFst.html?intcmp=sy-3281478-3', params='sy-3281478-3')
						.nav_icon.box.center
							img(src='#####T1aGATBXYT1RCvBVdK.png')
						p.title(style='') 电器商城
				li
					a(href='//m.gomeplus.com/coupons_center.html?intcmp=sy-3281478-4', params='sy-3281478-4')
						.nav_icon.box.center
							img(src='#####T1IvDTB_dv1RCvBVdK.png')
						p.title(style='') 领券中心
				li
					a(href='//prom.m.gomeplus.com/html/prodhtml/topics/201607/29/channelguomeibendian.html?intcmp=sy-3281478-5', params='sy-3281478-5')
						.nav_icon.box.center
							img(src='###T1QGxTBQWv1RCvBVdK.png')
						p.title(style='') 国美电器
				li
					a(href='//jr.m.gomeplus.com/finance-index.html?intcmp=sy-3281478-6', params='sy-3281478-6')
						.nav_icon.box.center
							img(src='##T1XvETBmd_1RCvBVdK.png')
						p.title(style='') 金融理财
				li
					a(href='//prom.m.gomeplus.com/html/prodhtml/topics/201511/6/channelguomeichaoshi.html?intcmp=sy-3281478-7', params='sy-3281478-7')
						.nav_icon.box.center
							img(src='###T1nP_TBgxT1RCvBVdK.png')
						p.title(style='') 国美超市
				li
					a(href='//prom.m.gomeplus.com/html/prodhtml/topics/201703/8/channelbaihuocheng.html?intcmp=sy-3281478-8', params='sy-3281478-8')
						.nav_icon.box.center
							img(src='#####T1yvLTBXK_1RCvBVdK.png')
						p.title(style='') 百货城
				li
					a(href='//m.gomeplus.com/super.html?intcmp=sy-3281478-9', params='sy-3281478-9')
						.nav_icon.box.center
							img(src='##T1nvZTBsAv1RCvBVdK.png')
						p.title(style='') 返利专区
				li
					a(href='//m.gomeplus.com/my_gome.html?intcmp=sy-3281478-10', params='sy-3281478-10')
						.nav_icon.box.center
							img(src='##T10PbTB4Jv1RCvBVdK.png')
						p.title(style='') 我的

		section.md-header(style="background-image: url(../../images/shop/shopbj6.png);")
			.flex-box.flex-start
				.flex-hd
					a.logo(href="javascript:;")
						//- input.file(type="file")
						img(src="https://i6.meixincdn.com/v1/img/T1ntKTB4_T1RXrhCrK.jpg")
				.flex-bd
					h3.c-f 心爱的小孩的小店
					.flex-box.grade
						span.c-f 店铺等级：
						img.m-vip(src="")
						a.c-f(href="##") 评分规则
					.flex-box.slider
						.inner
							p.track(style="width: 60%;")
							p.spot(style="left: 60%;")
						p.c-f.num 10/6
				.flex-ft
					a.link(href="javascript:;")
						em.iconn-28
						p 2357
					a.link(href="javascript:;")
						em.iconn-22
						p 2.1万
		//- 店铺信息

		section.md-header(style="background-image: url(http://css.meixincdn.com/m/h5/dist/images/shopbj4.png);")
			.flex-box.flex-start
				.flex-hd
					a.logo(href="javascript:;")
						img(src="https://i6.meixincdn.com/v1/img/T1ntKTB4_T1RXrhCrK.jpg")
				.flex-bd
					h3
						a.c-f(href="javascript:;") 心爱的小孩的小店
					.c-f.hint#shopDesc 2月5号放假，14号开店,2月5号放假，14号开店,2月5号放假，14号开店,2月5号放假，14号开店2月5号放假，14号开店
					.flex-box.grade
						span.c-f 店铺等级：
						img.m-vip(src="")
				.flex-ft
					a.link.active(href="javascript:void(0)" data-ischecked="0" id="like")
						em.iconn-28
						p(data-num="2357") 2357
					a.link.active(href="javascript:void(0)" data-ischecked="0" id="collect")
						em.iconn-22
						p(data-num="2357") 2.1万
		//- 店铺预览

		section.md-header(style="background-image: url(http://css.meixincdn.com/m/h5/dist/images/shopbj4.png);")
			.flex-box.flex-start
				.flex-hd
					a.logo(href="javascript:;")
						img(src="https://i6.meixincdn.com/v1/img/T1ntKTB4_T1RXrhCrK.jpg")
				.flex-bd
					h3
						a.c-f(href="javascript:;") 心爱的小孩的小店心爱的小孩的小
					.c-f.hint#shopDesc 2月5号放假，14号开店,2月5号放假，14号开店,2月5号放假，14号开店,2月5号放假，14号开店2月5号放假，14号开店
					.flex-box.grade
						span.c-f 店铺等级：
						img.m-vip(src="")
				.flex-ft
					a.link.active(href="javascript:void(0)" data-ischecked="0" id="like")
						em.iconn-28
						p(data-num="2357") 2357
					a.link.active(href="javascript:void(0)" data-ischecked="0" id="collect")
						em.iconn-22
						p(data-num="2357") 2.1万
		//- 店铺预览

		section.flex-boxs.md-score
			.flex-box
				.flex-bd
					p.c-3.tit 动态评分
			.flex-box
				.flex-bd
					p.c-3.tit 商品评价
				.flex-ft
					p.c-f5c 4.58高于同行4.57%
			.flex-box
				.flex-bd
					p.c-3.tit 描述相符
				.flex-ft
					p.c-f5c 4.58高于同行4.57%
			.flex-box
				.flex-bd
					p.c-3.tit 发货速度
				.flex-ft
					p.c-f5c 4.58高于同行4.57%
			.flex-box
				.flex-bd
					p.c-3.tit 服务态度
				.flex-ft
					p.c-79 4.58高于同行4.57%

		section.flex-boxs.bor-b.md-describe
			.flex-box.flex-start
				.flex-hd
					p.c-3.tit 店铺描述
				.flex-bd
					p.c-9 地球是我们的家园，正义是我们的化身，我们翻江倒海的威龙，我们是穿越雷雨的海艳，地球是我们的家园，正义是我们的化身，我们翻江倒海的威龙，我们是穿越雷雨的海艳。
			.flex-box
				.flex-bd
					p.c-3.tit 开店时间
				.flex-ft
					p.c-9 2017-2-22
			.flex-box
				.flex-bd
					p.c-3.tit 二维码
				.flex-ft
					em.iconn-99
			//- 内嵌
			.flex-box
				.flex-hd
					p.c-3.tit 美店店主
				.flex-bd
					p.c-9 心爱的小孩
				.flex-ft
					em.iconn-100
			// /内嵌
			//- wap
			.flex-box
				.flex-bd
					p.c-3.tit 美店店主
				.flex-ft
					p.c-9 心爱的小孩
			// /wap
		//- 标签
		ul.tag-box
			li.bor-all qwertyuiop
			-for(i=0; i<7; i++)
				li.bor-all 时尚教主哦

		//- 二维码
		.qr-code
			.inner-box
				a.close(heref="javascript:;")
					em.iconn-25
				img(src="../../images/shop/qr.png")






