.footer {
    height: 100px;
    background-color: #333;
    text-align: center;
    padding-top: 28px!important;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    p {
        color: #999;
        font-size: 12px;
        line-height: 22px;
        display: block;
    }
}
