//- extends layout.jade
extends ../public/layout.jade

block title
	title 商家资质-修改资质名称
//- block link-theme
//- 	link(rel='stylesheet' type="text/css" href="../../css/module/shop.css")

//- shop
block content
	include ../public/menu.jade
	div.content-main
		div.amp-account
			div.crumbs
				a(href="javascript:void(0);").actived
					span 商家资质
					em >
			div.account-set
				div.set-option
					// 选择文件
					div.uplode-file
						a(href="#").btn.btn-normal 上传商家资质
						input(type="file").file-input
				div.set-fn
					div.fn-plan
						span.plan-title 资质名称：
						div.ele-input
							input(type="text",value="")
					div.fn-search
						a(href="#").btn.btn-primary 查询
			div.shop-wrap
				table.table.table-zebra
					tr
						th
							span ID
						th
							span 资质名称
						th
							span 图片
						th
							span 有效期
						th
							span 操作
					- for (var i =0;i<4;i++)
						tr
							td
								span 1224429
							td
								span 授权文件
							td
								span.table-imgs
									img(src="../../images/shop/shop-picture01.jpg")
									img(src="../../images/shop/shop-picture02.jpg")
									img(src="../../images/shop/shop-picture03.jpg")
							td
								span 2016-10-01/2017-10-12
							td
								span.table-links
									a(href="#") 修改名称
									a(href="#") 删除
	// 遮罩
	div.master
	// 修改资质名称
	div.amp-drawer
		div.drawer-part
			h2.part-header
				span.header-text 修改资质名称
				span.header-fn
					em.icon.icon-close
			div.shop-cont
				div.form-column
					div.column-group
						div.group-aside
							i.group-tip *
							| 资质名称：
						div.group-detail
							div.detail-row 
								div.ele-input.ele-input-large
									input(type="text",value="")
								span.form-gray-text.form-gray-width
									| 请注意根据资质内容修改资质名称<br>若资质名称不明确，将延长审核时间
					div.column-group.column-group01
						div.group-aside 创意图片：
						div.group-detail
							div.detail-row.shop-picture
								img(src="../../images/shop/shop-picture01.jpg")
								img(src="../../images/shop/shop-picture02.jpg")
								img(src="../../images/shop/shop-picture03.jpg")
					div.column-group.column-group02
						div.group-aside 资质类型：
						div.group-detail
							div.detail-row 
								span.form-infor 商家资质
					div.column-group
						div.group-aside 资质有效期：
						div.group-detail
							div.detail-row 
								span.form-infor 2016-01-01
								span.form-infor -
								span.form-infor 2017-02-04

		div.drawer-btn
			a(href="#").btn.btn-primary 提交
			a(href="#").btn.btn-gray 取消
