footer.footer
	.bor-b.flex-box.f-head
		.flex-bd
			a(href="##") 登录
			i
			a(href="##") 注册
		.flex-ft
			a(href="##") 反馈
			a(href="##") 更多
	ul.flex-box.f-body
		li.flex-cell
			a(href="##")
				span.f-icon.active
					em.iconn-mob
					em.hint
				p.name 触屏版
		li.flex-cell
			a(href="##")
				span.f-icon
					em.iconn-app
					em.hint
						img(src="//css.gomein.net.cn/plus/style/index/images/new_gift.png")
				p.name 客户端
		li.flex-cell
			a(href="##")
				span.f-icon
					em.iconn-pc
					em.hint
				p.name 电脑版
	.f-copr
		p copyright ©  2000-2017 gomeplus.com
		p 客服热线：4008-708-708


// /footer