body{
	background:#f8f4e9;
	/*border:1px solid #000000; */
	font-size:0 
}
li{
    list-style: none;
    float:left;
}
footer .moreA, footer{
    width:100%;
    display: block;
}
footer{
  position: relative;
}
.opg-childishness a{
	display: block;
    width: 100%;
}
.opg-childishness img{
	display: block;
	width:100%;
	vertical-align:bottom;
	vertical-align:middle;
	vertical-align:top;
	margin-top:-1px;
}
.opg-childishness footer{
	text-align: center;
}
.opg-childishness .tel{
	width:6rem;
	height:1.2rem;
	/*border:1px solid red;*/
    display: inline-block;
    margin-top: -1.5rem;
    position: relative;
    z-index:2;
} 

.opg-childishness .opgImg5{
	width:100%;
	height:8.11rem;
	background: url(../../../images/module/scms/childishness/opgImg5.jpg);
	background-size:100%;
	position:relative;
}
.opg-childishness .opgImg5L{
	position: absolute;
    top: 2.2rem;
    left: 0.2rem;
    width: 5rem;
    height: 5.5rem;
    /*border: 1px solid red;*/
}
.opg-childishness .opgImg5R{
	position: absolute;
    top: 2.6rem;
    right: 0rem;
    width: 5.3rem;
    height: 5.5rem;
    /*border: 1px solid red;*/
}
.opg-childishness .opgImg6{
    width:100%;
    height:14.65rem;
    background: url(../../../images/module/scms/childishness/opgImg6.jpg);
    background-size:100%;
    position:relative;
}
.opg-childishness .opgImg6L1{
    position: absolute;
    top: 0rem;
    left: 0.2rem;
    width: 5rem;
    height: 6rem;
    /*border: 1px solid red;*/
}
.opg-childishness .opgImg6R1{
    position: absolute;
    top: 0.4rem;
    right: 0rem;
    width: 5.3rem;
    height: 8.3rem;
    /*border: 1px solid red;*/
}
.opg-childishness .opgImg6L2{
    position: absolute;
    bottom: 2.5rem;
    left: 0.2rem;
    width: 5rem;
    height: 6rem;
    /*/*border: 1px solid red;*/*/
}
.opg-childishness .opgImg6R2{
    position: absolute;
    bottom: 0.2rem;
    right: 0rem;
    width: 5.3rem;
    height: 5.6rem;
    /*border: 1px solid red;*/
}