@charset "UTF-8";

//icon
@font-face {
  font-family: 'iconfont';
  src: url("../../images/fonts/icomoon.eot?5fwmh777");
  src: url("../../images/fonts/icomoon.eot?5fwmh777#iefix") format("embedded-opentype"), url("../../images/fonts/icomoon.ttf?5fwmh777") format("truetype"), url("../../images/fonts/icomoon.woff?5fwmh777") format("woff"), url("../../images/fonts/icomoon.svg?5fwmh777#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="iconfont-"],
[class*="iconfont-"] {
  font-family: "iconfont" !important;
  speak: none;
  color: #999;
  font-size: .32rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="iconfont-"]:before,
[class*="iconfont-"]:before {
  display: block; }

.iconfont-1:before {
  content: '\eaa4'; }

.iconfont-2:before {
  content: '\eaea'; }

.iconfont-3:before {
  content: '\eae9'; }

.iconfont-4:before {
  content: '\eadc'; }

.iconfont-5:before {
  content: '\ea80';
  color: #ff5c5c; }

.iconfont-6:before {
  content: '\eae2'; }

.iconfont-7:before {
  content: '\eae1'; }

.iconfont-8:before {
  content: '\eade'; }

.iconfont-9:before {
  content: '\eadb'; }

.iconfont-10:before {
  content: '\ea94'; }

.iconfont-11:before {
  content: '\eada'; }

.iconfont-12:before {
  content: "\ead0"; }

.iconfont-15:before {
  content: '\ea83'; }

.iconfont-16:before {
  content: '\ea84'; }

.iconfont-17:before {
  content: '\eae8'; }

.iconfont-18:before {
  content: '\eae7'; }

.iconfont-19:before {
  content: '\eaec'; }

.iconfont-20:before {
  content: '\eadd';
  color: #EC5B5C; }

.iconfont-21:before {
  content: '\ea93';
  color: #FFCE4D; }

.iconfont-22:before {
  content: '\eaed';
  color: #79B7FF; }

.iconfont-23:before {
  content: '\eaeb';
  color: #FF9F05; }

.iconfont-24:before {
  content: '\eaee';
  color: #FF5A83; }

.iconfont-25:before {
  content: '\eadf'; }

.iconfont-26:before {
  content: '\eae4'; }

.iconfont-27:before {
  content: '\eae3'; }

.iconfont-28:before {
  content: '\eae0'; }

.iconfont-29:before {
  content: '\eae5'; }

.iconfont-30:before {
  content: '\eae6'; }

.iconfont-31:before {
  content: '\eaef'; }