<div class="openapp" id="openapp">
	<em class="icon-25" data-id="close"></em>
	<p>上客户端看，更高清，更流畅！</p>
	<a href="gome-meimiao://com.gomeplus.v.meimiao" id="J-call-app">戳我打开</a>
	<input id="J-download-app" type="hidden" name="storeurl" value="gome-meimiao://com.gomeplus.v.meimiao">
</div>
<!--gomeplusapp://m.gome.com.cn/index.html-->