doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/meidian/meidian.css")
	
	body.opg.meidian
		include ../../../m-widget/head/rem.jade
		.meidian-wrap
			header.header
				.h-left
					a.h-back(href="javascript:;")
						em.iconn-1
				.h-cnt.flex-cell
					.input-box
						em.iconn-10
						input.sec-ipt(type="text",placeholder="搜索商品/店铺")
				.h-right
					a.h-btn(href="javascript:;")
						em.iconn-3
					a.h-btn(href="javascript:;")
						em.iconn-4
			.meidian-top
				.shop-head
					.head-l.fail-face
						img(src="")
					.head-c.active
							h3 无印良品国美超无敌店敌店超无敌
							.shop-desc
								p 无印良品是一个日本杂货品牌，在日文中意为无品牌标志的好产品。
							a(href="javascript:;").unfold-btn
								em.iconn-40
								em.iconn-42
					.head-r
						a(href="##").like
							em.iconn-12
							span 1234
						a(href="##").collect
							em.iconn-9
							span 12万
			.check-all.mt20
				span.sort-name 女装外套
				a(href="javascript:;").checkall-btn
					| 查看全部
					em.iconn-41
			ul.main-list.grid-list-bor
				li.item
					a.link(href="javascript:;")
					.item-img.fail-img.fail-img
						img(src="")
					.item-txt 情人生日礼Crystallin精装礼品
					.item-price
						span.c-f5c ¥2199.40
						del.c-9 ¥2899.00
				li.item
					a.link(href="javascript:;")
					.item-img.fail-img
						img(src="")
					.item-txt
						em.ic-fan
						| 情人生日礼Crystallin精装礼品
					.item-price
						span.c-f5c ¥2199.40
						del.c-9 ¥2899.00
				li.item
					a.link(href="javascript:;")
					.item-img.fail-img
						span.ic-yuex 月销7
						img(src="")
					.item-txt 创意铅笔袋韩国文具盒简约男女生小清新日韩版中学生学习用品
					.item-price
						span.c-f5c ¥2199.40
						del.c-9 ¥2899.00
					.item-pay 131付款
					.item-icn
						em.ic-hwg
						em.ic-fan
				li.item
					a.link(href="javascript:;")
					.item-img.fail-img
						span.ic-yuex 月销7
						img(src="")
					.item-txt
						em.ic-fan
						| 创意铅笔袋韩国文具盒简约男女生小清新日韩版中学生学习用品
					.item-price
						span.c-f5c ¥2199.40
						del.c-9 ¥2899.00
					.item-pay 131付款
					.item-icn
						em.ic-hwg
						em.ic-fan
				li.item
					a.link(href="javascript:;")
					.item-img.fail-img
						img(src="")
					.item-txt 情人生日礼Crystallin精装礼品
					.item-price
						span.c-f5c ¥2199.40
						del.c-9 ¥2899.00
				li.item
					a.link(href="javascript:;")
					.item-img.fail-img
						img(src="")
					.item-txt
						em.ic-fan
						| 情人生日礼Crystallin精装礼品
					.item-price
						span.c-f5c ¥2199.40
						del.c-9 ¥2899.00
			.page-no(style="margin-bottom:1rem;") 我是有底线的
			ul.m-menu.m-menu-shopbtn
				li.item
					a(href="##")
						em.iconn-83
						cite.txt 全部商品
				li.item
					a(href="##")
						em.iconn-15
						cite.txt 商品分类
					.tab-nav.nav-big
						i.triangle
						ul
							li
								a(href="##") 商品名商品名商品名1
							li
								a(href="##") 商品名2
							li
								a(href="##") 商品名3
							li
								a(href="##") 商品名4
							li
								a(href="##") 商品名5
							li
								a(href="##") 商品名6
							li
								a(href="##") 商品名7
							li
								a(href="##") 商品名8
							li
								a(href="##") 商品名9
							li
								a(href="##") 商品名10
							li
								a(href="##") 商品名11
							li
								a(href="##") 商品名12
							li
								a(href="##") 商品名13
							li
								a(href="##") 商品名14
							li
								a(href="##") 商品名15
							li
								a(href="##") 商品名16
				li.item
					a(href="##")
						em.iconn-32
						cite.txt 购物车