doctype html
html(lang="zh-CN", data-use-rem="750")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta(name="format-detection" content="email=no")
		meta(http-equiv="expires",content="0")
		title 常见问题
		link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
		link(type="text/css",rel="stylesheet",href="../../css/module/gmb/gmb-problem.css")
		script(src="../../js/UI/tab.js" type="text/javascript")
	
	body.opg.gmb
		include ../../../m-widget/head/rem.jade
		header.header
			a.h-back(href="javascript:;")
				em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 常见问题
		// /header

		.m-tabs
			ul.m-menu#tab
				li.flex-cell.active
					a.link(href="javascript:;") 全部
				li.flex-cell
					a.link(href="javascript:;") 充值
				li.flex-cell
					a.link(href="javascript:;") 提现
			.tab-body#tabCon
				// 全部
				.tab-page.active
					.tab-block.bor-b
						h4.sub-title 什么是国美币？
						p.txt-indent 国美币是您在国美Plus的个人专属账户，您可以在国美Plus上享受到国美币带来的各种返利、红包等优惠，而且获得的国美币可以直接提现至您的银行卡。当您的国美币账户实名认证通过后，则可以进行充值和提现。当您办理退货、取消订单产生的退款不支持原路返回时，退款将以国美币形式退至您的国美币账户中，红包、返利金额也会返还到您的国美币账户中。国美币账户服务（账户开立、充值、提现、实名认证、绑卡）由银盈通提供技术及运营支持。
					.tab-block.bor-b
						h4.sub-title 国美币是否可以提现？
						p.txt-indent 国美币账户余额可随时提现，即将余额转至自己的银行卡内；安全等级低于V1（包含V1）的用户累计提现额度为1000元(与银盈通共享)，安全等级高于V1的用户没有提现上限；单笔提现金额最少为10元，每个国美币账户每天最多提现5次。
					.tab-block.bor-b
						h4.sub-title 实名认证
						p.txt-indent 1、实名认证需要用户提供姓名、身份证号、银行卡号和手机号，当用户在国美币系统实名认证通过后，则可以进行充值、提现操作。
						p.txt-indent 2、上传身份证照片：上传身份证正反面照片后，工作人员会进行人工审核，预计24小时内可以审核完成。审核通过后用户安全等级会升为V2，安全等级V2的用户提现额度无上限
					.tab-block.bor-b
						h4.sub-title 银行卡管理
						p.txt-indent 1.您在国美币系统绑定的所有银行卡均在此进行统一管理，您可以添加或删除银行卡，也可以开通银行卡快捷支付权限。
						p.txt-indent 2.添加银行卡注意事项
						p.content-txt 1)添加银行卡需要输入用户真实姓名、身份证号、银行卡号和手机号，校验通过后添加成功；
						p.content-txt 2)用户可以使用已添加的银行卡进行充值和提现等操作；
						p.content-txt 3)添加银行卡时会对姓名、身份证号、银行卡号、手机号进行验证，如验证不通过，则绑卡失败！
					.tab-block.bor-b
						h4.sub-title 国美币密码
						p 1.什么是国美币密码？
						p.content-txt 国美币密码是您的国美币账户安全、资产安全的重要保障，在对国美币进行充值、提现时需要输入国美币密码加以验证。
						p 2.如何设置国美币密码？
						p.content-txt 设置国美币密码操作步骤：（为了保护您的国美币账户安全，在设置国美币密码前需要先进行身份验证。）
						p.content-txt 第一步：点击进入“我的国美-个人设置-账户安全”进行国美币密码设置
						p.content-txt 第二步：认证身份信息
						p.content-txt 第三步：设置国美币密码
					.tab-block.bor-b
						h4.sub-title 充值流程
						p.txt-indent 在“我的国美—国美币”页面，点击“充值”按钮，然后选择银行卡，输入充值金额，确认后提交即可。
					.tab-block.bor-b
						h4.sub-title 快捷支付签约
						p.txt-indent 1、绑卡成功并开通快捷支付后，银行卡才能进行充值。
						p.txt-indent 2、快捷签约需要跳转到银联页面进行操作。
					.tab-block.bor-b
						h4.sub-title 充值注意事项
						p.txt-indent 1、只能通过储蓄卡进行充值，支持的银行包含：工商银行、农业银行、中国银行、交通银行、中信银行、光大银行、华夏银行、广发银行、招商银行、兴业银行、平安银行、宁波银行、建设银行、浦发银行、上海银行
						p.txt-indent 2、必须使用储蓄卡快捷支付方式给账户余额充值！
						p.txt-indent 3、用户在国美币平台绑卡成功后，需要跳转到银联页面进行快捷签约，签约成功后，该银行卡可以进行快捷支付。
						p.txt-indent 4、充值成功后正常情况下会实时到账。如有疑问，请联系客服：4008-708-708
					.tab-block.bor-b
						h4.sub-title 提现流程
						p.txt-indent 在“我的国美—国美币”页面，点击“提现”按钮，然后选择银行卡，输入提现金额，确认后提交即可。
					.tab-block.bor-b
						h4.sub-title 提现到账时间
						p.txt-indent 提现成功后，预计24小时内可以到账，如有问题请联系客服：4008-708-708
					.tab-block
						h4.sub-title 提现注意事项
						p.txt-indent 1、提现累计金额小于等于5000元，免提现手续费（产品推广期内免手续费）；超过5000元，超过部分按千分之一的比例进行收取。
						p.txt-indent 2、安全等级小于等于V1的用户累计提现金额为1000元，安全等级大于V1的用户提现无上限额度，单笔提现金额最小为10元。
						p.txt-indent 3、	提现支持的银行包含：工商银行、农业银行、中国银行、交通银行、中信银行、光大银行、华夏银行、广发银行、招商银行、兴业银行、平安银行、宁波银行、建设银行、浦发银行、上海银行
				// 充值
				.tab-page
					.tab-block.bor-b
						h4.sub-title 充值流程
						p.txt-indent 在“我的国美—国美币”页面，点击“充值”按钮，然后选择银行卡，输入充值金额，确认后提交即可。
					.tab-block.bor-b
						h4.sub-title 快捷支付签约
						p.txt-indent 1、绑卡成功并开通快捷支付后，银行卡才能进行充值。
						p.txt-indent 2、快捷签约需要跳转到银联页面进行操作。
					.tab-block.bor-b
						h4.sub-title 充值注意事项
						p.txt-indent 1、只能通过储蓄卡进行充值，支持的银行包含：工商银行、农业银行、中国银行、交通银行、中信银行、光大银行、华夏银行、广发银行、招商银行、兴业银行、平安银行、宁波银行、建设银行、浦发银行、上海银行
						p.txt-indent 2、必须使用储蓄卡快捷支付方式给账户余额充值！
						p.txt-indent 3、用户在国美币平台绑卡成功后，需要跳转到银联页面进行快捷签约，签约成功后，该银行卡可以进行快捷支付。
						p.txt-indent 4、充值成功后正常情况下会实时到账。如有疑问，请联系客服：4008-708-708
				// 提现
				.tab-page
					.tab-block.bor-b
						h4.sub-title 提现流程
						p.txt-indent 在“我的国美—国美币”页面，点击“提现”按钮，然后选择银行卡，输入提现金额，确认后提交即可。
					.tab-block.bor-b
						h4.sub-title 提现到账时间
						p.txt-indent 提现成功后，预计24小时内可以到账，如有问题请联系客服：4008-708-708
					.tab-block
						h4.sub-title 提现注意事项
						p.txt-indent 1、提现累计金额小于等于5000元，免提现手续费（产品推广期内免手续费）；超过5000元，超过部分按千分之一的比例进行收取。
						p.txt-indent 2、安全等级小于等于V1的用户累计提现金额为1000元，安全等级大于V1的用户提现无上限额度，单笔提现金额最小为10元。
						p.txt-indent 3、	提现支持的银行包含：工商银行、农业银行、中国银行、交通银行、中信银行、光大银行、华夏银行、广发银行、招商银行、兴业银行、平安银行、宁波银行、建设银行、浦发银行、上海银行