doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/gmb/gmb.css")
	body.opg.gmb
		include ../../../m-widget/head/rem.jade
	
	.account-box
		.flex-boxs.bor-t
			.flex-box
				.flex-hd
					p.c-3 卡类型
				.flex-bd
					input
			.flex-box
				.flex-hd
					p.c-3 银行卡号
				.flex-bd
					input
				
		.flex-boxs.bor-t
			.flex-box
				.flex-hd
					p.c-3 持卡人
				.flex-bd
					input
			.flex-box
				.flex-hd
					p.c-3 身份证号
				.flex-bd
					input
				
		.flex-boxs.bor-t
			.flex-box
				.flex-hd
					p.c-3 手机号
				.flex-bd
					input
			.flex-box
				.flex-hd
					p.c-3 验证码
				.flex-bd
					input
				.flex-ft
					a.m-btn(href="javascript") 获取验证码

		.m-checkbox
			.c-item
				em.u-sj
				| 我已阅读

		.btn-box
			a.m-btn-big(href="javascript:;") 退出
			p.c-6 国美在线不会泄漏个人信息
	//- 结束
		