doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/gmb/gmb.css")
	body.opg.gmb
		include ../../../m-widget/head/rem.jade
	
	.explain-box
		.c-f4.gmb-notice
			em.u-sj
			| 国美币公告样式
		.e-hd
			.img-box
				img(src="../../images/gmb/_img.png")
				em √
			.txt-box 已实名认证
		.e-ft
			a.m-btn-big(href="javascript:;") 立即实名认证
			p.c-6
				| 点击上方按钮
				a.c-79(href="javascript:;") 《协议》
	//- 结束
		