doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/gmb/gmb.css")
	body.opg.gmb
		include ../../../m-widget/head/rem.jade
		
		.demo-cz
			h2 国美币-我是公用样式