doctype html
html(lang="zh-CN", data-use-rem="750")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta(name="format-detection" content="email=no")
		meta(http-equiv="expires",content="0")
		title 快捷支付服务协议
		link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
		link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
	
	body.opg.gmb
		include ../../../m-widget/head/rem.jade
		header.header
			a.h-back(href="javascript:;")
				em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 快捷支付服务协议
		// /header

		.plaintext
			h1.c-3 快捷支付服务协议
			.txt-box
				p 快捷支付服务协议（以下简称“本协议”）是银盈通支付有限公司（以下简称“银盈通”）与希望通过美付宝提供的快捷支付服务（以下简称“本服务”）为所购买的商品支付款项的用户(以下简称“用户”或“您”)就快捷支付服务的使用等相关事宜所订立的有效协议。您通过网络页面或手机客户端界面点击或以其他方式同意/确认本协议，即表示您与美付宝已达成协议并同意接受本协议的全部内容。
				p 您的点击同意/确认行为即表示您授权委托美付宝代您与您所持银行卡发卡行签署代扣协议，同时授权银行卡发卡行有权按照美付宝的扣划指令从您的相应银行卡账户中扣划相应款项。
				p 美付宝根据您所购买商品的商家提供的您在商家注册拥有的唯一客户ID标识或美付宝账户或移动终端标识（以下统一简称“标识”），将以上标识与您银行卡信息及手机信息建立对应关联关系，您须妥善保管您的以上标识、密码等账户安全信息及银行卡号、有效期、CVV2/CVC2、证件号码、手机动态密码等敏感信息，不得将敏感信息向他人透露，因您对标识、银行卡信息、手机等保管不善产生的风险及损失由您本人承担。您授权美付宝有权留存您填写的相关信息，以便美付宝为您提供更加综合化或专业化的服务。
				p 美付宝及您所持银行卡发卡行仅提供您与商家在购买交易过程中的相关款项的支付结算服务，因商家的商品所产生的有关商品本身的产品质量、服务质量、费用金额等争议均由您与提供商品的商家自行协商解决，概与美付宝及发卡行无关。
				p 您授权银盈通根据第三方网站的指令从您的美付宝账户中扣取指定款项至指定的美付宝账户中。
				p 您理解并同意，美付宝只是被授权指令的执行方，第三方网站向美付宝发出的指令的真实性和准确性不负有审查义务。除非美付宝没有依照第三方网站的指令进行操作，或操作指令错误，否则美付宝不对本服务产生的损失和责任负责。该等损失与责任应由您与第三方网站协商解决。
				p 您应保证您在使用本服务时是合法、有效的，且您应保证将本服务用于合法或本协议约定的目的。您保证对您使用本服务所发出的指令的真实性和有效性负责。若您违反前述保证从而给美付宝、发卡行或持卡人造成损失的，您应负责赔偿并承担全部法律责任。
				p 您存在下列情形之一的，美付宝有权立即终止您使用相关服务而无需承担任何责任：
				p.content-txt （1）您违反法律法规政策等规定的；
				p.content-txt （2）您违反本协议约定的；
				p.content-txt （3）您违反美付宝发布的使用本服务所必须遵守的协议、规则等相关规定的；
				p.content-txt （4）美付宝认为向您提供本服务存在风险的。
				p 所有使用本服务而必须遵守的协议、附件和规则等均构成本协议不可分割的组成部分，与本协议具有同等法律效力。就本协议所引起的任何争议和纠纷，均应由双方友好协商解决；如协商不成的，您和美付宝均有权向被告所在地人民法院提起诉讼。
				p 您同意，美付宝有权对本协议内容进行相应修改或变更，并通过在美付宝网站公布的形式进行通知，修改或变更后的协议内容在美付宝网站公布即有效代替原来的协议，您须定期关注、注意美付宝网站并定期审阅本协议及其变更内容。若您不同意美付宝对本协议所作的任何修改或变更，您应立即停止使用本服务。若您在本协议内容公布变更后仍继续使用本服务，则表示您已充分阅读、理解、同意并接受修改或变更后的协议内容，也将遵循修改或变更后的协议内容使用本服务。
