doctype html
html(lang="zh-CN", data-use-rem="750")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta(name="format-detection" content="email=no")
		meta(http-equiv="expires",content="0")
		title 提现收费规则
		//- link(type="text/css",rel="stylesheet",href="../../css/module/gmb/gmb-problem.css")
		link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
		link(type="text/css",rel="stylesheet",href="../../css/module/plaintext/plaintext.css")
		
	body.opg.gmb
		include ../../../m-widget/head/rem.jade
		header.header
			a.h-back(href="javascript:;")
				em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 提现收费规则
		// /header

		.plaintext
			//- h1.c-3 提现手续费规则
			.txt-box
				h2.c-3 提现收费规则
				p 同一身份证下的多个美付宝实名账户终身共享5000元基础免费额度（含转账到银行卡、账户余额提现），超过额度后超出金额按照0.1%收取服务费，最低0.1元/笔。
				p 温馨提示：
				p 1.提现手续费将优先从余额中扣除；
				p 2.提现金额限制：10元以上（含10元）金额允许提现；
				p 3.单个账户提现次数限制：5次/天。