doctype html
html(lang="zh-CN")
	include ../common/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	body.opg
		include ../common/header.jade
		.wrap-box.clearfix
			.wrap-left
				.menu
					a(href="#").active 账号管理
					a(href="#") 常用语配置
					a(href="#") 修改密码
					a(href="#") 查询聊天记录
					a(href="#") 进入IM
			.wrap-right
				table.table
					tr
						th(width="52") 序号
						th(width="110") 配置项名称
						th 配置项说明
						th(width="130") 配置值
						th(width="40") 单位
						th(width="75") 最后修改人
						th(width="140") 最后修改时间
						th(width="60") 操作
					- for (var x = 0; x < 9; x++)
						tr
							td 01
							td 上下班时间
							td 设置在线客服上下班时间
							td 管理员
							td 分钟
							td 赵丽萍
							td 16-06-26 12:23:00
							td
								a(href="#").btn.btn-red 编辑
				.page
					a(href="javascript:;").cn 上一页
					a(href="javascript:;") 1
					a(href="javascript:;") 2
					a(href="javascript:;") 3
					a(href="javascript:;") 4
					a(href="javascript:;") 5
					a(href="javascript:;") ...
					a(href="javascript:;") 20
					a(href="javascript:;").cn 下一页