<!DOCTYPE html>
<html lang="zh-CN" data-use-rem="750">
<head>
	<meta charset="utf-8">
	<title>GomePlus视频频道</title>
	<meta name="keywords" content="GomePlus视频频道" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
	<meta name="x5-page-mode" content="no-title"/>
	<link rel="stylesheet" type="text/css" href="/m/vm/dist/css/my-subscribe.css">
</head>
<body>
	<%- include('../../common/rem.ejs')%>

	<header class="top-title">
		<div class="left"><a class="icon-22" href="#"></a></div>
		<h2>我的订阅</h2>
		<div class="right"></div>
	</header>
	<div class="subscribe-list">
		<ul class="subDetails">
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow">
							<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg">
							<span class="live-flag"><i class="live"></i><span>直播</span></span>
							<!--  直播视频的三种状态
							<span class="live-flag"></i><span>预约</span></span>
							<span class="live-flag"></i><span>回看</span></span>
							-->
						</div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow">
							<img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg">
							<span class="item-flag">09:10</span>
						</div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
			<li class="msgList">
				<div class="msgNav">
					<div class="msgNav-head fl"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
					<ul class="msgNav-msg fl">
						<li class="msgNav-name">卡丁车遇上小鱼儿</li>
						<li class="msgNav-intr">爱车入迷疯狂爱车迷</li>
						<li class="msgNav-fans"><span>100万</span>人订阅</li>
					</ul>
				</div>
				<ul class="msgContent">
					<li class="fl">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
					<li class="fr">
						<div class="imgShow"><img src="https://i1.meixincdn.com/v1/img/T1XIETB_Dv1RXrhCrK.jpg"></div>
						<div class="wordSpan">北京汽车展2017公家展览...</div>
					</li>
				</ul>
			</li>
		</ul> 
		<!-- <div class="subscribe-item">
			<div class="user-info-card">
				<div class="user-head"><img src="https://i0.meixincdn.com/v1/img/T11IVTBXbT1RXrhCrK.jpg.100x100cTzq80.jpg"></div>
				<div class="user-info">
					<h3 class="nickname">奔波儿灞</h3>
					<p class="desc">天苍苍野茫茫，风吹屁屁凉</p>
					<p class="fanscount">200万人订阅</p>
				</div>
			</div>
			<ul class="section-content">
				<li class="section-item">
					<a href="#">
						<img src="http://gfs10.gomein.net.cn/T1F5YTBmYv1RCvBVdK.jpeg">
						<p>电影《三生三世》定档7.21上映啊啊啊啊</p>
					</a>
				</li>
				<li class="section-item">
					<a href="#">
						<img src="http://gfs10.gomein.net.cn/T1F5YTBmYv1RCvBVdK.jpeg">
						<p>电影《三生三世》定档7.21上映啊啊啊啊</p>
					</a>
				</li>
			</ul>
		</div> -->
	</div>


	<script src="/m/vm/dist/js/vendor.js"></script>
	<script src="/m/vm/dist/js/my-subscribe.js"></script>
</body>
</html>