<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PGC管理平台</title>
</head>
<body>
<script>
    var $CONFIG = {
        account_id: 2017,
        approve_status: "1",
        jsPath: ""
    }

</script>
<script src="https://js.meixincdn.com/gvs-player/dist/vod/js/meixinplayer-min.js"></script>
	<div id="root"></div>
	<div class="new-main">
        <div class="banner">
            <div class="new-logo">
                <img src="../../../../src/imgs/public/new-logo.png">
            </div>
            <div id="login">
                
            </div>
            <ul class="clearfix slider">
                <li>
                    <a href="#" style="background-image: url('https://gfs12.gomein.net.cn/T1KhYvBQ__1RCvBVdK.jpg');"></a>
                </li>
                <li>
                    <a href="#" style="background-image: url('https://gfs12.gomein.net.cn/T1KhYvBQ__1RCvBVdK.jpg');"></a>
                </li>
                <li>
                    <a href="#" style="background-image: url('https://gfs12.gomein.net.cn/T1KhYvBQ__1RCvBVdK.jpg');"></a>
                </li>
            </ul>
        </div>
        <div class="pgc-bg"></div>
        <div id="list">
            
        </div>
    </div>
    <div class="new-footer">
        <img src="../../../../src/imgs/public/footer.png">
        <div>
            <a href="#">国美官网</a>
            <span>|</span>
            <a href="#">美秒官网</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">平台协议</a>
        </div>
        <p>Copyright © 2015-2017 美信网络技术有限公司版权所有</p>
    </div>
</body>
</html>