doctype html
html(lang="zh-CN", data-use-rem="750")
	include ../../../m-widget/head/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/gomeplusUI.css")
	//- link(type="text/css",rel="stylesheet",href="../../css/module/circle/circle.css")
	
	body.opg
		include ../../../m-widget/head/rem.jade
		
		header.header
			.h-left
				a.h-logo(href="javascript:;")
			.h-cnt.flex-cell
				.input-box.index-input
					em.iconn-10
					input.sec-ipt(type="text",placeholder="搜索商品/店铺",disabled="true")
					em.iconn-82
			.h-right
				a.h-btn(href="javascript:;")
					i.num(style="display:block;") 1
					em.iconn-32
				a.h-btn(href="javascript:;")
					span.login 登录

		header.header
			.h-left
				a.h-back(href="javascript:;") 返回
					//- em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit Title
		// /header

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit Title
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-3
		// /header

		
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 返利专区
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-4
		// /header

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				.input-box
					em.iconn-10
					input.sec-ipt(type="text",placeholder="搜索商品/店铺")
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-4

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				.input-box
					em.iconn-10
					input.sec-ipt(type="text",placeholder="搜索商品/店铺")
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-44
				a.h-btn(href="javascript:;")
					em.iconn-4

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit Title
			.h-right
				a.h-btn(href="javascript:;") 删除

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit Title
			.h-right
				a.h-btn(href="javascript:;") 使用帮助


		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				.h-tab
					a.active(href="javascript:;") 实物订单
					a(href="javascript:;") 其他订单
			.h-right
				a.h-btn(href="javascript:;") 刷新

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				.h-tab
					a(href="javascript:;") 实物订单
					a.active(href="javascript:;") 其他订单
			//- a.h-btn(href="javascript:;") 刷新

		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				h1.h-tit 电器商城
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-44
				a.h-btn(href="javascript:;")
					em.iconn-4
		
		
		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				.h-tabs
					a.active(href="javascript:;") 商品
					a(href="javascript:;") 详情
					a(href="javascript:;") 评价
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-3
				a.h-btn(href="javascript:;")
					em.iconn-4




		header.header
			.h-left
				a.h-back(href="javascript:;")
					em.iconn-1
			.h-cnt.flex-cell
				.h-tabs
					a.active(href="javascript:;") 商品
					a(href="javascript:;") 详情
					a(href="javascript:;") 评价
			.h-right
				a.h-btn(href="javascript:;")
					em.iconn-4
					.tab-nav
						p
							em.iconn-44
							| 首页
						p
							em.iconn-15
							| 分类
						p
							em.iconn-32
							| 购物车
						p
							em.iconn-90
							| 我的
