.more-comments
	a(href="##").clearfix
		span
			img(src="../../images/circle/small-logo.png")
			| 点击加载更多
			// icon替换 icon icon-right
			em.iconn-9
.more-comments
	a(href="##").disabled.clearfix
		span
			img(src="../../images/public/loading.gif")
			| 正在加载...
.more-comments
	a(href="##").disabled.clearfix
		span
			| 没有可加载内容