doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		meta(name="renderer",content="webkit")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		meta(http-equiv="expires",content="0")
		title 美信网络技术有限公司
		meta(name="author",content="美信网络技术有限公司")
		meta(name="description",content="国美")
		meta(name="keywords",content="国美+APP")
		link(type="text/css",rel="stylesheet",href="../css/public.css")
	
	body.opg
		.im-wrap
			.im-left
				dl.im-myinfo
					dt.im-face
						img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
					dd.im-name
						h3 Aaron阿榮
						a.im-close-sound(href="javascript:;" title="关闭声音")
							em.im-icon

				.im-user-list
					.im-dialog
						em.im-gif
						正在加载消息列表
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 用户名222
							small.time 16:34
						dd.info
							[图片]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 用户名222
							small.time 16:34
						dd.info
							[图片]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3.red
								小美
								small 官方
							small.time 16:34
						dd.info
							[图片]
					dl.im-userinfo.active
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 用户名222
							small.time 16:34
						dd.info
							把你
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 我是用户名我会有很多个文字哦
							small.time 16:34
						dd.info
							span.red [草稿] 
							|	http://wenku.baidu.com/baike/
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.num 1
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.num 99
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.num ···
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 我是用户名我会有很多个文字哦
							small.time 16:34
						dd.info
							span.red [草稿] 
							|	http://wenku.baidu.com/baike/
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
						dd.info
							[语音]
					dl.im-userinfo
						dt.im-face
							img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
						dd.im-name
							h3 111111aaaaaa22222adfadfadf
							small.time 16:34
			// 用户列表

			.im-right
				.im-chat
					.im-title
						h2 用户名222
					// 用户名称

					.im-chat-scroll
						.im-more
							a(href="##") 查看更多消息

						.im-no-news 暂时没有新消息

						.im-no-news 选择左侧联系人进入聊天

						.im-no-more 没有更多历史消息
						
						.im-chat-time
							span 11:36
						
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							///dd.chat-name 用户名用户名用户名
							dd.chat-info
								.info-box
									.info-txt
										a.im-voice(href="javascript:;" style="width:80px;")
											// /点击添加 class=‘active’
											// /最小宽度 65px，最大宽度 205px;
											em.im-gif
											small 5’’
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										a.im-voice.active(href="javascript:;" style="width:205px;")
											em.im-gif
											small 5’’

						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										| 尊敬的用户您好，有什么可以帮您的吗？
										img(src="https://css-pre.meixincdn.com/m/h5/dist/images/face_36.png")
										| 尊敬的用户您好，有什么可以帮您的吗？尊敬的用户您好，有什么可以帮您的吗？
						
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt 尊敬的用户您好，有什么可以帮您的吗？
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										a.link(href="https://m.gomeplus.com/circle/138159738960478248.htmlhttps://m.gomeplus.com/circle/138159738960478248.html") https://m.gomeplus.com/circle/138159738960478248.htmlhttps://m.gomeplus.com/circle/138159738960478248.html

						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-img
										em.im-doubt
										img(src="https://i9.meixincdn.com/T1cyKTBmC_1RXrhCrK.230x230cTz.jpg")

						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-video
										em.im-play
										p.im-bot
											small.fl 14.3M
											small.fr 4:31
										img(src="https://i9.meixincdn.com/T1cyKTBmC_1RXrhCrK.230x230cTz.jpg")
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-video
										em.im-doubt
										p.im-bot
											small.fl 14.3M
											small.fr 4:31
										img(src="https://i9.meixincdn.com/T1cyKTBmC_1RXrhCrK.230x230cTz.jpg")
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-other
										a(href="###")
											.topinfo
												img.img(src="https://i2.meixincdn.com/T1JRATBKVg1RXrhCrK.304x304cTz.jpg")
												h2.tit 话题标题话题标题话题标题话题标题话题标题
												p.tips 话题标题话题标题话题标题话题标题话话题标题话题标题话题标题话题标题话
											.botinfo
												span.txt 话题
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-other
										a(href="###")
											.topinfo
												img.img(src="https://i2.meixincdn.com/T1JRATBKVg1RXrhCrK.304x304cTz.jpg")
												.order-r
													p
														| 订单编号：
														span 647476575643532
													p
														| 订单金额：
														span.red ￥200
											.botinfo
												span.txt 订单
												//span.num 订单号：1234567
												span.date 2016-10-01 22:18:51
						dl.im-chat-user
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-other
										a(href="###")
											.topinfo
												img.img(src="https://i2.meixincdn.com/T1JRATBKVg1RXrhCrK.304x304cTz.jpg")
												h2.tit 我是商品名称我是商品名称我是商品名称我是商品名称
												p.price 
													small ￥
													|	200.00
											.botinfo
												span.txt 商品

						.im-chat-time
							span 11:36

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										a.im-voice.active(href="javascript:;")
											em.im-gif
											small 5’’

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										a.im-voice(href="javascript:;")
											em.im-gif
											small 5’’

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										| 尊敬的用户您好，有什么可以帮您的吗？
										img(src="https://css-pre.meixincdn.com/m/h5/dist/images/face_36.png")
										| 尊敬的用户您好，有什么可以帮您的吗？尊敬的用户您好，有什么可以帮您的吗？

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										p 我是消息内容
										p 我也是消息内容

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt 我是消息内容
									.info-load
										em.im-gif

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										a.link(href="https://m.gomeplus.com/circle/138159738960478248.htmlhttps://m.gomeplus.com/circle/138159738960478248.html") https://m.gomeplus.com/circle/138159738960478248.htmlhttps://m.gomeplus.com/circle/138159738960478248.htmlhttps

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-txt
										| 我是消
										img(src="https://css-pre.meixincdn.com/m/h5/dist/images/face_36.png")
										| 息内容
									.info-fail
										em.im-gif
						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-img
										em.im-doubt
										img(src="https://i9.meixincdn.com/T1cyKTBmC_1RXrhCrK.230x230cTz.jpg")
									.info-fail
										em.im-gif

						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-other
										a(href="###")
											.topinfo
												img.img(src="https://i2.meixincdn.com/T1JRATBKVg1RXrhCrK.304x304cTz.jpg")
												h2.tit 话题标题话题标题话题标题话题标题话题标题
												p.tips 话题标题话题标题话题标题话题标题话话题标题话题标题话题标题话题标题话
											.botinfo
												span.txt 话题
						dl.im-chat-user.im-chat-me
							dt.im-face
								img(src="https://i-pre.meixincdn.com/T1aaxTBC_T1RXrhCrK.90x90cTz.jpg")
							dd.chat-info
								.info-box
									.info-other
										a(href="###")
											.topinfo
												img.img(src="https://i2.meixincdn.com/T1JRATBKVg1RXrhCrK.304x304cTz.jpg")
												.order-r
													p
														| 订单编号：
														span 647476575643532
													p
														| 订单金额：
														span.red ￥200
											.botinfo
												span.txt 订单
												span.date 2016-10-01 22:18:51

					// 滚动区域

					.im-chat-bottom
						.im-bar
							a.bar-face(href="javascript:;" title="表情")
								em.im-icon
							a.bar-pic(href="javascript:;" title="图片")
								em.im-icon
								input.ipt(type="file" name="file")

						.im-edit
							textarea.edit-area(name="" cols="" rows="")

						.im-btn
							a.btn-a(href="javascript:;" title="发送") 发送
					// 文字输入区

					.im-expression(style="left:100px; top:300px;")
						.item
							-for(i=0; i<20; i++)
								a.face(href="javascript:;" title="图一")

						.num
							span.active
							span
							span

					// 表情

			// 对话区
		// 主框架

		.im-mask(style="display:none")
		.im-state(style="display:none")
			.state-icon
				em.im-icon
			.state-txt
				h3 您已在其他的页面发起了咨询
				p 如需要请在此页面重新发起咨询
			.state-btn
				a.btn-b(href="javascript:;") 重新发起



		
		

