{
   "presets": ["latest", "stage-0", "stage-1", "stage-2", "stage-3"],
   "ignore": [
		"./src/js/utils/jsencrypt.js",
		"./src/js/editor/ueditor/ueditor.all.js",
		"./src/js/ediotr/ueditor/ueditor.parse.js",
		"./src/js/plugin/webuploader/webuploader.js",
		"./src/js/plugin/jquery.lazyload.js"
  	]
}
