doctype html
html(lang="zh-CN" data-use-rem="750")
	include ../../m-widget/head/head.jade
	title H5主站校验
	
	body.opg.video-commodity
		include ../../m-widget/head/rem.jade
		style.
			h2{
				font-size: .4rem;
				margin-top: .3rem;
				margin-bottom: 0;
			}
			a{
				color: #ff5c5c;
				font-size: .3rem;
				display: block;
				margin-top: .1rem;
				padding: .15rem .2rem;
				text-decoration: none;
				background: #f7f7f7;
			}

		h2 视频
		a(href="video/video-commodity.html") 视频终端

		h2 确认订单
		a(href="order/确认订单-门店订单列表页_支付成功_退款售后.html") 确认订单-门店订单列表页_支付成功_退款售后
		
		a(href="order/确认订单-门店订单确认.html") 确认订单-门店订单确认

		a(href="order/确认订单-门店订单详情页.html") 确认订单-门店订单详情页

		//- a(href="video/video-commodity.html") 视频终端

		h2 用户协议
		a(href="usercenter/protocol-1.html") 国美平台经营者注册服务协议

		a(href="usercenter/protocol-2.html") 美付宝用户协议

		a(href="usercenter/protocol-3.html") 服务协议

		h2 登录注册
		a(href="logreg/login.html") 登录
