.aside-talent
    dl.talent-list
        dt.list-title
            a(href="javascript:;")
                | 我的首页
        dt.list-action
            | 功能 
        dd
            a.active(href="javascript:;" )
                | 发布话题 
        dd
            a(href="javascript:;")
                | 草稿箱 
        dd
            a(href="javascript:;")
                | 已发话题
        dd.list-protocol
            a(href="javascript:;")
                | 达人协议


