doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/drafts.css")
    body.opg       
        include ../../widget/header/header-talent.pug        
        .talent.clearfix  
            include ../../widget/aside/talent.pug      
            .drafts
                .drafts-cont
                    .drafts-title 草稿箱
                    .no-draft
                    ul.drafts-list
                        li.list-top.clearfix
                            .list-title 标题
                            .list-time 保存时间
                            .list-operate 操作
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除   
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看～
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除 
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除   
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看～
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除 
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除   
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看～
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除 
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除   
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看～
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除 
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看有了这样的夹克，怎么搭都好看
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除   
                        li.clearfix
                            .list-title 
                                a(href="javascritp:;" target="_blank") 有了这样的夹克，怎么搭都好看～
                            .list-time 
                                p.time-day 2016-04-30
                                p.time-second 10:26:48
                            .list-operate
                                p
                                    a(href="javascritp:;") 编辑
                                p
                                    a(href="javascritp:;") 删除 
                    .getMore
                        a(href="javascript:void(0)")
                            img(src='../../images/talent/logo.png').icon-logo
                            span.text 正在加载...


