doctype html
html(lang="zh-CN")
    meta(charset="utf-8")
    link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
    link(type="text/css",rel="stylesheet",href="../../css/module/talentPublishTopic.css")
    body.opg
        include ../../widget/header/header-talent.pug
        .talent.clearfix
            include ../../widget/aside/talent.pug






































