doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/user-goods.css")
	script(type="text/javascript") var dynSite='//g.atguat.com.cn',staSite='//www.atguat.com.cn',gomeplusDomain='.gome.com.cn',contextPath='/ec/homeus',cookieDomain='.atguat.com.cn',imgServer='//app.atguat.net.cn/images',stageJsServer='//js.atguat.com.cn',stageImageServer='//app.atguat.net.cn',stageCssServer='//css.atguat.com.cn',gomeplusCdn='//js.dev.meixincdn.com:1314/CDN8053/',versionData='1709220454';  var BPConfig = {startTime: new Date().valueOf()};var $GLOBAL_CONFIG = {};$GLOBAL_CONFIG['current_url']='aHR0cDovL2dyb3VwLmF0Z3VhdC5jb20uY24vP2ludGNtcD1zeS0xMDAwMDAwMzc4LTI=';$GLOBAL_CONFIG['islogin']='0';$GLOBAL_CONFIG['userId']='0';$GLOBAL_CONFIG['nickName']='';$GLOBAL_CONFIG['main_domain']='http://www.pre.gomeplus.com/';$GLOBAL_CONFIG['passport_domain']='http://passport.pre.gomeplus.com/';$GLOBAL_CONFIG['order_domain']='http://order.pre.gomeplus.com/';$GLOBAL_CONFIG['group_domain']='http://group.atguat.com.cn/';$GLOBAL_CONFIG['i_domain']='http://myhome.atguat.com.cn/';$GLOBAL_CONFIG['mall_domain']='http://mall.pre.gomeplus.com/';$GLOBAL_CONFIG['js_domain']='http://js.dev.meixincdn.com';$GLOBAL_CONFIG['pcjspath']='http://js.dev.meixincdn.com:1314/CDN8148/dist';$GLOBAL_CONFIG['pccsspath']='http://js.dev.meixincdn.com:1314/CDN8148/dist';$GLOBAL_CONFIG['pcimgpath']='http://js.dev.meixincdn.com:1314/CDN8148/dist';$GLOBAL_CONFIG['wap_url']='http://m.uatplus.com/';$GLOBAL_CONFIG['wap_circle_url']='http://circle.m.uatplus.com/';$GLOBAL_CONFIG['prefix']='mx_pc_pre_';$GLOBAL_CONFIG['csrf_token']='';$GLOBAL_CONFIG['ss_service_gome']='//ss.atguat.com.cn/';$GLOBAL_CONFIG['cart_service_gome']='http://cart.atguat.com.cn/';var userId='0';$GLOBAL_CONFIG['dynSite']='//g.atguat.com.cn';$GLOBAL_CONFIG['staSite']='//www.atguat.com.cn/';$GLOBAL_CONFIG['contextPath']='/ec/homeus';$GLOBAL_CONFIG['secureURL']='//g.atguat.com.cn';$GLOBAL_CONFIG['cookieDomain']='.atguat.com.cn';$GLOBAL_CONFIG['stageImageServer']='//img.atguat.net.cn';$GLOBAL_CONFIG['imgServer']='//img.atguat.com.cn/images';$GLOBAL_CONFIG['pictureserver']='//img.atguat.com.cn/image';$GLOBAL_CONFIG['stageCssServer']='//css.atguat.com.cn';$GLOBAL_CONFIG['cssserver']='//css.atguat.com.cn/css';$GLOBAL_CONFIG['stageJsServer']='//js.atguat.com.cn';$GLOBAL_CONFIG['jsserver']='//js.atguat.com.cn/js';$GLOBAL_CONFIG['js_net_server']='http://js.atguat.net.cn/';$GLOBAL_CONFIG['protocol']='http';$GLOBAL_CONFIG['versionData']='1504839973';$GLOBAL_CONFIG['product_search_gome']='http://search.atguat.com.cn';$GLOBAL_CONFIG['shop_search_gome']='http://search.atguat.com.cn';$GLOBAL_CONFIG['product_item_gome']='http://item.atguat.com.cn/';$GLOBAL_CONFIG['ggckgd']='PGGMKCKmd0003';$GLOBAL_CONFIG['ggjzgd']='PGGMKJZmd0004';window.page_id="";
	body.opg
		include ../../widget/header/header.pug
		include ../../widget/menu/menu.pug
		.meidian-banner
			.meidian-banner-content
		.wrap-box
			//- ul.meidian-naver
			//- 	li
			//- 		a(href="javascript:;" target="_blank").active 我的美店
			//- 	li
			//- 		a(href="javascript:;" target="_blank") 好货推荐
			//- 	li
			//- 		a(href="javascript:;" target="_blank") 美店预览
			.slider
				ul.clearfix(data-node="slider")
					li
						a(href="##")
							img(src="../../images/meidian/lun1.png")
					li
						a(href="##")
							img(src="../../images/meidian/lun1.png")
					li
						a(href="##")
							img(src="../../images/meidian/lun1.png")
					li
						a(href="##")
							img(src="../../images/meidian/lun1.png")
			.user-right.mart20
				.user-goods-tabBox.clearfix(data-node="tabBox")
					.user-goods-tab
						a(href="javascript:;").active 精选
						a(href="javascript:;") 销量
						a(href="javascript:;") 佣金
						a(href="javascript:;") 人气
					.rapid
						a(href="javascript:;",data-node='rapid-putaway').rapid-putaway 一键上架
				.user-goods-content
					.user-goods-list.clearfix.J-goods-list
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-up.J-good-sold  上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
						li
							.clearfix.user-goods-good
								a(href="javavscript:;" target="_blank")
									img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
							.clearfix.user-goods-goods
								span.user-goods-main 自营
								a(href="javascript:;" target="_blank") 摩羯对方水电费水电费的是否
							.user-goods-priceBox.clearfix
								span.user-goods-price ￥633333 
							.user-goods-info.clearfix
								span.user-goods-ret 
									span 佣金
									span.user-goods-rnum 1.2万国美币
							.up-btn
								a(href="javascript:;").user-goods-down.J-good-sold  已上架
				a(href="javascript:;").user-goods-getMore.user-goods-normal.J-goods-getMore 没有更多商品了
				a(href="javascript:;").user-goods-getMore.J-goods-getMore
					span.user-goods-moreLogo
						span.user-goods-moreIcon 点击加载更多商品
				a(href="javascript:;").user-goods-getMore.J-goods-getMore
					span.user-goods-moreLoding 加载中...
		script(type="text/javascript",src="http://js.dev.meixincdn.com:1314/CDN8062/dist/js/conf/vendor.js")
		script(type="text/javascript",src="http://js.dev.meixincdn.com:1314/CDN8062/dist/js/conf/userGoods.js")
		include ../../widget/footer/footer.pug