.meidian_header_new
	.meidian_header_box.clearfix
		.meidian_logo_new.fl
			img(src="../../images/meidian/logo.png")
		.meidian_header_ad.fl
			a(href="xxx")
				img(src="../../images/meidian/logo.png")
		.meidian_menu_new.fl
			ul.clearfix
				li.on
					a(href="xxx") 首页
				li
					a(href="xxx") 好货推荐
		.meidian_my.fr(data-node="meidian_my")
			img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
			span 我的美店