doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/shopSetting.css") 
	
	script(type="text/javascript") var dynSite='//g.atguat.com.cn',staSite='//www.atguat.com.cn',gomeplusDomain='.gome.com.cn',contextPath='/ec/homeus',cookieDomain='.atguat.com.cn',imgServer='//app.atguat.net.cn/images',stageJsServer='//js.atguat.com.cn',stageImageServer='//app.atguat.net.cn',stageCssServer='//css.atguat.com.cn',gomeplusCdn='//js.dev.meixincdn.com:1314/CDN8053/',versionData='1709220454';	var BPConfig = {startTime: new Date().valueOf()};var $GLOBAL_CONFIG = {};$GLOBAL_CONFIG['current_url']='aHR0cDovL2dyb3VwLmF0Z3VhdC5jb20uY24vP2ludGNtcD1zeS0xMDAwMDAwMzc4LTI=';$GLOBAL_CONFIG['islogin']='0';$GLOBAL_CONFIG['userId']='0';$GLOBAL_CONFIG['nickName']='';$GLOBAL_CONFIG['main_domain']='http://www.pre.gomeplus.com/';$GLOBAL_CONFIG['passport_domain']='http://passport.pre.gomeplus.com/';$GLOBAL_CONFIG['order_domain']='http://order.pre.gomeplus.com/';$GLOBAL_CONFIG['group_domain']='http://group.atguat.com.cn/';$GLOBAL_CONFIG['i_domain']='http://myhome.atguat.com.cn/';$GLOBAL_CONFIG['mall_domain']='http://mall.pre.gomeplus.com/';$GLOBAL_CONFIG['js_domain']='http://js.dev.meixincdn.com';$GLOBAL_CONFIG['pcjspath']='http://js.dev.meixincdn.com:1314/CDN8148/dist';$GLOBAL_CONFIG['pccsspath']='http://js.dev.meixincdn.com:1314/CDN8148/dist';$GLOBAL_CONFIG['pcimgpath']='http://js.dev.meixincdn.com:1314/CDN8148/dist';$GLOBAL_CONFIG['wap_url']='http://m.uatplus.com/';$GLOBAL_CONFIG['wap_circle_url']='http://circle.m.uatplus.com/';$GLOBAL_CONFIG['prefix']='mx_pc_pre_';$GLOBAL_CONFIG['csrf_token']='';$GLOBAL_CONFIG['ss_service_gome']='//ss.atguat.com.cn/';$GLOBAL_CONFIG['cart_service_gome']='http://cart.atguat.com.cn/';var userId='0';$GLOBAL_CONFIG['dynSite']='//g.atguat.com.cn';$GLOBAL_CONFIG['staSite']='//www.atguat.com.cn/';$GLOBAL_CONFIG['contextPath']='/ec/homeus';$GLOBAL_CONFIG['secureURL']='//g.atguat.com.cn';$GLOBAL_CONFIG['cookieDomain']='.atguat.com.cn';$GLOBAL_CONFIG['stageImageServer']='//img.atguat.net.cn';$GLOBAL_CONFIG['imgServer']='//img.atguat.com.cn/images';$GLOBAL_CONFIG['pictureserver']='//img.atguat.com.cn/image';$GLOBAL_CONFIG['stageCssServer']='//css.atguat.com.cn';$GLOBAL_CONFIG['cssserver']='//css.atguat.com.cn/css';$GLOBAL_CONFIG['stageJsServer']='//js.atguat.com.cn';$GLOBAL_CONFIG['jsserver']='//js.atguat.com.cn/js';$GLOBAL_CONFIG['js_net_server']='http://js.atguat.net.cn/';$GLOBAL_CONFIG['protocol']='http';$GLOBAL_CONFIG['versionData']='1504839973';$GLOBAL_CONFIG['product_search_gome']='http://search.atguat.com.cn';$GLOBAL_CONFIG['shop_search_gome']='http://search.atguat.com.cn';$GLOBAL_CONFIG['product_item_gome']='http://item.atguat.com.cn/';$GLOBAL_CONFIG['ggckgd']='PGGMKCKmd0003';$GLOBAL_CONFIG['ggjzgd']='PGGMKJZmd0004';window.page_id="";
	
	script(type="text/javascript",src="http://js.dev.meixincdn.com:1314/CDN8148/dist/js/conf/vendor.js")
	script(type="text/javascript",src="http://js.dev.meixincdn.com:1314/CDN8148/dist/js/conf/shopSetting.js")
		
	body.opg
		include ../../widget/header/header.pug
		include ../../widget/menu/menu.pug
		.meidian-banner
			.meidian-banner-content
		.meidian-header
			.logo-box
				img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
			.menu
				ul
					li
						a 首页
					li.on
						a 我的美店
					li
						a 好货推荐
					li
						a 美店预览
			.meidian-infobtn
				img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
				span 我的美店
		.wrap-box.clearfix
			ul.meidian-naver
				li
					a(href="javascript:;" target="_blank").active 我的美店
				li
					a(href="javascript:;" target="_blank") 好货推荐
				li
					a(href="javascript:;" target="_blank") 美店预览
			.user-right.J-right-content.mart20
				.user-shopSetting-top.clearfix
					.user-shopSetting-tLeft
						.user-shopSetting-faceBox
							img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg").J-shopSetting-shopLogo
						.user-shopSetting-icon &nbsp;
						.user-shopSetting-editInfo 
							a(href="javascript:;") 编辑资料
					.user-shopSetting-center
						.user-shopSetting-name.J-shopSetting-shopName  翟建喜的美店
						.user-shopSetting-info.J-shopSetting-shopInfo     大家好，我是翟建喜我是2015年进入北京国美西坝河店担任店长，主要负责全品类销售工作，在国美的18年工作的中，我全面的学习和了解各种电器的性能和功能，希望我对电器的了解能够在您电器选购中为您提供全面服务，让您选购电器简单，便捷.....(100字)
						.user-shopSetting-levelBox.clearfix
							.user-shopSetting-levelLeft
								span 美店等级：
								span.user-shopSetting-icon
									img(src="../../images/user/level/level1.png")
								span.user-shopSetting-line
									span
								span 109/200
							.user-shopSetting-levelRight
								span.user-shopSetting-love 1234
								span.user-shopSetting-collect 1234
								a(href="javascript:;",share-url="https://www.baidu.com").user-shopSetting-share.J-shopSetting-share
					.user-shopSetting-right
						.clearfix
							a(href="javascript:;").user-shopSetting-editbak 修改背景
							a(href="javascript:;" target="_blank").user-shopSetting-showshop 预览店铺
						
						.user-shopSetting-codewrap.clearfix
							img(src="https://gfs13.gomein.net.cn/T175LvB4ET1RCvBVdK_120.jpg")
						.user-shopSetting-codeNotice 扫一扫 手机逛店铺
				.user-shopSetting-content
					.clearfix.user-shopSetting-listNotice
						span 销售中商品数量：
						span.user-shopSetting-number 50
						a(href="javascript:;" target="_blank").user-shopSetting-addBtn +添加更多好货商品
					.user-shopSetting-normal 
						span 主人好懒~居然没有商品，逛逛
						a(href="javascript:;") 好货推荐
						span 高佣金哦~
					.user-shopSetting-bottom.clearfix
						.J-shopSetting-page
				.share-down.J-share-sWrap
					span.user-shareBox
						em.user-shareRole
						span.user-shareIconBox
							em.icon-weixin.J-share-weixin
							em.icon-qq.J-share-qq
							em.icon-sina.J-share-sina
							em.icon-qzone.J-share-qzone
		include ../../widget/footer/footer.pug
