doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/video.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/speakMange.css")
	body.opg
		include ./header-new.pug
		.wrap-box.clearfix
			ul.meidian-naver
				li
					a(href="javascript:;",target="_blank") 添加商品
				li
					a(href="javascript:;",target="_blank") 我的订单
				li.active
					a(href="javascript:;",target="_blank") 美店说
				li
					a(href="javascript:;",target="_blank") 数据统计
				li
					a(href="javascript:;",target="_blank") 帮助中心
			.meidian-speak
				.speak-title.clearfix
					a(href="javascript:;",target="_blank")
						em.icon-edit
						| 发布美店说
					span 我发布的美店说
				ul.speak-list
					li
						.speak-list-title
							a(href="javascript:;",target="_blank")
								span
									em.set-top 置顶
									em.set-spark 精品
								| 来点甜食，冲淡失恋的苦涩
						.speak-list-date
							em 2016-08-15 16:23:30
							span
								a(href="javascript:;") [取消置顶]
								a(href="javascript:;") [取消加精]
								a(href="javascript:;") [删除]
						.speak-list-content
							p
								a(href="javascript:;",target="_blank") 要说最近娱乐圈的大事，吃瓜群众的第一反应绝对会是这两天讨论度极高的鹿晗、关晓彤公开恋情事件。 对于吃瓜群众，最爱的就是扒扒公开之前两人暗戳戳的小甜蜜这两天讨论度极高的鹿晗、关晓彤公开恋情事件。 对于吃瓜的鹿晗、关晓彤公开恋情事件。 对于吃瓜群众，最爱的…
							.content-img
								a(href="javascript:;",target="_blank")
									img(src="../../images/meidian/lun2.png")
								a(href="javascript:;",target="_blank")
									img(src="../../images/meidian/lun2.png")
								a(href="javascript:;",target="_blank")
									img(src="../../images/meidian/lun2.png")
									span
										em.icon-goods
										em.icon-fan-o 返利
										em.price ￥555.00
						.speak-list-state
							span
								em.icon-view
								| 23
							span
								em.icon-like
								| 23
							span
								em.icon-discuss
								| 23
					li
						.speak-list-title
							a(href="javascript:;",target="_blank")
								span
									em.set-top 置顶
								p 来点甜食，冲淡失恋的苦涩
						.speak-list-date
							em 2016-08-15 16:23:30
							span
								a(href="javascript:;") [取消置顶]
								a(href="javascript:;") [加精]
								a(href="javascript:;") [删除]
						.speak-list-content
							p 
								a(href="javascript:;",target="_blank") 要说最近娱乐圈的大事，吃瓜群众的第一反应绝对会是这两天讨论度极高的鹿晗、关晓彤公开恋情事件。 对于吃瓜群众，最爱的就是扒扒公开之前两人暗戳戳的小甜蜜这两天讨论度极高的鹿晗、关晓彤公开恋情事件。 对于吃瓜的鹿晗、关晓彤公开恋情事件。 对于吃瓜群众，最爱的…
						.speak-list-state
							span
								em.icon-view
								| 23
							span
								em.icon-like
								| 23
							span
								em.icon-discuss
								| 23
					li
						.speak-list-title
							a(href="javascript:;",target="_blank")
								p 来点甜食，冲淡失恋的苦涩
						.speak-list-date
							em 2016-08-15 16:23:30
							span
								a(href="javascript:;") [置顶]
								a(href="javascript:;") [加精]
								a(href="javascript:;") [删除]
						.speak-list-content
							p
								a(href="javascript:;",target="_blank") 要说最近娱乐圈的大事，吃瓜群众的第一反应绝对会是这两天讨论度极高的鹿晗、关晓彤公开恋情事件。 对于吃瓜群众，最爱的就是扒扒公开之前两人暗戳戳的小甜蜜这两天讨论度极高的鹿晗、关晓彤公开恋情事件。 对于吃瓜的鹿晗、关晓彤公开恋情事件。 对于吃瓜群众，最爱的…
							.content-img
								a(href="javascript:;",target="_blank")
									img(src="../../images/meidian/lun2.png")
								a(href="javascript:;",target="_blank")
									img(src="../../images/meidian/lun2.png")
								a(href="javascript:;",target="_blank")
									img(src="../../images/meidian/lun2.png")
									span
										em.icon-goods
										em.price ￥555.00		
						.speak-list-state
							span
								em.icon-view
								| 23
							span
								em.icon-like
								| 23
							span
								em.icon-discuss
								| 23
				.page
					a(href="javascript:;").disabled 上一页
					a(href="javascript:;") 1
					a(href="javascript:;") 2
					a(href="javascript:;") 3
					a(href="javascript:;").active 4
					a(href="javascript:;") 5
					span ···
					a(href="javascript:;") 100
					a(href="javascript:;") 下一页
					a(href="javascript:;") 最后一页
				.no-speak-box
					.no-speak
						img(src='../../images/meidian/no-speak.png')
						p
							span 发表美店说，可以赚佣金，赶紧去#[a(href="javascript:;",target="_blank") 写一篇]哟~
		include ../../widget/footer/footer.pug














