doctype html
html(lang="zh-CN")
	include ../../widget/head/head.pug
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/toOpenShop.css") 
	//- script(type="text/javascript",src="http://js.dev.meixincdn.com:1314/CDN8148/dist/js/conf/vendor.js")
	//- script(type="text/javascript",src="http://js.dev.meixincdn.com:1314/CDN8148/dist/js/conf/shopSetting.js")
		
	body.opg
		include ./header-new.pug
		.open-shop
			a(href="##")
				img(src="../../images/meidian/open.png")
		include ../../widget/footer/footer.pug
