doctype html
html(lang="zh-CN")
    include ../../../../../gomeplusUI/pc/src/jade/head.jade
    body.opg.lg-bg
        link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
        link(type="text/css",rel="stylesheet",href="../../css/module/login/login.css")
        .lg-header
            .lg-header-in
                h1.lg-logo
                    a 国美plus
        .lg-main
            //步骤 开始
            ul.lg-steps.clearfix
                li.active
                    em 1
                    | 填写用户名
                li.active
                    em 2
                    | 验证身份
                li.active
                    em 3
                    | 设置新密码
                li
                    em 4
                    | 重置完成
            //步骤 结束
            div.lg-form
                ul.lg-form-list
                    li.clearfix.lg-form-it
                        label 设置密码
                        div.lg-form-cont
                            input.lg-input-it(type="text" placeholder="请输入登录密码")
                        .pass-level 
                            span.level-weak 弱
                            span.level-md 中
                            span.level-strong 强
                        span.lg-warm
                    li.clearfix.lg-form-it.lg-form-error
                        label 确认密码
                        div.lg-form-cont
                            input.lg-input-it(type="text" placeholder="请再次输入登录密码") 
                        span.lg-warm 错误提示语位置
                 a.pc-btn.pc-btnw300.pc-btnh45.lg-mt(href="javascript:;") 确 定
        include ../../../../../gomeplusUI/pc/src/jade/footer.jade



