extend ../../../../pc-widget/head/head-set.jade
block css-file	
	link(type="text/css",rel="stylesheet",href="../../css/redpacket/index.css")
block body
	body
		.count
			p
				| ￥
				span(data-node="total")
				| .00
		.info
			.info-list
				.prizesList
					h2 活动即将火爆开启！
					ul.clearfix
						li Z***e获得30个国美币！奔向神之路！
						li Z***e获得30个国美币！奔向神之路！
				p
					img(src="../../images/redpacket/face.gif")
		.step
		.rule
			p
		.code
