doctype html
html(lang="zh-CN")
	include ../../../../../gomeplusUI/pc/src/jade/head.jade
	link(type="text/css",rel="stylesheet",href="../../css/public/public.css")
	link(type="text/css",rel="stylesheet",href="../../css/module/usercenter/usercenter.css")
	body.opg
		include ../../../../../gomeplusUI/pc/src/jade/header.jade
		include ../../../../../gomeplusUI/pc/src/jade/menu.jade
		.wrap-box.mart20.clearfix
			include ../../../../../gomeplusUI/pc/src/jade/usercenter-side.jade
			.order-right.h590
				.set-personal-title
					a(href="javascript:;").active 修改登录密码
				.change-pasw
					p.prompt 此昵称太受欢迎了，已经有人抢了
					ul
						li.clearfix
							span.label.bind-m 当前绑定手机号：
							pan 198****4281
						li.clearfix
							span.label 短信验证码：
							.input-box.error.fl
								input(type="text" placeholder="请输入6位短信验证码")
								a(href="javascript:;").get-code 获取验证码
								p.error-txt 验证码输入有误，请重新输入
						li.clearfix
							span.label 设置登陆密码：
							.input-box.error.fl
								input(type="text" placeholder="请输入新密码")
								.pass-level
									span.level-weak 弱
									span.level-md 中
									span.level-strong 强
								p.error-txt 请输入6-20位英文字母,数字或符号
						li.clearfix
							span.label 确认登陆密码：
							.input-box.error.fl
								input(type="text" placeholder="请再次输入新密码")
								p.error-txt 两次输入的密码不一致
					a(href="javascript:;").personal-save-btn 保存
				.modify-succeed.clearfix(style="display:none")
					em.icon.icon-suc &#xea52;
					.succeed-txt
						h2 修改成功
						p 您的密码修改成功，请牢记新的登录密码！
		include ../../../../../gomeplusUI/pc/src/jade/footer.jade