//- extends layout.jade
extends ../../../widget-platform/pug/layout/layout.jade

//- index
block content
	h2.platform-title OPG/gomeplusUI
	div.platform-content
		h3.platform-header 什么是gomeplusUI？
		div.platform-intro 
			ul.mglr1
				li 以Sass、Pug、NodeJS为基础技术栈的前端页面开发技术解决方案；
				li 统一所有前端业务线页面构建和用户视觉体验；
				li 它是一套完整/独立的CSS前端技术框架和视觉用户体验集成解决方案。
	div.platform-content
		h3.platform-header gomeplusUI目前支持哪些业务线？
		div.platform-intro 
			ul.mglr1
				li APP内嵌H5
				li PC站
				li H5手机站
				li OP运营活动（APP／H5/PC）
				li 视频页（PC／H5）
				li IM（PC）
				li 平台类产品
				li 其他新业务
				li ... ...