@charset "utf-8";
/*==============================标准色==========================*/

/*----主色-----*/
$color-default:#333;    //主色```
$font-grey-normal:#666; //灰色```
$color-gray:#999;       //浅灰色```
$color-gray-eight:#888;
$color-txt:#fff;     //字体颜色
$color-warning:#fc8753;    //警告-黄```
$color-danger:#f95353;  //危险-红```
$color-bor:#e9e8e3; //border颜色
$price-color:#e7003b;

$link-color:#333;       //链接````
$link-hover:#e60039;       //链接-红```
$link-hover-price:#e3101e;  //价格新红色

$bg-fff:#fff;           //背景-白色```
$bg-fff8e6:#fff8e7;		//背景-淡粉色```
$coupon-color:#e40037;   //返利，优惠券
$btn-e30d3e:#e30d3e;
$bg-btnclor:#f95353 #fc8753 #fff;   //按钮颜色
/*==============================字体大小==========================*/

$text12:12px;
$text13:13px;
$text14:14px;
$text16:16px;
$text18:18px;
$text20:20px;
$text24:24px;
$text25:25px;
$text30:30px;

/*==============================wrap宽度==========================*/
$wrapbody:1200px;
/*==============================btn 宽度==========================*/
$btnh30:30px;
$btnh36:36px;
$btnh45:45px;
$btnw75:75px;
$btnw80:80px;
$btnw105:105px;
$btnw130:130px;
$btnw155:155px;
$btnw300:300px;
/*==============================nav==========================*/
$crunb-h54:54px;
$bor-bom:#e9e8e5;//border```
$bor-default:#e5e5e5;//border-input```
/*==============================text clolor==========================*/
$font-blue-normal:#376492;
$color-important-txt:#fc8753;

$btn-active-bor-color:#f7f7f7;
